.tone--comment {
	a {
		color: gu-color(tone-comment);
		&:active {
			color: gu-color(tone-comment-accent);
		}
	}

	.touchpoint--primary {
		.touchpoint__button {
			background-color: gu-color(tone-comment);
		}
		&:active .touchpoint__button {
			background-color: gu-color(tone-comment-accent);
		}
	}

	// Template specific styles
	.article--comment {
		background-color: gu-color(tone-comment-bg);
		border-top-color: gu-color(tone-comment-accent);

		.prose p {
			@include text-underline(gu-color(tone-comment), gu-color(tone-comment-bg), gu-color(tone-comment-accent));
		}
		.prose table,
		.table {
			border-top-color: gu-color(tone-comment);
		}

		.article__header {
			.section,
			.byline__author {
				color: gu-color(tone-comment);
			}
		}

		.meta {
			background-color: gu-color(tone-comment-accent);
			margin: 0;
			border: 0;

			a {
				color: #fff;
				&:active {
					color: rgba(#fff, 0.8);
				}
			}

			.meta__pubdate {
				color: #fff;
			}

			.meta__comments {
				border-left-color: rgba(#fff, 0.4);
			}
		}
	}
}