.tone--review {
    .article__header {
        background-color: color(tone-review);
        .headline {
            color: #FFF;
            padding: base-px(0, 1, 2.5, 1);
            p.review-rating {
                padding-top: 12px;
                font-size: 1.7rem;
                line-height: 2.2rem;
            }
        }
        .standfirst {
            color: #FFF;
        }
        .selectable a {
            color: #FFF;
        }
        .meta {
            background-color: #7d7569;

            .meta__byline .byline,
            .meta__byline a, 
            .meta__comments,
            .meta__comments a {
                color: #ffce4b;
            }
            .meta__pubdate{
               color: #FFF;
            }
        }
        .main-media__caption {
            background-color: #fff;
        }

    }
}

