.tone--news {
    //TODO: would be nice to get rid of not (as hard to overide as tones get loaded in last)
    a:not(.alerts--new):not(.witness__button) {
        color: color(tone-news);
        &:active {
            color: color(tone-news-accent);
        }
    }    

    .article__header {
        background-color: color(shade-7);
        .section > div {
            color: color(tone-news); // Content Label Section
        }
        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(shade-2);  // Content Label Series
        }
        .section__container,
        .comment-count,
        .comment-count {
            border-color: rgba(color(shade-3), .4);
        }
        
        .headline {
            color: color(shade-1); // Headline
            padding: base-px(0, 1, 2.5, 1);
            p.review-rating {
                padding-top: 12px;
                @include rating;
            }
        }
        .standfirst {
            color: color(shade-2);
        }
        .selectable a {
            color: color(tone-news-standfirst-links);
        }

        .meta {
            border-top: 1px rgba(color(shade-3), .4) dotted;

            .meta__byline .byline,
            .meta__byline a, 
            .comment-count,
            .comment-count a {
                color: color(tone-news);
            }
            .meta__pubdate{
                color: color(shade-3);
            }
        }
        .main-media__caption {
            background-color: color(shade-7);
        }

    }
}
