.tone--news {

    .article__header {
        background-color: color(shade-7);
        .section > div {
            color: color(tone-news); // Content Label Section
        }
        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(shade-2);  // Content Label Series
        }
        .section__container,
        .meta .meta__comments{
            border-color: rgba(color(shade-3), .4);
        }
        .headline {
            color: color(shade-1); // Headline
            padding: base-px(0, 1, 2.5, 1);
            p.review-rating {
                padding-top: 12px;
                @include rating;
            }
        }
        .standfirst {
            color: color(shade-2);
        }
        .selectable a {
            color: color(tone-news-standfirst-links);
        }
        .meta {
            border-top: 1px rgba(color(shade-3), .4) dotted;

            .meta__byline .byline,
            .meta__byline a, 
            .meta__comments,
            .meta__comments a {
                color: color(tone-news);
            }
            .meta__pubdate{
                color: color(shade-3);
            }
        }
        .main-media__caption {
            background-color: color(shade-7);
        }

    }


    &.is_advertising:not([fake]):not([fake]):not([fake]):not([fake]) { /* hack to keep the right precedence */
        .article, 
        .article__header, 
        .article__header .meta,
        .article__header .main-media__caption {
            background-color: color(global-adv-bg);
        }

        .article,
        .section__container,
        .article__header .meta,
        .article__header .meta__comments,
        .article__header figure figcaption,
        .sponsorship,
        .tags {
            border-color: color(global-adv-bands);
        }

        .article__header .meta {
            border-top-style: dotted;
            border-top-width: 1px;
        }

        .article__header .section,
        .article__header .meta__byline .byline,
        .article__header .meta__byline a, 
        .article__header .meta__comments,
        .article__header .meta__comments a,
        .article__body {
            color: color(global-adv-text); 
        }

        .article__header .standfirst, 
        .article__header .standfirst a{
            color: color(global-adv-text);

            .bullet::before{
                background-color: color(global-adv-text);
            }
        }

        .article__header .meta__pubdate{
            color: color(global-adv-bands);
        }

        .article .article__body .prose p, 
        .article .article__body .prose li,
        .article__header .standfirst,
        .sponsorship__formatted-sponsor-name {
            @include text-underline(color(global-adv-text), color(global-adv-bg), lighten(color(global-adv-text),10%));
        }

        .tags .inline-list__item.more-button a {
            border-color: color(global-tags);
        }

    }

}
