.tone--media {

    .section__container {
        border-bottom: 1px rgba(234,234,234,0.3) dotted;
        color: color(shade-5);
        
        .content__series-label,
        .content__series-label a {
            color: color(shade-5);  // Content Label Series
        }   
    }
    a {
        color: darken(color(tone-media), 5%);

        &:active {
            color: color(tone-media-accent);
        }
    }

    .tags {
        .inline-list__item {
            a {
                @include tag-button(color(shade-7), color(shade-6), "lighter");
            }
            &.more-button a {
                @include tag-more-button(color(shade-7), color(shade-6), "lighter");
            }
        }        
    }

    .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-media);
        }

        &:active .touchpoint__button {
            background-color: color(tone-media-accent);
        }
    }

    // Template specific styles
    .article--audio,
    .article--visual {
        border-top-color: color(tone-media);
        background-color: color(shade-1);

        .prose p,
        .prose li {
            @include text-underline(darken(color(tone-media), 5%), color(shade-1), color(tone-media-accent));
        }

        .prose table,
        .table {
            border-top-color: color(tone-media);
        }

        .audio-player {
            background-color: darken(color(shade-1), 10%);
        }

        .article__header,
        .article__body,
        .tags {
            background-color: color(shade-1);
        }

        .section > div {
            color: color(tone-media);
        }

        .headline,
        .standfirst,
        .byline,
        .prose {
            color: #fff;
        }

        .byline {
            border-color: color(shade-2);
        }

        .meta,
        .meta__comments {
            border-color: color(shade-2);
        }

        .aside {
            border-color: color(shade-2);
            margin-bottom: 0;
            border-bottom: 0;
        }

        .tags {
            border-color: color(shade-2);
        }

        .tags__separator {
            color: color(shade-2);
        }

        .aside-witness__action {
            .touchpoint {
                .touchpoint__button {
                    color: color(shade-1);
                    background-color: color(tone-media);
                    margin-right: 6px;
                }

                .touchpoint__label {
                    color: #fff;
                }
            }
        }

        .aside-witness__sponsor {
            width: 33%;
            text-align: right;

            .aside-witness__sponsor__graphic__text {
                fill: #fff;
            }

            .aside-witness__sponsor__graphic__logo {
                fill: #ffe600; // EE Yellow
            }
        }
    }

    &.is_advertising {

        .article--visual .section,
        .article--visual .headline,
        .article--visual .headline,
        .article--visual .standfirst,
        .article--visual .byline,
        .article--visual .prose ,        
        .element-placeholder .element-placeholder__button .touchpoint__button,
        .element-placeholder .element-placeholder__button .touchpoint__label,
        .sponsorship .sponsorship__formatted-sponsor-name,
        .tags .inline-list__item a,
        a{
            color: color(tone-media-adv);
        }

        .article {
            border-color: color(tone-media-adv-border);
        }

        .section__container,
        .sponsorship,
        .article__header .meta__misc, 
        .tags {
            border-color: color(tone-media-adv-dotted-border);
        }

        .article,        
        .article__header,
        .article__body,
        .tags{
            background-color: color(tone-media-adv-global-bg);
        }

        .tags{
            .inline-list__item {
                a {
                    @include tag-button(color(media-tags-text), color(tone-media-adv-tags-bg), "lighter");
                }
                &.more-button a {
                    @include tag-more-button(color(tone-media-adv-tags-more), color(tone-media-adv-tags-bg), "lighter");
                }
            }              
        }

        .element-placeholder .element-placeholder__button{
            .touchpoint__button{
                background-color: color(tone-media-adv-tags-bg);

                &:active{
                    color: color(tone-media-adv-tags-bg);
                    background-color: color(tone-media-adv);
                }
            }

            .touchpoint__label{
                text-shadow: 1px 0 0  rgba(255, 255, 255, .5), -1px 0 0  rgba(255, 255, 255, .5), 0 1px 0  rgba(255, 255, 255, .5),  0 -1px 0  rgba(255, 255, 255, .5);
            }
        }

        .meta__pubdate{
            color: color(tone-media-adv-meta-pubdate);
        }
    }
}
