.tone--analysis {

    .article__header {
        background-color: color(tone-analysis-header-bg);
        
        .section {
            color: color(tone-analysis-section-label); // Content Label Section
        }
        .content__series-label {
            color: color(tone-analysis-series-label);  // Content Label Series
        }
        .headline {
            color: color(tone-analysis-headline); // Headline
            padding: base-px(0, 1, 2.5, 1);
            p.review-rating {
                padding-top: 12px;
                @include rating;
            }
        }
        .standfirst {
            color: color(tone-analysis-standfirst);
        }
        .selectable a {
            color: color(tone-analysis-standfirst-links) !important;
        }
        .meta {
            background-color: color(tone-analysis-meta-background);

            .meta__byline .byline,
            .meta__byline a, 
            .meta__comments,
            .meta__comments a {
                color: color(tone-analysis-byline);
            }
            .meta__byline .byline,
            .meta__byline a {
                font-weight: 600;
            }
            .meta__pubdate{
               color: color(tone-analysis-meta-pubdate);
            }
        }
        .main-media__caption {
            background-color: color(tone-analysis-media-caption-bg);
        }

    }

    .tags {

        .inline-list__item {

            a {
                color: color(tone-analysis-tags-text);
                background-color: color(tone-analysis-tags-bg);
            }
        }

    }

}
