.tone--cricket{

	.new_alerts{
		margin: 0;
	}

    .new_alerts,  .new_alerts.following:active {
        border-color: color(shade-4);
        color: color(shade-3);
    }

    a.new_alerts:not(.following):active, .new_alerts.following:not(:active) {
        background-color: color(shade-3);
        color: color(shade-7);
    }

}