/*.tone--deadBlog {
    .section {
        color: color(tone-liveBlogSection); // Default
        font-family: $egyptian-display;
        font-weight: 600;
        @include headline(.5);
        float: left;
        padding-bottom: 0;

        &::before {
            margin-right: base-px(.66666);
            line-height: 92%; // Offset for different font
            vertical-align: bottom;
        }
    }

    .content__series-label {
        color: color(tone-liveBlogSeriesLabel);
        font-weight: normal;
        font-family: $egyptian-display;
        @include headline(.5);
        padding: 6px 12px 0 0;
        padding-bottom: 0;
        float: left;
    }

} */

.tone--deadBlog {
    .witness {
        margin-top: base-px(1);

        @include mq($from: col4) {
            margin-left: 240px;
        }
    }

    a.touchpoint:active {
        color: color(tone-deadblog);
    }

    #comments .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-deadblog);
        }

        &:active .touchpoint__button {
            background-color: color(tone-deadblog);
        }
    }

    // Template specific styles
    .article--liveblog {
        border-top-color: color(tone-deadblog);

        .prose table,
        .table {
            border-top-color: color(tone-deadblog);
        }

        .meta {
            background-color: color(brightness-96);
            border: 0;
            border-left: 1px dotted rgba(color(brightness-100), .2);
            margin: 0;

            @include mq($from: col4) {
                background-color: darken(color(brightness-96), 10%);
                border: 0;
                max-width: 100%;
                width: 100%;
            }

            .meta__pubdate {
                color: rgba(color(brightness-60), .8);
            }
        }

        .meta__misc {
            @include mq($from: col4) {
                background-color: color(brightness-96);
                margin: 0 auto;
                padding: {
                    left: 240px;
                    right: 340px;
                }
                width: 1200px;
            }
        }
    }

    .article__header {
        background-color: color(brightness-100);

        @include mq($from: col4) {
            background-color: color(brightness-93);

            .section,
            .headline,
            .standfirst__inner,
            .main-media {
                background-color: color(brightness-100);
            }
        }

        .byline__author,
        .byline__author a {
            color: color(shade-1);
        }

        a {
            color: color(tone-deadblog);

            &:active {
                opacity: rgba(color(tone-deadblog), .8);
            }
        }

        .bullet,
        ul > li {
            &::before {
                background-color: color(brightness-46);
            }
        }

        .headline {
            color: color(shade-1);
        }

        .content__series-label,
        .content__series-label a {
            color: color(brightness-46);
        }

        .section {
            @include headline(.5);
            color: color(tone-deadblog); // Default
            font-family: $egyptian-display;
            font-weight: 600;

            &::before {
                margin-right: base-px(.66666);
                line-height: 92%; // Offset for different font
                vertical-align: bottom;
            }
        }

        .section__live {
            display: block;
        }

        .standfirst {
            color: color(brightness-46);

            a {
                color: color(tone-deadblog);
            }
        }

        .sponsorship {
            background-color: color(brightness-100);
            border-bottom: 0;

            &__about-uri {
                color: color(global-sponsored-about);
            }
        }
    }

    .tags {
        background-color: color(brightness-93);
        border-bottom: 0;
        padding-left: 0;

        .inline-list__item {
            a {
                @include tag-button(color(shade-1), color(blogs-tags));
            }

            &.more-button a {
                @include tag-more-button(color(shade-1), darken(color(blogs-tags), 10%));
            }
        }
    }

    .block--live-summary {
        background-color: color(brightness-100);
        border-top: 1px solid color(brightness-60);

        .prose p,
        .prose li {
            @include text-underline(color(tone-news), color(brightness-100), color(tone-news-accent));
        }
        
        .block__time {
            font-weight: bold;
        }
    }

    .alerts:active,
    .alerts.following {
        background-color: color(tone-live);
        color: color(brightness-100);
    }

    .alerts,
    .alerts.following:active {
        border-color: rgba(color(tone-live), .5);
        color: color(tone-live);
    }

    .cricket {
        .article--liveblog {
            border-top: 0;
        }

        a.alerts {
            margin: 0;
        }

        a.alerts:active,
        a.alerts.following {
            background-color: color(brightness-60);
            color: color(brightness-100);
        }

        a.alerts,
        a.alerts.following:active {
            border-color: rgba(color(shade-4), .5);
            background-color: transparent;
            color: color(brightness-60);
        }
    }
}
