.tone--comment {
    .article a,
    .container__action--sort a,
    .comments__ordering {
        color: color(tone-comment);

        &:active {
            color: color(tone-comment-accent);
        }
    }

    .article__header,
    .article__body,
    .section,
    .cutout__container,
    .main-media,
    .standfirst,
    .standfirst__inner,
    .tags {
        background-color: color(tone-comment-bg);
    }

    @include mq($from: col4) {
        .article,
        .article__header,
        .standfirst {
            background-color: darken(color(tone-comment-bg), 5%);
        }

        .comments,
        .related-content {
            background-color: color(brightness-93);
        }

        .cutout__container {
            margin: 0 auto;
            max-width: 1200px;
        }
    }

    .section__container {
        & > div {
            color: color(tone-comment); // Content Label Section
        }

        color: color(brightness-46);

        .content__series-label,
        .content__series-label a {
            color: color(brightness-46);  // Content Label Series
        }

        .comment-count {
            border-left-color: darken(color(tone-sandy-light), 10%);
        }
    }

    .section__container,
    figure figcaption {
        border-bottom: 1px darken(color(tone-sandy-light), 10%) dotted;
    }

    .tags {
        .inline-list__item {
            &.more-button a {
                @include tag-more-button(color(brightness-7), color(brightness-96));
            }
        }
    }

    .comment__report,
    .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-comment);
        }

        &:active .touchpoint__button {
            background-color: color(tone-comment-accent);
        }

        .touchpoint__label {
            color: color(tone-comment);
        }

        &:active .touchpoint__label {
            color: color(tone-comment-accent);
        }
    }

    .comments__viewmore {
        .comments__viewmore--label {
            color: color(tone-comment);
        }

        &:active .comments__viewmore--label {
            color: color(tone-comment-accent);
        }
    }

    .comments__ordering {
        color: color(tone-comment);
    }

    // Template specific styles
    .article--comment {
        background-color: color(tone-comment-bg);
        border-top-color: color(tone-comment-accent);

        @include mq($from: col4) {
            background-color: darken(color(tone-comment-bg), 5%);
        }

        .prose p,
        .prose li {
            @include text-underline(color(tone-comment), color(tone-comment-bg), color(tone-comment-accent));
        }

        // Add a dropcap, for all but "panel" articles
        .article__body > .prose:not(.prose--is-panel) > p {
            @include dropcap(color(tone-comment));
        }

        .prose table,
        .table {
            border-top-color: color(tone-comment);
        }

        .prose .element-pullquote {
            blockquote {
                footer,
                &::after,
                &::before {
                    color: color(tone-comment);
                }
            }
        }

        .article__header {
            .headline__byline {
                color: color(tone-comment);
            }

            .byline__author {
                display: inline;
            }
        }

        .meta {
            border: 0;
            margin: 0;
            background-color: color(tone-comment-accent);

            @include mq($from: col4) {
                background-color: darken(color(tone-comment-accent), 5%);
                border: 0;
                max-width: 100%;
                padding-left: 0;
            }

            .meta__pubdate {
                color: rgba(color(brightness-100), .8);
            }
        }

        .meta__misc {
            @include mq($from: col4) {
                background-color: color(tone-comment-accent);
                margin: 0 auto;
                padding: {
                    left: 240px;
                    right: 340px;
                }
                width: 1200px;
            }
        }
    }

    a.alerts:active,
    a.alerts.following {
        background-color: color(brightness-100);
        color: color(tone-comment-accent);
    }

    a.alerts,
    a.alerts.following:active {
        border-color: rgba(color(brightness-100), .5);
        color: color(brightness-100);
    }

    &.is_advertising {
        a.alerts,
        a.alerts.following:active {
            border-color: rgba(color(brightness-7), .5);
            color: color(brightness-7);
        }

        a.alerts:active,
        a.alerts.following {
            background-color: color(brightness-20);
            color: color(brightness-100);
        }
    }
}
