.tone--special {
    .article__body {
        background-color: color(brightness-100);
    }

    .article__header {
        .article__header,
        .section,
        .standfirst,
        .standfirst__inner, 
        .headline {
            background-color: color(tone-special);
        }

        @include mq($from: col4) {
            .main-media {
                background-color: color(tone-special);
            }

            .standfirst {
                background-color: color(brightness-93);
            }
        }
        
        .section > div {
            color: color(tone-special-accent); // Content Label Section
        }
        
        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(brightness-100);  // Content Label Series
        }

        .comment-count a {
            color: color(tone-special-accent);
        }

        .headline {
            color: color(brightness-100);
        }

        .standfirst {
            color: color(brightness-100);
        }

        .selectable a {
            color: color(brightness-100) !important;
        }

        .meta {
            background-color: color(tone-special-meta-background);
            border-bottom: 0;

            .meta__byline .byline,
            .meta__byline a, 
            .comment-count,
            .comment-count a {
                color: color(tone-special-accent);
            }

            .meta__pubdate {
                color: color(brightness-100);
            }
        }

        .main-media__caption {
            color: color(brightness-100);
            background-color: color(tone-special-meta-background);
            border-bottom: 1px rgba(color(tone-sandy-light), .4) dotted;

            @include mq($from: col4) {
                background-color: color(tone-special);

                &__icon,
                &__text {
                    color: color(brightness-100);
                }
            }
        }
        
        .sponsorship {
            background-color: color(brightness-100);
        }
    }

    .alerts:active,
    .alerts.following {
        background-color: color(tone-special-accent);
        color: color(tone-special);
    }
    
    .alerts,
    .alerts.following:active {
        border-color: rgba(color(tone-special-accent), .5);
        color: color(tone-special-accent);
    }
}
