.tone--news {
    //TODO: would be nice to get rid of not (as hard to overide as tones get loaded in last)
    a:not(.witness__button):not(.tell-me-when):not(.alerts) {
        color: color(tone-news);

        &:active {
            color: color(tone-news-accent);
        }
    }

    .article__header {
        background-color: color(shade-7);

        .section > div {
            color: color(tone-news); // Content Label Section
        }

        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(shade-2);  // Content Label Series
        }

        .section__container,
        .comment-count {
            border-color: rgba(color(shade-3), .4);
        }

        .headline {
            color: color(shade-1); // Headline

            p.review-rating {
                @include rating;
                padding-top: 12px;
            }
        }

        .standfirst {
            color: color(shade-2);
        }

        .selectable a {
            color: color(tone-news-standfirst-links);
        }

        .meta {
            border-top: 1px rgba(color(shade-3), .4) dotted;

            .meta__byline .byline,
            .meta__byline a, 
            .comment-count,
            .comment-count a {
                color: color(tone-news);
            }

            .meta__pubdate {
                color: color(shade-3);
            }
        }

        .meta__misc {
             @include mq($from: col4) {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }

        .main-media {
            background: color(shade-7);
            border-top: 1px dotted rgba(color(shade-3), .4);
        }

        .main-media__caption {
            background-color: color(shade-7);
        }

        .sponsorship {
            @include mq($from: col4) {
                border-bottom: 0;
            }
        }
    }

    &.is_advertising{
        a.alerts,
        a.alerts.following:active {
            border-color: color(shade-1);
            color: color(shade-1);
        }
    }

    //TODO: specificity needed due to previous styles - improve
    a.alerts:active,
    a.alerts.following {
        background-color: color(tone-news);
        color: color(shade-7);
    }

    a.alerts,
    a.alerts.following:active {
        border-color: rgba(color(tone-news), .5);
        color: color(tone-news);
    }
}
