.tone--liveBlog {
    .section__container {
        border-bottom: 1px rgba(#fff, .4) dotted; 
    }

    .section {
        color: color(shade-7); // Default
    }

    .content__series-label {
        color: color(shade-7);
    }

    &.is-live {
        a.touchpoint {
            &:active {
                color: color(tone-live-accent);
            }
        }

        .alerts {
            margin-top: base-px(1);
            margin-left: 0;
        }

        .witness {
            margin-top: base-px(1);
            
            @include mq(col2, col3) {
                margin-left: cols($base-3, 4, 1);
            }

            @include mq($from: col3) {
                margin-left: cols($base-4, 5, 1);
            }

            @include mq($from: col4) {
                margin-left: 240px;
            }
        }

        .comments__ordering {
             color: color(tone-live);

            &:active {
               color: color(tone-live-accent);
            }
        }

        .comment__report,
        .comments .touchpoint--primary {
            .touchpoint__button {
                background-color: color(tone-live);
            }

            &:active .touchpoint__button {
               background-color: color(tone-live-accent);
            }

            .touchpoint__label {
                color: color(tone-live);
            }
            
            &:active .touchpoint__label {
                color: color(tone-live-accent);
            }
        }

        .comments__viewmore {
            .comments__viewmore--label {
                color: color(tone-live);
            }
            
            &:active .comments__viewmore--label {
                color: color(tone-live-accent);
            }
        }

        .alerts:active,
        .alerts.following {
            background-color: color(shade-7);
            color: color(tone-live);
        }

        .alerts,
        .alerts.following:active {
            border-color: rgba(color(shade-7), .5);
            color: color(shade-7);
        }

        .article__header,
        .section,
        .headline,
        .standfirst,
        .standfirst__inner,
        .main-media,
        .touchpoint--primary .touchpoint__button {
            background-color: color(tone-live);
        }

        @include mq($from: col4) {
            .article__header,
            .standfirst {
                background-color: darken(color(tone-live), 5%);
            }
        }

        .article__header {
            color: #fff;

            a {
                color: #fff;

                &:active {
                    opacity: rgba(#fff, .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(#fff, .8);
                }
            }

            .headline,
            .byline,
            .section {
                color: #fff;
            }

            .section {
                position: relative;
                
                @include mq($to: col1) {
                    padding-left: base-px(4.7); 
                }

                @include mq(col1, col2) {
                    padding-left: base-px(6.5);
                }

                @include mq(col2, col3) {
                    padding-left: cols($base-3, 4, 1);
                }

                @include mq($from: col3) {
                    padding-left: cols($base-4, 5, 1);
                }

                @include mq($from: col4) {
                    padding-left: 0;
                }
            }

            .section__live {
                display: block;
            }

            .headline,
            .standfirst {
                @include mq(col2, col3) {
                    margin-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    margin-left: cols($base-4, 5);
                }

                @include mq($from: col4) {
                    margin: 0 auto;
                }
            }

            .standfirst {
                color: rgba(#fff, .8);

                a {
                    color: #fff;
                }
            }

            .sponsorship {
                background-color: color(shade-7);
                border-bottom: 0;

                &__about-uri,
                &__formatted-sponsor-name a {
                    color: color(tone-live);
                }
            }

            // Sponsorship alt text when sponsor logo unavailable
            .sponsorship__logo {
                color: color(shade-1);
            }
        }

        // Template specific styles
        .article--liveblog {
            border-top-color: color(tone-live-accent);

            @include mq($from: col4) {
                .content__labels__container {
                    padding-left: 60px;
                }
            }

            .prose table,
            .table {
                border-top-color: color(tone-live);
            }
            
            .cricket & {
                border-top: none;
            }

            .prose .element-pullquote {
                blockquote {
                    footer,
                    &::after,
                    &::before {
                        color: color(tone-live);
                    }
                }
            }
            
            .meta {
                background-color: color(tone-live-accent);
                border: 0;
                border-left: 1px dotted rgba(#fff, .2);
                margin: 0;

                @include mq(col2, col3) {
                    padding-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    padding-left: cols($base-4, 5);
                }

                @include mq($from: col4) {
                    background-color: darken(color(tone-live-accent), 5%);
                    border: 0;
                    max-width: 100%;
                    padding-left: 0;
                }
            }

            .meta__misc {
                 @include mq($from: col4) {
                    background-color: color(tone-live-accent);
                    margin: 0 auto;
                    padding: {
                        left: 240px;
                        right: 340px;
                    }
                    width: 1200px;
                }
            }

            .main-media {
                @include mq($from: col4) {
                    border-bottom: 0;
                }
            }

            .meta__pubdate {
                color: rgba(#fff, .8);
            }

            .comment-count {
                border-left-color: rgba(color(shade-7), .4);
            }

            .tags {
                background-color: color(shade-5);
                border-bottom: 0;

                .inline-list__item {
                    a {
                        @include tag-button(color(shade-1), color(blogs-tags));
                    }

                    &.more-button a {
                        @include tag-more-button(color(shade-1), darken(color(blogs-tags),10%));
                    }
                }
            }
        }

        .cricket & {
            .alerts {
                margin: 0;
            }

            a.alerts:active,
            a.alerts.following {
                background-color: color(tone-live);
                color: color(shade-7);
            }

            a.alerts,
            a.alerts.following:active {
                border-color: color(tone-live);
                background-color: transparent;
                color: color(tone-live);
            }
        }
    }
}
