.tone--feature1,
.tone--feature2,
.tone--feature3  {
    a,
    .article__body > p:first-of-type:first-letter {
        color: color(tone-feature1);
    }

    a:active {
        color: color(tone-feature1-accent);
    }

    .article__header,
    .touchpoint--primary .touchpoint__button {
        background-color: color(tone-feature1);
    }

    .standfirst,
    .touchpoint--primary:active .touchpoint__button {
        background-color: color(tone-feature1-accent);
    }

    .article--feature {
        border-top-color: color(tone-feature1-accent);

        .prose p,
        .prose li {
            @include text-underline(color(tone-feature1), #fff, color(tone-feature1-accent));
        }

        .prose table,
        .table {
            border-top-color: color(tone-feature1-accent);
        }
    }

    .article--feature {
        .article__header {
            a {
                color: #fff;

                &:active {
                    color: rgba(#fff, .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(#fff, .4);
                }
            }

            .section,
            .byline {
                color: #fff;
            }

            .content__labels {
                color: #fdadba;

            }

            .content__series-label.content__labels {
                color: #FFF;
            }

            .headline {
                color: #fff;
                position: relative;
                z-index: 20;

                @include mq($from: col2) {
                    font-size: 3.5556em; // 64px
                    font-weight: 100;
                    line-height: .9375; // 60px
                }
            }

            .standfirst {
                color: #fff;
                span {
                    color: rgba(#fff, .4);
                }

                strong {
                    color: #fff;
                    font-weight: normal;
                }
            }

            .review-rating {
                color: rgba(#fff, .4);
            }

            .review-rating--1 .icon:nth-child(-n+1),
            .review-rating--2 .icon:nth-child(-n+2),
            .review-rating--3 .icon:nth-child(-n+3),
            .review-rating--4 .icon:nth-child(-n+4),
            .review-rating--5 .icon:nth-child(-n+5) {
                color: #fff;
            }
        }

        .meta {
            border: 0;
            margin: 0;
        }

        .meta,
        .meta__pubdate {
            color: rgba(#fff, .8);
        }
    }

    &.is_advertising {

        .article,
        .section__container {
            border-color: color(tone-feature-adv-border);
        }

        .article__header {
            background-color: color(tone-feature-adv-header-bg);
        }

        .article__header .content__labels,
        .article__header .headline,
        .article--feature .meta,
        .article--feature .article__header a,
        .article--feature .meta__pubdate,
        .article--feature .article__header a {
            color: color(tone-feature-adv-headline);
        }

        .standfirst {
            background-color: color(tone-feature-adv-standfirst-bg);
        }

        .meta__comments {
            border-color: color(tone-feature-adv-meta-border);
        }

    }

}
