.tone--news {
    //TODO: would be nice to get rid of not (as hard to overide as tones get loaded in last)
    .article {
        a:not(.witness__button):not(.tell-me-when):not(.alerts) {
            color: color(tone-news);

            &:active {
                color: color(tone-news-accent);
            }
        }
    }

    .article__body {
        background-color: color(shade-7);
    }

    .article__header {
        background-color: color(shade-7);

        @include mq($from: col4) {
            background-color: color(shade-5);

            .section,
            .headline,
            .standfirst__inner,
            .meta {
                background-color: color(shade-7);
            }
        }

        .section > div {
            color: color(tone-news); // Content Label Section
        }

        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(shade-2);  // Content Label Series
        }

        .section__container,
        .comment-count {
            border-color: rgba(color(shade-3), .4);
        }

        .headline {
            color: color(shade-1); // Headline

            p.review-rating {
                @include rating;
                padding-top: 12px;
            }
        }

        .standfirst {
            color: color(shade-2);
        }

        .selectable a {
            color: color(tone-news-standfirst-links);
        }

        .meta {
            .meta__byline .byline,
            .meta__byline a, 
            .comment-count,
            .comment-count a {
                color: color(tone-news);
            }

            .meta__pubdate {
                color: color(shade-3);
            }
        }

        .meta__misc {
             @include mq($from: col4) {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }

        .main-media__caption {
            background-color: color(shade-7);
        }

        .sponsorship {
            @include mq($from: col4) {
                border-bottom: 0;
            }
        }
    }

    .witness {
        margin: 0;
        padding: base-px(1);

        @include mq($from: col4) {
            padding: {
                left: 240px;
                top: 8px;
            }
        }
    }

    .article__body + .extras > .witness {
        margin-left: -4px;
        padding-top: 0;
    }

    .extras {
        background: color(shade-7);
        
        @include mq($from: col4) {
            max-width: 1200px;
            margin: 0 auto;
        }
    }


    &:not(.is_advertising) .main-media {
        background: color(shade-7);
    }

    .alerts:active,
    .alerts.following {
        background-color: color(tone-news);
        color: color(shade-7);
    }

    .alerts,
    .alerts.following:active {
        border-color: rgba(color(tone-news), .5);
        color: color(tone-news);
    }

    &.is_advertising {
        .alerts,
        .alerts.following:active {
            border-color: rgba(color(shade-1), .5);
            color: color(shade-1);
        }

        .alerts:active,
        .alerts.following {
            background-color: color(shade-1);
            color: color(shade-7);
        }
    }
}

.tone--news[data-content-type="video"] {
    .article {
        .tags {
            border-top: none;
        }
        .article {
            &__header {
                .sponsorship {
                    padding: 8px 0 0 0;
                    border-top: none;
                    border-bottom: none;
                }

                .meta {
                    padding: 0;

                    @include mq($from: col2) {
                        border-top: none;
                    }
                    
                    .meta__misc {
                        padding: 0;

                        .sponsorship,
                        .meta__byline {
                            padding-top: 8px;
                            padding-left: 12px;
                        }

                        .sponsorship__inner {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

