/*.tone--deadBlog {
    .section {
        color: color(tone-liveBlogSection); // Default
        font-family: $egyptian-display;
        font-weight: 600;
        @include headline(.5);
        float: left;
        padding-bottom: 0;

        &::before {
            margin-right: base-px(.66666);
            line-height: 92%; // Offset for different font
            vertical-align: bottom;
        }
    }

    .content__series-label {
        color: color(tone-liveBlogSeriesLabel);
        font-weight: normal;
        font-family: $egyptian-display;
        @include headline(.5);
        padding: 6px 12px 0 0;
        padding-bottom: 0;
        float: left;
    }

} */

.tone--deadBlog {

    .witness{
        margin-top: base-px(1);
    } 

    a.touchpoint,
    {
        &:active {
            color: color(tone-deadblog);
        }
    }  

    .more--live-blogs {
        margin-left: 4px;
    }

    #comments .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-deadblog);
        }

        &:active .touchpoint__button {
            background-color: color(tone-deadblog);
        }
    }

    // Template specific styles
    .article--liveblog {
        border-top-color: color(tone-deadblog);

        .prose table,
        .table {
            border-top-color: color(tone-deadblog);
        }

        .article__header {
            background-color: color(shade-7);
            .byline__author, .byline__author a {
                color: color(shade-1);
            }
            a {
                color: color(tone-deadblog);

                &:active {
                    opacity: rgba(color(tone-deadblog), .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: color(shade-2);
                }
            }

            .headline
            {
                color: color(shade-1);
            }

            .content__series-label,
            .content__series-label a {
                color: color(shade-2);
            }

            .section {
                color: color(tone-deadblog); // Default
                font-family: $egyptian-display;
                font-weight: 600;
                @include headline(.5);
                float: left;

                &::before {
                    margin-right: base-px(.66666);
                    line-height: 92%; // Offset for different font
                    vertical-align: bottom;
                }
            }

            .section__live {
                display: block;
            }

            .standfirst {
                color: color(shade-2);

                a {
                    color: color(tone-deadblog);
                }
            }

            .sponsorship {
                background-color: color(shade-7);
                border-bottom: none;

                &__about-uri{
                    color: color(global-sponsored-about);
                }
            }            
        }

        .meta {
            background-color: color(shade-8);
            border: 0;
            border-left: 1px dotted rgba(#fff, .2);
            margin: 0;

            @include mq(col2, col3) {
                .alerts {
                    width: cols($base-3, 4);
                }
            }

            @include mq($from: col3) {
                .alerts {
                    width: cols($base-4, 5);
                }
            }
            .meta__pubdate {
                color: rgba(color(shade-3), .8);
            }
        }
    }

    .tags {
        padding-left: 0;

        .inline-list__item {
            a {
                @include tag-button(color(shade-1), color(blogs-tags));
            }
            &.more-button a {
                @include tag-more-button(color(shade-1), darken(color(blogs-tags),10%));
            }
        }
    
    }

    .block--live-summary {
        background-color: color(shade-7);
        border-top: 1px solid #999;

        .block__time {
            font-weight: bold;
        }
    }
}
