.tone--feature1,
.tone--feature2,
.tone--feature3 {
    a,
    .article__body > p:first-of-type:first-letter {
        color: color(tone-feature1);
    }

    a:active {
        color: color(tone-feature1-accent);
    }

    .article__header,
    .touchpoint--primary .touchpoint__button {
        background-color: color(tone-feature1);
    }

    .standfirst,
    .touchpoint--primary:active .touchpoint__button {
        background-color: color(tone-feature1-accent);
    }

    .article--feature {
        border-top-color: color(tone-feature1-accent);

        .prose p,
        .prose li {
            @include text-underline(color(tone-feature1), #fff, color(tone-feature1-accent));
        }

        .prose table,
        .table {
            border-top-color: color(tone-feature1-accent);
        }

        .prose .element-pullquote {
            blockquote {
                footer,
                &::after,
                &::before {
                    color: color(tone-feature1);
                }
            }
        }
        
        .article__header {
            a {
                color: #fff;

                &:active {
                    color: rgba(#fff, .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(#fff, .4);
                }
            }

            .section,
            .byline {
                color: #fff;
            }

            .content__labels {
                color: #fdadba;
            }

            .content__series-label.content__labels {
                color: #fff;
            }

            .headline {
                color: #fff;
                position: relative;
                z-index: 20;

                @include mq($from: col2) {
                    font-size: 3.5556em; // 64px
                    font-weight: 100;
                    line-height: .9375; // 60px
                }
            }

            .standfirst {
                color: #fff;
                
                span {
                    color: rgba(#fff, .4);
                }

                strong {
                    color: #fff;
                    font-weight: normal;
                }
            }

            .review-rating {
                color: rgba(#fff, .4);
            }

            .review-rating--1 .icon:nth-child(-n+1),
            .review-rating--2 .icon:nth-child(-n+2),
            .review-rating--3 .icon:nth-child(-n+3),
            .review-rating--4 .icon:nth-child(-n+4),
            .review-rating--5 .icon:nth-child(-n+5) {
                color: #fff;
            }
        }

        .meta {
            border: 0;
            margin: 0;

            .alerts--new:active,
            .alerts--new.following {
                background-color: color(shade-7);
                color: color(tone-feature1-accent);
            }

            .alerts--new,
            .alerts--new.following:active {
                border-color: color(shade-7);
                color: color(shade-7);
            }
        }

        .meta,
        .meta__pubdate {
            color: rgba(#fff, .8);
        }
    }

    //TODO: specificity needed due to previous styles - improve
    a.tell-me-when:active, a.tell-me-when.added {
        background-color: color(tone-feature1-accent);
        color: color(shade-7);
    }
    a.tell-me-when,  a.tell-me-when.added:active {
        border-color: color(tone-feature1-accent);
        color: color(tone-feature1-accent);
    }
}
