.tone--analysis {
    .article{
        border-top-color: color(tone-analysis);
    }

    .article__body {
        background-color: color(shade-7);
    }

    .article__header {
        background-color: color(shade-7);

        @include mq($from: col4) {
            background-color: color(shade-5);

            .section,
            .headline,
            .standfirst__inner {
                background-color: color(shade-7);
            }
        }

        .section > div {
            color: color(tone-analysis); // Content Label Section
        }

        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(shade-2);  // Content Label Series
        }

        .headline {
            color: color(tone-analysis); // Headline

            p.review-rating {
                padding-top: 12px;
                @include rating;
            }
        }

        .standfirst {
            color: color(shade-2);
        }

        .selectable a {
            color: color(tone-analysis) !important;
        }

        .meta {
            background-color: color(shade-7);

            .meta__byline .byline,
            .meta__byline a, 
            .comment-count,
            .comment-count a {
                color: color(tone-analysis);
            }

            .meta__byline .byline,
            .meta__byline a {
                font-weight: 600;
            }

            .meta__pubdate{
               color: color(shade-3);
            }
        }

        @include mq($from: col4) {
            .meta {
                background-color: darken(color(shade-8), 10%);
                max-width: 100%;
                width: 100%;
            }

            .meta__misc {
                background-color: color(shade-8);
                margin: 0 auto;
                padding: {
                    left: 240px;
                    right: 340px;
                }
                width: 1200px;
            }
        }

        .main-media,
        .main-media__caption {
            background-color: color(shade-7);
        }

        .sponsorship {
            @include mq($from: col4) {
                border-bottom: 0;
            }
        }
    }
}
