.tone--comment {
    a {
        color: color(tone-comment);

        &:active {
            color: color(tone-comment-accent);
        }
    }

   

    .section__container {
        & > div {
            color: color(tone-comment); // Content Label Section
        }

        color: color(shade-2);
        .content__series-label,
        .content__series-label a {
            color: color(shade-2);  // Content Label Series
        }
    }

    .section__container, 
    figure figcaption{
        border-bottom: 1px darken(color(shade-4), 10%) dotted;
    }

    .tags {
        .inline-list__item {
            &.more-button a {
                @include tag-more-button(color(shade-1), color(global-tags));
            }
        }        
    }    

    .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-comment);
        }

        &:active .touchpoint__button {
            background-color: color(tone-comment-accent);
        }
    }

    // Template specific styles
    .article--comment {
        background-color: color(tone-comment-bg);
        border-top-color: color(tone-comment-accent);

        .prose p,
        .prose li {
            @include text-underline(color(tone-comment), color(tone-comment-bg), color(tone-comment-accent));
        }

        .prose table,
        .table {
            border-top-color: color(tone-comment);
        }

        .article__header {
            .byline__author {
                color: color(tone-comment);
            }
            .byline__author{
                display: inline;
            }
        }

        .meta {
            border: 0;
            margin: 0;
            background-color: color(tone-comment-accent);

            a {
                color: #fff;

                &:active {
                    color: rgba(#fff, .8);
                }
            }

            .meta__pubdate {
                color: #fff;
            }

            .meta__comments {
                border-left-color: rgba(#fff, .4);
            }
            //TODO: specificity needed due to previous styles - improve
            a.new_alerts:active, a.new_alerts.following {
                background-color: color(shade-7);
                color: color(tone-comment-accent);
            }
            a.new_alerts,  a.new_alerts.following:active {
                border-color: color(shade-7);
                //background-color: color(shade-7);
                color: color(shade-7);
            }
        }

    }
}
