.immersive  {
    a,
    .article__body .prose > p:first-of-type:first-letter {
        color: color(tone-feature1);
        font-family: $egyptian-display;

    }
	
	.article--feature {
    .article__body > .prose:not(.prose--has-thumbnails-without-caps) > p {
        @include ImmersiverDropcap();
    	}	
	}

	
    a:active {
        color: color(tone-feature1-accent);
    }

    .article__header,
    .touchpoint--primary .touchpoint__button {
        background-color: none;
    }

    .standfirst,
    .touchpoint--primary:active .touchpoint__button {
        background-color: color(shade-2);
    }

    .article--feature {
        border-top-color: color(tone-feature1-accent);

        .prose p,
        .prose li {
            @include text-underline(color(tone-feature1), #fff, color(tone-feature1-accent));
        }

        .prose table,
        .table {
            border-top-color: color(tone-feature1-accent);
        }


        .prose .element-pullquote {
            blockquote {
                footer,
                &::after,
                &::before {
                    color: color(tone-feature1);
                }
            }
        }
    }

    .article--feature {
        .article__header {

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(#fff, .4);
                }
            }
            
            .progress{
	            position: fixed;
	            top: 0px;
	            width: 100%;
	            height: 6px;
	            z-index: 100000;
	            background-color: rgba(255, 255, 255, 0.8);
	            
	            
	            .progress__bar{
	            height: 6px;
	            width: 0;
	            background-color: color(tone-feature1-accent);
	            margin-top: 0px;
            	}
	            
	            .chapter{
		            height: 6px;
		            width: 2px;
		            background-color: color(tone-feature1-accent2);
		            top: 0;
	            }
	            
            }
            
            
            
            
            
            .immersive__main__image{
				background-color: black;
				height: 100vh;
				position: relative;
				background-position: center center;
				background-size: cover;	
			}	

            .section,
            .byline {
                color: #fff;
            }

            .content__labels {
                color: #fdadba;

            }

            .content__series-label.content__labels {
                color: #FFF;
            }

            .headline {
                color: #fff;
                position: absolute;
                bottom: 0px;
                z-index: 20;
                background-color: rgba(0, 0, 0, 0.3);
                font-size: 3.5rem !important;
                line-height: 3.3rem;

                @include mq($from: col2) {
                    font-size: 3.5556em !important; // 64px
                    font-weight: 100;
                    line-height: .9375; // 60px
                    bottom: 150px;
                    padding-top: base-px(1);	
                }
                
                .series__title{
	                font-size: 1.8rem;
				    font-weight: 600;
				    display: block;
				    
                }
            }

            .standfirst {
                color: #fff;
                span {
                    color: rgba(#fff, .4);
                }

                strong {
                    color: #fff;
                    font-weight: normal;
                }
                
                a{
	                color: color(tone-feature1-accent2);
	                text-decoration: underline;
	         
                }
                
                .words{
		            color: white; 
	            }
	            
	            .section__rule{
		            margin: base-px(0,0,0,0);
	            }
	            p:first-of-type{
		            margin-bottom: base-px(1);
	            }
                
                //need to fix display between >450px <746px
                
            	@include mq($from: col2){
					display: none;
				}
				
				@include mq($from: col3){
					display: none;
				}
				
				
                
            }
            
            .standfirst__tablet{
	            
	            position: absolute;
	            bottom: 0px;
	            background-color: rgba(0, 0, 0, 0.3);
	            padding: base-px(0, 0, 1, 1);
	            
	            @include mq($to: col1){
		            display: none;
	            }
	            
	            @include mq($from: col2){
					display: block;
				}
				
				.section__rule{
		            margin: base-px(0,0,-0.5,0);
	            }
				
				.words{
		            color: white; 
	            }
	            
				p{
					
					&:first-of-type{
						margin-bottom: base-px(1);
					}
					
					color: white;
					
					a{
						color: color(tone-feature1-accent);
					}
				}	
	            
            }

				.immersive__meta{
					font-family: 'Guardian Agate Sans 1 Web';
					color: color(shade-2);
					font-size: 1.6rem;
					line-height: 1.4rem;
					margin: base-px(0,1,2,1);
					
					 .comment-count{
					 	padding: base-px(1,1,0.5,0)!important;
					 }
	            }
				
            
            .immersive__byline{
	            background-color: none;
	            padding: base-px(0.5, 0, 0, 0);
	            
	            a{
		          color: color(tone-feature1-accent2);
	            }
	            
	            a:hover{
		          text-decoration: underline;  
	            }  
	            
	            p:nth-child(2){
		          line-height: 1.6rem;
	            } 
            }
            
            .section__rule{
	            height: 10px;
	            border-bottom: 2px solid color(shade-4);
	            width: 100px;
	            margin: base-px(0,0,0,1);
            }
            
            
            .review-rating {
                color: rgba(#fff, .4);
            }

            .review-rating--1 .icon:nth-child(-n+1),
            .review-rating--2 .icon:nth-child(-n+2),
            .review-rating--3 .icon:nth-child(-n+3),
            .review-rating--4 .icon:nth-child(-n+4),
            .review-rating--5 .icon:nth-child(-n+5) {
                color: #fff;
            }
        }
        
        
        .prose{
	        
	        .title--image{
	        background-color: rgba(0,0,0,0.6);
		    padding: base-px(0.25, 0, 2, 1);
		    margin-left: -12px;
		    width: 108%;
		    margin-top: -53px;
		    margin-bottom: base-px(2);
		    z-index: 400000;
		    position: relative;
		    font-size: 2rem;
		    line-height: 2.6rem;
		    font-weight: 200;
		    color: white;
		    
			    @include mq($from: col2){
					padding: base-px(0.25, 0, 2.8, 1);
					font-size: 3.2rem;
					width: 136%;
					
				}
		        
	        }
	      
	     	.section__rule{
	            height: 10px;
	            border-bottom: 2px solid color(shade-4);
	            width: 100px;
	            margin: base-px(0,0,1,0.1);
            }  
            
            .section__header{
	                width: 108%;
				    padding-left: 4%;
				    background-color: color(tone-feature1-accent) !important;
				    margin-left: -12px;
				    height: 180px;
				    margin-bottom: 24px;
				    color: white;
				    font-size: 34px;
				    line-height: 30px;
				    font-weight: 200;
            }

            
            p{
	        	&.has__dropcap{

	            	&:first-letter{
		            	color: color(tone-feature1);
				        font-family: $egyptian-display;
				        font-weight: 100;
				        font-style: normal;
				        font-size: 7em;
				        line-height: 1;
				        margin-top: 0;
				        margin-bottom: base-px(-1.6);
				        padding-right: base-px(.5);
				        float: left;
				        
				        @include mq($from: col2) {
						font-size: 5.2222em;
        				}
		
	            	}

            	}   
            }
            
           
         
            .quote--image{
	            
	            margin-top: -54px;
	            
	            blockquote{
		            border-top: 1px solid color(tone-feature1-accent2) !important;
		            border-bottom: none !important;
		            background-color: rgba(0, 0, 0, 0.65);
		            color: white !important;
		            padding: base-px(0.5) base-px(0.5) base-px(2) base-px(0.5); 
		            
		            &::before{
			            color: color(tone-feature1-accent2) !important;
			            
		            }
		            
		            footer{
			            
			            cite{
				        	color: color(tone-feature1-accent2);
			            }
			            
		            }
		            
	            }
	            
            }
            
            .quote--overlay{
	            
	            position: relative;
	            
	            &::before{
		            background-color: rgba(0,0,0,0.6);
				    height: 30px;
				    text-align: center;
				    width: 30px;
				    content: attr(data-content) 'î„';
				    font-family: 'Guardian Icons';
				    position: absolute;
				    right: 0;
				    color: white;
		            }
	            
	            figcaption{
		            position: absolute;
		            top:0;
		            background-color: rgba(0,0,0,0.6);
		            color: white;
		            width: 90%;
		            display: none;
		            
					&.display{
						display: block;
					}
	            }
            }
            
            .title--overlay{
	            figcaption{
		            display: none !important;
	            }
            }
            
            .element-pullquote{
	            visibility: hidden;
	                            
                blockquote{
		            font-weight: 200;
		            font-size: 2rem;
		            line-height: 2.4rem;
	                font-family: 'Guardian Egyptian Web';
	                padding-top: 0px;
	                border-top: 1px solid #e0e0e0;
	                border-bottom: 1px solid #e0e0e0;
	                color: color(tone-feature1);
	                
	                @include mq($from: col2){
		            font-size: 3.2rem;
					line-height: 3.4rem;  
	                }
	                
	                p{
		                margin-top: 28px;
	                }
	                
	                cite{
		              font-size: 2rem;
					  line-height: 2.4rem;  
					  color: color(shade-3);
					   @include mq($from: col2){
					   		font-size: 3.2rem;
					   		line-height: 3.2rem;    
					   }
	                }
	                
	              	
	              	&::before{
		              	float: left;
		              	position: relative;
		              	line-height: 1.6rem;
					    margin-right: 8px;
					    font-size: 2.8rem;
					    color: color(shade-3);
					    
					     @include mq($from: col2){
				            font-size: 4rem;
							line-height: 1.3rem;   
						}

	              	}
	              	                
	                &::after{
		                content:"";
	                }
	                
                }
                
                @include mq($from: col2) {
		            max-width: 100%;
		            margin-right: base-px(1);
		            float: left;
			}	
			
				@include mq($from: col3){
					max-width: 100%;
				}
                
            }
            
            .animated {
			  -webkit-animation-duration: 1s;
			  animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
			  visibility: visible;
			}
			
			@-webkit-keyframes fadeInUp {
			  from {
			    opacity: 0;
			    -webkit-transform: translate3d(0, 10%, 0);
			    transform: translate3d(0, 10%, 0);
			  }
			
			  to {
			    opacity: 1;
			    -webkit-transform: none;
			    transform: none;
			  }
			}

			@keyframes fadeInUp {
			  from {
			    opacity: 0;
			    -webkit-transform: translate3d(0, 10%, 0);
			    transform: translate3d(0, 10%, 0);
			  }
			
			  to {
			    opacity: 1;
			    -webkit-transform: none;
			    transform: none;
			  }
			}
			
			.fadeInUp {
			  -webkit-animation-name: fadeInUp;
			  animation-name: fadeInUp;
			}

        }

        .meta {
            border: 0;
            margin: 0;

            a.alerts--new:active, a.alerts--new.following {
                background-color: color(shade-7);
                color: color(tone-feature1-accent);
            }

            a.alerts--new,  a.alerts--new.following:active {
                border-color: color(shade-7);
                color: color(shade-7);
            }
        }

        .meta,
        .meta__pubdate {
            color: rgba(#fff, .8);
        }
    }
   
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-0.1px);
}
		

.immersive__headline{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	
	.headline{
		color: white;
	}
	
}