.tone--review {
    .article {
        border-top-color: color(tone-review-accent);

        .prose .element-pullquote {
            blockquote {
                footer,
                &::before,
                &::after {
                    color: color(tone-review-accent);
                }
            }
        }
    }

    .article__body {
        background-color: color(shade-7);
    }

    .extras {
        padding-top: 1px;
        background-color: color(shade-7);
    }

    .article__header,
    .section,
    .headline,
    .touchpoint--primary .touchpoint__button,
    .standfirst,
    .standfirst__inner {
        background-color: color(tone-review);
    }

    @include mq($from: col4) {
        .article__header,
        .standfirst {
            background-color: darken(color(tone-review), 5%);
        }
    }

    .article__header {
        .section { 
            margin-bottom: 0;

            > div {
                color: color(tone-review-accent); // Content Label Section
            }
        }
        
        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(shade-7);  // Content Label Series
        }

        .comment-count a {
            color: color(tone-review-accent);
        }

        .headline {
            color: color(shade-7); // Headline

            p.review-rating {
                @include rating;
                padding-top: base-px(.7);
            }
        }

        .standfirst {
            color: color(shade-7);
        }

        .selectable a {
            color: color(shade-7) !important;
        }

        .meta {
            background-color: color(tone-review-meta-background);
            
            @include mq($from: col4) {
                background-color: darken(color(tone-review-meta-background), 5%);
                max-width: 100%;
            }

            .meta__byline .byline,
            .meta__byline a, 
            .comment-count,
            .comment-count a {
                color: color(tone-review-accent);
            }
            .meta__pubdate {
                color: color(shade-7);
            }
        }

        .meta__misc {
             @include mq($from: col4) {
                background-color: color(tone-review-meta-background);
                margin: 0 auto;
                padding: {
                    left: 240px;
                    right: 340px;
                }
                width: 1200px;
            }
        }

        .sponsorship {
            background-color: color(shade-7);

            @include mq($from: col4) {
                border-bottom: 0;
            }
        }

        .main-media {
            @include mq($from: col4) {
                background-color: color(tone-review);
                padding-top: 0; 

                &__caption__text {
                    width: 575px; // 620px width of main media - 45 for show/hide icon
                }
            }
        }
    }

    .comment__report,
    .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-media);
        }

        &:active .touchpoint__button {
            background-color: color(tone-review-accent);
        }

        .touchpoint__label {
            color: color(tone-media);
        }
        
        &:active .touchpoint__label {
            color: color(tone-review-accent);
        }
    }

    .comments__viewmore {
        .comments__viewmore--label {
            color: color(tone-media);
        }
        
        &:active .comments__viewmore--label {
            color: color(tone-review-accent);
        }
    }

    .alerts:active,
    .alerts.following {
        background-color: color(tone-review-accent);
        color: color(tone-review);
    }

    .alerts,
    .alerts.following:active {
        border-color: rgba(color(tone-review-accent), .5);
        color: color(tone-review-accent);
    }

    //TODO: specificity needed due to previous styles - improve
    a.tell-me-when:active, a.tell-me-when.added {
        background-color: color(tone-review-accent);
        color: color(shade-7);
    }

    a.tell-me-when,  a.tell-me-when.added:active {
        border-color: color(tone-review-accent);
        color: color(tone-media);
    }
}
