.tone--podcast {

    .section__container {
        border-bottom: 1px rgba(234,234,234,0.3) dotted;
        
    &.section {
            color: color(tone-podcast-section-label); // Content Label Section
        }
        
        .content__series-label {
            color: color(tone-podcast-series-label);  // Content Label Series
        }   
    }

    .audio-player__button {
        &.touchpoint--primary .touchpoint__button {
            background-color: color(tone-podcast-ply-contrl);
            color: color(tone-podcast-ply-background);

            &:active {
                background-color: color(tone-news-accent); /* NB Need new colour???!!! */
            }
        }
    }

    .audio-player__slider__knob {
        background-color: color(tone-podcast-ply-contrl);
    }

    .article {
        border-top-color: color(shade-1);
    }

    .article__header {
        background-color: color(tone-podcast-header-bg);
        background-image: -webkit-canvas(circles);

        .section {
            display: block;
        }

        .headline {
            margin-top: base-px(.5);
            color: #fff;

            .headline__accent {
                color: color(shade-1);
                display: block;
            }
        }

        .card__title--audio {
            &::before {
                content: '\e047';
                color: color(one-podcast-headline);
                font-family: $icon;
                margin-right: base-px(.25);
                position: absolute;
                margin-top: 3px;
            }
        }

        .card__titletext {
            text-indent: base-px(5);
            // overflow: hidden;
            // line-height: 3.5rem;
            text-overflow: ellipsis;
            // overflow-y: hidden;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .meta__byline{
            .byline{
                color: color(tone-podcast-byline);
            }
            .byline__author a{
                color: color(tone-podcast-byline-author);
            }
        }
    }

    .standfirst {
        color: color(shade-1);
    }

    .meta,
    .meta__pubdate {
        color: rgba(color(tone-podcast-meta-pubdate), .8);
    }

    .meta {
        border-top: 1px rgba(color(tone-podcast-meta-divider), .4) dotted;
    }

    .meta__comments {
        color: color(tone-podcast-meta-cmt-icon);
        border-left-color: rgba(color(tone-podcast-meta-divider), .4);
        a {
            color: color(tone-podcast-meta-cmt-icon);
        }
    }

}
