.tone--feature1,
.tone--feature2,
.tone--feature3 {
    .content__series-label,
    .comment-count,
    .byline__author,
    .article__body,
    .container__action--sort {
        a {
            color: color(tone-feature1);
            
            &:active {
                color: color(tone-feature1-accent);
            }
        }
    }

    .article__header,
    .section,
    .meta,
    .touchpoint--primary .touchpoint__button {
        background-color: color(tone-feature1);
    }

    .standfirst,
    .standfirst__inner,
    .touchpoint--primary:active .touchpoint__button {
        background-color: color(tone-feature1-accent);
    }

    @include mq($from: col4) {
        .article__header {
            background-color: darken(color(tone-feature1), 5%);
        }

        .standfirst {
            background-color: darken(color(tone-feature1-accent), 5%);
        }
    }

    .comment__report,
    .touchpoint--primary {
        .touchpoint__label {
            color: color(tone-feature1);
        }
        
        &:active .touchpoint__label {
            color: color(tone-feature1-accent);
        }
    }

    .comments__viewmore {
        .comments__viewmore--label {
            color: color(tone-feature1);
        }
        
        &:active .comments__viewmore--label {
            color: color(tone-feature1-accent);
        }
    }

    .comments__ordering {
        color: color(tone-feature1);
    }

    .section {
        float: none;
        margin-bottom: 0;
    }

    .main-media {
        padding-top: 0;

        figure {
            position: relative;

            @include mq($from: col4) {
                height: 540px;
                margin: 0;
                overflow: hidden;
                width: 100%;

               .element__inner {
                    top: -70px;
                }
            }
        }
    }

    .article--feature {
        // Add drop caps to all but "panel" articles
        .article__body > .prose:not(.prose--is-panel) > p {
            @include dropcap(color(tone-feature1));
        }
    }

    .article--feature,
    .article--quiz {
        border-top-color: color(tone-feature1-accent);

        .article__body {
            background-color: color(shade-7);
        }

        .prose p,
        .prose li {
            @include text-underline(color(tone-feature1), #fff, color(tone-feature1-accent));
        }

        .prose table,
        .table {
            border-top-color: color(tone-feature1-accent);
        }

        .prose .element-pullquote {
            blockquote {
                footer,
                &::after,
                &::before {
                    color: color(tone-feature1);
                }
            }
        }
        
        .article__header {
            a {
                color: #fff;

                &:active {
                    color: rgba(#fff, .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(#fff, .4);
                }
            }

            .section,
            .byline {
                color: #fff;
            }

            .content__labels {
                color: #fdadba;
            }

            .content__series-label.content__labels {
                color: #fff;
            }

            .headline {
                background-color: color(tone-feature1);
                color: #fff;
                position: relative;
                z-index: 20;
                padding: base-px(.5, 1, 2, 1);
                margin-top: 0;

                @include mq($from: col2) {
                    font-size: 3.6rem;
                    line-height: 3.6rem;
                }

                @include mq($from: col4) {
                    padding: {
                        left: 240px;
                        right: 320px;
                    }
                }
            }

            .standfirst {
                color: #fff;

                span {
                    color: rgba(#fff, .4);
                }

                strong {
                    color: #fff;
                    font-weight: normal;
                }
            }

            .review-rating {
                color: rgba(#fff, .4);
            }

            .review-rating--1 .icon:nth-child(-n+1),
            .review-rating--2 .icon:nth-child(-n+2),
            .review-rating--3 .icon:nth-child(-n+3),
            .review-rating--4 .icon:nth-child(-n+4),
            .review-rating--5 .icon:nth-child(-n+5) {
                color: #fff;
            }
        }

        .meta {
            border: 0;

            .alerts:active,
            .alerts.following {
                background-color: color(shade-7);
                color: color(tone-feature1-accent);
            }

            .alerts,
            .alerts.following:active {
                border-color: rgba(color(shade-7), .5);
                color: color(shade-7);
            }
        }

        .meta,
        .meta__pubdate {
            color: rgba(#fff, .8);
        }

        .meta__misc {
             @include mq($from: col4) {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }

        .sponsorship {
            &.sponsored {
                background: color(shade-7);
            }

            .sponsorship__about-uri {
                color: color(tone-news);
            }

            @include mq($from: col4) {
                border-bottom: 0;
            }
        }
    }

    //TODO: specificity needed due to previous styles - improve
    a.tell-me-when:active, a.tell-me-when.added {
        background-color: color(tone-feature1-accent);
        color: color(shade-7);
    }
    a.tell-me-when,  a.tell-me-when.added:active {
        border-color: color(tone-feature1-accent);
        color: color(tone-feature1-accent);
    }

    // Feature Quizzes
    .quiz {
        // Question Styles
        .question__wrapper {
            border-top: 2px solid color(tone-feature1-accent);
        }

        .question__text {
            color: color(tone-feature1);

            &::before {
                color: color(tone-feature1-accent);
            }
        }

        // Styles for answering correctly
        .question.is-correct {
            .correct-answer {
                .answer__wrapper,
                .answer__message {
                    background: color(tone-feature1-accent2);
                }

                .answer__marker {
                    background: color(tone-feature1);
                }

                .answer__message::before {
                    color: color(tone-feature1);
                }
            }
        }

        // Styles for answering wrong
        .question.is-wrong {
            .correct-answer {
                .answer__marker {
                    background: color(tone-feature1-accent2);
                }
            }
        }

        .quiz-scores {
            border-color: color(tone-feature1-accent);

            &__score {
                background: color(tone-feature1);
                color: color(tone-feature1-accent2);
            }

            &__message {
                color: color(tone-feature1-accent);
            }
        }
    }
}
