/*doc
---
title: Failed
name: block--failed
category: Blocks
---
Shows a failure block for when content is not available

```html_example

<div class="comments-has-failed">
    <div class="block block--discussion-failed">
        <div class="comment">
            <div class="prose resizable">
                <p>Comments are currently unavailable. Please try again later.</p>
            </div>
        </div>
    </div>
</div>
```
*/


.block--failed {
    display: none;
    color: color(shade-2);
    font-family: $agate-sans;
    @include body();

    .block__body {
        padding-bottom: base-px(1);
    }

    .container--has-failed & {
        display: block;
    }
}
