/*doc
---
title: Block
name: block
category: Blocks
---
Display a post that forms part of a liveblog.

```html_example
<div class="block">
    <p>Block content.</p>
</div>
```
*/

.block {
    border-top: 1px solid color(shade-3);
    border-bottom: 2px solid color(shade-4);
    background-color: #fff;
    overflow: hidden;
    margin: base-px(1, 0);
    padding: base-px(1);

    @include mq($to: col1) {
        margin: base-px(1);
    }

    .prose {
        a {
            color: color(tone-news);

            &:active {
                color: color(tone-news-accent);
            }
        }
    }
}
