/*doc
---
title: Discussion
name: block--discussion
category: Blocks
---
Display a discussion thread.

```html_example
<div class="block block--discussion-thread">
	<div class="prose resizable">
		<p>A dicussion thread contains indvidual comments. See the <a href="#comment">comment markup pattern</a>.</p>
	</div>
</div>

<div class="comments-0">
	<div class="block block--discussion-empty">
		<div class="comment">
			<div class="prose resizable">
				<p>Open for comments. <a href="x-gu://leavecomment">Be the first to join the debate</a></p>
			</div>
		</div>
	</div>
</div>

<div class="comments-has-failed">
	<div class="block block--discussion-failed">
		<div class="comment">
			<div class="prose resizable">
				<p>Comments are currently unavailable. Please try again later.</p>
			</div>
		</div>
	</div>
</div>
```
*/

// Discussion thread
.block--discussion-thread {
	.comment:nth-of-type(n+5) {
		display: none;
	}

	&.block--discussion-thread--orphan {
		.comment {
			display: block;
		}
	}
}

.block--discussion-thread.expand {
	.comment {
		display: block;
	}
}

// Discussion thread states
.block--discussion-empty,
.block--discussion-failed {
	color: $standfirst;
	@include meta();
	display: none;
}

.comments-0 {
	.block--discussion-empty {
		display: block;
	}
}

.comments-0,
.comments-1,
.comments-has-failed {
	.container__action--sort a {
		color: $standfirst;
	}
	.container__action--view-more {
		display: none;
	}
}

// Closed/open states
.container__action {
	.comments-closed-label {
		color: $standfirst;
		text-align: right;
		display: none;
	}
}
.comments--closed {
	.container__action {
		.comments-closed-label {
			display: block !important;
		}
		.touchpoint__button,
		a {
			display: none !important;
		}
	}
}

.comments-has-failed {
	.block--discussion-failed {
		display: block;
	}
	.more--comments,
	.block--discussion-empty {
		display: none;
	}
}