/*doc
---
title: Block
name: block
category: Blocks
---
Display a post that forms part of a liveblog.

```html_example
<div class="block">
	<p>Block content.</p>
</div>
```
*/

.block {
	border-top: 1px solid $meta;
	border-bottom: 2px solid $shadow;
	background-color: $white;
	overflow: hidden;
	@include padding(1);
	@include margin(1, 0);
	@include mq($to: col1) {
		margin: $base-1;
		padding: $base-1 / 2;
	}
}

.android {
	.block {
		@include margin(1);
	}
}