/*doc
---
title: Match stats
name: match-stats
category: Football
---
Display comparison of possession, goal attempts, corners and fouls that occurred during a match. Colours are provided by style declarations provided on the same page.

```html_example
<div class="match-stats">
    <p class="match-stats__caption">Possession</p>
    <div class="match-stats__posession">
        <svg class="pie-chart pie-chart--possession" height="250" width="250" preserveAspectRatio="xMinYMin slice" viewBox="0 0 250 250">
            <!-- Contents of SVG injected via D3.js -->
            <g class="pie-chart__inner" transform="translate(125,125)">
                <text class="pie-chart__key" transform="translate(-18,15)">%</text>
                <path class="pie-chart__pie" d="M0,124A124,124 0 1,1 0,-124A124,124 0 1,1 0,124M0,42.67A42.67,42.67 0 1,0 0,-42.67A42.67,42.67 0 1,0 0,42.67Z"/>
                <g class="pie-chart__segment">
                    <path class="pie-chart__segment-arc pie-chart__segment-arc--away" d="M7.6540e-15,-125A125,125 0 1,1 -31.0862,121.0729L-10.3621,40.3576A41.67,41.67 0 1,0 2.5513e-15,-41.67Z"/>
                </g>
                <g class="pie-chart__segment">
                    <path class="pie-chart__segment-arc pie-chart__segment-arc--home" d="M-31.0862,121.0729A125,125 0 0,1 -2.2962e-14,-125L-7.6540e-15,-41.67A41.67,41.67 0 0,0 -10.3621,40.3576Z"/>
                </g>
                <foreignObject class="pie-chart__label pie-chart__label--away" width="75" height="50" text-anchor="middle" transform="translate(47.6762,-14.5556)">
                    <div class="pie-chart__label-text" width="50" x="0" dy="1.2em">Hull</div>
                    <div class="pie-chart__label-value" x="0" dy="1.2em">54</div>
                </foreignObject>
                <foreignObject class="pie-chart__label pie-chart__label--home" width="75" height="50" text-anchor="middle" transform="translate(-117.6762,-35.4444)">
                    <div class="pie-chart__label-text" width="50" x="0" dy="1.2em">Arsenal</div>
                    <div class="pie-chart__label-value" x="0" dy="1.2em">46</div>
                </foreignObject>
            </g>
        </svg>
    </div>

    <p class="match-stats__caption">Goal Attempts</p>
    <div class="match-stats__shots">
        <div class="match-stats__shots--home match-colours--home">
            <p class="match-stats__shots__off">Off target <span>19</span></p>
            <p class="match-stats__shots__on match-colours--home">On target <span>7</span></p>
        </div>
        <div class="match-stats__shots--away match-colours--away">
            <p class="match-stats__shots__off">Off target <span>9</span></p>
            <p class="match-stats__shots__on match-colours--away">On target <span>3</span></p>
        </div>
    </div>
    
    <p class="match-stats__caption">Corners</p>
    <div class="match-stats__corners">
        <div class="bar-chart match-colours--away">
            <span class="bar-chart__value match-colours--home" style="width: 70%">7</span>
            <span>3</span>
        </div>
    </div>

    <p class="match-stats__caption">Fouls</p>
    <div class="match-stats__fouls">
        <div class="bar-chart match-colours--away">
            <span class="bar-chart__value match-colours--home" style="width: 48%">17</span>
            <span>18</span>
        </div>
    </div>
</div>

<style>
    .match-colours--home {
        color: #FFFFFF;
        background-color: #C40007;
    }
    .pie-chart--possession .pie-chart__segment-arc--home {
        fill: #C40007;
    }
    .pie-chart--possession .pie-chart__label--home  {
        color: #FFFFFF;
    }

    .match-colours--away {
        color: #333333;
        background-color: #F2B100;
    }
    .pie-chart--possession .pie-chart__segment-arc--away {
        fill: #F2B100;
    }
    .pie-chart--possession .pie-chart__label--away {
        color: #333333;
    }
</style>
```
*/

.match-stats {
    font-family: $agate-sans;

    .bar-chart,
    .match-stats__shots span {
        font-family: $egyptian-display;
        font-weight: 600;
        @include standfirst();
        margin: base-px(0, 0, 1, 0);
        display: block;
    }
}

.match-stats__caption {
    color: color(shade-1);
    @include meta();
    margin: base-px(0, 0, .25, 0);
}

.match-stats__shots {
    margin: base-px(0, 0, 1, 0);
    overflow: hidden;
}

.match-stats__shots__off,
.match-stats__shots__on {
    @include meta();
    padding: base-px(.25, .5);
}

.match-stats__shots__on {
    width: 75%;
    border: 2px solid color(shade-7);
    border-bottom: 0;
}

.match-stats__shots--home,
.match-stats__shots--away {
    background-image: url('../img/hor-bg.png');
    background-size: 8px;
    width: 50%;
    float: left;
}

.match-stats__shots--home {
    .match-stats__shots__on {
        float: right;
        border-right: 0;
    }
}

.match-stats__shots--away {
    .match-stats__shots__on {
        border-left: 0;
    }
}
