/*doc
---
title: Match summary
name: match-summary
category: Football
---
Display a match summary. The score is updated during the match.

```html_example
<div class="match-summary is-alerts is-agg">

	<div class="match-status match-status--ft">
		<p class="match-status__time">FT</p>
	</div>

	<a class="alerts">
		<span class="alerts__state--unfollow"><span class="icon">&#xe048;</span></span>
		<span class="alerts__state--follow"><span class="icon">&#xe049;</span></span>
	</a>

	<div class="match-summary__meta">
		<p class="match-summary__meta__competition">Europa League Semi-Final </p>
		<p class="match-summary__meta__venue">Mestalla</p>
	</div>

	<div class="match-summary__home">
		<div class="match-summary__badge">
			<img src="http://png-resizer.mobile-apps.guardianapis.com/sport/football/crests/26316.png?width=300">
		</div>

		<div class="match-summary__info match-summary__home__info">
			<h1 class="match-summary__info__label match-summary__home__info__label headline" onclick="javascript:window.location.href='x-gu://team/http://mobile-apps.guardianapis.com/lists/tag/football/valencia'">Valencia</h1>
			<p>Sofiane Feghouli&nbsp;14'</p><p>Antonio Beto&nbsp;26' (o.g.)</p><p>Jeremy Mathieu&nbsp;69'</p>
		</div>

		<div class="match-summary__score">
			<h1 class="match-summary__score__label match-summary__home__score__label headline">3 <span class="match-summary__score__agg">3</span></h1>
		</div>
	</div>

	<div class="match-summary__away">
		<div class="match-summary__score">
			<h1 class="match-summary__score__label match-summary__away__score__label headline">1 <span class="match-summary__score__agg">3</span></h1>
		</div>

		<div class="match-summary__info match-summary__away__info">
			<h1 class="match-summary__info__label match-summary__away__info__label headline" onclick="javascript:window.location.href='x-gu://team/http://mobile-apps.guardianapis.com/lists/tag/football/sevilla'">Sevilla</h1>
			<p>Stephane Mbia&nbsp;90' (+4:27)</p>
		</div>

		<div class="match-summary__badge">
			<img src="http://png-resizer.mobile-apps.guardianapis.com/sport/football/crests/27821.png?width=300">
		</div>
	</div>

	<div class="match-summary__comment">
		<p class="match-summary__comment__text">Sevilla win on away goals rule</p>
	</div>
</div>
```
*/

.match-summary {
	background-color: $white;
	@include padding(1, 1, 0, 1);
	position: relative;
	overflow: hidden;

	@include mq($from: col1) {
		@include padding(0.5, 1, 0, 1);
		&::after {
			content: " ";
			background-color: $shadow;
			display: block;
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 50%;
			bottom: 0;
			left: 50%;
		}
	}

	.headline {
		@include mq($to: col2) {
			margin-top: -8px; // Offset to align with badges
			font-size: 3.2rem;
			line-height: 4.0rem;
		}
		@include mq($from: col2) {
			@include margin(0, 0, 0.5, 0);
			margin-top: -10px; // Offset to align with badges
			font-size: 4.0rem;
			line-height: 4.8rem;
		}
	}

	.match-status {
		z-index: 10;
		@include mq($to: col1) {
			float: left;
			width: 44px;
		}
		@include mq($from: col1) {
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			left: 0;
			right: 0;
		}
	}

	.match-status__time {
		width: 100%;
	}

	&.is-alerts .alerts,
	&.is-agg .match-summary__score__agg {
		display: block;
	}

	// Alerts
	.alerts {
		font-size: 150%;
		font-weight: normal;
		text-align: center;
		position: relative;
		z-index: 20;
		@include mq($to: col1) {
			@include padding(0.5, 0, 0, 0);
			width: auto;
			display: inline-block;
			float: right;
		}
		@include mq($from: col1) {
			margin: 0 auto;
			width: 60px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}

		span {
			background-color: white;
		}
	}
}

.match-summary__meta {
	font-family: $agate-sans;
	@include meta();

	@include mq($to: col1) {
		@include padding(0, 3, 1, 4.5);
	}
	@include mq($from: col1) {
		width: 50%;
	}
}

.match-summary__meta__competition,
.match-summary__meta__venue {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.match-summary__team {
	hyphens: auto;
	word-break: break-word;
	@include mq($to: col1) {
		@include flexbox;
		@include flex-direction(row);
		width: 100%;
		@include padding(1, 0);
	}
	@include mq($from: col1) {
		@include margin(1, 0, 2, 0);
		width: 50%;
		float: left;
		display: table;
		table-layout: fixed;
	}

	.match-summary__badge,
	.match-summary__info,
	.match-summary__score {
		vertical-align: top;
		@include mq($from: col1) {
			display: table-cell;
		}
	}

	.match-summary__score {
		width: 44px;
		@include padding(0, 0.5);
		
		@include mq($to: col1) {
			width: 15%;
			min-width: 50px;
			text-align: right;
			padding-right: 0;
		}
		@include mq(col1, col2) {
			width: $base-2 * 7;
		}
		@include mq(col2, col3) {
			width: $base-3 * 10;
		}
		@include mq($from: col3) {
			width: $base-4 * 12;
		}
	}

	.match-summary__info {
		font-family: $agate-sans;
		@include meta();
		@include padding(0, 0, 0, 0.66666);

		@include mq($to: col1) {
			width: 100%;
		}
	}

	.match-summary__info__label {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		z-index: 25;
	}

	.match-summary__badge {
		background-repeat: no-repeat;
		background-size: contain;
		
		@include mq($to: col1) {
			min-width: 44px;
		}
		@include mq($from: col1) {
			padding-top: 4px;
		}
		@include mq(col1, col2) {
			width: $base-2 * 8;
		}
		@include mq(col2, col3) {
			width: $base-3 * 11;
		}
		@include mq($from: col3) {
			width: $base-4 * 12;
		}
	}
}

.match-summary__team--home {
	@include mq($to: col1) {
		border-top: 1px dotted $shadow;
	}

	.match-summary__score {
		@include mq($from: col1) {
			text-align: right;
		}
	}

	.match-summary__badge {
		@include mq(col1, col2) {
			padding-right: $base-2 * 2;
		}
		@include mq(col2, col3) {
			padding-right: $base-3 * 2;
		}
		@include mq($from: col3) {
			padding-right: $base-4 * 2;
		}
	}
}

.match-summary__team--away {
	@include flex-direction(row-reverse);

	.match-summary__badge {
		@include mq(col1, col2) {
			padding-left: $base-2 * 2;
		}
		@include mq(col2, col3) {
			padding-left: $base-3 * 2;
		}
		@include mq($from: col3) {
			padding-left: $base-3 * 2;
		}
	}
}

// Aggregate Scores
.match-summary__score__agg {
	color: $meta;
	font-size: 50%;
	line-height: 70%;
	display: none;
	& > span {
		display: none;
	}
	@include mq($to: col1) {
		font-size: 75%;
		margin-top: 6px;
	}
	@include mq($from: col1) {
		margin-top: 10px;
	}
}

.match-summary__comment {
	width: 100%;
	position: relative;
	clear: both;
}

.match-summary__comment__text {
	font-family: $agate-sans;
	@include meta();
	@include padding(0.5, 1);
	background-color: $white;
	margin: 0 auto;
	border: 1px solid $shadow;
	border-bottom: none;
	width: auto;
	display: table;
}