/*doc
---
title: Match status
name: match-status
category: Football
---
Future

```html_example
<div class="match-status match-status--f">
    <p class="match-status__time">18:00</p>
</div>
```

Postponed

```html_example
<div class="match-status match-status--p">
    <p class="match-status__time">P</p>
</div>
```

Abandonded

```html_example
<div class="match-status match-status--a">
    <p class="match-status__time">A</p>
</div>
```

Cancelled

```html_example
<div class="match-status match-status--c">
    <p class="match-status__time">C</p>
</div>
```

Suspended

```html_example
<div class="match-status match-status--s">
    <p class="match-status__time">S</p>
</div>
```

First half

```html_example
<div class="match-status match-status--first">
    <p class="match-status__time">1st</p>
</div>
```

Half time

```html_example
<div class="match-status match-status--ht">
    <p class="match-status__time">HT</p>
</div>
```

Second half

```html_example
<div class="match-status match-status--second">
    <p class="match-status__time">2nd</p>
</div>
```

Extra time

```html_example
<div class="match-status match-status--et">
    <p class="match-status__time">ET</p>
</div>
```

Full time

```html_example
<div class="match-status match-status--ft">
    <p class="match-status__time">FT</p>
</div>
```
*/

.match-status {
    color: color(shade-2);
    font-family: $agate-sans;
    font-weight: bold;
    @include meta();
    background-image: url('../img/match-status.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    display: table;

    @include mq($to: col1) {
        background-size: 44px 44px;
        background-position: center;
    }
}

.match-status__time {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.match-status--f {
    .match-status__time {
        font-size: 1.2rem;
        font-weight: normal;
    }
}

.match-status--a {
    color: color(tone-live);
    background-image: url('../img/match-status--a.svg');
}

.match-status--c {
    color: color(tone-live);
    background-image: url('../img/match-status--c.svg');
}

.match-status--p {
    color: color(tone-news-accent);
    background-image: url('../img/match-status--p.svg');
}

.match-status--s {
    color: color(tone-live);
    background-image: url('../img/match-status--s.svg');
}

.match-status--first {
    color: color(tone-news-accent);
    background-image: url('../img/match-status--first.svg');
}

.match-status--second {
    color: color(tone-news-accent);
    background-image: url('../img/match-status--second.svg');
}

.match-status--ht {
    color: color(tone-news-accent);
    background-image: url('../img/match-status--ht.svg');
}

.match-status--ft {
    color: color(tone-news-accent);
    background-image: url('../img/match-status--ft.svg');
}

.match-status--et {
    color: color(tone-news-accent);
    background-image: url('../img/match-status--et.svg');
}
