/*doc
---
title: Player card
name: player-card
category: Football
---
Display a player card embed. The markup for these classes comes from the content API, which in turn gets the content from the football admin tool. [You can find the templates here](https://github.com/guardian/frontend/tree/master/admin/app/views/football/player/cards).

```html_example
<div class="player-card player-card--football">
    <div class="player-card__image-container">
        <img class="player-card__image" src="http://sport.guim.co.uk/football/player-images/100/399337.jpg" alt="Photo of Ricky van Wolfswinkel">
    </div>
    <div class="player-card__player">
        <div class="player-card__position" itemprop="jobTitle">Striker</div>
        <div class="player-card__name" itemprop="name">Ricky van Wolfswinkel</div>
    </div>
    <dl class="player-card__stats">
        <dt class="player-card__stat-name">Appearances</dt>
        <dd class="player-card__stat-value">24</dd>
        <dt class="player-card__stat-name">Goals</dt>
        <dd class="player-card__stat-value">1</dd>
        <dt class="player-card__stat-name">Shots</dt>
        <dd class="player-card__stat-value">32</dd>
        <dt class="player-card__stat-name">Shots on target</dt>
        <dd class="player-card__stat-value">28%</dd>
        <dt class="player-card__stat-name">Offsides</dt>
        <dd class="player-card__stat-value">7</dd>
    </dl>
</div>
```
*/

$player-card-avatar: (
    default: 44px,
    large: 100px
);

.player-card {
    background: color(shade-5);
    margin: base-px(1, 0);
    border-top: 2px solid color(tone-news);
    padding: base-px(1);

    // When shown within body copy, float right (at larger breakpoints)
    .article__body & {
        @include mq($from: col3) {
            margin: base-px(1, 0, 1, 1);
            width: 50%;
            float: right;
        }
    }
}

.player-card__image-container {
    float: right;
}

.player-card__image {
    border-radius: 50%;
    width: map-get($player-card-avatar, default);
    height: map-get($player-card-avatar, default);
    float: right;

    @include mq($from: col1) {
        width: map-get($player-card-avatar, large);
        height: map-get($player-card-avatar, large);
    }
}

.player-card__player {
    margin: base-px(0, 0, 1, 0);
    padding-right: map-get($player-card-avatar, default);
    min-height: map-get($player-card-avatar, default);

    @include mq($from: col1) {
        padding-right: map-get($player-card-avatar, large);
        min-height: map-get($player-card-avatar, large);
    }
}

.player-card__name {
    font-family: $egyptian-display;
    @include standfirst();
}

.player-card__position {
    color: color(tone-news);
    font-family: $agate-sans;
    @include meta();
}

.player-card__stats {
    margin: 0;
    padding: 0;
}

.player-card__stat-name,
.player-card__stat-value {
    padding: base-px(.25, 0, .5, 0);
}

.player-card__stat-name {
    font-family: $agate-sans;
    font-size: $meta-size-1;
    line-height: $meta-lead-1;
    display: block;
    float: left;
    font-weight: normal;
}

.player-card__stat-value {
    font-weight: bold;
    font-family: $agate-sans;
    font-size: $meta-size-1;
    line-height: $meta-lead-1;
    text-align: right;
    border-top: 1px solid color(shade-4);
    padding-left: 85%;
}
