/*doc
---
title: Tables
name: table-football
category: Football
---
Display a  league table (which may sometimes be an embed). The markup for these classes comes from the content API, which in turn gets the content from the football admin tool. [You can find the templates here](https://github.com/guardian/frontend/blob/master/admin/app/views/football/leagueTables/).

```html_example
<table class="table table--football">
    <thead>
        <tr>
            <th class="football-stat--postition table-column--sub"><abbr title="Position">Pos</abbr></th>
            <th class="football-stat--team table-column--main">Team</th>
            <th class="football-stat--played"><abbr title="Played">P</abbr></th>
            <th class="football-stat--difference"><abbr title="Goal difference">GD</abbr></th>
            <th class="football-stat--points"><abbr title="Points">Pts</abbr></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="football-stat--postition table-column--sub">1</td>
            <td class="football-stat--team table-column--main">Man City</td>
            <td class="football-stat--played">37</td>
            <td class="football-stat--difference">63</td>
            <td class="football-stat--points">83</td>
        </tr>
        <tr>
            <td class="football-stat--postition table-column--sub">2</td>
            <td class="football-stat--team table-column--main">Liverpool</td>
            <td class="football-stat--played">37</td>
            <td class="football-stat--difference">50</td>
            <td class="football-stat--points">81</td>
        </tr>
        <tr>
            <td class="football-stat--postition table-column--sub">3</td>
            <td class="football-stat--team table-column--main">Chelsea</td>
            <td class="football-stat--played">37</td>
            <td class="football-stat--difference">43</td>
            <td class="football-stat--points">79</td>
        </tr>
    </tbody>
</table>
```

Display a fixtures table.

```html_example
<table class="table table--football">
    <tbody>
        <tr class="football-match has-ended">
            <td class="football-match--status">FT</td>
            <td class="football-match--home">Costa Rica</td>
            <td class="football-match--score">1 - 3</td>
            <td class="football-match--away">Japan</td>
        </tr>
         <tr class="football-match is-live">
            <td class="football-match--status">HT</td>
            <td class="football-match--home">United Arab Emirates</td>
            <td class="football-match--score">0 - 0</td>
            <td class="football-match--away">Georgia</td>
        </tr>
         <tr class="football-match">
            <td class="football-match--status">19:30</td>
            <td class="football-match--home">Czech Republic</td>
            <td class="football-match--score">v</td>
            <td class="football-match--away">Austria</td>
        </tr>
         <tr class="football-match">
            <td class="football-match--status">19:30</td>
            <td class="football-match--home">Switzerland</td>
            <td class="football-match--score">v</td>
            <td class="football-match--away">Peru</td>
        </tr>
         <tr class="football-match">
            <td class="football-match--status">20:00</td>
            <td class="football-match--home">Brazil</td>
            <td class="football-match--score">v</td>
            <td class="football-match--away">Panama</td>
        </tr>
    </tbody>
</table>
```
*/

.table--football {
    width: 100%;
    table-layout: fixed;

    // League Table
    .football-stat--postition {
        width: 15%;
    }

    td.football-stat--postition {
        color: color(shade-3);

        .icon.up {
            color: #68a948;
        }

        .icon.down {
            color: #df1f1f;
        }
    }

    .football-stat--team {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 0;
    }

    .football-stat--played,
    .football-stat--difference,
    .football-stat--points {
        text-align: right;
        width: 15%;
    }

    .football-stat--points {
        font-weight: bold;
    }

    // Fixtures Table
    .football-match {
        &.has-ended {
            .football-match--status {
                font-weight: bold;
            }
        }

        &.is-live {
            font-weight: bold;

            .football-match--status {
                color: color(tone-news-accent);
            }
        }
    }

    .football-match--status {
        color: color(shade-3);
    }

    .football-match--score {
        color: color(shade-2);
        text-align: center;
        width: 20%;
    }

    .football-match--home,
    .football-match--away {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40%;
    }

    .football-match--home {
        text-align: right;
    }
}
