/*doc
---
title: Team line-up
name: team-lineup
category: Football
---
<mark>IN PROGRESS; NEED TO UPDATE WITH NEW CARD VARIABLE LOCATIONS</mark>

```html_example
<table class="team-lineup">
	<caption class="football__sublabel">Arsenal</caption>
	<tbody>
		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">21</td>
			<td class="team-lineup__player__name"><span>
				<span class="team-lineup__player__forename">Lukasz</span> <span class="team-lineup__player__surname">Fabianski</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">3</td>
			<td class="team-lineup__player__name"><span>
				<span class="team-lineup__player__forename">Bacary</span> <span class="team-lineup__player__surname">Sagna</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">4</td>
			<td class="team-lineup__player__name"><span>
				<span class="team-lineup__player__forename">Per</span> <span class="team-lineup__player__surname">Mertesacker</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">6</td>
			<td class="team-lineup__player__name"><span>
				<span class="team-lineup__player__forename">Laurent</span> <span class="team-lineup__player__surname">Koscielny</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">28</td>
			<td class="team-lineup__player__name"><span>
				<span class="team-lineup__player__forename">Kieran</span> <span class="team-lineup__player__surname">Gibbs</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">8</td>
			<td class="team-lineup__player__name"><span class="is-yellow-red">
				<span class="team-lineup__player__forename">Mikel</span> <span class="team-lineup__player__surname">Arteta</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">16</td>
			<td class="team-lineup__player__name"><span class="is-red">
				<span class="team-lineup__player__forename">Aaron</span> <span class="team-lineup__player__surname">Ramsey</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">19</td>
			<td class="team-lineup__player__name"><span class="is-replacement">
				<span class="team-lineup__player__forename">Santi</span> <span class="team-lineup__player__surname">Cazorla</span> 
				<span class="team-lineup__player__replacement ">(Rosicky 106)</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">11</td>
			<td class="team-lineup__player__name"><span class="is-replacement">
				<span class="team-lineup__player__forename">Mesut</span> <span class="team-lineup__player__surname">Ozil</span> 
				<span class="team-lineup__player__replacement ">(Wilshere 106)</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">9</td>
			<td class="team-lineup__player__name"><span class="is-replacement">
				<span class="team-lineup__player__forename">Lukas</span> <span class="team-lineup__player__surname">Podolski</span> 
				<span class="team-lineup__player__replacement ">(Sanogo 61)</span>
			</span>
			</td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">12</td>
			<td class="team-lineup__player__name"><span class="is-yellow">
				<span class="team-lineup__player__forename">Olivier</span> <span class="team-lineup__player__surname">Giroud</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
 		<tr class="team-lineup__player">
			<td class="team-lineup__player__number">Subs</td>
			<td class="team-lineup__player__name"><span>
				<span class="team-lineup__player__forename">Wojciech</span> <span class="team-lineup__player__surname">Szczesny</span>, 
				<span class="team-lineup__player__replacement ">( )</span>
			</span>
			<span>
				<span class="team-lineup__player__forename">Thomas</span> <span class="team-lineup__player__surname">Vermaelen</span>, 
				<span class="team-lineup__player__replacement ">( )</span>
			</span>
			<span class="is-used">
				<span class="team-lineup__player__forename">Tomas</span> <span class="team-lineup__player__surname">Rosicky</span>, 
				<span class="team-lineup__player__replacement ">( )</span>
			</span>
			<span class="is-used">
				<span class="team-lineup__player__forename">Jack</span> <span class="team-lineup__player__surname">Wilshere</span>, 
				<span class="team-lineup__player__replacement ">( )</span>
			</span>
			<span>
				<span class="team-lineup__player__forename">Nacho</span> <span class="team-lineup__player__surname">Monreal</span>, 
				<span class="team-lineup__player__replacement ">( )</span>
			</span>
			<span>
				<span class="team-lineup__player__forename">Mathieu</span> <span class="team-lineup__player__surname">Flamini</span>, 
				<span class="team-lineup__player__replacement ">( )</span>
			</span>
			<span class="is-used">
				<span class="team-lineup__player__forename">Yaya</span> <span class="team-lineup__player__surname">Sanogo</span> 
				<span class="team-lineup__player__replacement ">( )</span>
			</span></td>
		</tr>
	</tbody>
</table>
```
*/

.team-lineup {
	font-family: $agate-sans;
	@include meta();

	.team-lineup__player {
		text-align: left;
		
		.team-lineup__player__number,
		.team-lineup__player__name {
			vertical-align: top;
			padding-bottom: 4px;
		}
		.team-lineup__player__number {
			color: $meta;
			padding-right: 6px;
		}
		.team-lineup__player__forename {
			@include mq($to: col1) {
				display: none;
			}
		}
		.team-lineup__player__replacement {
			display: none;
		}
		.replacement .team-lineup__player__replacement {
			display: inline;
			@include mq($to: col1) {
				display: block;
			}
		}

		.red,
		.yellow,
		.yellow-red {
			&::after {
				content: " ";
				background-repeat: no-repeat;
				margin-left: 4px;
				height: 14px;
				width: 12px;
				display: inline-block;
			}
		}
		.yellow {
			&::after {
				background-image: url('../img/team-lineup__card--yellow.svg');
				height: 14px;
				width: 12px;
			}
		}
		.yellow-red {
			&::after {
				background: url('../img/team-lineup__card--yellow-red.svg');
				width: 26px;
			}
		}
		.red {
			&::after {
				background: url('../img/team-lineup__card--red.svg');
			}
		}
		
		&:last-of-type {
			@include margin(2, 0, 0, 0);

			.used {
				color: $meta;
				text-decoration: line-through;
			}
		}
	}
}