$fontMap: (

    // Icon font
    GuardianIcons: (
        family: 'Guardian Icons',
        android-src: 'url("../garnett-fonts/icons.otf")',
        ios-src: 'url("../garnett-fonts/icons.otf")'
    ),

    // Agaate
    AS31GuardianAgaateSans1WebLight: (
        family: 'Guardian Agaate Sans Web',
        weight: 200,
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Light.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Light.ttf")'
    ),
    AS31GuardianAgaateSans1WebLightItalic: (
        family: 'Guardian Agaate Sans Web',
        weight: 200,
        style: 'italic',
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-LightItalic.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-LightItalic.ttf")'
    ),
    AS31GuardianAgaateSans1WebRegular: (
        family: 'Guardian Agaate Sans Web',
        weight: 400,
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Regular.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Regular.ttf")'
    ),
    AS31GuardianAgaateSans1WebRegularItalic: (
        family: 'Guardian Agaate Sans Web',
        weight: 400,
        style: 'italic',
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-RegularItalic.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-RegularItalic.ttf")'
    ),
    AS31GuardianAgaateSans1WebMedium: (
        family: 'Guardian Agaate Sans Web',
        weight: 500,
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Medium.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Medium.ttf")'
    ),
    AS31GuardianAgaateSans1WebMediumItalic: (
        family: 'Guardian Agaate Sans Web',
        weight: 500,
        style: 'italic',
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-MediumItalic.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-MediumItalic.ttf")'
    ),
    AS31GuardianAgaateSans1WebSemibold: (
        family: 'Guardian Agaate Sans Web',
        weight: 600,
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Semibold.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Semibold.ttf")'
    ),
    AS31GuardianAgaateSans1WebSemiboldItalic: (
        family: 'Guardian Agaate Sans Web',
        weight: 600,
        style: 'italic',
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-SemiboldItalic.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-SemiboldItalic.ttf")'
    ),
    AS31GuardianAgaateSans1WebBold: (
        family: 'Guardian Agaate Sans Web',
        weight: 700,
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Bold.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Bold.ttf")'
    ),
    AS31GuardianAgaateSans1WebBoldItalic: (
        family: 'Guardian Agaate Sans Web',
        weight: 700,
        style: 'italic',
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-BoldItalic.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-BoldItalic.ttf")'
    ),
    AS31GuardianAgaateSans1WebBlack: (
        family: 'Guardian Agaate Sans Web',
        weight: 900,
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Black.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-Black.ttf")'
    ),
    AS31GuardianAgaateSans1WebBlackItalic: (
        family: 'Guardian Agaate Sans Web',
        weight: 900,
        style: 'italic',
        android-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-BlackItalic.ttf")',
        ios-src: 'url("../garnett-fonts/AS31GuardianAgaateSans1Web-BlackItalic.ttf")'
    ),


    // Text Egyptian
    GuardianTextEgyptianWeb: (
        family: 'Guardian Text Egyptian Web',
        android-src: 'url("../garnett-fonts/egyptiantext-regular.otf")',
        ios-src: 'url("../garnett-fonts/egyptiantext-regular.otf")'
    ),
    GuardianTextEgyptianWebBold: (
        family: 'Guardian Text Egyptian Web',
        weight: 'bold',
        android-src: 'url("../garnett-fonts/egyptiantext-medium.otf")',
        ios-src: 'url("../garnett-fonts/egyptiantext-medium.otf")'
    ),
    GuardianTextEgyptianWebItalic: (
        family: 'Guardian Text Egyptian Web',
        style: 'italic',
        android-src: 'url("../garnett-fonts/egyptiantext-regularitalic.otf")',
        ios-src: 'url("../garnett-fonts/egyptiantext-regularitalic.otf")'
    ),
    GuardianTextEgyptianWebBoldItalic: (
        family: 'Guardian Text Egyptian Web',
        style: 'italic',
        weight: 'bold',
        android-src: 'url("../garnett-fonts/egyptiantext-mediumitalic.otf")',
        ios-src: 'url("../garnett-fonts/egyptiantext-mediumitalic.otf")'
    ),

    // Text Sans
    GuardianTextSansWeb200: (
        family: 'Guardian Text Sans Web',
        weight: 200,
        android-src: 'url("../garnett-fonts/GuardianSansWeb-Light.ttf")',
        ios-src: 'url("../garnett-fonts/GuardianSansWeb-Light.ttf")'
    ),
    GuardianTextSansWeb300: (
        family: 'Guardian Text Sans Web',
        weight: 300,
        android-src: 'url("../garnett-fonts/GuardianSansWeb-Regular.ttf")',
        ios-src: 'url("../garnett-fonts/GuardianSansWeb-Regular.ttf")'
    ),
    GuardianTextSansWeb600: (
        family: 'Guardian Text Sans Web',
        weight: 600,
        android-src: 'url("../garnett-fonts/GuardianSansWeb-Semibold.ttf")',
        ios-src: 'url("../garnett-fonts/GuardianSansWeb-Semibold.ttf")'
    ),


    // LEGACY FONTS:

    // Titlepiece
    Titlepiece: (
        family: 'Titlepiece',
        weight: 600,
        android-src: 'url("../garnett-fonts/titlepiece.otf")',
        ios-src: 'url("../garnett-fonts/titlepiece.otf")'
    ),

    // Display Egyptian
    GuardianEgyptianWeb100: (
        family: 'Guardian Egyptian Web',
        weight: 100,
        android-src: 'url("../garnett-fonts/egyptiandisplay-thin.otf")',
        ios-src: 'url("../garnett-fonts/egyptiandisplay-thin.otf")'
    ),
    GuardianEgyptianWeb200: (
        family: 'Guardian Egyptian Web',
        weight: 200,
        android-src: 'url("../garnett-fonts/egyptiandisplay-light.otf")',
        ios-src: 'url("../garnett-fonts/egyptiandisplay-light.otf")'
    ),
    GuardianEgyptianWeb300: (
        family: 'Guardian Egyptian Web',
        weight: 300,
        android-src: 'url("../garnett-fonts/egyptiandisplay-regular.otf")',
        ios-src: 'url("../garnett-fonts/egyptiandisplay-regular.otf")'
    ),
    GuardianEgyptianWeb400: (
        family: 'Guardian Egyptian Web',
        weight: 400,
        android-src: 'url("../garnett-fonts/egyptiandisplay-medium.otf")',
        ios-src: 'url("../garnett-fonts/egyptiandisplay-medium.otf")'
    ),
    GuardianEgyptianWeb600: (
        family: 'Guardian Egyptian Web',
        weight: 600,
        android-src: 'url("../garnett-fonts/egyptiandisplay-bold.otf")',
        ios-src: 'url("../garnett-fonts/egyptiandisplay-bold.otf")'
    ),

    // Agate
    GuardianAgateSansWeb: (
        family: 'Guardian Agate Sans 1 Web',
        android-src: 'url("../garnett-fonts/agate-regular.otf")',
        ios-src: 'url("../garnett-fonts/agate-regular.otf")'
    ),
    GuardianAgateSansWebBold: (
        family: 'Guardian Agate Sans 1 Web',
        weight: 'bold',
        android-src: 'url("../garnett-fonts/agate-bold.otf")',
        ios-src: 'url("../garnett-fonts/agate-bold.otf")'
    ),
    GuardianAgateSansWebItalic: (
        family: 'Guardian Agate Sans 1 Web',
        style: 'italic',
        android-src: 'url("../garnett-fonts/agate-regularitalic.otf")',
        ios-src: 'url("../garnett-fonts/agate-regularitalic.otf")'
    ),
    GuardianAgateSansWebBoldItalic: (
        family: 'Guardian Agate Sans 1 Web',
        weight: 'bold',
        style: 'italic',
        android-src: 'url("../garnett-fonts/agate-bolditalic.otf")',
        ios-src: 'url("../garnett-fonts/agate-bolditalic.otf")'
    )
);

@mixin fontList($platform) {
    @each $font, $properties in $fontMap {
        @font-face {
            font-family: '#{map-get($properties, family)}';
            @if map-has-key($properties, style) {
                font-style: #{map-get($properties, style)};
            }
            @if map-has-key($properties, weight) {
                font-weight: #{map-get($properties, weight)};
            }
            src: #{map-get($properties, #{$platform}-src)};
        }
    }
}
