{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "android >= 4",
                    "ios >= 10",
                ]
            },
        }],
    ],
    "plugins": ["syntax-dynamic-import"],
    "env": {
        "test": {
            "plugins": ["dynamic-import-node"]
        }
    }
}