{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "android >= 5",
                    "ios >= 11",
                ]
            },
            "useBuiltIns": "usage"
        }],
    ],
    "plugins": ["syntax-dynamic-import"],
    "env": {
        "test": {
            "plugins": ["dynamic-import-node"]
        }
    }
}