{
    "extends": "airbnb-base/legacy",
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 4],
        "no-undef": "off",
        "camelcase": "off",
        "func-names": "off",
        "space-before-function-paren": "off",
        "operator-linebreak": "off",
        "no-plusplus": "off"
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    }
  }