.DS_Store
*.scssc
.sass-cache
_working
Gemfile.lock
node_modules
npm-debug.log
*.apk
last_timeline.json
Performance/sessions/*.csv
Performance/timelines/*.json
build.txt
test/visual/shots
test/visual/shots_history
bower_components
DocumentationBuild/
ModuleCache/
Logs/
info.plist
guardian-debug.ipa
report.xml
results
style.css.map
*.map
./Build
test/output
.bundle/
vendor
*.log

# Built files
ArticleTemplates/assets/css
ArticleTemplates/assets/build/


# Garnett fonts are added in app
ArticleTemplates/assets/garnett-fonts
