.DS_Store
*.scssc
.sass-cache
_working
Gemfile.lock
node_modules
npm-debug.log
config.js
*.apk
last_timeline.json
Performance/sessions/*.csv
Performance/timelines/*.json
build.txt
test/visual/shots
test/visual/shots_history
bower_components
ArticleTemplates/assets/build
ArticleTemplates/assets/css
Documentation
Build/
ModuleCache/
Logs/
info.plist
guardian-debug.ipa
report.xml
results
style.css.map
test/unit/test.css
test/unit/test.css.map