# Ignore everything
*

# Apart from...
!ArticleTemplates/*.html
!ArticleTemplates/assets/build/**/*.js
!ArticleTemplates/assets/css/*.css
!ArticleTemplates/assets/fonts/*
!ArticleTemplates/assets/img/*

