/*doc
---
title: Call-to-action
name: aside-witness
category: GuardianWitness
---
Display a call-to-action asking for contributions to a Guardian Witness assignment.

```html_example
<aside class="aside aside-witness js--positioned">
    <div class="aside-witness__action">
        <a class="touchpoint touchpoint--primary" href="x-gu://witness/52eb8ebee4b06a13a3531a7a">
            <span class="touchpoint__button" data-icon="&#xe050;"></span>
            <span class="touchpoint__label">Contribute to this story with GuardianWitness</span>
        </a>
    </div>
    <div class="aside-witness__sponsor">
        <img src="/ArticleTemplates/assets/img/witness.png" width="110" height="35" alt="Powered by EE"/>
    </div>
</aside>

<p>You could be in with the chance to win a money-can't-buy opportunity to mingle with the stars simply by uploading a picture or video of you recreating a scene from one of this year's Bafta-nominated movies. One lucky person who, in the eyes of our judges, uploads the best entry will win a pair of tickets to the Bafta awards ceremony at London's Royal Opera House on Sunday 16 February.</p>
```
*/

.aside-witness {
    overflow: auto;

    .aside-witness__action {
        display: inline-block;
        float: left;
        width: 66%;

        .touchpoint {
            .touchpoint__button {
                background-color: color(witness-bg);
                color: color(tone-news-accent);
            }
    
            .touchpoint__label {
                color: color(witness-bg);
                margin: 0 0 0 base-px(.5);
                padding: 0;
                max-width: 180px;
            }
    
            &:active {
                .touchpoint__button {
                    background-color: color(tone-news-accent);
                    color: color(witness-bg);
                }
    
                .touchpoint__label {
                    color: color(tone-news-accent);
                }
            }
        }
    }

    .aside-witness__sponsor {
        float: right;
        display: inline-block;
        margin-top: base-px(.5);
        
        @include mq($to: col1) {
            width: 33%;
        }

        .aside-witness__sponsor__graphic {
            max-width: 110px;
            max-height: 35px;
        }
    }
}

@include mq($to: col1) {
    .aside-witness__action {
        display: table-cell;

        .touchpoint {
            .touchpoint__button {
                margin-right: 6px;
                float: left;
            }

            .touchpoint__label {
                margin: 0;
                width: 66%;
                float: left;
            }
        }
    }
}
