/*doc
---
title: Embed
name: element-witness
category: GuardianWitness
---
Display a Guardian Witness submission.

```html_example
<figure class="element element-witness element-witness-image" itemtype="http://schema.org/ImageObject" data-media-id="https://witness.theguardian.com/assignment/516fe68ee4b0b434f8243dbf/294536">
    <div class="element-witness--main">
        <a href="https://witness.theguardian.com/assignment/516fe68ee4b0b434f8243dbf/294536" itemprop="url">
            <img src="https://n0tice-static.s3.amazonaws.com/images/reports/microblogs/mediumoriginalaspectdouble/d8c87361658f6be886c652597695db0f.jpg" alt="Craggy Island" itemprop="contentURL">
        </a>
        <figcaption>
            <h3 class="element-witness--title" itemprop="name"><a href="https://witness.theguardian.com/assignment/516fe68ee4b0b434f8243dbf/294536" itemprop="url">Craggy Island</a></h3>
            <div itemprop="description">
                <p>Father Teds house. Not on an Island, but in the Burren in Co. Clare.</p>
                <p>The Burren is 100 sq miles of rocky limestone 'karst' landscape famous for its unusual flora and fauna.</p>
            </div>
        </figcaption>
    </div>
    <footer class="element-witness--footer">
        <p class="element-witness--source">Sent via <a class="element-witness--brand" href="https://witness.theguardian.com/" itemprop="provider">GuardianWitness</a></p>
        <div class="element-witness--metadata">
            <p class="element-witness--author" itemprop="author" itemtype="http://schema.org/Person">By <a class="element-witness--author-name" href="https://witness.theguardian.com/user/peddyr" itemprop="name">peddyr</a></p>
            <p class="element-witness--date"><time itemprop="dateCreated" datetime="2013-04-25T21:29:23Z">25 April 2013, 22:29</time></p>
        </div>
    </footer>
</figure>
```
*/

.element-witness {
    font-family: $agate-sans;
    @include meta();

    img {
        max-width: 100%;
    }

    p {
        color: color(shade-2);
        margin: 0;
    }
}

.element-witness--title {
    font-weight: bold;
}

.element-witness--footer {
    color: color(shade-3);
    padding: base-px(.5, 0, 1, 0);
}

.element-witness--author {
    display: inline;
}

.element-witness--date {
    display: inline;

    &::before {
        content: '\00B7   ';
    }
}
