.text-column {
    width: 100%;
    padding: 0 $gs-unit;
    @include mq(col2) {
        padding: 0;
        margin: 0 2*$gs-unit 0;
        max-width: 620px;
    }
    @include mq(col3) {
        margin-left: 10*$gs-unit;
    }
}
