// /*doc
// ---
// title: Alerts
// name: alerts
// category: Modules
// ---
// Display an alerts toggle.
//
// ```html_example
// <a class="alerts " href="x-gu://follow/tag-contributor///profile/nicholaswatt" data-follow-alert-id="tag-contributor///profile/nicholaswatt">
//     <span class="alerts__state--unfollow">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Follow Nicholas Watt</span>
//     </span>
//     <span class="alerts__state--follow">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Following Nicholas Watt</span>
//     </span>
// </a>
//
// <a class="alerts following" href="x-gu://follow/tag-contributor///profile/nicholaswatt" data-follow-alert-id="tag-contributor///profile/nicholaswatt">
//     <span class="alerts__state--unfollow">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Follow Nicholas Watt</span>
//     </span>
//     <span class="alerts__state--follow">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Following Nicholas Watt</span>
//     </span>
// </a>
// ```
// */

.alerts {
    @include meta(.875);
    font-family: $agate-sans;
    white-space: nowrap;
    margin: base-px(0);
    display: inline-block;
    border-radius: 30px;
    max-width: 100%;
    color: color(brightness-7);
    transition: background-color .3s;
    transform: translateX(-1px);

    &:active,
    &.following {
        background-color: color(brightness-20);
        color: color(brightness-100);
    }

    span[data-icon] {
        display: inline-block;
        vertical-align: middle;
        border-radius: 100%;

        width: 24px;
        height: 24px;
        line-height: 20px;
        background-color: currentColor;
        text-align: center;
        font-size: 15px;
        &:before {
            color: color(brightness-100);
        }
    }

    &__label {
        font-weight: normal;
    }

    &__state--follow {
        display: none;
    }

    &.following {
        &:active {
            color: color(brightness-7);
            background-color: color(brightness-100);
            border: 1px solid rgba(color(brightness-46), .5);
        }

        .alerts__state--follow {
            display: block;
        }

        .alerts__state--unfollow {
            display: none;
        }
    }
}
