// /*doc
// ---
// title: Cutout
// name: cutout
// category: Modules
// ---
// Display a large image of contributor in background of container.
//
// ```html_example
// <div class="cutout">
//     <div class="cutout__container" style="background-image: url(http://png-resizer.mobile-apps.guardianapis.com/static/sys-images/Guardian/Pix/pictures/2014/3/13/1394733748508/SeumasMilne.png?width=600);" id="cutout">
//         <!--Content-->
//     </div>
// </div>
// ```
// */

.cutout {
    .cutout__container {
        @include mq($from: col4) {
            min-height: 220px;
        }

        .headline {
            position: relative;
            z-index: 30;

            @include mq($to: col2) {
                padding-bottom: base-px(6);
            }

            @include mq($from: col4) {
                margin: 0;
            }
        }
    }

    .headline__byline {
        @include mq($to: col2) {
            margin-right: 110px;
        }
    }

    .cutout__image {
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto 160px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: -40px;
        top: 0;
        z-index: 1;

        @include mq($from: col2) {
            background-size: auto 200px;
        }

        @include mq($from: col4) {
            right: 40px;
        }
    }
}
