// Primary button
.touchpoint--primary {
    .touchpoint__button {
        color: color(shade-7);
        background-color: #333;
    }

    &:active .touchpoint__button {
        background-color: #333;
    }
}