.article--liveblog {
    .tags {
        background-color: color(brightness-96);

        .inline-list__item {
            a {
                @include tag-button(color(brightness-7), color(brightness-93), 'lighter');
            }

            &.more-button a {
                @include tag-more-button(color(brightness-7), color(brightness-93), 'lighter');
            }
        }
    }

    background-color: color(brightness-96);
    border-bottom: 0;

    .article__header {
        background-color: color(brightness-100);

        .article-kicker__series {
            min-height: base-px(.25);
        }

        .section {
            position: relative;
        }

        .section__live {
            color: color(brightness-100);
            padding: base-px(.16, 0, .16, 0);
            display: none;
            position: absolute;
            left: base-px(1);
            top: 3px;

            @include mq($from: col4) {
                top: 5px;
            }
        }

        .meta {
            position: relative;
        }

        .comment-count__label {
            display: none;
        }
    }

    .article__body {
        background-color: color(brightness-96);

        @include mq($from: col4) {
            margin: 0 auto;
            max-width: 1200px;
        }
    }

    .main-media {
        @include mq($from: col4) {
            border-bottom: 2px solid color(tone-sandy-light);
            padding: base-px(1, 0);

            .element {
                position: relative;
            }

            .main-media__caption__text {
                width: 100%;
            }

            figcaption {
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        figcaption {
            color: color(brightness-100);
            border-bottom: 0;
        }
    }

    .tags {
        border-top: 0;

        @include mq(col2, col3) {
            padding-left: cols($base-3, 4, 1);
        }

        @include mq($from: col3) {
            padding-left: cols($base-4, 5, 1);
        }

        @include mq($from: col4) {
            padding-left: 0;
        }
    }

    .article__body--liveblog__pinned {
        .element {
            margin: base-px(1, 0);
        }
    }

    .alerts {
        margin: base-px(1, 1, 0, .7);
    }

    .advert-slot--mpu {
        width: 100%;
        margin-left: base-px(-1);

        .advert-slot__wrapper {
            margin: 0;
            width: 100%;

            @include mq($from: col2) {
                margin-top: -34px;
                margin-bottom: 12px;
            }
        }
    }
}

.garnett--pillar-opinion:not(.garnett--type-media) .article--liveblog {
    background-color: color(brightness-96);

    .article__body, .tags {
        background-color: color(brightness-96);
    }
}

.android {
    .article--liveblog {
        .article__body--liveblog__pinned {
            figcaption {
                padding: base-px(.5, 1, 2, 1);
            }
        }
    }
}
