.article__header {
	ul > li {
		@include bullet();
	}

	.section {
		@include padding(0.5, 1);
	}

	.headline {
		@include padding(0, 1, 2.5, 1);
	}

	.standfirst {
		@include padding(0.5, 1, 1.5, 1);
	}

	.byline {
		@include padding(0.6667, 1, 0, 1);
	}

	.avatar--author {
		@include margin(0, 0.75, 1, 0);
		float: left;
	}

	.article__meta {
		margin: -1px 0;
		border-top: 1px dotted $shadow;
		border-bottom: 1px dotted $shadow;
		width: 100%;
		display: table;
	}

	.article__pubdate {
		@include padding(0, 1, 2, 1);
	}

	.article__comments {
		font-weight: bold;
		@include padding(0.5, 0.5, 1, 1);
		border-left: 1px dotted $shadow;
		display: table-cell;
	}

	.article__image-caption__icon {
		display: none;
	}

	@include mq($to: col1) {
		.article__comments {
			width: cols($base-1, 1);
		}
		.article__comments__label {
			display: none;
		}
	}

	@include mq(col1, col2) {
		.article__comments {
			width: cols($base-2, 2);
		}
		.article__comments__label {
			display: none;
		}
	}

	@include mq(col2, col3) {
		.headline,
		.standfirst {
			padding-right: cols($base-3, 3, 1);
		}
		.article__comments {
			width: cols($base-3, 3);
		}
	}

	@include mq($from: col3) {
		.headline,
		.standfirst {
			padding-right: cols($base-4, 4, 1);
		}
		.article__comments {
			width: cols($base-4, 4);
		}
	}

	&.cutout {
		.cutout__container {
			background-repeat: no-repeat;
			background-position: right bottom; // Android <4.3 doesn't understand four value syntax
			background-position: right -15% bottom 0;
			overflow: auto;
			@include mq($to: col1) {
				min-height: 245px;
				background-size: $base-1 * 12 auto;
				padding-right: cols($base-1, 1);
			}
			@include mq(col1, col2) {
				min-height: 280px;
				background-size: $base-2 * 20 auto;
				padding-right: cols($base-2, 2);
			}
			@include mq(col2, col3) {
				min-height: 400px;
				background-size: $base-3 * 34 auto;
			}
			@include mq($from: col3) {
				min-height: 320px;
				background-size: contain;
			}
		}
	}
}