.article--liveblog {
    background-color: color(shade-5);
    border-bottom: 0;

    .article__header {
        background-color: #fff;

        .section {
            position: relative;
        }

        .section__live {
            color: #fff;
            padding: base-px(.16, 0, .16, 0);
            display: none; // Default
            position: absolute;
            left: base-px(1);
            top: 3px;

            @include mq($from: col4) {
                top: 5px;
            }
        }

        .meta {
            position: relative;
        }

        .comment-count__label {
            display: none;
        }
    }

    .article__body {
        background-color: color(shade-5);

        @include mq($from: col4) {
            margin: 0 auto;
            max-width: 1200px;
        }
    }

    .main-media {
        @include mq($from: col4) {
            border-bottom: 2px solid color(shade-4);
            padding: base-px(1, 0);

            .element {
                position: relative;
            }
        }
    }

    .tags {
        border-top: 0;

        @include mq(col2, col3) {
            padding-left: cols($base-3, 4, 1);
        }

        @include mq($from: col3) {
            padding-left: cols($base-4, 5, 1);
        }

        @include mq($from: col4) {
            padding-left: 0;
        }
    }

    .article__body--liveblog__pinned {
        .element {
            margin: base-px(1, 0);
        }
    }

     .alerts {
        margin: base-px(1, 1, 0, 0.7);
    }
}

.android {
    .article--liveblog {
        .article__body--liveblog__pinned {
            figcaption {
                padding: base-px(.5, 1, 2, 1);
            }
        }
    }
}
