.article--audio {
    .article__header {
        position: relative;

        .cutout__background {
            z-index: 1;
            position: absolute;
            top: base-px(2);
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .cutout__container {
            position: relative;
            z-index: 1; // this is so it sits over the canvas background element;
            padding-right: 0;
        }

        .headline {
            @include mq($from: col2) {
                padding-right: cols($base-3, 3, 1);
            }
        }

        .sponsored {
            padding: base-px(.5, .5, .5, 1);
        }
    }

    .content__labels:first-child::before {
        content: '\e047';
        font-family: $icon;
        padding-right: base-px(.5);
    }

    .standfirst {
        padding: base-px(2, 1, .25, 1);
    }
}
