.article--quiz {
    @include mq($from: col4) {
        margin: {
            left: auto;
            right: auto;
        }
        max-width: 1200px;
    }

    .main-media {
        padding: 0;

        figcaption {
            display: none;
        }
    }

    .article__header {
        height: 100vh;
        position: relative;
        
        @include mq($from: col4) {
            margin: 0 auto;
            max-width: 1200px;

            .tone--news & {
                background: color(shade-7);
            }
        }

        .android & {
            height: 600px;
        }

        .standfirst__inner {
            color: color(shade-6);
            font-size: 16px;

            @include mq($from: col4) {
                font-size: 18px;
            }
        }

        .quiz-meta .meta__pubdate,
        .standfirst__inner {
            color: color(shade-6);
            font-size: 14px;
            line-height: 1.2;

            &::before {
                border-top: 1px solid color(shade-3);
                content: "";
                display: block;
                margin-bottom: 3px;
                width: 50px;
            }
        }

        .quiz-meta {
            bottom: 0;
            border: 0;
            left: 0;
            position: absolute;

            .meta__pubdate {
                padding: 12px;

                @include mq($from: col4) {
                    padding-left: 240px;
                }
            }
        }
    }

    // Quiz Navigation
    .quiz__navigation {
        background: color(tone-news);
        border-radius: 50%;
        bottom: 12px;
        color: color(shade-7);
        font: 600 16px/1.2 $egyptian-display;
        height: 100px;
        margin: 0;
        padding: 16px;
        position: fixed;
        right: 12px;
        transition: all .5s ease-in-out;
        width: 100px;
        z-index: 99;

        @include mq($from: col4) {
            left: 50%;
            margin-left: 580px;
            transform: translateX(-100%);
        }

        .quiz__start {
            opacity: 1;
            transition: opacity .5s ease-in-out;
            width: 68px;
        }

        &::after {
            bottom: 18px;
            content: "\00e066";
            font: 100 22px $icon;
            position: absolute;
            right: 18px;
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
            transition: all .5s ease-in-out;
        }

        &.down {
            height: 60px;
            width: 60px;

            .quiz__start {
                opacity: 0;
            }

            &::after {
                bottom: 12px;
                font-size: 26px;
                right: 17px;
            }
        }
    }
}
