.display-hint--photoEssay .prose {

    .figure-wide:not(.element--halfWidth) {
        margin: base-px(0.5, 0);

        @include mq($to: col2) {
            margin: base-px(0.5, -1);
        }
    }

    figure.element-image + ul {
        margin: base-px(0.5, 0, 1, 0);
    }

    figure.element-image + ul li {
        @extend %caption-icon;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: color(brightness-46);
        font-family: $guardian-sans;
        border-bottom: 1px dotted rgba(color(brightness-60), .4);
        top: 0px;
        width: 100%;
        padding-bottom: 3px;

        &::before {
            display: none;
        }
    }

    .element--halfWidth {
        width: calc(50% - 3px);
        float: left;
        margin-top: 0;
        margin-bottom: 6px;

        & + p,
        & + h2,
        & + blockquote {
            clear: both;
        }
    }

    .element--halfWidth.element--halfWidth--odd {
        margin-left: 6px;

        & + .element--halfWidth {
            clear: left;
        }
    }

    figcaption {
        display: none;
    }
}
