.article__header {
	ul > li {
		@include bullet();
	}

	.section {
		@include padding(0.5, 1);
	}

	.headline {
		@include padding(0, 1, 2.5, 1);
	}

	.standfirst {
		@include padding(0.5, 1, 1.5, 1);
	}

	&.cutout {
		.cutout__container {
			background-repeat: no-repeat;
			background-position: right bottom; // Android <4.3 doesn't understand four value syntax
			background-position: right -15% bottom 0;
			overflow: auto;
			@include mq($to: col1) {
				min-height: 245px;
				background-size: $base-1 * 12 auto;
				padding-right: cols($base-1, 1);
			}
			@include mq(col1, col2) {
				min-height: 280px;
				background-size: $base-2 * 20 auto;
				padding-right: cols($base-2, 2);
			}
			@include mq(col2, col3) {
				min-height: 400px;
				background-size: $base-3 * 34 auto;
			}
			@include mq($from: col3) {
				min-height: 320px;
				background-size: contain;
			}
		}
	}
}