.article {
	background-color: $white;
	border-bottom: 2px solid $shadow;
	border-top: 4px solid $news-accent;
	overflow: hidden;
	@include mq($to: col1) {
		border-top: none;
		margin-bottom: $base-1 * 2;
	}
	@include mq(col1, col2) {
		margin-bottom: $base-2 * 3;
	}
	@include mq(col2, col3) {
		margin-bottom: $base-3 * 3;
	}
	@include mq($from: col3) {
		margin-bottom: $base-4 * 3;
	}
}

.android {
	.article {
		border-top: none;
	}
}