.article {
    overflow: hidden;
    margin-bottom: base-px(4);
    border-top-width: 0;

    @include mq($from: col4) {
        background-color: color(shade-5);
    }
}

.article__header {
    ul > li {
        @include faux-bullet($right-space: 6px);
    }

    .section {
        margin-bottom: 0;
    }

    .headline {
        padding: base-px(.5, 1, 2.5, 1);

        @include mq($from: col4) {
            margin: 0 auto;
            padding: {
                left: 240px;
                right: 320px;
            }
            width: 1200px;
        }
    }

    .standfirst {
        &__inner {
            padding: base-px(.5, 1, 1.5, 1);
        }

        @include mq($from: col4) {
            margin: 0;
            padding: 0;
            width: 100%;

            &__inner {
                margin: 0 auto;
                padding: {
                    left: 240px;
                    right: 340px;
                }
                width: 1200px;
            }
        }
    }

    @include mq($from: col4) {
        .meta,
        .main-media {
            border-bottom: 1px dotted rgba(color(shade-3), .4);
        }
    }

    .meta {
        @include mq($from: col4) {
            margin: 0 auto;
            max-width: 1200px;
        }
    }
}

.article__body {
    font-family: $egyptian-text;
    position: relative;
    @extend %clearfix;

    // First figure/element in body should sit flush with .article__header
    & > .prose {
        > .figure-wide,
        > .element:not(.figure--thumbnail) {
            &:first-child {
                margin-top: base-px(-1);
            }
        }
    }

    .video-URL {
        clear: both; // floating asides can cause video to display incorrectly
    }

    // Football player cards should appear floated right above mobile breakpoint
    .player-card {
        @include mq($from: col1) {
            margin: base-px(1, 0, 1, 1);
            width: 50%;
            float: right;
        }
    }

    // Positon of adverts within article body
    .advert-slot--mpu {
        @include mq($from: 560px) {
            float: right;
            margin-left: base-px(1.5);
            margin-bottom: base-px(1);
        }

        @include mq($from: col2) {
            margin-right: 0;
        }
    }
}
