.article--liveblog {
    background-color: color(shade-5);
    border-bottom: 0;

    .article__header {
        border-bottom: 2px solid color(shade-4);
        background-color: #fff;

        .section {
            position: relative;
        }

        .section__live {
            color: #fff;
            padding: base-px(.5, 1, .5, 1);
            display: none; // Default
            position: absolute;
            left: 0;
            top: 0;
        }

        .alerts {
            padding: base-px(.5, 1);
        }

        & > .alerts {
            @include mq($from: col2) {
                display: none;
            }
        }

        .alerts__label {
            @extend %screen-visable;
        }

        .meta {
            position: relative;

            .alerts {
                position: absolute;
                left: 0;
                top: 0;

                @include mq($to: col2) {
                    display: none;
                }
            }
        }

        .meta__comments__label {
            display: none;
        }
    }

    .tags {
        border-top: 0;

        @include mq(col2, col3) {
            padding-left: cols($base-3, 4, 1);
        }

        @include mq($from: col3) {
            padding-left: cols($base-4, 5, 1);
        }
    }

    .article__body--liveblog__pinned {
        .element {
            margin: base-px(1, 0);
        }
    }

    .aside-witness {
        @extend .block;
        padding-left: base-px(.66667);
        width: auto;
        table-layout: fixed;

        @include mq(col2, col3) {
            padding-left: cols($base-3, 4, 1);
        }

        @include mq($from: col3) {
            padding-left: cols($base-4, 5, 1);
        }
    }

    .aside-witness__action {
        display: table-cell;
        max-width: 264px;

        .touchpoint {
            .touchpoint__button {
                margin-right: 6px;
                float: left;
            }

            .touchpoint__label {
                width: 66%;
                float: left;
                margin-left: base-px(.5);

                @include mq($from: col1) {
                    margin-top: 0;
                }
            }
        }
    }

    .aside-witness__sponsor {
        width: 30%;
        display: table-cell;
        vertical-align: middle;

        @include mq($from: col1) {
            text-align: right;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.android {
    .article--liveblog {
        .aside-witness {
            margin: base-px(1);
        }

        .article__body--liveblog__pinned {
            figcaption {
                padding: base-px(.5, 1, 2, 1);
            }
        }
    }
}
