.article--comment {
    .article__header {
        .cutout__container {
            padding-bottom: base-px(4); // To avoid clashing with follow contributor link
            position: relative;
            clear: left;
            overflow: hidden;
            width: 100%;

            @include mq($from: col4) {
                margin: 0 auto;
                max-width: 1200px;
            }
        }

        .headline__byline {
            display: block;
            font-style: italic;
            font-weight: 100;
            .byline__author {
                display: inline;
            }
        }
        .byline__author {
            display: inline-block;
        }

        .standfirst {
            font-weight: 200;
            color: color(tone-comment-text);

            @include mq($to: col2) {
                font-size: 1.25em;
                line-height: 1.25em;
            }
        }
    }
}
