$minute_bg: #005689;
$minute_main: color(shade-7);
$minute_accent: #ea291f;

body.the-minute.tone--usMinute.advert-config--tablet {
    .article--liveblog {
        @include mq($from: col4) {
            background: darken($minute_bg, 10%);
        }

        .article__body--liveblog {
            /* Minute Header */
            .the-minute__header {
                // This controls the red bar above the second child
                > :first-child::before {
                    background-color: $minute_accent;
                }
                
                .the-minute__headline,
                .the-minute__standfirst {
                    color: $minute_main;
                }

                .the-minute__standfirst {
                    .the-minute__date {
                        color: $minute_accent;
                    }
                }

                .the-minute__main-media {
                    background: $minute_bg;
                }
            }

            /* Minute Blocks */
            .block {
                background: $minute_bg;

                /* Common cover image & video block styles */
                &.is-coverimage,
                &.is-video {
                    .block__body {
                        .from-content-api {
                            h2,
                            p {
                                color: $minute_main;
                            }

                            p {
                                a {
                                    border-bottom: 1px solid $minute_main;
                                    color: $minute_main;
                                }
                            }
                        }                     
                    }
                }

                /* Cover image block styles */
                &.is-coverimage {
                    .block__body {
                        .from-content-api {
                            figure {
                                > :first-child::before {
                                    background-color: $minute_accent;
                                }
                                
                            }
                        }
                    }

                    &.has-quote {
                        .block__body {
                            .quoted {
                                &::before {
                                    color: $minute_accent;
                                }                                
                            }
                        }
                    }
                }

                &.is-video {
                    .block__body {
                        .from-content-api {
                            figure {
                                &::before {
                                    background-color: $minute_accent;
                                }

                                .video-URL {
                                    background: $minute_bg;
                                }

                                figcaption {
                                    color: rgba(255, 255, 255, .9);
                                }                      
                            }
                        }
                    }
                }

                /* Thumbnail image block styles */
                &.is-thumbnail {
                    .block__body {
                        .from-content-api {
                            h2,
                            p {
                                color: $minute_main;
                            }

                            p {
                                a {
                                    border-bottom: 1px solid $minute_main;
                                    color: $minute_main;
                                }
                            }

                            figure {
                                background: $minute_bg;

                                &::before {
                                    background-color: $minute_accent;
                                }
                            }
                        }
                    }

                    &.has-quote {
                        .block__body {
                            .quoted {
                                &::before {
                                    color: $minute_accent;
                                }

                                p {
                                    color: $minute_main;
                                }
                            }
                        }
                    }
                }

                /* Text only block styles */
                &.is-textonly {
                    .block__body {
                        .from-content-api {
                            &::before {
                                background-color: $minute_accent;
                            }

                            h2,
                            p {
                                color: $minute_main;
                            }

                            p {
                                a {
                                    border-bottom: 1px solid $minute_main;
                                    color: $minute_main;
                                }
                            }
                        }
                    }

                    &.has-quote {
                        .block__body {
                            .from-content-api {
                                .quoted {
                                    &::before {
                                        color: $minute_accent;
                                    }

                                    p {
                                        color: $minute_main;
                                    }
                                }
                            }  
                        }
                    }

                    &.has-tweet {
                        .block__body {
                            .from-content-api {
                                .twitter-tweet {
                                    .twitter-wrapper::before {
                                        color: $minute_accent;
                                    }

                                    .twitter-wrapper span,
                                    .twitter-wrapper a {
                                        color: $minute_main;
                                    }
                                }
                            }
                        }
                    }                    
                }
            }
        }
    }
}
