.article--liveblog {
    background-color: color(shade-5);
    border-bottom: 0;

    .article__header {
        border-bottom: 2px solid color(shade-4);
        background-color: #fff;

        .section {
            position: relative;
        }

        .section__live {
            color: #fff;
            /*padding: base-px(.5, 1, .5, 1);*/
            padding: 6px 0 6px 0;
            display: none; // Default
            position: absolute;
            left: 0;
            top: 0;
        }

        .alerts {
            margin: 0;
            padding: base-px(.5, 1);
        }

        & > .alerts {
            @include mq($from: col2) {
                display: none;
            }
        }

        .alerts__label {
            @extend %screen-visable;
        }

        .meta {
            position: relative;

            .alerts {
                position: absolute;
                left: 0;
                top: 0;

                @include mq($to: col2) {
                    display: none;
                }
            }
        }

        .meta__comments__label {
            display: none;
        }
    }

    .tags {
        border-top: 0;

        @include mq(col2, col3) {
            padding-left: cols($base-3, 4, 1);
        }

        @include mq($from: col3) {
            padding-left: cols($base-4, 5, 1);
        }
    }

    .article__body--liveblog__pinned {
        .element {
            margin: base-px(1, 0);
        }
    }

    .aside-witness {
        @extend .block;
        padding-left: base-px(.66667);
        width: auto;

        @include mq(col2, col3) {
            padding-left: cols($base-3, 4, 1);
        }

        @include mq($from: col3) {
            padding-left: cols($base-4, 5, 1);
        }

        .aside-witness__sponsor {
            max-width: 130px;
        }
    }

}

.android {
    .article--liveblog {
        .aside-witness {
            margin: base-px(1);
        }

        .article__body--liveblog__pinned {
            figcaption {
                padding: base-px(.5, 1, 2, 1);
            }
        }
    }
}
