@mixin halfWidth {
    width: 49%;
    float: left;
    margin: 0 0 2% 0;
}

.display-hint--photoEssay .prose {
    // Makes sure that elements which come after the block of images are no longer floating
    .element--halfWidth + p,
    .element--halfWidth + blockquote,
    .element--halfWidth + .element-pullquote:not(.element--halfWidth),
    .element--halfWidth + .element-image:not(.element--halfWidth) {
        clear: both;
        padding-top: $gs-baseline / 2;
    }

    figure.element-image.element--halfWidth,
    aside.element-pullquote.element--halfWidth {
        @include halfWidth;
    }

    figure.element-image.element--halfWidth {
        clear: none;
    }

    figure.element-image.element--halfWidth + figure.element-image.element--halfWidth {
        margin-left: 2%;
    }

    aside.element-pullquote.element--halfWidth {
        clear: both;
    }

    aside.element-pullquote {
        margin: 0 0 $gs-baseline * 2;
    }

    aside.element-pullquote:not(.element--halfWidth) {
        @include mq($from: col2) {
            padding-right: $gs-baseline / 2;
        }
    }

    figure.element-image.element--halfWidth + aside.element-pullquote {
        top: $gs-baseline / 2;
    }
}

.display-hint--photoEssay .prose,
.display-hint--articleImmersive .prose {
    figure.element-image figcaption {
        display: none;
    }

    figure.element-image + ul {
        clear: both;
        list-style: none;
        position: relative;
        top: -$gs-baseline;
    }

    figure.element-image.figure-wide:not(.element--halfWidth) + ul {
        margin-top: 0;
        margin-left: -$gs-baseline;
        margin-right: -$gs-baseline;
        margin-bottom: $gs-baseline;

        @include mq($from: col2) {
            width: 135%;
        }

        @include mq($from: col4) {
            clear: none;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

    figure.element-image + ul li {
        @extend %caption-icon;
        font-size: 1.4rem;
        color: color(shade-2);
        font-family: $agate-sans;
        border-bottom: 1px dotted rgba(color(shade-3), .4);
        padding: base-px(.5, 1, 2, 1);
        display: block;
        padding-left: 0;
        margin: 0;
    }

    figure.element-image:not(.element--halfWidth) + ul li {
        padding-left: $gs-baseline;
    }

    figure.element-image + ul li::before {
        font-family: $icon;
        content: '\e044';
        background: none;
        border: 0;
        margin-right: $gs-baseline / 2;
        height: auto;
        width: auto;
        position: relative;
        top: 2px;
    }

    figure.element-image.figure-wide.element--showcase {
        @include mq($from: col4) {
            float: none;

            .figure__inner {
                float: left;
                margin-bottom: 10px;
                margin-left: -240px;
                width: 860px;
            }
        }
    }

    figure.element-image.figure-wide.element--showcase + ul {
        @include mq($from: col4) {
            display: inline-block;
            float: left;
            margin-left: -240px;
            margin-top: -3px;
            padding: $gs-baseline;
            width: 220px;
            clear: both;
            li {
                padding-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: $gs-baseline;
            }
        }
    }

    figure.element-image.figure-wide.element--showcase + ul + figure.element--halfWidth {
        @include mq($from: col4) {
            clear: none;
        }
    }

    figure.element-image.figure-wide.element--showcase + ul + figure.element-image.figure-wide:not(.element--showcase):not(.element--immersive) {
        @include mq($from: col4) {
            float: left;
            clear: none;
        }
    }   
}
        
