.article__body {
	font-family: $egyptian-text;

	// First figure/element in body should sit flush with .article__header
	.figure-wide,
	.element {
		&:first-of-type {
			margin-top: 0;
		}
	}

	// Football player cards should appear floated right above mobile breakpoint
	.player-card {
		@include mq($from: col1) {
			@include margin (1, 0, 1, 1);
			width: 50%;
			float: right;
		}
	}

	// Positon of adverts within article body
	.advert-slot--mpu {
		@include mq($from: 560px) {
			float: right;
			margin-left: 20px;
			margin-bottom: 12px;
		}
		@include mq(col2, col3) {
			margin-right: -(cols($base-3, 4))+$base-3;
		}
		@include mq($from: col3) {
			margin-right: -(cols($base-4, 5));
		}
	}

	.advert-slot--mpu--tablet {
		@include mq($to: 559px) {
			margin: 12px auto 0 auto;
		}
	}

	// Position of asides within article body
	.aside {
		@include mq(col1, col2) {
			margin-right: -$base-2;
		}

		@include mq(col2, col3) {
			margin-right: -(cols($base-3, 4));
		}

		@include mq($from: col3) {
			margin-right: -(cols($base-4, 5)+$base-4*2);
		}
	}

	 // Hide witness call-out until correctly positioned by JavaScript
	.aside-witness {
		display: none;
		&.js--positioned {
			display: block;
		}
	}
}