.article--standard,
.article--comment,
.article--feature,
.article--audio {
    .article__body {
        padding: base-px(1, 1, 0, 1);

        @include mq(col2, col3) {
            padding-right: cols($base-3, 3);
        }

        @include mq($from: col3) {
            padding-right: cols($base-4, 4);
        }

        // Images, video and interactives within article body
        .figure-wide,
        .element-video,
        .element-placeholder,
        .element-interactive {
            margin-left: base-px(-1);
            margin-right: base-px(-1);
            width: auto;

            @include mq($from: col2) {
                width: 135%;
            }
        }

        .element-video {
            @include mq($from: col2) {
                padding-bottom: 75.375%; // Compensation for width being 135%
            }
        }
    }

     // Float asides right, adjust styling as appropriate
    .aside {
        float: right;
        clear: right;

        @include mq($from: col1) {
            margin: base-px(0, 0, 2, 2);
            padding: base-px(1, 1, 1, 0);
        }

        @include mq(col1, col2) {
            margin-right: base-px(1);
            width: cols($base-2, 3);
        }

        @include mq(col2, col3) {
            margin-right: -(cols($base-3, 4));
            width: cols($base-3, 4);
        }

        @include mq($from: col3) {
            margin-right: -(cols($base-4, 5)+$base-4*2);
            width: cols($base-4, 4);
        }
    }

     // Hide witness call-out until correctly positioned by JavaScript
    .aside-witness {
        display: none;

        &.js--positioned {
            display: block;
        }

        .aside-witness__action {
            .touchpoint__label {
                margin: base-px(.5) 0;
            }
        }

        .aside-witness__sponsor {
            float: left;
        }
    }

    // Ensure tags match width of .article__body
/*    .tags .inline-list {
        @include mq(col2, col3) {
            width: cols($base-3, 9);
        }

        @include mq($from: col3) {
            width: cols($base-4, 12);
        }
    }*/
}

.article--standard,
.article--comment,
body:not(.is-live) .article--liveblog {
    .article__header {
        @include mq(col2, col3) {
            .headline,
            .standfirst {
                padding-right: cols($base-3, 3, 1);
            }

            .article__comments {
                width: cols($base-3, 3);
            }
        }

        @include mq($from: col3) {
            .headline,
            .standfirst {
                padding-right: cols($base-4, 4, 1);
            }

            .article__comments {
                width: cols($base-4, 4);
            }
        }
    }
}

.article--comment,
.article--feature {
    .article__body > .prose > p {
        @include dropcap();
    }
}
