%cardDimensions {
	height: 100%;
	width: 100%;
}

body.the-minute {
	height: 100%;

	.article--liveblog {

		.article__body--liveblog {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}

		.article__header,
		.article__body--liveblog__pinned {
			display: none;
		}

		.block {
			margin: 0;
			padding: 0;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;	
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			&::before,
			&::after {
				z-index: 2;
				position: absolute;
				bottom: 12px;
				right: 12px;
				height: 42px;
				width: 42px;
			}

			&::before {
				content: "";
				border: 1px solid rgba(255, 255, 255, 0.5);
				border-radius: 50%;
			}

			&::after {
				content: '\e001';
		        font-family: $icon;
				padding: 7px 0 0 10px;
				color: #fff;
				box-sizing: border-box;
				font-size: 1.9rem;
			}

			@for $i from 2 through 20 {
				&:nth-child(#{$i}) {
				    -webkit-transform: translateY(100% * $i);
				}
			}

			.block__time {
				display: none;
			}

			.block__body {
				position: absolute;
				@extend %cardDimensions;		

				.from-content-api {
					@extend %cardDimensions;
					display: -webkit-flex;
					-webkit-flex-direction: column;
					justify-content: flex-end;

					&::before {
						content: "";
						height: 100%;
						z-index: 1;
						position: absolute;
						left: 0;
						width: 100%;
						background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
						margin-top: -25%;
					}

					h2 {
						font: 100 3.5rem/3.6rem $egyptian-display;
						z-index: 1;
						padding: 0px 8px 12px;
						color: #fff;
						margin: 12px 0;
					}

					p {
						position: relative;
						z-index: 1;
						width: 80%;
						color: #fff;
						padding: 0 8px 16px 8px;
						font: 600 2rem $egyptian-display;
					}

					figure {
						margin: 0;

						.figure__inner {
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;

							img {
								@extend %cardDimensions;
								object-fit: cover;
							}
						}

						figcaption {
							position: relative;
							border: 0;
							padding: 0 80px 8px 8px;
							font-size: 1.6rem;
							color: rgba(255,255,255, 0.75);
							width: 100%;
							z-index: 1;

							&::after {
								content: "";
								border-right: 2px dotted #fff;
								z-index: 1;
								position: absolute;
								bottom: 0;
								right: 70px;
								top: 6px;
							}
						}
					}
				}

				.block__updated {
					display: none;
				}
			}
		}

		.block--live-key-event {
			border: none;
		}

	}

	.loading--liveblog,
	.more--live-blogs,
	.tags {
		display: none;
	}

	.related-content,
	.comments {
		display: none;
	}

}

