.article__header {
	ul > li {
		@include bullet();
	}

	.section {
		@include padding(0.5, 1);
	}

	.headline {
		@include padding(0, 1, 2.5, 1);
	}

	.standfirst {
		@include padding(0.5, 1, 1.5, 1);
	}

	.alerts__label {
		display: none;
	}

	.avatar--author {
		@include margin(0, 0.75, 1, 0);
		float: left;
	}

	.article__meta {
		@include meta();
		width: 100%;
		display: table;
	}

	.article__meta__misc {
		@include padding(0.6667, 1, 2, 1);
	}

	.article__meta__pubdate {
		color: $meta;
		font-family: $agate-sans;
	}

	.article__meta__comments {
		font-family: $agate-sans;
		font-weight: bold;
		vertical-align: top;
		@include padding(0.5, 0.5, 1, 1);
		display: table-cell;
		@include mq($to: col1) {
			width: cols($base-1, 1);
		}
		@include mq(col1, col2) {
			width: cols($base-2, 2);
		}
		@include mq(col2, col3) {
			width: cols($base-3, 3);
		}
		@include mq($from: col3) {
			width: cols($base-4, 4);
		}
	}

	.article__meta__comments__label {
		@include mq($to: col2) {
			display: none;
		}
	}

	.article__image {
		position: relative;
	}

	.article__image-caption__icon {
		display: none;
	}

	&.cutout {
		.cutout__container {
			background-repeat: no-repeat;
			background-position: right bottom; // Android <4.3 doesn't understand four value syntax
			background-position: right -15% bottom 0;
			overflow: auto;
			@include mq($to: col1) {
				min-height: 245px;
				background-size: $base-1 * 12 auto;
				padding-right: cols($base-1, 1);
			}
			@include mq(col1, col2) {
				min-height: 280px;
				background-size: $base-2 * 20 auto;
				padding-right: cols($base-2, 2);
			}
			@include mq(col2, col3) {
				min-height: 400px;
				background-size: $base-3 * 34 auto;
			}
			@include mq($from: col3) {
				min-height: 320px;
				background-size: contain;
			}
		}
	}
}