body[data-content-type='liveblog'] {
    // Hide the special minute header unless minute on tablet   
    &.advert-config--mobile.the-minute,
    &:not(.the-minute) {
        .minute-logo-container,
        .minute-vertical-rule,
        .minute-logo-container,
        .the-minute__header { 
            display: none;
        }
    }
}

.article--liveblog {

    background-color: color(shade-5);
    border-bottom: 0;

    .article__header {
        background-color: color(shade-7);

        .section {
            position: relative;
        }

        .section__live {
            color: color(shade-7);
            padding: base-px(.16, 0, .16, 0);
            display: none; // Default
            position: absolute;
            left: base-px(1);
            top: 3px;

            @include mq($from: col4) {
                top: 5px;
            }
        }

        .meta {
            position: relative;
        }

        .comment-count__label {
            display: none;
        }
    }

    .article__body {
        background-color: color(shade-5);

        @include mq($from: col4) {
            margin: 0 auto;
            max-width: 1200px;
        }
    }

    .main-media {
        @include mq($from: col4) {
            border-bottom: 2px solid color(shade-4);
            padding: base-px(1, 0);

            .element {
                position: relative;
            }

            .main-media__caption__text {
                width: 575px;
            }

            figcaption {
                padding-left: 0px;
                padding-right: 0px;
            }            
        }

        figcaption {
            color: color(shade-7);
            border-bottom: 0;
        }
    }

    .tags {
        border-top: 0;

        @include mq(col2, col3) {
            padding-left: cols($base-3, 4, 1);
        }

        @include mq($from: col3) {
            padding-left: cols($base-4, 5, 1);
        }

        @include mq($from: col4) {
            padding-left: 0;
        }
    }

    .article__body--liveblog__pinned {
        .element {
            margin: base-px(1, 0);
        }
    }

    .alerts {
        margin: base-px(1, 1, 0, .7);
    }

    .advert-slot--mpu {
        width: 100%;
        margin-left: base-px(-1);
        padding-bottom: 15px;

        .advert-slot__wrapper {
            margin: 0;
            width: 100%;
        }
    }
}

.android {
    .article--liveblog {
        .article__body--liveblog__pinned {
            figcaption {
                padding: base-px(.5, 1, 2, 1);
            }
        }
    }
}
