body {
    .article__body {
        background-color: color(brightness-100);
    }

    &:not(.garnett--type-media) {
        .article__header {
            background-color: color(brightness-100);

            @include mq($from: col4) {
                background-color: color(brightness-93);

                .section,
                .article-kicker,
                .headline,
                .standfirst__inner,
                .meta {
                    background-color: color(brightness-100);
                }
            }
        }
    }

    .article__header {
        .section {
            margin-bottom: 0;
        }

        .headline {
            p.review-rating {
                @include rating;
                padding-top: 12px;
            }
        }

        .meta__misc {
            @include mq($from: col4) {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }

        .main-media {
            @include mq($from: col4) {
                padding-top: 0;

                &__caption__text {
                    width: 575px; // 620px width of main media - 45 for show/hide icon
                }
            }

            .video-URL + figcaption {
                display: none;
            }
        }


        .headline {
            p.review-rating {
                @include rating;
                padding-top: base-px(.7);
            }
        }
    }

    .witness {
        margin: 0;
        padding: base-px(1);

        @include mq($from: col4) {
            padding: {
                left: 240px;
                top: 8px;
            }
        }
    }

    .article__body + .extras > .witness {
        margin-left: -4px;
        padding-top: 0;
    }

    .extras {
        background: color(brightness-100);

        @include mq($from: col4) {
            max-width: 1200px;
            margin: 0 auto;
        }
    }


    &:not(.is_advertising, .garnett--type-media) .main-media {
        background: color(brightness-100);
    }

    &.is_advertising {
        .alerts,
        .alerts.following:active {
            color: color(brightness-7);
        }

        .alerts:active,
        .alerts.following {
            background-color: color(brightness-20);
            color: color(brightness-100);
        }
    }


    .tags {
        .inline-list__item {
            &.more-button a {
                @include tag-more-button(color(brightness-7), color(brightness-96));
            }
        }
    }
}
