.discussion {

    .android & {
        border-top-width: 0;
        padding: base-px(0, 1, 0, 1);
    }

    .container {
        margin: 0;
        border-top-width: 0;
    }

    .container__header {
        padding-bottom: 0;
    }
}

.discussion__header {
    background-color: transparent;

    @include mq($to: col1) {
        padding: 0 $base-1 / 1.5;
    }

    .section {
        padding: base-px(.5, 1, .5, 0);
        color: color(shade-1);
    }

    .headline {
        @include headline(.75);
        margin: base-px(0, 0, 4, 0);
    }
}
