.form {
    display: flex;
    flex-direction: column;
}

.form_input {
    margin: 10px 0;
}

.form_field {
    display: flex;
    flex-direction: column;

    input {
        align-self: justify;
    }
}