.form {
    display: flex;
    flex-direction: column;
}

.form_input {
    margin: 12px 0;
    
    &--multi {
        label {
            align-items: baseline;
            display: flex;
            padding: 5px 0;
    
            input {
                margin-right: 10px;
            }
    
            span {
                flex: 1;
            }
        }
    }
}


.form_field {
    display: flex;
    flex-direction: column;

    input {
        align-self: justify;
        padding: 3px 5px 4px;
    }

    input,
    select,
    textarea {
        border: 1px solid var(--c-garnett-neutral-8);
        font-family: $agate-sans;
    }
}

.form_field_label {
    font-weight: bold;
}

