.front {
	border-top: 4px solid $news-accent;
}
.front__header {
	height: 114px;
	@include mq($to: col1) {
		display: none;
	}
}
.front__header__title {
	font-family: $titlepiece;
	font-size: 1.6667em; // 30px
	line-height: 1.6;
}

.android {
	.front {
		border-top: none;
		@include padding(1,1,0,1);
		box-sizing: border-box;
	}
	.front__header {
		display: none;
	}
}