.support {
    font-family: $guardian-sans;
    @include meta();
    background-color: color(brightness-100);
    padding: base-px(1);

    .prose {
        h2 + p,
        h2 + ul,
        h3 + p {
            margin-top: 0;
        }

        h2 {
            margin-bottom: 0;

            & + h3 {
                margin: base-px(.75, 0, 0, 0);
            }
        }

        h3 {
            @include body();
        }
    }

    @media (prefers-color-scheme: dark) {
        $whiteTwo: #dcdcdc;
        $blackThree: #121212;
        background-color: $blackThree;

        .prose {
            p,
            h2,
            h3,
            ul {
                color: $whiteTwo;
            }
        }
    }
}

// Android dark mode styles
.body.dark-mode-on .support {
    $whiteTwo: #dcdcdc;
    $blackThree: #121212;
    background-color: $blackThree;

    .prose {
        p,
        h2,
        h3,
        ul {
            color: $whiteTwo;
        }
    }
}
