.icon {
	font-family: $icon;
	position: relative;
}

.icon-circle {
	border-radius: 999px;
	height: 44px;
	width: 44px;
	background-color: $news-pri;
	color: $white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: 24px;
	&.icon-circle-secondary {
		background-color: transparent !important;
		border: 1px solid $shadow;
		color: $standfirst;
	}
	&.icon-circle-small {
		height: 28px;
		width: 28px;
		font-size: 18px;
	}
}