<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Guardian Apps Article Templates: <%= title %></title>

    <!-- CSS & JS for article templates -->
    <link rel="stylesheet" href="../ArticleTemplates/assets/css/style.css"/>
    <script type="text/javascript" src="../ArticleTemplates/assets/js/shim.js"></script>

    <!-- CSS for documentation -->
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>

<body class="styleguide no-ready styleguide--<%= title.downcase %>">
    <input class="styleguide__navigation-checkbox" id="styleguide__navigation-checkbox" type="checkbox"/>

    <nav class="styleguide__navigation" role="navigation" id="sidebar">
        <ul class="nav">
            <li class="nav__item"><a href="../">Home</a></li>
        <% @categories.each do |category, file_name| %>
            <li class="nav__item"><a href="<%= file_name %>"><%= category %></a></li>
        <% end %>
        </ul>
    </nav>

    <main class="styleguide__main selectable" role="main">
        <article class="styleguide__article">
            <div class="styleguide__article__header">
                <h1 class="headline"><%= title %></h1>
            </div>

            <div class="tags">
                <ul class="inline-list"><!--
                <% @blocks.each do |b| %>
                 --><li class="inline-list__item"><a href="#<%= b[:name] %>"><%= b[:title] %></a></li><!--
                <% end %>
                --></ul>
            </div>

            <div class="styleguide__article__body">
                
