.garnett--pillar-lifestyle {
    @include pillar-colour(
        color(lifestyle-kicker),
        color(lifestyle-feature-headline),
        color(lifestyle-soft),
        color(lifestyle-inverted),
        color(lifestyle-liveblog-background)
    );

    @include pillar-colour-dark(
        color(lifestyle-kicker),
        color(lifestyle-inverted),
        color(lifestyle-dark-1),
        color(lifestyle-dark-2),
        color(lifestyle-dark-3)
    );
}
