.front {
    border-top: 4px solid color(tone-news-accent);

    .android & {
        border-top-width: 0;
        padding: base-px(1, 1, 0, 1);
    }
}

.front__header {
    height: 114px;

    @include mq($to: col1) {
        display: none;
    }

    .android & {
        display: none;
    }
}

.front__header__title {
    font-family: $titlepiece;
    font-size: 1.6667em; // 30px
    line-height: 1.6;
}
