// Helpers
@import 'helpers/variables';
@import 'helpers/functions';
@import 'garnett-helpers/mixins';
@import 'helpers/vendor/sass-mq';
@import 'helpers/vendor/sass-flex';

// Base
@import 'base/colour';
@import 'base/global';
@import 'garnett-base/reset';
@import 'base/iconography';

// Modules
@import 'garnett-modules/advert-slot';
@import 'garnett-modules/alerts';
@import 'garnett-modules/avatar';
@import 'modules/bullet';
@import 'garnett-modules/cutout';
@import 'garnett-modules/figure';
@import 'garnett-modules/key-events';
@import 'modules/loading';
@import 'modules/screen-readable';
@import 'modules/selectable';
@import 'modules/tabs';
@import 'modules/touchpoint';
@import 'modules/blocks/block';
@import 'garnett-modules/content/byline';
@import 'garnett-modules/content/headline';
@import 'garnett-modules/content/main-media';
@import 'garnett-modules/content/meta';
@import 'modules/content/review-rating';
@import 'garnett-modules/content/article-kicker';
@import 'garnett-modules/content/standfirst';
@import 'modules/cricket/match-summary';
@import 'modules/external/element';
@import 'modules/football/match-summary';
@import 'modules/media/audio-player';
@import 'modules/media/gallery';
@import 'modules/witness/contribute';
@import 'garnett-modules/hide-garnett';

// Layout
@import 'garnett-layout/article';
@import 'garnett-layout/article--audio';
@import 'garnett-layout/article--comment';
@import 'layout/article--liveblog';
@import 'layout/article--minute';
@import 'layout/article--us-minute';
@import 'garnett-layout/article--shared';
@import 'garnett-layout/article--sponsorship';
@import 'layout/article--visual';
@import 'layout/article--photo-essay';
@import 'layout/cricket';
@import 'layout/front';
@import 'garnett-layout/base-tone';

// Content types
@import 'garnett-type/analysis';
@import 'garnett-type/article';
@import 'garnett-type/comment';
@import 'garnett-type/feature';
@import 'garnett-type/immersive';
@import 'garnett-type/live';
@import 'garnett-type/media-all';
@import 'garnett-type/media-audio';
@import 'garnett-type/media-gallery';
@import 'garnett-type/media-video';


// Pillars
@import 'garnett-pillar/colour';
@import 'garnett-pillar/news';
@import 'garnett-pillar/opinion';
@import 'garnett-pillar/sport';
@import 'garnett-pillar/arts';
@import 'garnett-pillar/lifestyle';



// Tones
// @import 'tones/tone--analysis';
// @import 'tones/tone--comment';
@import 'garnett-tones/tone--deadblog';
@import 'tones/tone--editorial';
// @import 'tones/tone--feature';
// @import 'tones/tone--live';
// @import 'tones/tone--media';
// @import 'tones/tone--news';
// @import 'tones/tone--podcast';
// @import 'tones/tone--review';
@import 'tones/tone--special';


// Special Immersive styles (import last to override tones)
@import 'garnett-layout/article--immersive';
