.outbrainText {
  display: none; }

.outbrainImage {
  display: block; }

@media all and (min-width: 40.63em) {
  .OUTBRAIN {
    padding: 0px 12px; } }
@media all and (min-width: 75em) {
  .OUTBRAIN {
    padding: 0; } }
@media all and (min-width: 40.63em) {
  .OUTBRAIN .ob-widget {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .OUTBRAIN .ob-widget .ob-widget-header {
      margin-left: 0 !important; }
    .OUTBRAIN .ob-widget .ob-widget-items-container {
      margin: 0 !important; }
    .OUTBRAIN .ob-widget .ob-dynamic-rec-container {
      margin-right: 5px !important;
      max-width: 173.25px; }
      .OUTBRAIN .ob-widget .ob-dynamic-rec-container:last-child {
        margin-right: 0 !important; }
      .OUTBRAIN .ob-widget .ob-dynamic-rec-container a::before {
        border: 0 !important; }
    .OUTBRAIN .ob-widget .ob-dynamic-rec-link {
      border: 0 !important;
      margin: 0 !important; }
    .OUTBRAIN .ob-widget .ob-dynamic-rec-link .ob-rec-source {
      max-height: 50px !important; }
    .OUTBRAIN .ob-widget .ob_about_this_content {
      left: 4px !important; }
      .android .OUTBRAIN .ob-widget .ob_about_this_content {
        left: 0px !important; } }
@media all and (min-width: 56.25em) {
  .OUTBRAIN .ob-widget .ob-widget-items-container {
    display: block !important;
    float: left !important;
    padding-top: 20px;
    width: 858px !important; }
  .OUTBRAIN .ob-widget .ob-dynamic-rec-container {
    margin-right: 6px !important;
    max-width: 210px !important;
    width: 210px !important; } }
@media all and (min-width: 75em) {
  .OUTBRAIN {
    margin: 0 auto !important;
    max-width: 1200px !important; }
    .OUTBRAIN .ob-widget .ob-widget-section {
      overflow: hidden !important; }
    .OUTBRAIN .ob-widget .ob-widget-header {
      margin: 20px !important;
      width: 200px !important; }
    .OUTBRAIN .ob-widget .ob-dynamic-rec-container a::before {
      border: 0 !important; }
    .OUTBRAIN .ob-widget .ob_what {
      margin-left: 20px !important; }
    .OUTBRAIN .ob-widget .ob_about_this_content {
      left: 20px !important; }
    .OUTBRAIN.outbrainText .ob-widget-items-container {
      margin-left: 240px !important; } }
