// Helpers
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/third-party/sass-mq';
@import 'helpers/third-party/sass-flex';

// This whole stylesheet is horrible, but needs to be imported last and have importants to overide the outbrain css

// Avoid hover state within apps

.AR_30.ob-widget, .AR_31.ob-widget {
    .ob-dynamic-rec-link:hover .ob-unit.ob-rec-text {
        color: #005689;
        text-decoration: none;
    }
}

.outbrainText {
    display: none;
}

.outbrainImage {
    display: block;
}


.OUTBRAIN {
    .ob-dynamic-rec-link {
        .ob-rec-source {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    @include mq($from: col2) {
        padding: base-px(0, 1);
    }

    @include mq($from: col4) {
        padding: 0;
    }

    @include mq($to: col2) {
        .ob-widget {
            .ob-unit {
                padding-left: 6px;
            }

            .ob-widget-header {
                margin: 12px 0;
                span {
                    font-size: 14px;
                }
            }
        }
    }


    @include mq($from: col2) {
        .ob-widget {
            padding: {
                left: 0 !important;
                right: 0 !important;
            }

            .ob-widget-header {
                margin: 12px 0 !important;

                span {
                    margin-left: 12px !important;
                }
            }

            .ob_what {
                width: 130px;
                float: left;
            }

            .ob-widget-items-container {
                margin: 0 !important;
            }

            .ob-dynamic-rec-container {
                margin-right: 16px !important;
                max-width: 173.25px;

                &:last-child {
                    margin-right: 0 !important;
                }

                a::before {
                    border: 0 !important;
                }
            }

            .ob-dynamic-rec-link {
                border: 0 !important;
                margin: 0 !important;
            }

            .ob-dynamic-rec-link {
                .ob-rec-source {
                    max-height: 50px !important;
                    font-size: 1.2rem;
                    padding-bottom: 18px;
                }
            }

            .ob_about_this_content {
                left: 4px !important;

                .android & {
                    left: 0px !important;
                }
            }
        }

        .AR_31.ob-strip-layout .ob-rec-text {
            margin-top: 25px !important;
            padding: 6px .3125rem .5em !important;
        }

        .ob-unit {
            padding-top: 6px;
        }
    }

    @include mq($from: col3) {
        .ob-widget {
            .ob-widget-items-container {
                display: block !important;
                float: left !important;
                padding-top: 20px;
                width: 100% !important;
            }

            .ob-dynamic-rec-container {
                margin-right: 16px !important;
                max-width: 210px !important;
                width: 210px !important;
            }
        }

        .AR_31.ob-strip-layout .ob-rec-text {
            margin-top: -25px !important;
            padding: 6px .3125rem .5em !important;
        }
    }

    @include mq($from: col4) {
        margin: 0 auto !important;
        max-width: 1200px !important;

        .ob-widget.AR_30 {
            .ob-widget-items-container {
                margin-top: -135px !important;
            }
        }
        .ob-widget {
            .ob-widget-items-container {
                margin-left: 240px !important;
            }

            .ob-widget-section {
                overflow: hidden !important;
            }

            .ob-widget-header {
                width: 200px !important;
                margin-top: 24px !important;

                span {
                    margin-left: 0 !important;
                }
            }

            .ob-dynamic-rec-container {
                a::before {
                    border: 0 !important;
                }
            }

            .ob_what {
                margin-top: 10px !important;
                margin-left: 240px !important;
            }

            .ob_about_this_content {
                left: 20px !important;
            }
        }

        .AR_31.ob-strip-layout .ob-rec-link {
            padding-bottom: 18px;
        }
    }

    .ob_about_this_content {
        a {
            color: #00456e;
        }
    }
}