$gu-colours: (
    news-kicker: #c70000,
    news-feature-headline: #880105,
    news-soft: #f6f6f6,
    news-inverted: #ff4e36,
    news-liveblog-background: #ae0000,
    news-dark-1: #8b0000,
    news-dark-2: #660505,
    news-dark-3: #ff9081,

    opinion-kicker: #e05e00,
    opinion-feature-headline: #bd5318,
    opinion-soft: #fef9f5,
    opinion-inverted: #ff7f0f,
    opinion-liveblog-background: #bd5318,
    opinion-dark-1: #660505,
    opinion-dark-2: #672005,
    opinion-dark-3: #f9b376,

    sport-kicker: #007ABC,
    sport-feature-headline: #005689,
    sport-soft: #e6f5ff,
    sport-inverted: #00b2ff,
    sport-liveblog-background: #005689,
    sport-dark-1: #004f7c,
    sport-dark-2: #003b60,
    sport-dark-3: #90dcff,

    arts-kicker: #a1845c,
    arts-feature-headline: #6b5840,
    arts-soft: #f2ebdc,
    arts-inverted: #eacca0,
    arts-liveblog-background: #6b5840,
    arts-dark-1: #574835,
    arts-dark-2: #3e3323,
    arts-dark-3: #e7d4b9,

    lifestyle-kicker: #bb3b80,
    lifestyle-feature-headline: #7d0068,
    lifestyle-soft: #ffe6ec,
    lifestyle-inverted: #F37ABC,
    lifestyle-liveblog-background: #7d0068,
    lifestyle-dark-1: #650054,
    lifestyle-dark-2: #510043,
    lifestyle-dark-3: #F37ABC,

    tone-news: #005689,
    tone-news-accent: #4bc6df,
    tone-highlight: #ffe500,
    tone-sandy-light: #dcdad5,
    tone-feature1: #951c55,
    tone-feature1-accent: #b82266,
    tone-feature1-accent2: #f7acbb,
    tone-comment-text: #2d2a26,

    tone-live: #b51800,
    tone-live-accent: #cc2b12,

    tone-deadblog: #b51800,

    tone-podcast-adv-ply-background: #636363,
    tone-podcast-adv-ply-range: #cbc9c5,

    tone-media: #ffbb00,
    tone-media-accent: #ffd35c,
    tone-media-background: #161616,

    tone-special-dark: #3f464a,
    tone-special-mid: #abc2c9,
    tone-special-light: #eff1f2,

    global-sponsored-label: #878787,
    global-adv-bands: #878787,
    global-adv-text: #272727,
    global-adv-shade-1: #006d67,
    global-adv-shade-2: #69D1CA,

    brightness-0: #000000,
    brightness-7: #121212,
    brightness-20: #333333,
    brightness-46: #767676,
    brightness-60: #999999,
    brightness-74: #bdbdbd,
    brightness-86: #dcdcdc,
    brightness-93: #ededed,
    brightness-96: #f6f6f6,
    brightness-100: #ffffff,

    neutral-1: #333333,
    neutral-2: #767676,

    quiz-wrong-answer: #c70100,
    quiz-correct-answer: #3db540,

    comment-highlighted: #ffbb50,
    comment-highlighted-link: #9f1f02,
    //Gallery
    tone-gallery-link: #5fa794
);

// Colour palette
@function color($name, $palette: $gu-colours) {
    @return map-get($gu-colours, $name);
}
