/*doc
---
title: Colours
name: colour
category: Base
---
A standard colour palette used across the Guardian’s digital products.

```html_example
<p><b>Basic Shades</b></p>
<div class="styleguide__color--shade-1"></div>
<div class="styleguide__color--shade-2"></div>
<div class="styleguide__color--shade-3"></div>
<div class="styleguide__color--shade-4"></div>
<div class="styleguide__color--shade-5"></div>
<div class="styleguide__color--shade-6"></div>
<div class="styleguide__color--shade-7"></div>
<div class="styleguide__color--shade-8"></div>

<p class="clear"><b>Tone News</b></p>
<div class="styleguide__color--tone-news"></div>
<div class="styleguide__color--tone-news-accent"></div>

<p class="clear"><b>Tone Live</b></p>
<div class="styleguide__color--tone-live"></div>
<div class="styleguide__color--tone-live-accent"></div>

<p class="clear"><b>Tone Media</b></p>
<div class="styleguide__color--tone-media"></div>
<div class="styleguide__color--tone-media-accent"></div>

<p class="clear"><b>Tone Feature</b></p>
<div class="styleguide__color--tone-feature1"></div>
<div class="styleguide__color--tone-feature1-accent"></div>

<p class="clear"><b>Tone Comment</b></p>
<div class="styleguide__color--tone-comment"></div>
<div class="styleguide__color--tone-comment-accent"></div>
<div class="styleguide__color--tone-comment-text"></div>
<div class="styleguide__color--tone-comment-bg"></div>

<p class="clear"><b>Tone DeadBlog</b></p>
<div class="styleguide__color--tone-deadblog"></div>

<p class="clear"><b>Tone Review</b></p>
<div class="styleguide__color--tone-review-accent"></div>
<div class="styleguide__color--tone-review"></div>
<div class="styleguide__color--tone-review-meta-background"></div>

<p class="clear"><b>Tone Analysis</b></p>
<div class="styleguide__color--tone-analysis"></div>

<p class="clear"><b>Tone Podcast</b></p>
<div class="styleguide__color--tone-podcast"></div>
<div class="styleguide__color--tone-podcast-ply-background"></div>

<p class="clear"><b>Tags</b></p>
<div class="styleguide__color--global-tags"></div>
<div class="styleguide__color--blogs-tags"></div>

<p class="clear"><b>Witness</b></p>
<div class="styleguide__color--witness clear"></div>
<div class="styleguide__color--witness-bg"></div>

<p class="clear"><b>Comments</b></p>
<div class="styleguide__color--tone-comments-more-bg"></div>

<p class="clear"><b>ADV tones</b></p>
<div class="styleguide__color--global-adv-bg"></div>
<div class="styleguide__color--global-adv-bands"></div>
<div class="styleguide__color--global-adv-text"></div>
```
*/

$gu-colours: (

/* New Tonal colour Definitions */

    /* Example Tone called "Sample"

    tone-sample:                    main tone colour (used throughout app on links etc.)
    tone-sample-headline:           headline colour
    shade-7:        main background of article header
    tone-sample-standfirst:         Standfirst (below headline intro copy) text colour
    tone-sample-standfirst-links:   Standfirst link colour
    tone-sample-accent:             thin line at article top colour
    tone-sample-section-label:      section label colour
    tone-sample-series-label:       series label colour
    tone-sample-meta-background:    meta background (base part of top container)
    tone-sample-meta-byline:        author (byline) and comment icon colour
    tone-sample-meta-pubdate:       publish date
    tone-sample-media-caption-bg:   fig caption background
    tone-sample-links:              article body text links
    tone-sample-tags-text:          tag text colour
    tone-sample-tags-bg:            tag lozenge background colour

    /* Most Regular Articles */

    tone-news:                      #005689,
    tone-news-accent:               #4bc6df,

    /* Live Blogs */

    tone-live:                      #b51800,
    tone-live-accent:               #cc2b12,

    /* Deadblogs */

    tone-deadblog:                  #b51800,

    /* Reviews */

    tone-review:                    #615b52,
    tone-review-accent:             #ffce4b,
    tone-review-meta-background:    #7d7569,

    /* Analysis */

    tone-analysis:                  #005689, /* --> same as tone-news */

    /* Podcast */

    tone-podcast:                   #a7d8f2,
    tone-podcast-ply-background:    #171717,
    tone-podcast-adv-ply-background:#636363,
    tone-podcast-adv-ply-range:     #cbc9c5,

    /* Media */

    tone-media:                     #fb0,
    tone-media-accent:              #ffd35c,

    /* Special */

    tone-special:                   #63717a,
    tone-special-accent:            #aad8f1,
    tone-special-meta-background:   #6e7e88,

    /* Editorial */

    tone-editorial:                 #005689, /* --> same as tone-news */
    tone-editorial-bg:              #efefec,

    /* Tags */

    global-tags:                    #f1f1f1,
    blogs-tags:                     #e0e0e0,


    /* Section Container */

    global-section-band:            #ececec,

    /* Sponsor by Band */

    global-sponsored-label:         #878787, /* --> same as global-adv-bands */
    global-sponsored-border:        #b5b3ae,

    /* ADV */

    global-adv-bg:                  #CCC,
    global-adv-bands:               #878787,
    global-adv-text:                #272727,
    global-adv-shade-1:             #009999,
    global-adv-shade-2:             #69D1CA,

    // Neutral shades
    shade-1:                        #333,
    shade-2:                        #767676,
    shade-3:                        #999,  //0.4
    shade-4:                        #dcdad5,
    shade-5:                        #eaeaea,
    shade-6:                        #484848,
    shade-7:                        #fff,
    shade-8:                        #f6f6f6,
    shade-9:                        #000,
    shade-10:                       #676767,
    shade-11:                       #d9d9d9,
    shade-12:                       #B5B5B5,

    // Tonal colours
    tone-feature1:                  #951c55,
    tone-feature1-accent:           #b82266,
    tone-feature1-accent2:          #f7acbb,

    tone-comment:                   #e6711b,
    tone-comment-accent:            #f39f33,
    tone-comment-text:              #2d2a26,
    tone-comment-bg:                #e3e1dc,
    tone-comments-more-bg:          #005689,  /* --> same as tone-news */

    // Witness
    witness:                        #b7d8eb,
    witness-bg:                     #004f91,
    witness-active:                 #c3ddeb,    

    // Flyers
    neutral-1:                      #333,
    neutral-2:                      #767676,
    neutral-3:                      #bdbdbd,

    // Quizzes
    quiz-wrong-answer:                 #e0232e,
    quiz-wrong-answer-accent:          #7e0e12
);

// Colour palette
@function color($name, $palette: $gu-colours) {
    @return map-get($gu-colours, $name);
}

// Tone Styling
