// Base font size
html {
    font-size: 62.5%;
    font-family: $egyptian-text;
}

body {
    font-size: 1.6em;
    line-height: 1.5em;
}

// svgs are positionned absolutely in android 🤔
svg {
    position: static;
}
