/*doc
---
title: Icons
name: icons
category: Base
---
A comprehensive collection of bespoke icons based on the design of Guardian Eygptian.

```html_example
<span class="styleguide__icon"><span data-icon="&#xe000;" aria-hidden="true"></span> Double chevron, up</span>
<span class="styleguide__icon"><span data-icon="&#xe001;" aria-hidden="true"></span> Double chevron, down</span>
<span class="styleguide__icon"><span data-icon="&#xe002;" aria-hidden="true"></span> Chevron, down</span>
<span class="styleguide__icon"><span data-icon="&#xe003;" aria-hidden="true"></span> Chevron, up</span>
<span class="styleguide__icon"><span data-icon="&#xe004;" aria-hidden="true"></span> Arrow, left</span>
<span class="styleguide__icon"><span data-icon="&#xe005;" aria-hidden="true"></span> Arrow, right</span>
<span class="styleguide__icon"><span data-icon="&#xe006;" aria-hidden="true"></span> Double chevron, left</span>
<span class="styleguide__icon"><span data-icon="&#xe007;" aria-hidden="true"></span> Double chevron, right</span>
<span class="styleguide__icon"><span data-icon="&#xe008;" aria-hidden="true"></span> Share (Android)</span>
<span class="styleguide__icon"><span data-icon="&#xe009;" aria-hidden="true"></span> Share (iOS)</span>
<span class="styleguide__icon"><span data-icon="&#xe00a;" aria-hidden="true"></span> Chevron, left</span>
<span class="styleguide__icon"><span data-icon="&#xe00b;" aria-hidden="true"></span> Chevron, right</span>
<span class="styleguide__icon"><span data-icon="&#xe00c;" aria-hidden="true"></span> Guardian hallmark</span>
<span class="styleguide__icon"><span data-icon="&#xe00d;" aria-hidden="true"></span> Font size</span>
<span class="styleguide__icon"><span data-icon="&#xe00e;" aria-hidden="true"></span> Font size, increase</span>
<span class="styleguide__icon"><span data-icon="&#xe00f;" aria-hidden="true"></span> Font size, decrease</span>
<span class="styleguide__icon"><span data-icon="&#xe010;" aria-hidden="true"></span> Bookmark</span>
<span class="styleguide__icon"><span data-icon="&#xe014;" aria-hidden="true"></span> Sort</span>
<span class="styleguide__icon"><span data-icon="&#xe015;" aria-hidden="true"></span> Return, top right</span>
<span class="styleguide__icon"><span data-icon="&#xe01B;" aria-hidden="true"></span> Location, pin</span>
<span class="styleguide__icon"><span data-icon="&#xe01D;" aria-hidden="true"></span> Full screen, close</span>
<span class="styleguide__icon"><span data-icon="&#xe020;" aria-hidden="true"></span> Full screen, open</span>
<span class="styleguide__icon"><span data-icon="&#xe021;" aria-hidden="true"></span> Interactive</span>
<span class="styleguide__icon"><span data-icon="&#xe029;" aria-hidden="true"></span> Quote</span>
<span class="styleguide__icon"><span data-icon="&#xe02D;" aria-hidden="true"></span> Warning</span>
<span class="styleguide__icon"><span data-icon="&#xe02E;" aria-hidden="true"></span> Clock</span>
<span class="styleguide__icon"><span data-icon="&#xe032;" aria-hidden="true"></span> Edit</span>
<span class="styleguide__icon"><span data-icon="&#xe036;" aria-hidden="true"></span> Star</span>
<span class="styleguide__icon"><span data-icon="&#xe037;" aria-hidden="true"></span> User</span>
<span class="styleguide__icon"><span data-icon="&#xe038;" aria-hidden="true"></span> Search</span>
<span class="styleguide__icon"><span data-icon="&#xe039;" aria-hidden="true"></span> Zoom out</span>
<span class="styleguide__icon"><span data-icon="&#xe03A;" aria-hidden="true"></span> Zoom in</span>
<span class="styleguide__icon"><span data-icon="&#xe03C;" aria-hidden="true"></span> Comment</span>
<span class="styleguide__icon"><span data-icon="&#xe03D;" aria-hidden="true"></span> Comment, add</span>
<span class="styleguide__icon"><span data-icon="&#xe03E;" aria-hidden="true"></span> Open in new window</span>
<span class="styleguide__icon"><span data-icon="&#xe040;" aria-hidden="true"></span> Settings</span>
<span class="styleguide__icon"><span data-icon="&#xe043;" aria-hidden="true"></span> Video</span>
<span class="styleguide__icon"><span data-icon="&#xe044;" aria-hidden="true"></span> Gallery</span>
<span class="styleguide__icon"><span data-icon="&#xe045;" aria-hidden="true"></span> Refresh</span>
<span class="styleguide__icon"><span data-icon="&#xe046;" aria-hidden="true"></span> Audio, mute</span>
<span class="styleguide__icon"><span data-icon="&#xe047;" aria-hidden="true"></span> Audio</span>
<span class="styleguide__icon"><span data-icon="&#xe048;" aria-hidden="true"></span> Alert, off</span>
<span class="styleguide__icon"><span data-icon="&#xe049;" aria-hidden="true"></span> Alert, on</span>
<span class="styleguide__icon"><span data-icon="&#xe04A;" aria-hidden="true"></span> Menu</span>
<span class="styleguide__icon"><span data-icon="&#xe04B;" aria-hidden="true"></span> Play</span>
<span class="styleguide__icon"><span data-icon="&#xe04C;" aria-hidden="true"></span> Stop</span>
<span class="styleguide__icon"><span data-icon="&#xe04D;" aria-hidden="true"></span> Pause</span>
<span class="styleguide__icon"><span data-icon="&#xe04E;" aria-hidden="true"></span> Fast-forward</span>
<span class="styleguide__icon"><span data-icon="&#xe04F;" aria-hidden="true"></span> Close</span>
<span class="styleguide__icon"><span data-icon="&#xe050;" aria-hidden="true"></span> Plus</span>
<span class="styleguide__icon"><span data-icon="&#xe051;" aria-hidden="true"></span> Asterisk</span>
<span class="styleguide__icon"><span data-icon="&#xe056;" aria-hidden="true"></span> Clock, inline</span>
<span class="styleguide__icon"><span data-icon="&#xe060;" aria-hidden="true"></span> Minus</span>
<span class="styleguide__icon"><span data-icon="&#xe061;" aria-hidden="true"></span> Return, bottom right</span>
<span class="styleguide__icon"><span data-icon="&#xe062;" aria-hidden="true"></span> Check</span>
<span class="styleguide__icon"><span data-icon="&#xe063;" aria-hidden="true"></span> Home</span>
<span class="styleguide__icon"><span data-icon="&#xe064;" aria-hidden="true"></span> Home, add</span>
<span class="styleguide__icon"><span data-icon="&#xe065;" aria-hidden="true"></span> Home, remove</span>
<span class="styleguide__icon"><span data-icon="&#xe066;" aria-hidden="true"></span> Arrow, up</span>
<span class="styleguide__icon"><span data-icon="&#xe067;" aria-hidden="true"></span> Exclamation mark</span>
<span class="styleguide__icon"><span data-icon="&#xe068;" aria-hidden="true"></span> Drag handle</span>
<span class="styleguide__icon"><span data-icon="&#xe069;" aria-hidden="true"></span> Google+</span>
<span class="styleguide__icon"><span data-icon="&#xe06A;" aria-hidden="true"></span> Facebook</span>
<span class="styleguide__icon"><span data-icon="&#xe06B;" aria-hidden="true"></span> Twitter</span>
<span class="styleguide__icon"><span data-icon="&#xe070;" aria-hidden="true"></span> Location, compass</span>
<span class="styleguide__icon"><span data-icon="&#xe071;" aria-hidden="true"></span> Document</span>
<span class="styleguide__icon"><span data-icon="&#xe072;" aria-hidden="true"></span> Comment, remove</span>
<span class="styleguide__icon"><span data-icon="&#xe073;" aria-hidden="true"></span> Clock</span>
<span class="styleguide__icon"><span data-icon="&#xe074;" aria-hidden="true"></span> Warning</span>
<span class="styleguide__icon"><span data-icon="&#xe075;" aria-hidden="true"></span> Arrow, up small</span>
<!-- This list is not definitive...-->
```
*/

.icon {
    font-family: $icon;
}

[data-icon]::before {
    font-family: $icon;
    content: attr(data-icon);
    speak: none;
}
