/*doc
---
title: Icons
name: icons
category: Base
---
A comprehensive collection of bespoke icons based on the design of Guardian Eygptian.

```html_example
<span class="icon">&#xe000;</span> <!-- Double chevron, up -->
<span class="icon">&#xe001;</span> <!-- Double chevron, down -->
<span class="icon">&#xe002;</span> <!-- Chevron, down -->
<span class="icon">&#xe003;</span> <!-- Chevron, up -->
<span class="icon">&#xe004;</span> <!-- Arrow, left -->
<span class="icon">&#xe005;</span> <!-- Arrow, right -->
<span class="icon">&#xe006;</span> <!-- Double chevron, left -->
<span class="icon">&#xe007;</span> <!-- Double chevron, right -->
<span class="icon">&#xe008;</span> <!-- Share (Android) -->
<span class="icon">&#xe009;</span> <!-- Share (iOS) -->
<span class="icon">&#xe00a;</span> <!-- Chevron, left -->
<span class="icon">&#xe00b;</span> <!-- Chevron, right -->
<span class="icon">&#xe00c;</span> <!-- Guardian hallmark -->
<span class="icon">&#xe00d;</span> <!-- Font size -->
<span class="icon">&#xe00e;</span> <!-- Font size, increase -->
<span class="icon">&#xe00f;</span> <!-- Font size, decrease -->
<span class="icon">&#xe010;</span> <!-- Bookmark -->
<span class="icon">&#xe014;</span> <!-- Sort -->
<span class="icon">&#xe015;</span> <!-- Return, top right -->
<span class="icon">&#xe01B;</span> <!-- Location, pin -->
<span class="icon">&#xe01D;</span> <!-- Full screen, close -->
<span class="icon">&#xe020;</span> <!-- Full screen, open -->
<span class="icon">&#xe021;</span> <!-- Interactive -->
<span class="icon">&#xe029;</span> <!-- Quote-->
<span class="icon">&#xe02D;</span> <!-- Warning -->
<span class="icon">&#xe02E;</span> <!-- Clock -->
<span class="icon">&#xe032;</span> <!-- Edit -->
<span class="icon">&#xe036;</span> <!-- Star -->
<span class="icon">&#xe037;</span> <!-- User -->
<span class="icon">&#xe038;</span> <!-- Search -->
<span class="icon">&#xe039;</span> <!-- Zoom out -->
<span class="icon">&#xe03A;</span> <!-- Zoom in -->
<span class="icon">&#xe03C;</span> <!-- Comment -->
<span class="icon">&#xe03D;</span> <!-- Comment, add -->
<span class="icon">&#xe03E;</span> <!-- Open in new window -->
<span class="icon">&#xe040;</span> <!-- Settings -->
<span class="icon">&#xe043;</span> <!-- Video -->
<span class="icon">&#xe043;</span> <!-- Gallery -->
<span class="icon">&#xe045;</span> <!-- Refresh -->
<span class="icon">&#xe046;</span> <!-- Audio, mute -->
<span class="icon">&#xe047;</span> <!-- Audio -->
<span class="icon">&#xe048;</span> <!-- Alert, off -->
<span class="icon">&#xe049;</span> <!-- Alert, on -->
<span class="icon">&#xe04A;</span> <!-- Menu -->
<span class="icon">&#xe04B;</span> <!-- Play -->
<span class="icon">&#xe04C;</span> <!-- Stop -->
<span class="icon">&#xe04D;</span> <!-- Pause -->
<span class="icon">&#xe04E;</span> <!-- Fast-forward -->
<span class="icon">&#xe04F;</span> <!-- Close -->
<span class="icon">&#xe050;</span> <!-- Plus -->
<span class="icon">&#xe051;</span> <!-- Asterisk -->
<span class="icon">&#xe056;</span> <!-- Clock, inline -->
<span class="icon">&#xe060;</span> <!-- Minus -->
<span class="icon">&#xe061;</span> <!-- Return, bottom right -->
<span class="icon">&#xe062;</span> <!-- Check -->
<span class="icon">&#xe063;</span> <!-- Home -->
<span class="icon">&#xe064;</span> <!-- Home, add -->
<span class="icon">&#xe065;</span> <!-- Home, remove -->
<span class="icon">&#xe066;</span> <!-- Arrow, up -->
<span class="icon">&#xe067;</span> <!-- Exclamation mark -->
<span class="icon">&#xe068;</span> <!-- Drag handle -->
<span class="icon">&#xe069;</span> <!-- Google+ -->
<span class="icon">&#xe06A;</span> <!-- Facebook -->
<span class="icon">&#xe06B;</span> <!-- Twitter -->
<span class="icon">&#xe070;</span> <!-- Location, compass -->
<span class="icon">&#xe071;</span> <!-- Document -->
<span class="icon">&#xe072;</span> <!-- Comment, remove -->
<span class="icon">&#xe073;</span> <!-- Clock -->
<span class="icon">&#xe074;</span> <!-- Warning -->
<span class="icon">&#xe075;</span> <!-- Arrow, up small -->
<!-- This list is not definitive...-->
```
*/

.icon {
	font-family: $icon;
}

[data-icon]::before {
	font-family: $icon;
	content: attr(data-icon);
	speak: none;
	margin-right: 4px;
}