/*doc
---
title: Icons
name: icons
category: Base
---
A comprehensive collection of bespoke icons based on the design of Guardian Eygptian.

```html_example

<span class="styleguide__icon" data-icon="&#xe000;">Double chevron, up</span>
<span class="styleguide__icon" data-icon="&#xe001;">Double chevron, down</span>
<span class="styleguide__icon" data-icon="&#xe002;">Chevron, down</span>
<span class="styleguide__icon" data-icon="&#xe003;">Chevron, up</span>
<span class="styleguide__icon" data-icon="&#xe004;">Arrow, left</span>
<span class="styleguide__icon" data-icon="&#xe005;">Arrow, right</span>
<span class="styleguide__icon" data-icon="&#xe006;">Double chevron, left</span>
<span class="styleguide__icon" data-icon="&#xe007;">Double chevron, right</span>
<span class="styleguide__icon" data-icon="&#xe008;">Share (Android)</span>
<span class="styleguide__icon" data-icon="&#xe009;">Share (iOS)</span>
<span class="styleguide__icon" data-icon="&#xe00a;">Chevron, left</span>
<span class="styleguide__icon" data-icon="&#xe00b;">Chevron, right</span>
<span class="styleguide__icon" data-icon="&#xe00c;">Guardian hallmark</span>
<span class="styleguide__icon" data-icon="&#xe00d;">Font size</span>
<span class="styleguide__icon" data-icon="&#xe00e;">Font size, increase</span>
<span class="styleguide__icon" data-icon="&#xe00f;">Font size, decrease</span>
<span class="styleguide__icon" data-icon="&#xe010;">Bookmark</span>
<span class="styleguide__icon" data-icon="&#xe014;">Sort</span>
<span class="styleguide__icon" data-icon="&#xe015;">Return, top right</span>
<span class="styleguide__icon" data-icon="&#xe01B;">Location, pin</span>
<span class="styleguide__icon" data-icon="&#xe01D;">Full screen, close</span>
<span class="styleguide__icon" data-icon="&#xe020;">Full screen, open</span>
<span class="styleguide__icon" data-icon="&#xe021;">Interactive</span>
<span class="styleguide__icon" data-icon="&#xe029;">Quote</span>
<span class="styleguide__icon" data-icon="&#xe02D;">Warning</span>
<span class="styleguide__icon" data-icon="&#xe02E;">Clock</span>
<span class="styleguide__icon" data-icon="&#xe032;">Edit</span>
<span class="styleguide__icon" data-icon="&#xe036;">Star</span>
<span class="styleguide__icon" data-icon="&#xe037;">User</span>
<span class="styleguide__icon" data-icon="&#xe038;">Search</span>
<span class="styleguide__icon" data-icon="&#xe039;">Zoom out</span>
<span class="styleguide__icon" data-icon="&#xe03A;">Zoom in</span>
<span class="styleguide__icon" data-icon="&#xe03C;">Comment</span>
<span class="styleguide__icon" data-icon="&#xe03D;">Comment, add</span>
<span class="styleguide__icon" data-icon="&#xe03E;">Open in new window</span>
<span class="styleguide__icon" data-icon="&#xe040;">Settings</span>
<span class="styleguide__icon" data-icon="&#xe043;">Video</span>
<span class="styleguide__icon" data-icon="&#xe043;">Gallery</span>
<span class="styleguide__icon" data-icon="&#xe045;">Refresh</span>
<span class="styleguide__icon" data-icon="&#xe046;">Audio, mute</span>
<span class="styleguide__icon" data-icon="&#xe047;">Audio</span>
<span class="styleguide__icon" data-icon="&#xe048;">Alert, off</span>
<span class="styleguide__icon" data-icon="&#xe049;">Alert, on</span>
<span class="styleguide__icon" data-icon="&#xe04A;">Menu</span>
<span class="styleguide__icon" data-icon="&#xe04B;">Play</span>
<span class="styleguide__icon" data-icon="&#xe04C;">Stop</span>
<span class="styleguide__icon" data-icon="&#xe04D;">Pause</span>
<span class="styleguide__icon" data-icon="&#xe04E;">Fast-forward</span>
<span class="styleguide__icon" data-icon="&#xe04F;">Close</span>
<span class="styleguide__icon" data-icon="&#xe050;">Plus</span>
<span class="styleguide__icon" data-icon="&#xe051;">Asterisk</span>
<span class="styleguide__icon" data-icon="&#xe056;">Clock, inline</span>
<span class="styleguide__icon" data-icon="&#xe060;">Minus</span>
<span class="styleguide__icon" data-icon="&#xe061;">Return, bottom right</span>
<span class="styleguide__icon" data-icon="&#xe062;">Check</span>
<span class="styleguide__icon" data-icon="&#xe063;">Home</span>
<span class="styleguide__icon" data-icon="&#xe064;">Home, add</span>
<span class="styleguide__icon" data-icon="&#xe065;">Home, remove</span>
<span class="styleguide__icon" data-icon="&#xe066;">Arrow, up</span>
<span class="styleguide__icon" data-icon="&#xe067;">Exclamation mark</span>
<span class="styleguide__icon" data-icon="&#xe068;">Drag handle</span>
<span class="styleguide__icon" data-icon="&#xe069;">Google+</span>
<span class="styleguide__icon" data-icon="&#xe06A;">Facebook</span>
<span class="styleguide__icon" data-icon="&#xe06B;">Twitter</span>
<span class="styleguide__icon" data-icon="&#xe070;">Location, compass</span>
<span class="styleguide__icon" data-icon="&#xe071;">Document</span>
<span class="styleguide__icon" data-icon="&#xe072;">Comment, remove</span>
<span class="styleguide__icon" data-icon="&#xe073;">Clock</span>
<span class="styleguide__icon" data-icon="&#xe074;">Warning</span>
<span class="styleguide__icon" data-icon="&#xe075;">Arrow, up small</span>
<!-- This list is not definitive...-->
```
*/

.icon {
    font-family: $icon;
}

[data-icon]::before {
    font-family: $icon;
    content: attr(data-icon);
    speak: none;
}
