#advert-mpu,
#advert-mobile-mpu,
#advert-banner {
	color: $standfirst;
	font-family: $agate-sans;
	@include meta();
	background: $advert-bg;
	display: none;
	overflow: auto;

	div, img {
		vertical-align: middle;
	}

	.advert-label {
		overflow: auto;
	}

	.advert-wrapper {
		position: relative;
		background-color: $shadow;
		overflow: hidden;

		// This can be simplified if we add a single class
		#advert-mpu-content,
		#advert-banner-content,
		#advert-mobile-mpu-content {
			position: absolute;
			bottom: 0;
		}
	}
}

#advert-banner,
#advert-mobile-mpu {
	padding: 0;

	.advert-label {
		margin: 0 auto;
		width: 300px;
	}

	.advert-wrapper {
		margin: 0 auto;
	}
}

#advert-banner {
	width: 100%;
	padding-bottom: 12px;
	
	.advert-label {
		@include padding(0.5, 0);
	}

	.advert-wrapper {
		padding-top: 50px;
	}
}

#advert-mobile-mpu,
#advert-mpu {
	width: 300px;
	border-top: 1px dotted $shadow;
	@include mq($from: col2) {
		float: right;
		margin-left: 20px;
		margin-bottom: 12px;
	}
	@include mq(col2, col3) {
		margin-right: -(cols($base-3, 4))+$base-3;
	}
	@include mq($from: col3) {
		margin-right: -(cols($base-4, 5));
	}

	.advert-label {
		@include padding(0.5, 0, 2, 0.5);
	}

	.advert-wrapper {
		padding-top: 250px;
	}
}

#advert-mpu {
	@include mq($to: col2) {
		margin: 12px auto 0 auto;
	}
}

// Hides the pre-inserted banner for subscribers
#advert-banner.false {
	display: none;
}

// Classes set on the body that determine the placement of adverts
.ads-mobile {
	#advert-banner,
	#advert-mobile-mpu {
		display: block;
	}
}

.ads-tablet {
	#advert-mpu {
		display: block;
	}
}