.advert-slot {
	color: $standfirst;
	font-family: $agate-sans;
	@include meta();
	background: $advert-bg;
	display: none;
	overflow: auto;

	div, img {
		vertical-align: middle;
	}

	.advert-slot__label {
		overflow: auto;
	}

	.advert-slot__wrapper {
		position: relative;
		background-color: $shadow;
		overflow: hidden;

		// This can be simplified if we add a single class
		.advert-slot__wrapper__content {
			position: absolute;
			bottom: 0;
		}
	}
}

.advert-slot--banner {
	width: 100%;
	@include padding(0, 0, 1, 0);
	
	.advert-slot__label {
		@include padding(0.5, 0);
	}

	.advert-slot__wrapper {
		padding-top: 50px;
		width: 300px;
	}
}

.advert-slot--mpu {
	width: 300px;
	border-top: 1px dotted $shadow;
	@include mq($from: 560px) {
		float: right;
		margin-left: 20px;
		margin-bottom: 12px;
	}
	@include mq(col2, col3) {
		margin-right: -(cols($base-3, 4))+$base-3;
	}
	@include mq($from: col3) {
		margin-right: -(cols($base-4, 5));
	}

	.advert-slot__label {
		@include padding(0.5, 0, 2, 0.5);
	}

	.advert-slot__wrapper {
		padding-top: 250px;
	}
}

.advert-slot--mpu--tablet {
	@include mq($to: 559px) {
		margin: 12px auto 0 auto;
	}
}

// Classes set on the body that determine the placement of adverts
.advert-config--mobile {
	.advert-slot--banner,
	.advert-slot--mpu--mobile {
		display: block;
		
		.advert-slot__label {
			margin: 0 auto;
			width: 300px;
		}
	
		.advert-slot__wrapper {
			margin: 0 auto;
		}
	}
}

.advert-config--tablet {
	.advert-slot--mpu--tablet {
		display: block;
	}
}

// Hides the pre-inserted banner for subscribers
.advert-slot--false {
	display: none !important;
}