.article__header.cutout {
	.inner-header {
		background-repeat: no-repeat;
		background-position: right -20px bottom 0;
		overflow: auto;
		@include mq($to: col1) {
			min-height: 280px;
			background-size: $base-1 * 9 auto;
			padding-right: cols($base-1, 1);
		}
		@include mq(col1, col2) {
			min-height: 280px;
			background-size: $base-2 * 14 auto;
			padding-right: cols($base-2, 2);
		}
		@include mq(col2, col3) {
			min-height: 400px;
			background-size: $base-3 * 21 auto;
		}
		@include mq($from: col3) {
			min-height: 320px;
			background-size: contain;
		}
	}
}