.article__header {
	background-image: none; // Hide Cif elements from non-Cif pages
	@include flexbox;
	@include flex-direction(column);

	.inner-header,
	.article__standfirst,
	.article__meta,
	.article__image,
	.article__review-rating {
		@include flex(1);
	}

	.article__section {
		font-family: $egyptian-display;
		font-weight: 600;
		color: $news;
		@include headline(0.5);
		@include padding(0.5, 1, 0.5, 1);
	}

	.article__headline {
		color: $headline;
		font-family: $egyptian-display;
		font-weight: 200;
		@include headline();
		@include margin(0, 0, 3, 0);
		@include padding(0, 1, 0, 1);
		span {
			display: none; // Hide Cif elements from non-Cif pages
		}
	}

	.article__standfirst {
		color: $standfirst;
		font-family: $egyptian-display;
		font-weight: 300;
		@include standfirst();
		@include padding(0.5, 1, 1.5, 1);
	}

	.article__alerts {
		@include padding(0, 1, 1, 1);
		background-color: red;
	}

	.article__review-rating {
		color: $meta;
		@include padding(0, 1, 1.5, 1);
		margin-top: -18px;
	}

	.article__review-rating--1 .icon:nth-child(-n+1),
	.article__review-rating--2 .icon:nth-child(-n+2),
	.article__review-rating--3 .icon:nth-child(-n+3),
	.article__review-rating--4 .icon:nth-child(-n+4),
	.article__review-rating--5 .icon:nth-child(-n+5) {
		color: $news-accent;
	}

	.article__meta {
		@include meta();
		@include padding(0.5, 1, 2, 1);
		margin: -1px 0;
		border-top: 1px dotted $shadow;
		border-bottom: 1px dotted $shadow;
		position: relative;

		.article__author {
			font-weight: bold;
		}
	}

	.article__pubdate {
		color: $meta;
		font-family: $agate-sans;
	}

	.article__comments {
		font-family: $agate-sans;
		font-weight: bold;
		@include padding(0.5, 1, 2, 1);
		border-left: 1px dotted $shadow;
		display: block;
		min-height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		a {
			display: block;
		}
	}

	.article__author__image {
		background-color: $background;
		border-radius: 32px;
		width: 64px;
		height: 64px;
		overflow: hidden;
		vertical-align: middle;
		float: left;
		margin-right: 0.5em;
		margin-bottom: -1em;

		img {
			height: 100%;
			margin-left: -10%;
		}
	}

	.article__image-caption__icon {
		display: none;
	}

	@include mq($to: col1) {
		.article__meta {
			padding-right: cols($base-1, 1, 1);
		}
		.article__comments {
			width: cols($base-1, 1);
		}
		.article__comments__label {
			display: none;
		}
	}

	@include mq(col1, col2) {
		.article__meta {
			padding-right: cols($base-2, 2, 1);
		}
		.article__comments {
			width: cols($base-2, 2);
		}
		.article__comments__label {
			display: none;
		}
	}

	@include mq(col2, col3) {
		.inner-header,
		.article__standfirst,
		.article__meta {
			padding-right: cols($base-3, 3, 1);
		}
		.article__comments {
			width: cols($base-3, 3);
		}
	}

	@include mq($from: col3) {
		.inner-header,
		.article__standfirst,
		.article__meta {
			padding-right: cols($base-4, 4, 1);
		}
		.article__comments {
			width: cols($base-4, 4);
		}
	}
}