ul.tabs {
	@include meta;
	@include margin(1, 0);
	li {
		color: $standfirst;
		font-family: $agate-sans;
		border-top: 2px solid $shadow;
		margin-right: -4px;
		@include padding(0.5, 1, 2, 0.2);
		display: inline-table;
		width: 33.3%;
		@include mq($to: col2) {
			margin-right: -3px;
		}
	}
	li.selected {
		color: $news;
		font-weight: bold;
		border-top: 4px solid $news;
		padding-top: 4px;
	}
	li[data-href=".football-tabs-liveblog"].selected {
		color: $live;
		border-top-color: $live-accent;
	}
}