ul.tabs {
	@include meta;
	@include margin(1, 0);
	@include mq($to: col1) {
		@include margin(1);
	}
	li {
		width: 33.3%;
		@include padding(0.5, 1, 2, 0.2);
		border-top: 2px solid $shadow;
		display: inline-table;
		font-family: $agate-sans;
		color: $standfirst;
		margin-right: -4px;
		@include mq($to: col2) {
			margin-right: -3px;
		}
	}
	li.selected {
		border-top: 4px solid $news;
		font-weight: bold;
		color: $news;
		padding-top: 4px;
	}
}

.android {
	ul.tabs {
		@include margin(1);
	}
}