.article__header {
	background-image: none; // Hide Cif elements from non-Cif pages
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	ul > li {
		font-family: $egyptian-text;
		color: $standfirst;
	}
	ul > li:before {
		content: "\2022  ";
		font-family: $egyptian-display;
		font-weight: 600;
		color: $shadow;
	}

	.inner-header,
	.article__standfirst,
	.article__meta,
	.article__image,
	.article__byline {
		-webkit-flex: 1;
		flex: 1;
	}

	.article__section {
		font-family: $egyptian-display;
		font-weight: 600;
		@include headline(0.5);
		@include padding(0.5, 1, 0.5, 1);
	}

	 .article__headline {
		color: $headline;
		font-family: $egyptian-display;
		font-weight: 200;
		@include headline();
		@include margin(0, 0, 3, 0);
		@include padding(0, 1, 0, 1);
		span {
			display: none; // Hide Cif elements from non-Cif pages
		}
	}

	.article__standfirst {
		color: $standfirst;
		font-family: $egyptian-text;
		@include standfirst();
		@include padding(0.5, 1, 0, 1);
	}
	
	.article__review-rating {
		color: $standfirst;
		
		.article__review-rating--1 .icon:nth-child(-n+1),
		.article__review-rating--2 .icon:nth-child(-n+2),
		.article__review-rating--3 .icon:nth-child(-n+3),
		.article__review-rating--4 .icon:nth-child(-n+4),
		.article__review-rating--5 .icon:nth-child(-n+5) {
			color: $news-sec;
		}
	}

	.article__alerts {
		@include meta();
		@include padding(0, 1, 0, 1);
		width: 100%;
		display: none;
	}

	.article__meta {
		@include meta();
		border-top: 1px dotted $shadow;
		border-bottom: 1px dotted $shadow;
		@include margin(0.5, 0, 0, 0);
		position: relative;
		overflow: hidden;

		.article__pubdate {
			color: $meta;
			font-family: $agate-sans;
		}

		.article__pubdate,
		.article__comments,
		.article__alerts, {
			@include padding(0.5, 1, 2, 1);
		}

		.article__comments,
		.article__alerts {
			font-family: $agate-sans;
			font-weight: bold;
			min-height: 100%;
			position: absolute;
			top: 0;
		}

		.article__comments {
			border-left: 1px dotted $shadow;
			display: block;
			right: 0;
		}
	}

	.article__byline {
		line-height: 1.25;
		margin: 0;
		border-bottom: 1px dotted $shadow;
		@include padding(0.75, 1, 2, 1);
		#contributor-link {
			font-weight: bold;
		}
	}

	@include mq($to: col1) {
		.article__pubdate {
			width: cols($base-1, 3);
		}
		.article__comments {
			width: cols($base-1, 1, 1);
			.comment-label {
				display: none;
			}
		}
	}

	@include mq(col1, col2) {
		.article__pubdate {
			width: cols($base-2, 6, 1);
		}
		.article__comments {
			width: cols($base-2, 2);
			.comment-label {
				display: none;
			}
		}
	}

	@include mq(col2, col3) {
		.inner-header,
		.article__standfirst {
			padding-right: cols($base-3, 3);
		}
		.article__pubdate {
			width: cols($base-3, 9, 1);
		}
		.article__comments {
			width: cols($base-3, 3);
		}
	}

	@include mq($from: col3) {
		.inner-header,
		.article__standfirst {
			padding-right: cols($base-4, 4);
		}
		.article__pubdate {
			width: cols($base-4, 12, 1);
		}
		.article__comments {
			width: cols($base-4, 4);
		}
	}
}