.article__body,
.discussion__body {
	@include body();

	p,
	ul,
	ol {
		@include margin(1, 0, 1, 0);
		br:first-child {
			display: none;
		}
	}
	figure + p {
		@include margin(-0.7, 0, 1, 0);
	}

	ul > li {
		position: relative;
		text-indent: 22px;
		&:before {
			color: $meta;
			font-size: 48px;
			line-height: 0.5;
			content: "\2022";
			position: absolute;
			top: 0;
			left: -22px;
		}
	}

	ol {
		counter-reset: li;
	}

	ol > li:before {
		content: counter(li)". ";
		counter-increment: li;
	}

	blockquote {
		color: $standfirst;
		font-style: italic;
		@include margin(0, 2, 2, 2);
		&.quoted {
			font-style: normal;
		}
		&:before {
			font-family: $icon;
			font-size: 48px;
			color: $meta;
			display: block;
			margin-bottom: 2px;
		}
		&.quoted:before {
			content: "\e029";
		}
	}

	hr {
		border: 0;
		height: 1px;
		background: $shadow;
	}

	h2 {
		font-family: $egyptian-display;
		font-weight: 600;
		font-size: 1em;
		margin-bottom: 1px;
		strong, b {
			font-weight: bold;
		}
	}
	p + h2 {
		margin-top: 20px;
	}

	em, i {
		font-style: italic;
	}
	strong, b {
		font-weight: bold;
	}
	strike {
		text-decoration: line-through;
	}
}