/*doc
---
title: Section
name: section
category: Partials
---
Used to indicate which section an article falls under.

```html_example
<h3 class="article__section">Football</h3>
```
*/

.article__section {
	font-family: $egyptian-display;
	font-weight: 600;
	color: $news;
	@include headline(0.5);
	@include padding(0.5, 1);
}