/*doc
---
title: Published date
name: pubdate
category: Partials
---
Used to display date and time an article was published.

```html_example
<p class="article__pubdate">19:07 GMT+1 Monday, 02 June 2014</p>
```
*/

.article__pubdate {
	color: $meta;
	font-family: $agate-sans;
	@include meta();
}