aside {
	float: right;
	@include margin(0, 0, 2, 2);
	
	@include mq(col1, col2) {
		margin-right: -$base-2;
	}
	
	@include mq(col2, col3) {
		margin-right: -(cols($base-3, 4));
	}
	
	@include mq($from: col3) {
		margin-right: -(cols($base-4, 5)+$base-4*2);
	}
	
	// Witness
	&.aside-witness {
		border-top: 1px dotted $shadow;
		@include padding(1, 1, 1, 0);
		
		@include mq($to: col1) {
			width: 100%;
			padding-right: 0;
			margin-bottom: 18px;
			border-bottom: 1px dotted $shadow;
			display: flex;
			align-items: center;
		}
		@include mq(col1, col2) {
			width: cols($base-2, 3);
		}
		@include mq(col2, col3) {
			width: cols($base-3, 4);
		}
		@include mq($from: col3) {
			width: cols($base-4, 4);
		}
		
		.aside-witness__touchpoint {
			.touchpoint {
				background-color: $witness;
				color: $news-sec;
				&:active {
					background-color: $news-sec;
					color: $witness;
				}
			}
			@include mq($to: col1) {
				margin-right: 12px;
				min-width: 44px;
			}
		}
		
		.aside-witness__label {
			font-family: $agate-sans;
			font-weight: bold;
			@include meta();
			@include margin(0.5, 0, 0.5, 0);
			@include mq($to: col1) {
				margin: 0;
			}
		}
		
		.aside-witness__powered {
			width: 108px;
			height: auto;
			@include mq($to: col1) {
				min-width: 94px;
				height: 30px;
				margin-left: 12px;
			}
		}
	}
}