aside {
	float: right;
	@include margin(0, 0, 2, 2);

	@include mq(col1, col2) {
		margin-right: -$base-2;
	}

	@include mq(col2, col3) {
		margin-right: -(cols($base-3, 4));
	}

	@include mq($from: col3) {
		margin-right: -(cols($base-4, 5)+$base-4*2);
	}

	// Witness (Extra flexbox stuff is for Android <4.4)
	&.aside-witness {
		border-top: 1px dotted $shadow;
		@include padding(1, 1, 1, 0);
		position: relative;

		@include mq($to: col1) {
			width: 100%;
			padding-right: 0;
			margin-bottom: 18px;
			border-bottom: 1px dotted $shadow;
		}
		@include mq(col1, col2) {
			width: cols($base-2, 3);
		}
		@include mq(col2, col3) {
			width: cols($base-3, 4);
		}
		@include mq($from: col3) {
			width: cols($base-4, 4);
		}

		.touchpoint {
			display: inline-block;
			
			@include mq($to: col1) {
				@include flexbox;
				@include align-items(center);
			}
			
			& > * {
				display: block;
			}

			.touchpoint__button--primary {
				background-color: $witness;
				color: $news-accent;
				margin-right: 10px;
				@include mq($to: col1) {
					@include flex-shrink(0);
					min-width: 44px;
					-webkit-box-flex: 1;
				}
			}
		
			.touchpoint__label {
				color: $witness;
				padding: 0;
				@include margin(0.5, 0, 0.5, 0);
				-webkit-box-flex: 2;
			}
			
			&:active {
				.touchpoint__button {
					background-color: $news-accent;
					color: $witness;
				}
				.touchpoint__label {
					color: $news-accent;
				}
			}
		}

		.aside-witness__powered {
			width: 110px;
			height: 35px;
			@include mq($to: col1) {
				@include flex-shrink(0);
				-webkit-box-flex: 3;
				min-width: 90px;
				width: 90px;
				height: auto;
			}
		}
	}
}

#standard-article {
	aside.aside-witness {
		// Is made visible through js when it's correctly positioned
		display: none;
		&.positioned {
			display: block;
		}
	}
}