.discussion {
	font-family: $agate-sans;
	@include body();
	@include margin(1, 0, 0, 0);
	border-top: 1px solid $headline;
	@include padding(0, 0.75, 1.5, 0.75);
	background-color: white;
	overflow: hidden;
	position: relative;
	@include mq($to: col1) {
		padding: $base-1 / 1.5;
		margin: $base-1 / 1.5 $base-1 / 1.5 0 $base-1 / 1.5;
		display: block;
	}

	.discussion__header {
		@include padding(0.75, 0, 1.5, 0.75);
		@include mq($from: col2) {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.discussion__body {
		word-break: break-word;
		word-wrap: break-word;
		@include mq(col2, col3) {
			margin-right: cols($base-3, 1);
			margin-left: cols($base-3, 4);
		}
		@include mq($from: col3) {
			margin-right: cols($base-4, 1);
			margin-left: cols($base-4, 5);
		}
	}

	.discussion__avatar {
		height: 44px;
		width: 44px;
		border-radius: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.discussion__meta {
		@include meta();
		overflow: auto;
		word-break: break-all;
		word-wrap: break-word;
	}

	.discussion__role,
	.discussion__username {
		display: block;
		@include mq($to: col2) {
			display: inline;
		}
	}
	.discussion__username {
		color: $headline;
		font-weight: bold;
	}

	.discussion__responseto {
		font-weight: bold;
		display: none;
	}

	.discussion__timestamp {
		color: $meta;
		display: block;
	}

	.discussion__recommend {
		@include meta();
		@include margin(0.75, 0.75, 0.75, 0.75);
		text-align: center;
		position: absolute;
		display: block;
		top: 0;
		right: 0;

		.icon-circle,
		span {
			-webkit-transition: 0.2s all ease-in;
		}
		.icon-circle .icon {
			font-size: 14px;
		}
		&.increase {
			font-weight: bold;
			.icon-circle {
				color: $white;
				border-color: $news-sec;
				background-color: $news-sec !important;
			}
		}
		
		@include mq($to: col1) {
			width: 54px;
			.icon-circle {
				float: left;
			}
		}
		@include mq(col1, col2) {
			width: 60px;
			.icon-circle {
				float: left;
			}
		}
	}

	.discussion__options {
		@include meta();
		@include padding(0.75, 0, 0, 0);
		overflow: auto;
		display: none;
		.icon {
			display: inline-block;
		}
		.discussion__reply {
			font-weight: bold;
			float: left;
		}
		.discussion__report {
			float: right;
		}
	}

	// Response
	&.is-response {
		margin-top: 0;
		border-top: none;
		@include padding(0, 0.75, 4, 0.75);

		.discussion__header {
			border-top: $shadow 1px dotted;
			position: static;
			padding-left: 0;
			@include mq($to: col1) {
				margin-left: cols($base-1, 0.75);
			}
			@include mq(col1, col2) {
				margin-left: cols($base-2, 1);
			}
			@include mq(col2, col3) {
				margin-left: cols($base-3, 4);
			}
			@include mq($from: col3) {
				margin-left: cols($base-4, 5);
			}
		}

		.discussion__avatar {
			display: none;
		}

		.discussion__username {
			display: inline;
		}

		.discussion__timestamp {
			@include padding(0, 0, 1, 0);
			position: absolute;
			bottom: 0;
		}

		.discussion__responseto,
		.discussion__username {
			display: inline-block;
		}
		.discussion__responseto {
			display: inline;
			color: $standfirst;
			.icon {
				display: inline;
				color: $meta;
			}
		}

		.discussion__body {
			color: $standfirst;
			@include mq($to: col1) {
				margin-left: cols($base-1, 0.75);
			}
			@include mq(col1, col2) {
				margin-left: cols($base-2, 1);
			}
		}
	}

	// Hidden response
	&.is-response-hidden {
		display: none;
	}

	// Blocked
	&.blocked {
		color: $meta;
		.discussion__meta {
			opacity: 0.5;
		}
		.discussion__recommend {
			display: none;
		}
	}
}