figure {
	img {
		display: block;
	}

	video {
		width: 100%;
	}

	figcaption {
		color: $standfirst;
		font-family: $agate-sans;
		@include meta();
		border-bottom: 1px dotted $shadow;
		@include mq(col2, col3) {
			padding-right: cols($base-3, 3);
		}
		@include mq($from: col3) {
			padding-right: cols($base-4, 4);
		}
	}

	// Full width
	&.figure-wide {
		img {
			width: 100%;
			height: auto;
		}
		figcaption {
			@include padding(0.5, 1, 2, 1);
		}
	}

	// Inline
	&.figure-inline {
		@include margin(1, 0, 1, 0);
		@include mq($to: col1) {
			img {
				width: 100%;
				height: auto;
			}
		}
		@include mq($from: col1) {
			float: left;
		}
		@include mq(col1, col2) {
			margin-right: $base-2 * 2;
		}
		@include mq(col2, col3) {
			margin-right: $base-3 * 2;
		}
		@include mq($from: col3) {
			margin-right: $base-4 * 2;
		}
		figcaption {
			@include padding(0.5, 0, 2, 0);
		}
	}
}