.icon {
	font-family: $icon;
	position: relative;
}

.icon-circle {
	color: $white;
	text-align: center;
	font-size: 24px;
	line-height: 44px;
	height: 44px;
	width: 44px;
	background-color: $news-pri;
	border-radius: 100%;
	display: table-cell;

	&.icon-circle-secondary {
		background-color: transparent !important;
		border: 1px solid $shadow;
		color: $standfirst;
	}
	&.icon-circle-small {
		font-size: 18px;
		line-height: 28px;
		height: 28px;
		width: 28px;
	}
}