.module {
	@include margin(0, 0, 2, 0);
	border-top: 2px solid $headline;

	.module__header,
	.module__footer {
		overflow: auto;
		font-family: $agate-sans;
		font-weight: bold;
		@include padding(0.666667, 0.166667, 2, 0.166667);
		display: table;
		width: 100%;

		@include mq($to: col1) {
			padding: $base-1 / 1.5;
		}

		& > div {
			display: table-cell;
		}
	}
	
	.module__title {
		vertical-align: top;

		.module__title__label {
			font-family: $egyptian-display;
			font-weight: 600;
			@include body(1.5);
			margin-top: -1px;
		}

		.comments-count {
			color: $meta;
			font-weight: 300;
		}
	}

	.module__action {
		float: right;
	}

	.module__header {
		.module__action .touchpoint__label {
			@include mq($to: col2) {
				display: none;
			}
		}
	}
}

.android {
	.module {
		@include margin(0,1,0,1);
	}
}