.offline {
	// Replace elements with empty boxes
	.element-video,
	.element-embed,
	.element-map,
	.element-audio {
		overflow: hidden;
		position: relative;
		background-color: $shadow;
		
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: $shadow;
			position: absolute;
			z-index: 20;
		}
		
		figcaption {
			background-color: $white;
		}
	}
}