.prose {
	@include body();

	h2 {
		font-family: $egyptian-display;
		font-weight: 600;
		font-size: 1em;
		margin: 0.75em 0;
		strong, b {
			font-weight: bold;
		}
	}

	p {
		@include text-underline($news, $white, $news-accent);
	}

	p,
	ul,
	ol {
		@include margin(1, 0);
		br:first-child {
			display: none;
		}
	}

	ol {
		counter-reset: li;

		> li:before {
			content: counter(li)". ";
			counter-increment: li;
		}
	}

	hr {
		border: 0;
		height: 1px;
		background: $shadow;
	}

	blockquote {
		color: $standfirst;
		font-style: italic;
		@include margin(2);
		&:before {
			color: $meta;
			font-family: $icon;
			font-size: 4rem; // 40px
			font-style: normal;
			line-height: 1;
			margin-bottom: -0.5rem;
			display: block;
		}

		&.quoted {
			&:before {
				content: "\e029";
				margin-top: -0.75rem;
			}
		}

		&.twitter-tweet {
			font-family: $agate-sans;
			font-size: $meta-size-1;
			line-height: $meta-lead-1;
			&:before {
				content: "\e06b";
			}

			p {
				color: $standfirst;
				font-size: $meta-size-2;
				line-height: $meta-lead-2;
				@include margin(0.5, 0);
			}
		}
	}
}