/*doc
---
title: Selectable
name: selectable
category: Utilities
---
Makes a block of text selectable. Useful for portions of text users may wish to copy and paste

```html_example
<div class="selectable">Lib Dem leader aiming to convince supporters that coalition remains worthwhile, as his ratings plummet.</div>
```
*/

.selectable,
.selectable * {
	-webkit-user-select: text;
	-webkit-touch-callout: default;
}