.table--football {
	width: 100%;
	table-layout: fixed;

	// League Table
	td.football-stat--postition {
		color: $meta;
		.icon.up {
			color: #85c54b;
		}
		.icon.down {
			color: $alert;
		}
	}

	.football-stat--team {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 0;
	}

	.football-stat--played,
	.football-stat--difference,
	.football-stat--points {
		text-align: right;
		width: 15%;
	}

	.football-stat--points {
		font-weight: bold;
	}

	// Fixtures Table
	.football-match {
		&.has-ended {
			.football-match--status {
				font-weight: bold;
			}
		}
		&.is-live {
			font-weight: bold;
			.football-match--status {
				color: $news-accent;
			}
		}
	}
	.football-match--status {
		color: $meta;
	}
	.football-match--score {
		color: $standfirst;
		text-align: center;
		width: 20%;
	}
	.football-match--home,
	.football-match--away {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 40%;
	}
	.football-match--home {
		text-align: right;
	}
}