.table,
.prose table {
	font-family: $agate-sans;
	@include meta();
	@include margin(1, 0);
	border-top: 2px solid $news-accent;

	td, th {
		text-align: left;
		vertical-align: top;
	}

	th {
		@include padding(0.25, 1, 1, 0);
	}

	td {
		border-top: 1px solid $background;
		@include padding(0.25, 1, 1, 0);
	}
}