/*doc
---
title: Table
name: table
category: Partials
---
```html_example
<table class="table">
	<thead>
		<tr>
			<th>Fruit</th>
			<th>Colour</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Apple</td>
			<td>Green</td>
		</tr>
		<tr>
			<td>Orange</td>
			<td>Orange</td>
		</tr>
		<tr>
			<td>Banana</td>
			<td>Yellow</td>
		</tr>
		<tr>
			<td>Peach</td>
			<td>Peach</td>
		</tr>
	</tbody>
</table>
```
*/

.table,
.prose table {
	font-family: $agate-sans;
	@include meta();
	@include margin(1, 0);
	border-top: 2px solid $news-accent;

	td, th {
		text-align: left;
		vertical-align: top;
	}

	th {
		@include padding(0.25, 1, 1, 0);
	}

	td {
		border-top: 1px solid $background;
		@include padding(0.25, 1, 1, 0);
	}
}