.table--football {
	td.football-stat--postition {
		color: $meta;
		.icon.up {
			color: #85c54b;
		}
		.icon.down {
			color: $alert;
		}
	}

	.football-stat--team {
		width: 55%;
	}

	.football-stat--played,
	.football-stat--difference,
	.football-stat--points {
		text-align: right;
		@include padding(0.25, 0, 1, 3);
		width: 15%;
	}

	.football-stat--points {
		font-weight: bold;
	}
}