.icon {
	font-family: $icon;
	position: relative;
}

.touchpoint {
	color: $white;
	text-align: center;
	font-size: 24px;
	line-height: 44px;
	height: 44px;
	width: 44px;
	background-color: $news-pri;
	border-radius: 100%;
	display: table-cell;
	&:active {
		background-color: $news-sec;
	}

	&.touchpoint-secondary {
		color: $standfirst;
		background-color: transparent;
		border: 1px solid $shadow;
		&:active {
			color: $white;
			background-color: $standfirst;
			border-color: transparent;
		}
	}

	&.touchpoint-small {
		font-size: 18px;
		line-height: 28px;
		height: 28px;
		width: 28px;
	}
}