.icon {
	font-family: $icon;
}

.touchpoint {
	display: block;
}

.touchpoint__button {
	color: $white;
	text-align: center;
	font-size: 24px;
	line-height: 44px;
	vertical-align: middle;
	border-radius: 100%;
	display: inline-block;
	height: 44px;
	width: 44px;
}

.touchpoint__button--primary {
	background-color: $news;
	&:active {
		background-color: $news-accent;
	}
}

.touchpoint__button--secondary {
	color: $standfirst;
	background-color: transparent;
	border: 1px solid $shadow;
	&:active {
		color: $white;
		background-color: $standfirst;
		border-color: transparent;
	}
}

.touchpoint__button--small {
	font-size: 18px;
	line-height: 28px;
	height: 28px;
	width: 28px;
}

.touchpoint__label {
	@include meta();
	font-family: $agate-sans;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	padding: 0 6px;
}
