@charset "UTF-8";
/*doc
---
title: Colours
name: colour
category: Base
---
A standard colour palette used across the Guardian’s digital products.

```html_example
<p><b>Basic Shades</b></p>
<div class="styleguide__color--shade-1"></div>
<div class="styleguide__color--shade-2"></div>
<div class="styleguide__color--shade-3"></div>
<div class="styleguide__color--shade-4"></div>
<div class="styleguide__color--shade-5"></div>
<div class="styleguide__color--shade-6"></div>
<div class="styleguide__color--shade-7"></div>
<div class="styleguide__color--shade-8"></div>

<p class="clear"><b>Tone News</b></p>
<div class="styleguide__color--tone-news"></div>
<div class="styleguide__color--tone-news-accent"></div>

<p class="clear"><b>Tone Live</b></p>
<div class="styleguide__color--tone-live"></div>
<div class="styleguide__color--tone-live-accent"></div>

<p class="clear"><b>Tone Media</b></p>
<div class="styleguide__color--tone-media"></div>
<div class="styleguide__color--tone-media-accent"></div>

<p class="clear"><b>Tone Feature</b></p>
<div class="styleguide__color--tone-feature1"></div>
<div class="styleguide__color--tone-feature1-accent"></div>

<p class="clear"><b>Tone Comment</b></p>
<div class="styleguide__color--tone-comment"></div>
<div class="styleguide__color--tone-comment-accent"></div>
<div class="styleguide__color--tone-comment-text"></div>
<div class="styleguide__color--tone-comment-bg"></div>

<p class="clear"><b>Tone DeadBlog</b></p>
<div class="styleguide__color--tone-deadblog"></div>

<p class="clear"><b>Tone Review</b></p>
<div class="styleguide__color--tone-review-accent"></div>
<div class="styleguide__color--tone-review"></div>
<div class="styleguide__color--tone-review-meta-background"></div>

<p class="clear"><b>Tone Analysis</b></p>
<div class="styleguide__color--tone-analysis"></div>

<p class="clear"><b>Tone Podcast</b></p>
<div class="styleguide__color--tone-podcast"></div>
<div class="styleguide__color--tone-podcast-ply-background"></div>

<p class="clear"><b>Tags</b></p>
<div class="styleguide__color--global-tags"></div>
<div class="styleguide__color--blogs-tags"></div>

<p class="clear"><b>Witness</b></p>
<div class="styleguide__color--witness clear"></div>
<div class="styleguide__color--witness-bg"></div>

<p class="clear"><b>Comments</b></p>
<div class="styleguide__color--tone-comments-more-bg"></div>

<p class="clear"><b>ADV tones</b></p>
<div class="styleguide__color--global-adv-bg"></div>
<div class="styleguide__color--global-adv-bands"></div>
<div class="styleguide__color--global-adv-text"></div>
```
*/
.styleguide--base .codeExample,
.styleguide--base .styleguide__article__body > p {
  margin-bottom: 0; }
.styleguide--base .exampleOutput {
  background: none;
  padding: 12px; }
  .styleguide--base .exampleOutput::before {
    display: none; }
.styleguide--base .codeBlock {
  display: none; }

.styleguide__main {
  padding: 57px 0px 12px 0px;
  position: relative; }

.styleguide__main--intro {
  padding: 0; }
  @media all and (min-width: 40.63em) {
    .styleguide__main--intro {
      margin: 1em auto;
      width: 80%;
      max-width: 40em; } }

.styleguide__navigation {
  background-color: #ececec;
  width: 14em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14em;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .styleguide__navigation .nav__item {
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-weight: 600;
    border-top: 1px solid #4bc6df; }
    .styleguide__navigation .nav__item a {
      padding: 3px 12px 28px 3px;
      display: block; }

.styleguide__navigation-checkbox {
  display: none; }

.styleguide__navigation-toggle {
  background-color: #eaeaea;
  border-bottom: 1px solid #4bc6df;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  .styleguide__navigation-toggle .touchpoint__button {
    color: #fff;
    background-color: #005689;
    margin: 0.75rem 0.5rem;
    cursor: pointer; }
  .styleguide__navigation-toggle:active .touchpoint__button {
    background-color: #4bc6df; }

.styleguide__main,
.styleguide__navigation,
.styleguide__navigation-toggle {
  -webkit-backface-visibility: hidden; }

.styleguide__main,
.styleguide__navigation-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out; }

#styleguide__navigation-checkbox:checked + .styleguide__navigation {
  visibility: visible; }

#styleguide__navigation-checkbox:checked ~ .styleguide__main,
#styleguide__navigation-checkbox:checked ~ .styleguide__navigation,
#styleguide__navigation-checkbox:checked ~ .styleguide__navigation-toggle {
  -webkit-transform: translateX(14em);
  transform: translateX(14em); }

.styleguide__article {
  background-color: #fff;
  border-bottom: 2px solid #dcdad5;
  overflow: hidden; }
  .styleguide__article .tags {
    max-width: 1024px;
    margin: 0 auto; }
    .styleguide__article .tags .inline-list__item:first-of-type {
      font-weight: normal; }

.styleguide__article__header {
  max-width: 1024px;
  margin: 0 auto; }
  .styleguide__article__header .headline {
    padding: 6px 12px 30px 12px; }

.styleguide__article__body {
  padding: 12px;
  max-width: 1024px;
  margin: 0 auto; }
  .styleguide__article__body > h1 {
    color: #333;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-size: 1.125em;
    font-weight: 600;
    margin: 0px 0px 6px 0px;
    padding-top: 3px; }
  .styleguide__article__body > p {
    color: #333;
    margin: 0px 0px 12px 0px; }
    @media all and (max-width: 40.62em) {
      .styleguide__article__body > p {
        font-size: 1.4rem;
        line-height: 2rem; } }
    @media all and (min-width: 40.63em) {
      .styleguide__article__body > p {
        font-size: 1.6rem;
        line-height: 2.2rem; } }
  .styleguide__article__body .highlight pre {
    line-height: 1.2;
    white-space: pre-wrap; }
  .styleguide__article__body .advert-slot {
    display: block !important; }

.styleguide__contentinfo {
  color: #767676;
  font-family: "Guardian Agate Sans 1 Web", sans-serif;
  padding: 12px 12px 24px 12px; }
  @media all and (max-width: 40.62em) {
    .styleguide__contentinfo {
      font-size: 1.4rem;
      line-height: 2rem; } }
  @media all and (min-width: 40.63em) {
    .styleguide__contentinfo {
      font-size: 1.6rem;
      line-height: 2.2rem; } }

.clear {
  clear: left; }

.styleguide__anim {
  background-color: #999;
  margin: 0 0 0.5em -1px;
  width: 100%;
  height: 2em;
  position: relative; }
  .styleguide__anim::after {
    content: 'Hover to play';
    color: rgba(234, 234, 234, 0.75);
    font-family: "Guardian Agate Sans 1 Web", sans-serif;
    text-align: center;
    padding: 0.5em 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media all and (max-width: 40.62em) {
      .styleguide__anim::after {
        font-size: 1.26rem;
        line-height: 1.8rem; } }
    @media all and (min-width: 40.63em) {
      .styleguide__anim::after {
        font-size: 1.44rem;
        line-height: 1.98rem; } }
  .styleguide__anim > span {
    background-color: #333;
    width: 2em;
    height: 2em;
    display: block;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }
  .styleguide__anim:hover > span {
    -webkit-animation-play-state: running;
    animation-play-state: running; }

.styleguide__icon {
  color: #999;
  font-family: "Guardian Agate Sans 1 Web", sans-serif;
  margin: 0px 24px 24px 0px;
  min-width: 12em;
  display: inline-block; }
  @media all and (max-width: 40.62em) {
    .styleguide__icon {
      font-size: 1.05rem;
      line-height: 1.5rem; } }
  @media all and (min-width: 40.63em) {
    .styleguide__icon {
      font-size: 1.2rem;
      line-height: 1.65rem; } }
  .styleguide__icon [data-icon]::before {
    color: #333;
    font-size: 250%;
    vertical-align: middle;
    margin: 6px 6px 6px 0px; }

[class^=styleguide__color--] {
  color: #333;
  font-family: "Guardian Agate Sans 1 Web", sans-serif;
  text-align: center;
  text-shadow: #ffffff 0 0 2px;
  vertical-align: middle;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 0.5em -1px;
  width: 8em;
  height: 8em;
  float: left; }

.styleguide__color--tone-news {
  background: #005689; }

.styleguide__color--tone-news-accent {
  background: #4bc6df; }

.styleguide__color--tone-live {
  background: #b51800; }

.styleguide__color--tone-live-accent {
  background: #cc2b12; }

.styleguide__color--tone-deadblog {
  background: #b51800; }

.styleguide__color--tone-review {
  background: #615b52; }

.styleguide__color--tone-review-accent {
  background: #ffce4b; }

.styleguide__color--tone-review-meta-background {
  background: #7d7569; }

.styleguide__color--tone-analysis {
  background: #005689; }

.styleguide__color--tone-podcast {
  background: #a7d8f2; }

.styleguide__color--tone-podcast-ply-background {
  background: #171717; }

.styleguide__color--tone-podcast-adv-ply-background {
  background: #636363; }

.styleguide__color--tone-podcast-adv-ply-range {
  background: #cbc9c5; }

.styleguide__color--tone-media {
  background: #fb0; }

.styleguide__color--tone-media-accent {
  background: #ffd35c; }

.styleguide__color--tone-special {
  background: #63717a; }

.styleguide__color--tone-special-accent {
  background: #aad8f1; }

.styleguide__color--tone-special-meta-background {
  background: #6e7e88; }

.styleguide__color--tone-editorial {
  background: #005689; }

.styleguide__color--tone-editorial-bg {
  background: #efefec; }

.styleguide__color--global-tags {
  background: #f1f1f1; }

.styleguide__color--blogs-tags {
  background: #e0e0e0; }

.styleguide__color--global-section-band {
  background: #ececec; }

.styleguide__color--global-sponsored-label {
  background: #878787; }

.styleguide__color--global-sponsored-border {
  background: #b5b3ae; }

.styleguide__color--global-adv-bg {
  background: #d9d9d9; }

.styleguide__color--global-adv-bands {
  background: #878787; }

.styleguide__color--global-adv-text {
  background: #272727; }

.styleguide__color--shade-1 {
  background: #333; }

.styleguide__color--shade-2 {
  background: #767676; }

.styleguide__color--shade-3 {
  background: #999; }

.styleguide__color--shade-4 {
  background: #dcdad5; }

.styleguide__color--shade-5 {
  background: #eaeaea; }

.styleguide__color--shade-6 {
  background: #484848; }

.styleguide__color--shade-7 {
  background: #fff; }

.styleguide__color--shade-8 {
  background: #f6f6f6; }

.styleguide__color--shade-9 {
  background: #000; }

.styleguide__color--shade-10 {
  background: #676767; }

.styleguide__color--tone-feature1 {
  background: #951c55; }

.styleguide__color--tone-feature1-accent {
  background: #b82266; }

.styleguide__color--tone-feature1-accent2 {
  background: #f7acbb; }

.styleguide__color--tone-comment {
  background: #e6711b; }

.styleguide__color--tone-comment-accent {
  background: #f39f33; }

.styleguide__color--tone-comment-text {
  background: #2d2a26; }

.styleguide__color--tone-comment-bg {
  background: #e3e1dc; }

.styleguide__color--tone-comments-more-bg {
  background: #005689; }

.styleguide__color--witness {
  background: #b7d8eb; }

.styleguide__color--witness-bg {
  background: #004f91; }

.styleguide__color--witness-active {
  background: #c3ddeb; }

.styleguide__color--neutral-1 {
  background: #333; }

.styleguide__color--neutral-2 {
  background: #767676; }

.styleguide__color--neutral-3 {
  background: #bdbdbd; }

.styleguide__color--tone-news {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-news:before, .styleguide__color--tone-news:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-news:before {
    content: "tone-news";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-news:after {
    content: "#005689"; }

.styleguide__color--tone-news-accent {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-news-accent:before, .styleguide__color--tone-news-accent:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-news-accent:before {
    content: "tone-news-accent";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-news-accent:after {
    content: "#4bc6df"; }

.styleguide__color--tone-live {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-live:before, .styleguide__color--tone-live:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-live:before {
    content: "tone-live";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-live:after {
    content: "#b51800"; }

.styleguide__color--tone-live-accent {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-live-accent:before, .styleguide__color--tone-live-accent:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-live-accent:before {
    content: "tone-live-accent";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-live-accent:after {
    content: "#cc2b12"; }

.styleguide__color--tone-deadblog {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-deadblog:before, .styleguide__color--tone-deadblog:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-deadblog:before {
    content: "tone-deadblog";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-deadblog:after {
    content: "#b51800"; }

.styleguide__color--tone-review {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-review:before, .styleguide__color--tone-review:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-review:before {
    content: "tone-review";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-review:after {
    content: "#615b52"; }

.styleguide__color--tone-review-accent {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-review-accent:before, .styleguide__color--tone-review-accent:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-review-accent:before {
    content: "tone-review-accent";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-review-accent:after {
    content: "#ffce4b"; }

.styleguide__color--tone-review-meta-background {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-review-meta-background:before, .styleguide__color--tone-review-meta-background:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-review-meta-background:before {
    content: "tone-review-meta-background";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-review-meta-background:after {
    content: "#7d7569"; }

.styleguide__color--tone-analysis {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-analysis:before, .styleguide__color--tone-analysis:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-analysis:before {
    content: "tone-analysis";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-analysis:after {
    content: "#005689"; }

.styleguide__color--tone-podcast:before, .styleguide__color--tone-podcast:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--tone-podcast:before {
  content: "tone-podcast";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--tone-podcast:after {
  content: "#a7d8f2"; }

.styleguide__color--tone-podcast-ply-background {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-podcast-ply-background:before, .styleguide__color--tone-podcast-ply-background:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-podcast-ply-background:before {
    content: "tone-podcast-ply-background";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-podcast-ply-background:after {
    content: "#171717"; }

.styleguide__color--tone-podcast-adv-ply-background {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-podcast-adv-ply-background:before, .styleguide__color--tone-podcast-adv-ply-background:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-podcast-adv-ply-background:before {
    content: "tone-podcast-adv-ply-background";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-podcast-adv-ply-background:after {
    content: "#636363"; }

.styleguide__color--tone-podcast-adv-ply-range:before, .styleguide__color--tone-podcast-adv-ply-range:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--tone-podcast-adv-ply-range:before {
  content: "tone-podcast-adv-ply-range";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--tone-podcast-adv-ply-range:after {
  content: "#cbc9c5"; }

.styleguide__color--tone-media {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-media:before, .styleguide__color--tone-media:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-media:before {
    content: "tone-media";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-media:after {
    content: "#fb0"; }

.styleguide__color--tone-media-accent {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-media-accent:before, .styleguide__color--tone-media-accent:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-media-accent:before {
    content: "tone-media-accent";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-media-accent:after {
    content: "#ffd35c"; }

.styleguide__color--tone-special {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-special:before, .styleguide__color--tone-special:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-special:before {
    content: "tone-special";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-special:after {
    content: "#63717a"; }

.styleguide__color--tone-special-accent:before, .styleguide__color--tone-special-accent:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--tone-special-accent:before {
  content: "tone-special-accent";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--tone-special-accent:after {
  content: "#aad8f1"; }

.styleguide__color--tone-special-meta-background {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-special-meta-background:before, .styleguide__color--tone-special-meta-background:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-special-meta-background:before {
    content: "tone-special-meta-background";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-special-meta-background:after {
    content: "#6e7e88"; }

.styleguide__color--tone-editorial {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-editorial:before, .styleguide__color--tone-editorial:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-editorial:before {
    content: "tone-editorial";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-editorial:after {
    content: "#005689"; }

.styleguide__color--tone-editorial-bg:before, .styleguide__color--tone-editorial-bg:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--tone-editorial-bg:before {
  content: "tone-editorial-bg";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--tone-editorial-bg:after {
  content: "#efefec"; }

.styleguide__color--global-tags:before, .styleguide__color--global-tags:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--global-tags:before {
  content: "global-tags";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--global-tags:after {
  content: "#f1f1f1"; }

.styleguide__color--blogs-tags:before, .styleguide__color--blogs-tags:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--blogs-tags:before {
  content: "blogs-tags";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--blogs-tags:after {
  content: "#e0e0e0"; }

.styleguide__color--global-section-band:before, .styleguide__color--global-section-band:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--global-section-band:before {
  content: "global-section-band";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--global-section-band:after {
  content: "#ececec"; }

.styleguide__color--global-sponsored-label {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--global-sponsored-label:before, .styleguide__color--global-sponsored-label:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--global-sponsored-label:before {
    content: "global-sponsored-label";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--global-sponsored-label:after {
    content: "#878787"; }

.styleguide__color--global-sponsored-border {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--global-sponsored-border:before, .styleguide__color--global-sponsored-border:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--global-sponsored-border:before {
    content: "global-sponsored-border";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--global-sponsored-border:after {
    content: "#b5b3ae"; }

.styleguide__color--global-adv-bg:before, .styleguide__color--global-adv-bg:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--global-adv-bg:before {
  content: "global-adv-bg";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--global-adv-bg:after {
  content: "#d9d9d9"; }

.styleguide__color--global-adv-bands {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--global-adv-bands:before, .styleguide__color--global-adv-bands:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--global-adv-bands:before {
    content: "global-adv-bands";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--global-adv-bands:after {
    content: "#878787"; }

.styleguide__color--global-adv-text {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--global-adv-text:before, .styleguide__color--global-adv-text:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--global-adv-text:before {
    content: "global-adv-text";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--global-adv-text:after {
    content: "#272727"; }

.styleguide__color--shade-1 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--shade-1:before, .styleguide__color--shade-1:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--shade-1:before {
    content: "shade-1";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--shade-1:after {
    content: "#333"; }

.styleguide__color--shade-2 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--shade-2:before, .styleguide__color--shade-2:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--shade-2:before {
    content: "shade-2";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--shade-2:after {
    content: "#767676"; }

.styleguide__color--shade-3 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--shade-3:before, .styleguide__color--shade-3:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--shade-3:before {
    content: "shade-3";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--shade-3:after {
    content: "#999"; }

.styleguide__color--shade-4:before, .styleguide__color--shade-4:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--shade-4:before {
  content: "shade-4";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--shade-4:after {
  content: "#dcdad5"; }

.styleguide__color--shade-5:before, .styleguide__color--shade-5:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--shade-5:before {
  content: "shade-5";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--shade-5:after {
  content: "#eaeaea"; }

.styleguide__color--shade-6 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--shade-6:before, .styleguide__color--shade-6:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--shade-6:before {
    content: "shade-6";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--shade-6:after {
    content: "#484848"; }

.styleguide__color--shade-7:before, .styleguide__color--shade-7:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--shade-7:before {
  content: "shade-7";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--shade-7:after {
  content: "#fff"; }

.styleguide__color--shade-8:before, .styleguide__color--shade-8:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--shade-8:before {
  content: "shade-8";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--shade-8:after {
  content: "#f6f6f6"; }

.styleguide__color--shade-9 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--shade-9:before, .styleguide__color--shade-9:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--shade-9:before {
    content: "shade-9";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--shade-9:after {
    content: "#000"; }

.styleguide__color--shade-10 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--shade-10:before, .styleguide__color--shade-10:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--shade-10:before {
    content: "shade-10";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--shade-10:after {
    content: "#676767"; }

.styleguide__color--tone-feature1 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-feature1:before, .styleguide__color--tone-feature1:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-feature1:before {
    content: "tone-feature1";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-feature1:after {
    content: "#951c55"; }

.styleguide__color--tone-feature1-accent {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-feature1-accent:before, .styleguide__color--tone-feature1-accent:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-feature1-accent:before {
    content: "tone-feature1-accent";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-feature1-accent:after {
    content: "#b82266"; }

.styleguide__color--tone-feature1-accent2:before, .styleguide__color--tone-feature1-accent2:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--tone-feature1-accent2:before {
  content: "tone-feature1-accent2";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--tone-feature1-accent2:after {
  content: "#f7acbb"; }

.styleguide__color--tone-comment {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-comment:before, .styleguide__color--tone-comment:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-comment:before {
    content: "tone-comment";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-comment:after {
    content: "#e6711b"; }

.styleguide__color--tone-comment-accent {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-comment-accent:before, .styleguide__color--tone-comment-accent:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-comment-accent:before {
    content: "tone-comment-accent";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-comment-accent:after {
    content: "#f39f33"; }

.styleguide__color--tone-comment-text {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-comment-text:before, .styleguide__color--tone-comment-text:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-comment-text:before {
    content: "tone-comment-text";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-comment-text:after {
    content: "#2d2a26"; }

.styleguide__color--tone-comment-bg:before, .styleguide__color--tone-comment-bg:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--tone-comment-bg:before {
  content: "tone-comment-bg";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--tone-comment-bg:after {
  content: "#e3e1dc"; }

.styleguide__color--tone-comments-more-bg {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--tone-comments-more-bg:before, .styleguide__color--tone-comments-more-bg:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--tone-comments-more-bg:before {
    content: "tone-comments-more-bg";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--tone-comments-more-bg:after {
    content: "#005689"; }

.styleguide__color--witness:before, .styleguide__color--witness:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--witness:before {
  content: "witness";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--witness:after {
  content: "#b7d8eb"; }

.styleguide__color--witness-bg {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--witness-bg:before, .styleguide__color--witness-bg:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--witness-bg:before {
    content: "witness-bg";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--witness-bg:after {
    content: "#004f91"; }

.styleguide__color--witness-active:before, .styleguide__color--witness-active:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--witness-active:before {
  content: "witness-active";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--witness-active:after {
  content: "#c3ddeb"; }

.styleguide__color--neutral-1 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--neutral-1:before, .styleguide__color--neutral-1:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--neutral-1:before {
    content: "neutral-1";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--neutral-1:after {
    content: "#333"; }

.styleguide__color--neutral-2 {
  text-shadow: 0 0 1px #000;
  font-weight: 200;
  color: #fff; }
  .styleguide__color--neutral-2:before, .styleguide__color--neutral-2:after {
    font-size: 75%;
    line-height: 1;
    width: 90%;
    display: inline-block; }
  .styleguide__color--neutral-2:before {
    content: "neutral-2";
    font-weight: bold;
    margin-top: calc(50% - 1.5em); }
  .styleguide__color--neutral-2:after {
    content: "#767676"; }

.styleguide__color--neutral-3:before, .styleguide__color--neutral-3:after {
  font-size: 75%;
  line-height: 1;
  width: 90%;
  display: inline-block; }
.styleguide__color--neutral-3:before {
  content: "neutral-3";
  font-weight: bold;
  margin-top: calc(50% - 1.5em); }
.styleguide__color--neutral-3:after {
  content: "#bdbdbd"; }

.codeExample {
  margin: 0px -12px 48px -12px; }

.exampleOutput::before,
.codeBlock::before {
  color: #999;
  font-family: "Guardian Agate Sans 1 Web", sans-serif;
  text-transform: uppercase;
  padding: 0px 0px 12px 0px;
  display: block;
  position: relative; }
  @media all and (max-width: 40.62em) {
    .exampleOutput::before,
    .codeBlock::before {
      font-size: 1.26rem;
      line-height: 1.8rem; } }
  @media all and (min-width: 40.63em) {
    .exampleOutput::before,
    .codeBlock::before {
      font-size: 1.44rem;
      line-height: 1.98rem; } }

.exampleOutput {
  background-image: linear-gradient(45deg, rgba(234, 234, 234, 0.75) 25%, transparent 25%, transparent 75%, rgba(234, 234, 234, 0.75) 75%, rgba(234, 234, 234, 0.75)), linear-gradient(45deg, rgba(234, 234, 234, 0.75) 25%, transparent 25%, transparent 75%, rgba(234, 234, 234, 0.75) 75%, rgba(234, 234, 234, 0.75));
  background-size: 44px 44px;
  background-position: 0 0, 22px 22px;
  padding: 12px 0px 0px 0px; }
  .exampleOutput::before {
    content: 'Example:';
    padding: 0px 0px 12px 12px; }
  .exampleOutput::after {
    content: '';
    display: table; }
  .exampleOutput::after {
    clear: both; }

.exampleOutput__heading {
  color: #767676;
  font-family: "Guardian Agate Sans 1 Web", sans-serif;
  font-size: 1em;
  margin-bottom: 0.5em;
  clear: both; }

.codeBlock {
  background-color: rgba(234, 234, 234, 0.75);
  padding: 12px; }
  .codeBlock::before {
    content: 'Markup:'; }

.c {
  color: #999988;
  font-style: italic; }

/* Comment */
.err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.k {
  color: #000000;
  font-weight: bold; }

/* Keyword */
.o {
  color: #000000;
  font-weight: bold; }

/* Operator */
.cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.cp {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Preproc */
.c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.ge {
  color: #000000;
  font-style: italic; }

/* Generic.Emph */
.gr {
  color: #aa0000; }

/* Generic.Error */
.gh {
  color: #999999; }

/* Generic.Heading */
.gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.go {
  color: #888888; }

/* Generic.Output */
.gp {
  color: #555555; }

/* Generic.Prompt */
.gs {
  font-weight: bold; }

/* Generic.Strong */
.gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.gt {
  color: #aa0000; }

/* Generic.Traceback */
.kc {
  color: #000000;
  font-weight: bold; }

/* Keyword.Constant */
.kd {
  color: #000000;
  font-weight: bold; }

/* Keyword.Declaration */
.kn {
  color: #000000;
  font-weight: bold; }

/* Keyword.Namespace */
.kp {
  color: #000000;
  font-weight: bold; }

/* Keyword.Pseudo */
.kr {
  color: #000000;
  font-weight: bold; }

/* Keyword.Reserved */
.kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.m {
  color: #009999; }

/* Literal.Number */
.s {
  color: #d01040; }

/* Literal.String */
.na {
  color: #008080; }

/* Name.Attribute */
.nb {
  color: #0086B3; }

/* Name.Builtin */
.nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.no {
  color: #008080; }

/* Name.Constant */
.nd {
  color: #3c5d5d;
  font-weight: bold; }

/* Name.Decorator */
.ni {
  color: #800080; }

/* Name.Entity */
.ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.nl {
  color: #990000;
  font-weight: bold; }

/* Name.Label */
.nn {
  color: #555555; }

/* Name.Namespace */
.nt {
  color: #000080; }

/* Name.Tag */
.nv {
  color: #008080; }

/* Name.Variable */
.ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
.w {
  color: #bbbbbb; }

/* Text.Whitespace */
.mf {
  color: #009999; }

/* Literal.Number.Float */
.mh {
  color: #009999; }

/* Literal.Number.Hex */
.mi {
  color: #009999; }

/* Literal.Number.Integer */
.mo {
  color: #009999; }

/* Literal.Number.Oct */
.sb {
  color: #d01040; }

/* Literal.String.Backtick */
.sc {
  color: #d01040; }

/* Literal.String.Char */
.sd {
  color: #d01040; }

/* Literal.String.Doc */
.s2 {
  color: #d01040; }

/* Literal.String.Double */
.se {
  color: #d01040; }

/* Literal.String.Escape */
.sh {
  color: #d01040; }

/* Literal.String.Heredoc */
.si {
  color: #d01040; }

/* Literal.String.Interpol */
.sx {
  color: #d01040; }

/* Literal.String.Other */
.sr {
  color: #009926; }

/* Literal.String.Regex */
.s1 {
  color: #d01040; }

/* Literal.String.Single */
.ss {
  color: #990073; }

/* Literal.String.Symbol */
.bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.vc {
  color: #008080; }

/* Name.Variable.Class */
.vg {
  color: #008080; }

/* Name.Variable.Global */
.vi {
  color: #008080; }

/* Name.Variable.Instance */
.il {
  color: #009999; }

/* Literal.Number.Integer.Long */

/*# sourceMappingURL=style.css.map */
