$p-kicker: #ab8958; // MAPI: kicker text
$p-feature-headline: #6b5840; // MAPI: feature headline
$p-soft: #f2ebdc; // MAPI: ?
$p-inverted: #eacca0; // MAPI: light kicker — need to update MAPI for news
$p-background: #ffffff; // MAPI: card background
$p-media-background: #161616;

.garnett--pillar-arts {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-background,
        $p-media-background
    );
}
