// Note the variable naming differences between the app templates adn MAPI:
//
// App templates name — MAPI name
// $p-kicker — main and pillar
// $p-feature-headline — featureHeadline
// $p-soft — no correspondence
// $p-inverted — mediaMain and elementBackground
// $p-background — no correspondence
// $p-media-background — 'background' override in media cards
// in addition, MAPI includes pillar-toned liveblogBackground and liveblogMain


@mixin pillar-colour($p-kicker, $p-feature-headline, $p-soft, $p-inverted, $p-background, $p-media-background) {
    .element-pullquote blockquote {
        color: $p-kicker;
    }

    .avatar {
        background-color: $p-inverted;
    }

    .prose .element-pullquote blockquote {
        &:before,
        &:after,
        footer {
            color: $p-kicker;
        }
    }

    .alerts:active,
    .alerts.following {
        background-color: $p-kicker;
        color: color(shade-7);
        border-color: transparent;
    }

    .alerts,
    .alerts.following:active {
        border-color: rgba($p-kicker, .5);
        color: $p-kicker;
    }

    .comment-count a {
        color: $p-kicker;
    }

    .comments__ordering {
        color: color(shade-9);

        &:active {
            color: color(shade-9);
        }
    }

    .comment__report,
    .comments .touchpoint--primary {
        .touchpoint__button {
            background-color: color(shade-9);
        }

        &:active .touchpoint__button {
            background-color: color(shade-9);
        }

        .touchpoint__label {
            color: color(shade-9);
        }

        &:active .touchpoint__label {
            color: color(shade-9);
        }
    }

    .comments__viewmore {
        .comments__viewmore--label {
            color: color(shade-9);
        }

        &:active .comments__viewmore--label {
            color: color(shade-9);
        }
    }

    // Maybe make this bit less smart and more manual later?
    @include pillar-reversible($p-kicker, $p-feature-headline, $p-soft, $p-inverted, $p-background);

    // Feature, Review, Recipe overrides
    &.garnett--type-feature,
    &.garnett--type-review,
    &.garnett--type-recipe {
        .headline {
            color: $p-kicker;
        }
    }

    // Comment overrides
    &.garnett--type-comment {
        .headline {
            font-weight: 400;
        }
    }

    // Immersive overrides
    &.garnett--type-immersive {
        .article__series,
        .article__series > a,
        .byline__author > a {
            color: $p-inverted;
        }

        .standfirst {
            // text links
            p, li {
                @include text-underline($p-inverted, lighten($p-inverted, .2));
            }
        }

        .section__rule {
            + p.has__dropcap {
                @include immersive-dropcap($p-kicker);
            }
        }
    }

    // Media overrides
    &.garnett--type-media {
        .keyline {
            &:before {
                background-color: color(shade-2);
            }
        };

        .keyline-4 {
            &:before {
                background-image: repeating-linear-gradient(color(shade-2), color(shade-2) 1px, transparent 1px, transparent 3px);
            }
        }

        .article__header,
        .article__body {
            background-color: $p-media-background;
        }
        .article__header {
            @include mq($from: col4) {
                background-color: darken($p-media-background, 5%);
            }
        }

        .section,
        .article-kicker,
        .headline,
        .main-media,
        .meta,
        .sponsorship {
            background-color: $p-media-background;
            color: color(shade-11);
        }

        .article--audio,
        .article--visual {
            background-color: $p-media-background;

            @include mq($from: col4) {
                background-color: darken($p-media-background, 5%);
            }
        }

        .audio-player__container {
            .audio-player {
                background-color: transparent;
            }
            .audio-player__wrapper {
                background-color: $p-media-background;
            }
            @include mq($from: col4) {
                background-color: darken($p-media-background, 5%);
            }
        }

        // hide horizontal white line above video cover image
        .element__inner {
            background-color: inherit;
        }

        .meta__published {
            color: color(shade-13);
        }

        @include pillar-reversible($p-inverted, $p-kicker, $p-feature-headline, $p-soft, $p-media-background);
    }

    // Live overrides
    &.garnett--type-live.is-live {
        .more__button {
            background-color: $p-kicker;

            &:active {
                background-color: darken($p-kicker, 10%);
            }
        }

        a.touchpoint {
            &:active {
                color: $p-kicker;
            }
        }

        .article__header,
        .section,
        .article-kicker,
        .headline,
        .standfirst,
        .standfirst__inner,
        .main-media,
        .touchpoint--primary:not(.comments__post) .touchpoint__button {
            background-color: $p-kicker;

        }

        @include mq($from: col4) {
            .article__header,
            .standfirst {
                background-color: darken($p-kicker, 5%);
            }
        }

        .sponsorship {
            background-color: color(tone-live);

            &__about-uri,
            &__formatted-sponsor-name,
            &__formatted-sponsor-name a {
                color: color(shade-7);
            }
        }

        .standfirst {
            color: $p-soft;

            a {
                color: color(shade-7);
            }
        }

        // Template specific styles
        .article--liveblog {
            .prose table,
            .table {
                border-top-color: $p-kicker;
            }

            .prose .element-pullquote {
                blockquote {
                    footer,
                    &::after,
                    &::before {
                        color: $p-kicker;
                    }
                }
            }

            .meta {
                background-color: $p-kicker;
            }
        }

        .key-events {
            border-top-color: $p-kicker;
            &__title {
                color: $p-kicker;
            }
            &__time,
            &__link,
            &__link h2 {
                .key-event--highlighted & {
                    color: $p-kicker !important;
                }
            }
        }

        .block--live-key-event {
            border-top-color: $p-feature-headline;

            .block__title {
                color: $p-kicker;
            }
        }

        .block--live-summary {
            .prose p,
            .prose li {
                @include text-underline($p-kicker, $p-feature-headline);
            }
        }
    }
}

// CSS for reversible pillar colours, this means we can
// use $kicker colours to mean $p-kicker or $p-inverted
// depending on context
@mixin pillar-reversible($kicker, $feature, $soft, $inverted, $background) {

    &:not(.garnett--type-live) {
        // Section and series labels above headline
        .article-kicker {
            color: $kicker;
        }

        // Author names
        .byline,
        .byline__author,
        .byline__author a {
            color: $kicker;
        }

        // in-article
        .prose,
        .standfirst {
            // text links
            p, li {
                @include text-underline($kicker, $feature);
            }
        }

        table {
            border-top-color: $soft;
        }

        .comment-count a {
            color: $kicker;
        }
    }

}
