// Note the variable naming differences between the app templates adn MAPI:
//
// App templates name — MAPI name
// $p-kicker — main and pillar
// $p-feature-headline — featureHeadline
// $p-soft — no correspondence
// $p-inverted — mediaMain and elementBackground
// $p-liveblog-background — liveblogBackground
// in addition, MAPI includes pillar-toned liveblogBackground and liveblogMain


@mixin pillar-colour($p-kicker, $p-feature-headline, $p-soft, $p-inverted, $p-liveblog-background) {
    .element-pullquote blockquote {
        color: $p-kicker;
    }

    .avatar {
        background-color: $p-inverted;
    }

    .prose .element-pullquote blockquote {
        &:before,
        &:after,
        footer {
            color: $p-kicker;
        }
    }

    .alerts:active,
    .alerts.following {
        background-color: $p-kicker;
        color: color(brightness-100);
        border-color: transparent;
    }

    .alerts,
    .alerts.following:active {
        border-color: rgba($p-kicker, .5);
        color: $p-kicker;
    }

    .comment-count a {
        color: $p-kicker;
    }

    .more--live-blogs .more__button {
        background-color: $p-kicker;

        &:active {
            background-color: darken($p-kicker, 10%);
        }
    }

    .comments__ordering {
        color: color(brightness-0);

        &:active {
            color: color(brightness-0);
        }
    }

    .comment__report,
    .comments .touchpoint--primary {
        .touchpoint__button {
            background-color: color(brightness-0);
        }

        &:active .touchpoint__button {
            background-color: color(brightness-0);
        }

        .touchpoint__label {
            color: color(brightness-0);
        }

        &:active .touchpoint__label {
            color: color(brightness-0);
        }
    }

    .comments__viewmore {
        .comments__viewmore--label {
            color: color(brightness-0);
        }

        &:active .comments__viewmore--label {
            color: color(brightness-0);
        }
    }

    // Maybe make this bit less smart and more manual later?
    @include pillar-reversible($p-kicker, $p-feature-headline, $p-soft, $p-inverted);

    // Feature, Review, Recipe overrides
    &.garnett--type-feature,
    &.garnett--type-review,
    &.garnett--type-recipe {
        .headline {
            color: $p-feature-headline;
        }
    }

    // Analysis overrides
    &.garnett--type-analysis {
        .headline {
            background-image: repeating-linear-gradient(to bottom, transparent, transparent calc(3.6rem - 1px), rgba($p-kicker, .5));
            @include mq($from: col2) {
                background-image: repeating-linear-gradient(to bottom, transparent, transparent calc(4.4rem - 1px), rgba($p-kicker, .5));
            }
        }
    }

    // Immersive overrides
    &.garnett--type-immersive {
        .article__series,
        .article__series > a,
        .byline__author > a {
            color: $p-inverted;
        }

        @include mq($from: col2) {
            // text links on tablet standfirst
            .standfirst {
                p, li {
                    @include text-underline($p-inverted, lighten($p-inverted, .2));
                }
            }
        }

        .section__rule {
            + p.has__dropcap {
                @include immersive-dropcap($p-kicker);
            }
        }
    }


    // play buttons
    .audio-player__button.touchpoint--primary .touchpoint__button,
    .element-placeholder .element-placeholder__button .touchpoint__button,
    .element-youtube .element-placeholder__button .touchpoint__button,
    .audio-player__slider__knob {
        background-color: $p-inverted;
    }

    .element-placeholder .element-placeholder__button .touchpoint__button,
    .element-youtube .element-placeholder__button .touchpoint__button,
    .audio-player__button.touchpoint--primary .touchpoint__button {
        &:before {
            color: color(brightness-100);
        }
    }

    .element-placeholder .element-placeholder__button .touchpoint__label,
    .element-youtube .element-placeholder__button .touchpoint__label {
        color: color(brightness-100);
    }

    // Media overrides
    &.garnett--type-media {
        .keyline {
            &:before {
                background-color: color(brightness-46);
            }
        };

        .keyline-4 {
            &:before {
                background-image: repeating-linear-gradient(color(brightness-46), color(brightness-46) 1px, transparent 1px, transparent 3px);
            }
        }

        .article__header,
        .article__body {
            background-color: color(tone-media-background);
        }
        .article__header {
            @include mq($from: col4) {
                background-color: darken(color(tone-media-background), 5%);
            }
        }


        .section,
        .article-kicker,
        .headline,
        .main-media,
        .meta,
        .sponsorship {
            background-color: color(tone-media-background);
            color: color(brightness-86);
        }

        .article--audio,
        .article--visual {
            background-color: color(tone-media-background);

            @include mq($from: col4) {
                background-color: darken(color(tone-media-background), 5%);
            }
        }

        .audio-player__container {
            .audio-player {
                background-color: transparent;
            }
            .audio-player__wrapper {
                background-color: color(tone-media-background);
            }
            @include mq($from: col4) {
                background-color: darken(color(tone-media-background), 5%);
            }
        }

        // hide horizontal white line above video cover image
        .element__inner {
            background-color: inherit;
        }

        .meta__published {
            color: color(brightness-93);
        }

        @include pillar-reversible($p-inverted, $p-kicker, $p-feature-headline, $p-soft);
    }

    // Live overrides
    &.garnett--type-live.is-live {
        a.touchpoint {
            &:active {
                color: $p-kicker;
            }
        }

        .article__header,
        .section,
        .article-kicker,
        .headline,
        .main-media,
        .touchpoint--primary:not(.comments__post) .touchpoint__button {
            background-color: $p-kicker;
        }

        .avatar {
            background-color: $p-feature-headline;
        }

        @include mq($from: col4) {
            .article__header,
            .standfirst {
                background-color: darken($p-liveblog-background, 5%);
            }
        }

        .sponsorship {
            background-color: color(tone-live);

            &__about-uri,
            &__formatted-sponsor-name,
            &__formatted-sponsor-name a {
                color: color(brightness-100);
            }
        }

        .standfirst {
            color: $p-soft;

            a {
                color: color(brightness-100);
            }
        }

        // Template specific styles
        .article--liveblog {
            .prose table,
            .table {
                border-top-color: $p-kicker;
            }

            .prose .element-pullquote {
                blockquote {
                    footer,
                    &::after,
                    &::before {
                        color: $p-kicker;
                    }
                }
            }

            .standfirst,
            .standfirst__inner,
            .meta,
            .main-media {
                background-color: $p-liveblog-background;
            }
            .meta__published__comments {
                border-left-color: rgba(color(tone-sandy-light), .5);
            }
        }

        .key-events {
            border-top-color: $p-kicker;
            &__title {
                color: $p-kicker;
            }
            &__time,
            &__link,
            &__link h2 {
                .key-event--highlighted & {
                    color: $p-kicker !important;
                }
            }
        }

        .block--live-key-event {
            border-top-color: $p-feature-headline;

            .block__title {
                color: $p-kicker;
            }
        }

        .block--live-summary {
            .prose p,
            .prose li {
                @include text-underline($p-kicker, $p-feature-headline);
            }
        }
    }
}

// CSS for reversible pillar colours, this means we can
// use $kicker colours to mean $p-kicker or $p-inverted
// depending on context
@mixin pillar-reversible($kicker, $feature, $soft, $inverted) {

    &:not(.garnett--type-live) {
        // Section and series labels above headline
        .article-kicker {
            color: $kicker;
        }

        // Author names
        .byline,
        .headline__byline,
        .byline__author,
        .byline__author a {
            color: $kicker;
        }

        // in-article
        .prose,
        .standfirst {
            // text links
            p, li {
                @include text-underline($kicker, $feature);
            }
        }

        table {
            border-top-color: $soft;
        }

    }

}
