$p-kicker: #bb3b80; // MAPI: kicker text
$p-feature-headline: #7d0068; // MAPI: feature headline
$p-soft: #ffe6ec; // MAPI: ?
$p-inverted: #ffabdb; // MAPI: light kicker — need to update MAPI for news
$p-liveblog-background: #ffffff; // MAPI: card background
$p-media-background: #161616;

.garnett--pillar-lifestyle {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-liveblog-background,
        $p-media-background
    );
}
