.garnett--pillar-lifestyle {
    @include pillar-colour(
        color(lifestyle-kicker),
        color(lifestyle-feature-headline),
        color(lifestyle-soft),
        color(lifestyle-inverted),
        color(lifestyle-liveblog-background),
        color(lifestyle-media-background)
    );
}
