$p-kicker: #bb3b80;
$p-feature-headline: #7d0068;
$p-soft: #ffe6ec;
$p-inverted: #ffabdb;
$p-liveblog-background: #7d0068;
$p-media-background: #161616;

.garnett--pillar-lifestyle {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-liveblog-background,
        $p-media-background
    );
}
