// $p-kicker: #005689;
// $p-feature-headline: #02345e;
// $p-soft: #f6f6f6;
// $p-inverted: #00d4ff;
// $p-liveblog-background: #ffffff;
// $p-media-background: #161616;

$p-kicker: #e00000;
$p-feature-headline: #ad0006;
$p-soft: #f6f6f6;
$p-inverted: #ff4e36;
$p-liveblog-background: #ad0006;
$p-media-background: #161616;


.garnett--pillar-news {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-liveblog-background,
        $p-media-background
    );
}
