$p-kicker: #c70000;
$p-feature-headline: #880105;
$p-soft: #f6f6f6;
$p-inverted: #ff4e36;
$p-liveblog-background: #880105;
$p-media-background: #161616;


.garnett--pillar-news {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-liveblog-background,
        $p-media-background
    );
}
