$p-kicker: #e05e00;
$p-feature-headline: #bd5318;
$p-soft: #fef9f5;
$p-inverted: #ff7f0f;
$p-liveblog-background: #bd5318;
$p-media-background: #161616;

.garnett--pillar-opinion {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-liveblog-background,
        $p-media-background
    );

    // Light background in opinion articles
    &:not(.garnett--type-media) {

        .article__header .cutout__container,
        .article__body,
        .article__meta,
        .tags {
            background-color: $p-soft;
        }

        @include mq($to: col4) {
            .article__header {
                background-color: $p-soft;
            }
        }
        @include mq($from: col4) {
            .article__header {
                .article-kicker,
                .standfirst__inner,
                .meta,
                .main-media {
                    background-color: $p-soft;
                }
            }
            &:not(.garnett--type-comment, .garnett--type-immersive) .article__header .headline {
                background-color: $p-soft;
            }
        }
    }
}

// Comment articles in news showuld have opinion colours
.garnett--type-comment.garnett--pillar-news {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-liveblog-background,
        $p-media-background
    );
}
