$p-kicker: #0084c6; // MAPI: kicker text
$p-feature-headline: #005689; // MAPI: feature headline
$p-soft: #e6f5ff; // MAPI: ?
$p-inverted: #00b2ff; // MAPI: light kicker — need to update MAPI for news
$p-background: #ffffff; // MAPI: card background
$p-media-background: #161616;

.garnett--pillar-sport {
    @include pillar-colour(
        $p-kicker,
        $p-feature-headline,
        $p-soft,
        $p-inverted,
        $p-background,
        $p-media-background
    );
}
