/*
Syntax error: File to import not found or unreadable: scss/base/_reset.
              Load paths:
                /Users/plloyd/guardian/ios-live/mobile-apps-article-templates (DEPRECATED)
                /Users/plloyd/guardian/ios-live/mobile-apps-article-templates/ArticleTemplates/css
        on line 6 of ./ArticleTemplates/css/help.scss

1: // Variables and mixins
2: @import "scss/_variables";
3: @import "scss/_functions";
4: @import "scss/_mixins";
5: @import "scss/vendor/sass-mq/_mq";
6: @import "scss/base/_reset";
7: @import "scss/base/_typography";
8: 
9: #help {
10: 	font-family: $agate-sans;
11: 	font-size: $body-size-1;

Backtrace:
./ArticleTemplates/css/help.scss:6
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/import_node.rb:45:in `import'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/stack.rb:121:in `with_frame'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/stack.rb:79:in `with_base'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/engine.rb:274:in `render'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/plugin/compiler.rb:186:in `each'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.1/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.4.1/lib/listen/listener.rb:151:in `call'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.4.1/lib/listen/listener.rb:151:in `block in _wait_for_changes'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.4.1/lib/listen/listener.rb:146:in `loop'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.4.1/lib/listen/listener.rb:146:in `_wait_for_changes'
/Users/plloyd/.rvm/gems/ruby-2.0.0-p353/gems/listen-2.4.1/lib/listen/listener.rb:44:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: scss/base/_reset.\A               Load paths:\A                 /Users/plloyd/guardian/ios-live/mobile-apps-article-templates (DEPRECATED)\A                 /Users/plloyd/guardian/ios-live/mobile-apps-article-templates/ArticleTemplates/css\A         on line 6 of ./ArticleTemplates/css/help.scss\A \A 1: // Variables and mixins\A 2: @import \"scss/_variables\";\A 3: @import \"scss/_functions\";\A 4: @import \"scss/_mixins\";\A 5: @import \"scss/vendor/sass-mq/_mq\";\A 6: @import \"scss/base/_reset\";\A 7: @import \"scss/base/_typography\";\A 8: \A 9: #help {\A 10: 	font-family: $agate-sans;\A 11: 	font-size: $body-size-1;"; }
