// Colors
$news: #005689;
$news-accent: #4bc6df;

$comment: #e6711b;
$comment-accent-light: #f39f33;
$comment-accent-dark: #2d2a26;
$comment-bg: #eeebe8;

$feature1: #951c55;
$feature1-accent: #e02B7f;
$feature2: #4e0375;
$feature2-accent: #8006c2;
$feature3: #7d0068;
$feature3-accent: #c900a8;

$media: #fb0;
$media-bg: #333;

$advert: #aaa;
$advert-bg: rgba(0,0,0,0.07); // #ececec

$witness: #3e454c;
$live: #da1d1d;
$action: #213583;
$alert: #da1d1d;

$white: #fff;
$shadow: #dcdad5;
$background: #f6f6f6;

$headline: #333;
$standfirst: #666;
$meta: #999;

// Gutter
// 100% / ((5 * $gutter) + ($grid-squares - 1))
$base-1: 4.347826087%; // $grid-squares = 4
$base-2: 2.127659574%; // $grid-squares = 8
$base-3: 1.408450704%; // $grid-squares = 12
$base-4: 1.052631579%; // $grid-squares = 16

// Breakpoints
$mq-breakpoints: (
	(col1 450px)
	(col2 650px)
	(col3 900px)
);