figure {
	img {
		display: block;
	}

	// Video (naked)
	video {
		width: 100%;
	}

	figcaption {
		color: $standfirst;
		font-family: $AS32;
		font-size: $meta-size-1;
		line-height: $meta-lead-1;
		@include padding(0.5, 1, 1, 1);
		border-bottom: 1px dotted $shadow;

		@include mq(col2, col3) {
			padding-right: cols($base-3, 3);
		}
		@include mq($from: col3) {
			padding-right: cols($base-4, 4);
		}
	}
	
	.element-image-inner {
		background-color: $background;
		padding-bottom: 60%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	// Image (full width)
	&.figure-wide {
		img {
			width: 100%;
			height: auto;
		}
	}

	// Image (inline)
	&.figure-inline {
		@include mq($to: col1) {
			img {
				width: 100%;
				height: auto;
			}
		}
		@include mq($from: col1) {
			float: left;
		}
		@include mq(col1, col2) {
			padding-right: $base-2;
		}
		@include mq(col2, col3) {
			padding-right: $base-3;
		}
		@include mq($from: col3) {
			padding-right: $base-4;
		}
	}

	// Video
	&.element-video {
		width: 100%;
		position: relative;
		padding-bottom: 60%;
		overflow: hidden;
		iframe, object, embed, video {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
		}
		video {
			background-color: #000;
		}
		@include mq($from: col2) {
			width: 100%;
			padding-bottom: 79.8%;
		}
	}

	// Tweet
	&.element-tweet {
		blockquote {
			color: $meta;
			font-family: $AS32;
			font-style: normal;
			font-size: $meta-size-1;
			line-height: $meta-lead-1;
			p {
				color: $standfirst;
				font-size: $meta-size-4;
				line-height: $meta-lead-4;
				margin: 0;
			}
			&:before {
				content: "\e06b";
				font-size: 32px;
				font-style: normal;
				margin-bottom: 4px;
			}
		}
	}

	// Guardian Witness
	&.element-witness {
		@include meta();
		font-family: $AS32;

		img {
			max-width: 100%;
		}
		p {
			color: $standfirst;
			margin: 0;
		}
		.element-witness--title {
			font-weight: bold;
		}
		.element-witness--footer {
			color: $meta;
			font-size: $meta-size-1;
			@include padding(0.5, 0, 1, 0);
		}
		.element-witness--author {
			display: inline;
		}
		.element-witness--date {
			display: inline;
			&:before {
				content: "\00B7   ";
			}
		}
	}

	// Images, video and interactives within article body
	.body &.figure-wide,
	.body &.element-video,
	.body &.element-interactive {
		@include margin(0, -1, 1.5, -1);
		@include mq($from: col2) {
			width: 134%;
		}
	}
}