#alert {
	font-family: $AS32;
	font-weight: bold;
	color: $news-pri;
	span.icon {
		color: $standfirst;
	}
	.state-follow {
		display: none;
		span.icon {
			color: $news-sec;
		}
	}
	&.following {
		.state-follow {
			display: block;
		}
		.state-unfollow {
			display: none;
		}
	}

	@include mq($to: col1) {
	
	}

	@include mq(col1, col2) {
	
	}

	@include mq(col2, col3) {
	
	}

	@include mq($from: col3) {
	
	}
}