#header {
	background-image: none; // Hide Cif elements from non-Cif pages
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	h1 {
		color: $headline;
		font-family: $DE2;
		@include headline();
		@include margin(0, 0, 3, 0);
		span {
			display: none; // Hide Cif elements from non-Cif pages
		}
	}

	ul > li {
		font-family: $EgyptianText;
		color: $standfirst;
	}
	ul > li:before {
		content: "\2022  ";
		font-family: $DE6;
		color: $shadow;
	}

	.inner-header,
	.standfirst
	#meta,
	.figure-wide,
	.byline {
		-webkit-flex: 1;
		flex: 1;
	}

	.lead-tag {
		font-family: $DE6;
		margin: 0;
		@include padding(0.5, 1, 0.5, 1);
	}

	.inner-header {
		@include padding(0, 1, 0, 1);
	}

	.standfirst {
		color: $standfirst;
		font-family: $EgyptianText;
		@include standfirst();
		@include padding(0.5, 1, 0, 1);
	}

	#alert {
		@include meta();
	}

	#meta {
		@include meta();
		border-top: 1px dotted $shadow;
		@include margin(1.5, 0, 0, 0);
		position: relative;
		overflow: hidden;

		.timestamp {
			color: $meta;
			font-family: $AS32;
		}

		.liveblog-alerts,
		.inner-meta,
		.comment-count {
			@include padding(0.5, 1, 2, 1);
		}
		.comment-count,
		.liveblog-alerts {
			font-family: $AS32;
			font-weight: bold;
			min-height: 100%;
			position: absolute;
			top: 0;
			a {
				padding-bottom: 100px;
			}
		}
		.comment-count {
			border-left: 1px dotted $shadow;
			right: 0;
		}
	}

	@include mq($to: col1) {
		.lead-tag {
			font-size: $body-size-1;
		}
		#meta {
			.inner-meta {
				width: cols($base-1, 3);
			}
			.comment-count {
				width: cols($base-1, 1, 1);
				.comment-label {
					display: none;
				}
			}
		}
	}

	@include mq(col1, col2) {
		.lead-tag {
			font-size: $headline-size-2 / 2;
		}
		#meta {
			.inner-meta { 
				width: cols($base-2, 6);
			}
			.comment-count {
				width: cols($base-2, 2, 1);
				.comment-label {
					display: none;
				}
			}
		}
	}

	@include mq(col2, col3) {
		h1,
		.standfirst {
			width: cols($base-3, 9);
		}
		.lead-tag {
			font-size: $headline-size-3 / 2;
		}
		#meta {
			position: relative;
			.inner-meta {
				width: cols($base-3, 9);
			}
			.comment-count {
				width: cols($base-3, 3, 1);
			}
		}
	}

	@include mq($from: col3) {
		h1,
		.standfirst {
			width: cols($base-4, 12);
		}
		.lead-tag {
			font-size: $headline-size-4 / 2;
		}
		#meta {
			position: relative;
			.inner-meta {
				width: cols($base-4, 11);
			}
			.comment-count {
				width: cols($base-4, 5, 1);
			}
		}
	}
}