#tags {
	font-family: $AS32;
	@include meta();
	border-top: 1px dotted $shadow;
	@include padding(0.5, 1, 1, 1);
	width: 100%;

	ul {
		list-style: none;
		color: $meta;
		padding: 0;
		@include mq(col2, col3) {
			width: cols($base-3, 9);
		}
		@include mq($from: col3) {
			width: cols($base-4, 12);
		}
	}

	li {
		display: inline;
		white-space: nowrap;
		margin-right: -3px;
		&:after {
			content: "\00B7";
			margin: 0 4px;
		}
		&:last-of-type:after {
			display: none;
		}
		&:first-of-type {
			font-weight: bold;
		}
	}
}