/*doc
---
title: Cricket
name: cricket
category: Modules
---
Displays a cricket header.

```html_example
    <div id="cricket-header">
        <div class="cricket-game-in-play">
            <div class="cricket-game-in-play-text">
                This game is in play
            </div>
            <a href="#" class="cricket-game-in-play-follow">
                <span class="cricket-game-in-play-link">Find it here</span>
                <span class="cricket-game-in-play-icon" data-icon="&#xe00b;" aria-hidden="true"></span>
            </a>
        </div>
        <div class="cricket-match-comp-info">
             <h1><b class="cricket-match-comp-info__comp-name">Cricket</b> Second Test Match</h1>
        </div>
        <div class="cricket-match-summary-head">
            <div class="cricket-match-basic-info">
                <p><b>Day 1</b> The SWALEC Stadium</p>
            </div>                
        </div>
        <div class="cricket-match-summary-result cricket-inning-rain-delay">
            <div class="cricket-match-summary-last-inning">
                <div class="cricket-inning">
                    <div class="cricket-inning-team">
                        <div class="cricket-inning-team-wrap">
                            <h2 class="cricket-inning-team-name">
                                <img class="cricket-inning-team-name-crest" src="eng.jpg">England England England England England
                            </h2>
                        </div>
                    </div>
                    <div class="cricket-inning-runs">
                        256 - 10
                    </div>
                </div>
                <div class="cricket-inning-details">
                    <div class="cricket-inning-details-innings">
                        <b>1st</b> innings
                    </div>
                    <div class="cricket-inning-details-overs">
                        <b>8.6</b> overs
                    </div>
                </div>
            </div>
            <div class="cricket-match-summary-scorecard" id="cricket-match-summary-scorecard">
                <div class="cricket-scorecard-title">
                    <b>Scorecard</b> - England 1st Innings
                </div>
                <div class="cricket-scorecard-batsmen-wrap" id="cricket-scorecard-batsmen-wrap">
                    <div class="cricket-scorecard-batsmen-sheet" id="cricket-scorecard-batsmen-sheet">
                        <div class="cricket-scorecard-batsmen cricket-scorecard-batsmen-in-play">
                            <p class="cricket-scorecard-batsmen-name">Cook &#8212; 13</p>
                            <p class="cricket-scorecard-batsmen-status">in play</p>
                        </div><div class="cricket-scorecard-batsmen cricket-scorecard-batsmen-in-play">
                            <p class="cricket-scorecard-batsmen-name">Trott &#8212; 13</p>
                            <p class="cricket-scorecard-batsmen-status">in play</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cricket-match-summary-footer">
            <div class="cricket-match-summary-footer-wrap">
                <div class="cricket-footer-inning">
                    <p class="cricket-footer-inning-line">
                        <b>ENG - 1st</b>
                    </p>
                    <p class="cricket-footer-inning-line">
                        350 all out
                    </p>
                </div>
                <div class="cricket-footer-inning">
                    <p class="cricket-footer-inning-line">
                        <b>AUS - 1st</b>
                    </p>
                    <p class="cricket-footer-inning-line">
                        389 all out
                    </p>
                </div>
                <div class="cricket-footer-inning">
                    <p class="cricket-footer-inning-line">
                        <b>ENG - 2nd</b>
                    </p>
                    <p class="cricket-footer-inning-line">
                        453 dec
                    </p>
                </div>
            </div>
        </div>
    </div>
```
*/


%base-match-table{
	display: table;
	width: 100%;
	table-layout: fixed;

	border-bottom: 1px dotted color(shade-4);
	background: color(shade-7);
}

%meta-agata{
	font-family: $agate-sans;
	@include meta();
}

%meta-title-mq{
	font-family: $egyptian-display;
	font-weight: 200;
	color: color(shade-1);
    font-size: 2.3rem;
    padding-bottom: 0.3rem;
}

%meta-padding{
	padding: base-px(1, 1, 1, 1);
    @include mq($from: col1) {
        padding: base-px(.5, 1, .5, 1);
    }
}

.cricket-match-summary-head{
	@extend %base-match-table;
	@extend %meta-padding;
}

.cricket-match-basic-info{
	@extend %meta-agata;
	display: table-cell;
	width: 40%;
	color: color(shade-1);

	
	p{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.cricket-match-comp-info {
	background: color(tone-live-accent);
	color: color(shade-7);
	padding: 5px 12px;

	h1 {
		@include meta();
		font-family: $egyptian-display;
		font-weight: 300;
	}
}

.cricket-match-comp-info__comp-name {
	display: inline-block;
	padding-right: 4px;
}

.cricket-match-basic-follow{
	display: table-cell;
	width: 60%;
	text-align: right;
	vertical-align: middle;
}

.cricket-match-summary-result{
	@extend %base-match-table;
	min-height: 88px;
}

.cricket-match-summary-last-inning{
	display: table-cell;
	padding: base-px(1, 1, 1, 1);
	@include mq(col2, col3) {
        width: cols($base-3, 4, 1);
    }
    @include mq($from: col3) {
        width: cols($base-4, 5, 1);
    }
}

.cricket-inning,
.cricket-inning-details{
	display: table;
	width: 100%;
	table-layout: fixed;
}

.cricket-inning-team-wrap{
	white-space: nowrap;
}

.cricket-inning-team-name-crest{
	width: 37px;
	padding-right: base-px(.5);
	box-sizing: content-box;

    .cricket-inning-draw &,
    .cricket-inning-delay &,
    .cricket-inning-abandoned &,
    .cricket-inning-tea &,
    .cricket-inning-rain-delay &{
		display: none;
	}
}

.cricket-inning-team{
	display: table-cell;
	vertical-align: bottom;
	width: 66.6%;
}

.cricket-inning-team-name{
	@extend %meta-title-mq;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .cricket-inning-tea &:before,
    .cricket-inning-rain-delay &:before{
    	content: '';
    	display: inline-block;
    	width: 37px;
    	height: 21px;
		background: url(../img/cricket-dismissal.png);
		background-repeat: no-repeat;
    }

    .cricket-inning-tea &:before{
    	background-size: auto 39px;
		background-position: -2px -18px;
    }

    .cricket-inning-rain-delay &:before{
		background-size: auto 44px;
		background-position: -50px -20px;
    }
}

.cricket-inning-runs{
	@extend %meta-title-mq;
	display: table-cell;
	vertical-align: bottom;
	white-space: nowrap;
	width: 33.4%;
	text-align: right;
}

.cricket-match-summary-scorecard{
	display: table-cell;
	vertical-align: top;
	border-left: 1px solid color(shade-4);

	@include mq($to: col2) {
        display: none;
    }

    .cricket-inning-result &,
    .cricket-inning-draw &,
    .cricket-inning-delay &,
    .cricket-inning-abandoned &{
		display: none;
	}
}

.cricket-scorecard-title{
	@extend %meta-agata;
	color: color(shade-3);
	line-height: 1;
	border-bottom: 1px solid color(shade-4);
    padding: base-px(.6, 1, 1, 1);
    position: relative;
}

.cricket-scorecard-bullets{
	position: absolute;
	top: 3px;
	right: base-px(1) - 4px;

	span{
		background-color: color(shade-4);
		transition: background-color .2s;
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 4px;
		margin-right: 4px;
		&.cricket-scorecard-bullets--active{
			background-color: color(tone-news-accent);
		}
	}
}

.cricket-scorecard-batsmen-wrap{
	height: 62px;
	overflow: hidden;
}

.cricket-inning-details-innings,
.cricket-inning-details-overs{
	@extend %meta-agata;
	display: table-cell;
	color: color(shade-3);
	b{
		font-weight: bold;
	}
	em{
		font-weight: bold;
		font-style: normal;
		color: color(tone-news-accent);
	}
}

.cricket-inning-details-innings{
	width: 66.6%;
	padding-left: 37px + base-px(.5);

	.cricket-inning-draw &,
    .cricket-inning-delay &,
    .cricket-inning-abandoned &{
		padding-left: 0;
	}
}

.cricket-inning-details-overs{
	text-align: right;
	width: 33.4%;
}

.cricket-scorecard-batsmen{
	@extend %meta-agata;
	padding: base-px(.5, 1, 1, 1);
	display: inline-block;

	&-in-play, &-duck{
		.cricket-scorecard-batsmen-name:before{
			content: '';
			display: inline-block;
			position: relative;
			bottom: -3px;
			height: 20px;
			width: 20px;
			margin-right: 4px;
			background: url(../img/cricket-dismissal.png);
			background-repeat: no-repeat;
			background-size: auto 48px;
		}
	}

	.cricket-scorecard-batsmen-status{
		margin-top: -2px;
		em{
			font-style: normal;
			color: color(shade-2);
		}
	}

	&-in-play{
		.cricket-scorecard-batsmen-name{
			font-weight: bold;
		}
		.cricket-scorecard-batsmen-status{
			color: color(shade-2);
		}
	}

	&-duck{
		.cricket-scorecard-batsmen-name:before{
			background-position: -24px 0;
		}
	}
}

.cricket-match-summary-footer{
	@extend %base-match-table;
	white-space: nowrap;
	border-bottom: 1px solid color(shade-4);
}

.cricket-match-summary-footer-wrap{
	@extend %meta-padding;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.cricket-footer-inning{
	@extend %meta-agata;
	line-height: 1.2;
	margin-right: base-px(1);
	display: inline-block;
}

.cricket-game-in-play{
	background-color: color(tone-live);
	display: table;
	width: 100%;
	padding: base-px(.5) base-px(1);
	table-layout: fixed;

	& + .cricket-match-summary-head{
		border-top: 0;
	}
}

.cricket-game-in-play-text,
.cricket-game-in-play-follow{
	@extend %meta-agata;
	line-height: 1;
	display: table-cell;
	color: color(shade-7);
	vertical-align: middle;
}

.cricket-game-in-play-text{
	font-weight: bold;
}

.cricket-game-in-play-text,
.cricket-game-in-play-link{
	position: relative;
	top: -2px;
}

.cricket-game-in-play-follow{
	text-align: right;
	&:active{
		color: transparentize(color(shade-7), 0.4);
		.cricket-game-in-play-icon{
			border-color: transparentize(color(shade-7), 0.4);
		}
	}
}

.cricket-game-in-play-icon{
	display: inline-block;
	border: 1px solid color(shade-7);
	line-height: 28px;
	width: 30px;
	border-radius: 15px;
	box-sizing: content-box;
	text-align: center;
}

$animationTime: 5s;
$fadeOutInTime: .7s;
$inTime: (100% * ($fadeOutInTime/2)) / $animationTime;
$outTime: (100% * ($animationTime - ($fadeOutInTime/2))) / $animationTime;

.cricket-match-summary-scorecard[data-pages] .cricket-scorecard-batsmen-wrap{
	animation: fadeOutIn #{$animationTime} infinite forwards;
	-webkit-animation: fadeOutIn #{$animationTime} infinite forwards;
}

@-webkit-keyframes fadeOutIn {
	#{$inTime} { opacity: 1; }
	#{$outTime} { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeOutIn {
	#{$inTime} { opacity: 1; }
	#{$outTime} { opacity: 1; }
	to { opacity: 0; }
}