// Fonts
$egyptian-display: 'Guardian Egyptian Web', Georgia, serif;
$egyptian-text: 'Guardian Text Egyptian Web', Georgia, serif;
$titlepiece: 'Titlepiece', 'Guardian Egyptian Web', sans-serif;
$agate-sans: 'Guardian Agate Sans 1 Web', sans-serif;
$icon: 'Guardian Icons', Georgia, serif;
$guardian-sans: 'Guardian Text Sans Web', sans-serif;

// Gutter
// 100% / ((5 * $gutter) + ($grid-squares - 1))
$base-1: 4.347826087%; // $grid-squares = 4
$base-2: 2.127659574%; // $grid-squares = 8
$base-3: 1.408450704%; // $grid-squares = 12
$base-4: 1.052631579%; // $grid-squares = 16

// Breakpoints
$mq-breakpoints: (
    (col1 450px)
    (col2 650px)
    (col3 900px)
    (col4 1200px)
    (mobileLandscape 480px)
	(mobileLandscapeWide 870px)
	//immersive specific breakpoints don't use unless for immersive template
	(iphone4 320px)
	(iphone6 375px)
	(iphone6+ 414px)
	(ipadland 1024px)
);

// Flyer related sizing
$gs-baseline: 12px;
$gs-gutter: 20px;
$gs-span: 24.75rem;
$gs-span-wide: 30.75rem;
$fs-main-link: 100%;	
$fs-sub-link: 1.5rem;

// Card related sizing 
$related-card-width: 140px;
$related-card-gutter: 4px;
$related-card-upsize-col2: 1.3;
$related-card-upsize-col3: 1.5;
