// Fonts
$egyptian-display: 'Guardian Headline', 'Guardian Egyptian Web', Georgia, serif;
$egyptian-text: 'Guardian Text Egyptian Web', Georgia, serif;
$titlepiece: 'Titlepiece', 'Guardian Egyptian Web', sans-serif;
$agate-sans: 'Guardian Agate Sans 1 Web', sans-serif;
$icon: 'Guardian Icons', Georgia, serif;
$guardian-sans: 'Guardian Text Sans Web', sans-serif;

// Gutter
// 100% / ((5 * $gutter) + ($grid-squares - 1))
$base-1: 4.347826087%; // $grid-squares = 4
$base-2: 2.127659574%; // $grid-squares = 8
$base-3: 1.408450704%; // $grid-squares = 12
$base-4: 1.052631579%; // $grid-squares = 16

// Breakpoints
$mq-breakpoints: (
    col1: 450px,
    col2: 650px,
    col3: 900px,
    col4: 1200px,
    mobileMedium: 360px,
    mobileLandscape: 480px,
    mobileLandscapeWide: 870px
);

// Flyer related sizing
$gs-baseline: 12px;
$gs-gutter: 20px;
$gs-span: 24.75rem;
$gs-span-wide: 30.75rem;
$fs-main-link: 100%;
$fs-sub-link: 1.5rem;

// Card related sizing
$related-card-width: 140px;
$related-card-gutter: 4px;
$related-card-upsize-col2: 1.3;
$related-card-upsize-col3: 1.5;

// Garnett
// =============================================================================

$garnett-neutral-1: #121212;
$garnett-neutral-2: #999999;
$garnett-neutral-3: #f6f6f6;
$garnett-neutral-4: #dcdcdc;
$garnett-neutral-5: #ffffff;
$garnett-neutral-6: #767676;
$garnett-neutral-7: #444444;
$garnett-neutral-8: #ededed;


$news-garnett-main-1: #c70000; //used for kicker
$news-garnett-feature: #880105; //used for feature head
$news-garnett-media-main-1: #ff4e36; // used for kicker on media
$news-garnett-highlight: #ffe500;

$opinion-garnett-main-1: #e05e00;
$opinion-garnett-feature: #bd5318;
$opinion-garnett-media-main-1: #ff7f0f;
$opinion-garnett-background: #fef9f5;

$sport-garnett-main-1: #0084c6;
$sport-garnett-feature: #005689;
$sport-garnett-media-main-1: #00b2ff;

$culture-garnett-main-1: #a1845c;
$culture-garnett-feature: #6b5840;
$culture-garnett-media-main-1: #eacca0;

$lifestyle-garnett-main-1: #bb3b80;
$lifestyle-garnett-feature: #7d0068;
$lifestyle-garnett-media-main-1: #ffabdb;

$live-garnett-main-1: #ad0006;
$live-garnett-main-2: #ffbac8;
$live-garnett-dead-background: #eaeaea;
$live-garnett-accent: #d65353;
$live-garnett-sport1: $sport-garnett-feature;
$live-garnett-sport2: #90dcff;
$live-garnett-culture1: $culture-garnett-feature;
$live-garnett-culture2: #e7d4b9;
$live-garnett-lifestyle1: $lifestyle-garnett-feature;
$live-garnett-lifestyle2: $live-garnett-main-2;

$media-garnett-main-1: $multimedia-main-1;

$garnett-small-button-size: 30px;
$garnett-medium-button-size: 42px;
$garnett-large-button-size: 50px;
$garnett-x-large-button-size: 60px;

$garnett-small-button-icon: 14px;
$garnett-medium-button-icon: 16px;
$garnett-large-button-icon: 20px;
$garnett-x-large-button-icon: 24px;

$immersive-garnett-main-1: rgba(0, 0, 0, .65);
$analysis-garnett-underline: #ffbac8;

$garnett-nav-background: #e9eff1;