// Fonts
$egyptian-display: 'Egyptian Display', Georgia, serif;
$egyptian-text: 'Egyptian Text', Georgia, serif;
$titlepiece: 'Titlepiece', 'Egyptian Display', sans-serif;
$agate-sans: 'Agate Sans', sans-serif;
$icon: 'Guardian Icons', Georgia, serif;

// Gutter
// 100% / ((5 * $gutter) + ($grid-squares - 1))
$base-1: 4.347826087%; // $grid-squares = 4
$base-2: 2.127659574%; // $grid-squares = 8
$base-3: 1.408450704%; // $grid-squares = 12
$base-4: 1.052631579%; // $grid-squares = 16

// Breakpoints
$mq-breakpoints: (
    (col1 450px)
    (col2 650px)
    (col3 900px)
    (mobileLandscape 480px)
	(mobileLandscapeWide 870px)
);

// Flyer related sizing

$gs-baseline: 12px;
$gs-gutter: 20px;
$gs-span: 24.75rem;
$gs-span-wide: 30.75rem;
$fs-main-link: 100%;	
$fs-sub-link: 1.5rem;

