.garnett--type-article {

    .standfirst {
        color: inherit;
        font-family: $egyptian-text;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
        li:before {
            margin-right: 6px;
        }

    }

    &[data-content-type="football"] {
        .match-summary__meta {
            border-bottom-style: solid;
        }

        .tabs {
            margin: 0;
            padding: base-px(1);

            @include mq($from: col4) {
                .inline-list {
                    display: block;
                    margin: 0 auto 0 228px;
                    width: 620px;
                }
            }
        }

        .article.article--liveblog {
            margin-bottom: base-px(1);
        }

        .article__body.article__body--liveblog {
            background-color: transparent;

            .advert-slot--mpu {
                float: none;
                margin: 0 auto;
                position: static;
                width: 100%;
            }
        }

        .more--live-blogs {
            border: 0;
        }
    }
}
