.garnett--type-collection {
    h3 {
	    padding-bottom: 0.25em ;
	    border-bottom: dashed 1px #979797;
    }
    
    h3, p {
	    margin-bottom: 0.5em;
    }
    
    .collection-block {
	    border-bottom: solid 1px #979797;
	    padding-bottom: 2em;
	    margin-bottom: 0.15em;
    }

    .collection-blocks {
	    margin-bottom: 10em;
    }
}
