.garnett--type-live {
    &.is-live {
        .alerts {
            margin: base-px(.5, 1, .5, -.15);
            border-color: rgba(color(tone-sandy-light), .5);
        }

        .witness {
            margin-top: base-px(1);

            @include mq(col2, col3) {
                margin-left: cols($base-3, 4, 1);
            }

            @include mq($from: col3) {
                margin-left: cols($base-4, 5, 1);
            }

            @include mq($from: col4) {
                margin-left: 240px;
            }
        }

        .article__header {
            color: color(brightness-100);

            a {
                color: color(brightness-100);

                &:active {
                    opacity: rgba(color(brightness-100), .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(color(brightness-100), .8);
                }
            }

            .article-kicker,
            .headline,
            .byline,
            .section {
                color: color(brightness-100);
            }

            .standfirst {
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2rem;
                li:before {
                    margin-right: 6px;
                }
                p {
                    margin-bottom: base-px(.5);
                }
            }

            .article-kicker,
            .headline,
            .standfirst,
            .sponsorship {
                @include mq(col2, col3) {
                    padding-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    padding-left: cols($base-4, 5);
                }

            }

            .headline,
            .standfirst,
            .sponsorship {
                @include mq($from: col4) {
                    padding-left: 0;
                    margin: 0 auto;
                    max-width: 1200px;
                }
            }

            .article-kicker,
            .headline {
                @include mq($from: col4) {
                    padding-left: 240px;
                    margin: 0 auto;
                    max-width: 1200px;
                }
            }

            .standfirst__inner,
            .meta__misc {
                @include mq(col2, col4) {
                    padding-left: 0;
                }
                @include mq(col2, col4) {
                    padding-left: 0;
                }
            }

            .meta .avatar--author {
                @include mq(col2, col4) {
                    position: absolute;
                    transform: translateX(-100%);
                    margin-left: base-px(-1);
                }
            }

            // Sponsorship alt text when sponsor logo unavailable
            .sponsorship__logo {
                color: color(brightness-100);
            }
        }

        // Template specific styles
        .article--liveblog {
            @include mq($from: col4) {
                .content__labels__container {
                    padding-left: 60px;
                }
            }

            .cricket & {
                border-top: 0;
            }

            .meta {
                margin: 0;

                @include mq(col2, col3) {
                    padding-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    padding-left: cols($base-4, 5);
                }

                @include mq($from: col4) {
                    max-width: 100%;
                    padding-left: 0;
                    padding-top: 0;
                    width: 1200px;
                    margin: 0 auto;
                }

                &__published {
                    color: color(brightness-86);
                }
            }

            .meta__misc {
                @include mq($from: col4) {
                    padding-top: 6px;
                    margin: 0 auto 0 240px;
                    width: 620px;
                }
            }

            .meta__pubdate {
                color: rgba(color(brightness-100), .8);
            }

            .tags {
                background-color: color(brightness-93);

                .inline-list__item {
                    a {
                        @include tag-button(color(brightness-7), color(brightness-93));
                    }

                    &.more-button a {
                        @include tag-more-button(color(brightness-7), darken(color(brightness-93), 10%));
                    }
                }
            }
        }

        .cricket & {
            .alerts {
                margin: 0;
            }
        }

        .key-events {
            border-top: 4px solid;

            @include mq($from: col4) {
                border-top: 0;
            }
        }

        .block--live-key-event {
            border-top: 2px solid;
        }

        .keyline,
        .keyline-4 {
            &::before {
                opacity: .5;
            }
        }

        .keyline {
            &::before {
                background-color: color(tone-sandy-light);
            }
        }

        .keyline-4 {
            &::before {
                background-image: repeating-linear-gradient(color(tone-sandy-light), color(tone-sandy-light) 1px, transparent 1px, transparent 3px);
            }
        }

        .more--live-blogs {
            border: 0;
        }
    }
}
