.garnett--type-live {
    &.is-live {
        .alerts {
            margin: base-px(.5, 1, .5, -.15);
            border-color: rgba(color(shade-4), .5);
        }

        .witness {
            margin-top: base-px(1);

            @include mq(col2, col3) {
                margin-left: cols($base-3, 4, 1);
            }

            @include mq($from: col3) {
                margin-left: cols($base-4, 5, 1);
            }

            @include mq($from: col4) {
                margin-left: 240px;
            }
        }

        .article__header {
            color: color(shade-7);

            a {
                color: color(shade-7);

                &:active {
                    opacity: rgba(color(shade-7), .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(color(shade-7), .8);
                }
            }

            .article-kicker,
            .headline,
            .byline,
            .section {
                color: color(shade-7);
            }

            .article-kicker,
            .headline,
            .standfirst,
            .sponsorship {
                @include mq(col2, col3) {
                    margin-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    margin-left: cols($base-4, 5);
                }

                @include mq($from: col4) {
                    margin: 0 auto;
                }
            }

            // Sponsorship alt text when sponsor logo unavailable
            .sponsorship__logo {
                color: color(shade-7);
            }
        }

        // Template specific styles
        .article--liveblog {
            @include mq($from: col4) {
                .content__labels__container {
                    padding-left: 60px;
                }
            }

            .cricket & {
                border-top: 0;
            }

            .meta {
                margin: 0;

                @include mq(col2, col3) {
                    padding-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    padding-left: cols($base-4, 5);
                }

                @include mq($from: col4) {
                    max-width: 100%;
                    padding-left: 0;
                    padding-top: 0;
                    width: 1200px;
                    margin: 0 auto;
                }

                &__published {
                    color: color(shade-11);
                }
            }

            .meta__misc {
                @include mq($from: col4) {
                    padding-top: 6px;
                    margin: 0 auto 0 240px;
                    width: 620px;
                }
            }

            .meta__pubdate {
                color: rgba(color(shade-7), .8);
            }

            .tags {
                background-color: color(shade-5);

                .inline-list__item {
                    a {
                        @include tag-button(color(shade-1), color(blogs-tags));
                    }

                    &.more-button a {
                        @include tag-more-button(color(shade-1), darken(color(blogs-tags), 10%));
                    }
                }
            }
        }

        .cricket & {
            .alerts {
                margin: 0;
            }
        }

        .key-events {
            border-top: 4px solid;

            @include mq($from: col4) {
                border-top: 0;
            }
        }

        .block--live-key-event {
            border-top: 2px solid;
        }

        .keyline,
        .keyline-4 {
            &::before {
                opacity: .8;
            }
        }

        .keyline {
            &::before {
                background-color: color(shade-3);
            }
        }

        .keyline-4 {
            &::before {
                background-image: repeating-linear-gradient(color(shade-3), color(shade-3) 1px, transparent 1px, transparent 3px);
            }
        }

        .more--live-blogs {
            border: 0;
        }
    }
}


