.garnett--type-video {
    .article {
        .tags {
            border-top: 0;
        }
        .article {
            &__header {
                .standfirst {
                    @include mq($from: col4) {
                        padding: {
                            left: 0;
                            right: 0;
                        }
                    }
                }

                .sponsorship {
                    padding: 8px 0 0;
                    border-top: 0;
                    border-bottom: 0;
                }

                .meta {
                    padding: 0;

                    @include mq($from: col2) {
                        border-top: 0;
                    }

                    .meta__misc {
                        padding: 0;

                        .sponsorship,
                        .meta__byline {
                            padding-top: 8px;
                            padding-left: 12px;
                        }

                        .sponsorship__inner {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
