.garnett--type-media[data-content-type='video'] {
    .article {
        .article__header {
            .meta {
                &::before {
                    display: none;

                    @include mq($from: col3) {
                        display: block;
                    }
                }

                .meta__misc {
                    .meta__pubdate {
                        padding-bottom: 16px;
                    }

                    .sponsorship__inner {
                        margin: 0;
                    }
                }
            }
        }
    }
}
