.garnett--type-media {
    @include mq($from: col4) {
        .comments,
        .related-content {
            background: color(brightness-93);
        }
    }

    .witness .witness__sponsor-logo {
        fill: color(brightness-100);
    }

    .tags {
        .inline-list__item {
            a {
                @include tag-button(color(brightness-100), color(brightness-46), 'lighter');
            }

            &.more-button a {
                @include tag-more-button(color(brightness-100), color(brightness-46), 'lighter');
            }
        }
    }

    .sponsorship {
        padding: 8px 0;
    }

    // Sponsorship alt text when sponsor logo unavailable
    .sponsorship__logo {
        color: color(global-sponsored-label);
    }

    .article--audio,
    .article--visual {
        .prose .element-pullquote {
            blockquote {
                color: color(brightness-100);

                footer,
                &::after,
                &::before {
                    color: color(brightness-7);
                }
            }
        }

        .audio-player__wrapper {
            background-color: darken(color(brightness-20), 10%);
        }

        .tags {
            background-color: color(brightness-20);
        }

        .headline,
        .standfirst,
        .prose {
            color: color(brightness-100);
        }

        .byline {
            color: color(brightness-60);
        }

        .byline:empty {
            display: none;
        }

        @include mq($from: col4) {
            .standfirst {
                padding-bottom: base-px(2);
                width: 620px;
            }

            .article__header .standfirst {
                margin-left: 240px;
            }

            .article__header .standfirst__inner {
                background-color: transparent;
                padding-left: 0;
                padding-right: 0;
                width: 620px;
            }

            .main-media {
                padding-bottom: base-px(2);
            }

            .meta__misc {
                padding: {
                    left: 10px;
                    right: 10px;
                }
            }
        }

        .aside {
            border-color: color(brightness-46);
            margin-bottom: 0;
            border-bottom: 0;
        }

        .aside-witness__sponsor {
            width: 33%;
            text-align: right;

            .aside-witness__sponsor__graphic__text {
                fill: color(brightness-100);
            }

            .aside-witness__sponsor__graphic__logo {
                fill: #ffe600; // EE Yellow
            }
        }
    }

    .article--visual {
        .meta__published__date {
            @include mq($from: col4) {
                margin: 0;
                width: auto;
            }
        }
    }

    // Template specific styles
    .article--audio {
        .article__header {
            background-image: -webkit-canvas(circles);
        }

        .headline,
        .meta {
            background-color: transparent;
        }
    }

}
