.garnett--type-media {

    @include mq($from: col4) {
        .comments,
        .related-content {
            background: color(shade-5);
        }
    }

    .witness .witness__sponsor-logo {
        fill: color(shade-7);
    }

    .tags {

        .inline-list__item {
            a {
                @include tag-button(color(shade-7), color(shade-6), 'lighter');
            }

            &.more-button a {
                @include tag-more-button(color(shade-7), color(shade-6), 'lighter');
            }
        }
    }

    // Sponsorship alt text when sponsor logo unavailable
    .sponsorship__logo {
        color: color(global-sponsored-label);
    }

    .article--audio,
    .article--visual {
        .prose .element-pullquote {
            blockquote {
                color: color(shade-7);

                footer,
                &::after,
                &::before {
                    color: color(shade-1);
                }
            }
        }

        .audio-player__wrapper {
            background-color: darken(color(shade-1), 10%);
        }

        .tags {
            background-color: color(shade-1);
        }

        .headline,
        .standfirst,
        .prose {
            color: color(shade-7);
        }

        .byline {
            border-color: color(shade-2);
            color: color(shade-3);
        }

        .comment-count {
            border-color: color(shade-2);
        }

        .meta {
            &:before {
                height: 1px;
                overflow: hidden                    // display: none;
            }
        }

        @include mq($from: col4) {


            .standfirst {
                padding-bottom: base-px(2);
                width: 620px;
            }

            .article__header .standfirst {
                margin-left: 240px;
            }

            .article__header .standfirst__inner {
                background-color: transparent;
                padding-left: 0;
                padding-right: 0;
                width: 620px;
            }

            .main-media {
                padding-bottom: base-px(2);
            }

            .meta__misc {
                padding: {
                    left: 10px;
                    right: 10px;
                }
            }
        }

        .aside {
            border-color: color(shade-2);
            margin-bottom: 0;
            border-bottom: 0;
        }

        .tags {
            border-color: color(shade-2);
        }

        .aside-witness__sponsor {
            width: 33%;
            text-align: right;

            .aside-witness__sponsor__graphic__text {
                fill: color(shade-7);
            }

            .aside-witness__sponsor__graphic__logo {
                fill: #ffe600; // EE Yellow
            }
        }
    }

    // Template specific styles
    .article--audio {
        .article__header {
            background-image: -webkit-canvas(circles);
        }

        .headline,
        .meta {
            background-color: transparent;
        }
    }

}
