.garnett--type-media[data-content-type="gallery"] {
    .article {
        .article {
            &__header {
                .meta {
                    border-bottom: 0;
                }

                .sponsorship {
                    border-bottom: 0;
                    border-top: 1px color(shade-2) dotted;
                }
            }
        }
    }
}
