.garnett--type-media[data-content-type='video'] {
    .article {
        .tags {
            border-top: 0;
        }
        .article {
            &__header {

                @include mq($from: col3) {
                    .main-media {
                        border-bottom: 1px solid color(shade-2);
                    }
                }

                .sponsorship {
                    padding: 8px 0 0;
                    border-top: 0;
                    border-bottom: 0;

                    @include mq($from: col2) {
                        padding-bottom: 8px;
                    }
                }

                .meta {
                    &::before {
                        display: none;
                    }

                    padding: 0;

                    .meta__misc {
                        .meta__pubdate {
                            padding-bottom: 16px;
                        }

                        .sponsorship__inner {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
