.garnett--type-audio {
    .section__container {
        border-bottom: 1px rgba(234, 234, 234, .3) dotted;
        color: color(shade-5);


        .content__series-label,
        .content__series-label a {
            color: color(shade-5);  // Content Label Series
        }
    }

    .audio-player__container,
    .audio-player__wrapper,
    .section__container {
        position: relative;
        z-index: 1;
    }

    .article__header {
        .cutout__container {
            background-color: inherit;
        }

        .card__titletext {
            padding-bottom: 4px;
            text-overflow: ellipsis;
            overflow-y: hidden;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .meta__byline {
            .byline {
                color: color(shade-7);
            }
        }
    }

    .meta,
    .meta__pubdate {
        color: rgba(color(shade-7), .75);
    }

    .meta {
        border-top: 1px rgba(color(shade-7), .2) dotted;
    }

    .comment-count {
        border-left-color: rgba(color(shade-7), .4);
    }

    &.ios .article__header .card__title--audio::before {
        margin-top: 3px;
    }

    &.android .article__header .card__title--audio::before {
        margin-top: -3px;
    }

    &.is_advertising {
        .alerts,
        .alerts.following:active {
            border-color: rgba(color(shade-1), .5);
            color: color(shade-1);
        }
    }
}
