/*doc
---
title: Card (feature article)
name: card--feature
category: Containers
---
Display a feature article card.

```html_example
<div class="container">
	<div class="card card--feature">
		<div class="card__container">
			<div class="card__header">
				<h3 class="card__title">Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
			</div>
			<div class="card__object">
				<p class="standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
			</div>
			<div class="card__footer">
				<span class="card__meta card__timestamp"><span class="icon">&#xe056;</span>2h</span>
				<span class="card__meta card__comments"><span class="icon">&#xe03C;</span>94</span>
			</div>
		</div>
	</div>

	<div class="card card--feature has-image">
		<div class="card__container">
			<div class="card__header">
				<h3 class="card__title">Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
			</div>
			<div class="card__object">
				<img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
			</div>
			<div class="card__footer">
				<span class="card__meta card__timestamp"><span class="icon">&#xe056;</span>2h</span>
				<span class="card__meta card__comments"><span class="icon">&#xe03C;</span>94</span>
			</div>
		</div>
	</div>
</div>
```
*/

.card--feature {
	background-color: $feature1;
	border-top-color: transparent;

	* {
		color: $white;
	}

	.standfirst {
		color: $white;
	}

	.card__meta {
		border-color: fade-out($shadow, 0.66);
	}
}