/*doc
---
title: Card (deadBlog article)
name: card--deadBlog
category: Containers
---
Display a comment article card.

```html_example
<div class="container__body">
    <a class="card card--deadBlog" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Sexual abuse is about power - and the powerful shouldn't be protected <span class="card__byline">Roy Greenslade</span></h3>
            </div>
            <div class="card__object">
                <p class="card__standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card card--deadBlog has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Sexual abuse is about power - and the powerful shouldn't be protected <span class="card__byline">Roy Greenslade</span></h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>
</div>
```
*/

.card--deadBlog {
    border-top-color: color(tone-deadblog);

    &:hover {
        color: inherit;
    }
    
    &:active, &:focus {
        color: color(tone-deadblog) !important;
    }
}
