/*doc
---
title: Card (standard article)
name: card
category: Containers
---
Display a standard article card.

```html_example
<div class="container__body">
    <a class="card" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <p class="card__standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>
</div>
```
*/

.card {
    color: color(shade-1);
    background-color: #fff;
    border-top: 1px solid color(tone-news-accent);
    border-bottom: 1px solid color(shade-4);
    display: inline-block;
    position: relative;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;

    /*
    The card transform causes the card and all cards below it to disappear if the user scrolls after pressing. 
    This seems to be a WebKit bug.
    &:active {
        color: color(shade-1);
        -webkit-transform: scale(.99);
        transform: scale(.99);
    }*/

    @include mq($to: col1) {
        margin: $base-1 / 1.5 $base-1 / 1.5 0; // TODO: Move to base-px()
    }

    @include mq($from: col1) {
        margin-bottom: $base-1;

        &::before {
            content: '';
            padding-top: 133%;
            display: block;
        }
    }

    @include mq(col1, col2) {
        margin: $base-2 $base-2 0 0;
        width: cols($base-2, 4);

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @include mq(col2, col3) {
        margin: $base-3 $base-3 0 0;
        width: cols($base-3, 4);

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @include mq($from: col3) {
        margin: $base-4 $base-4 0 0;
        width: cols($base-4, 4);

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .card__container {
        @include mq($to: col1) {
            @include flexbox;
            @include flex-direction(column);
        }

        @include mq($from: col1) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .card__header,
    .card__object {
        padding: base-px(.25, .5, 0, .5);

        @include mq($from: col1) {
            height: 50%;
            overflow: hidden;
        }
    }

    .card__header {
        margin-bottom: 1em;

        @include mq($to: col1) {
            @include flex(1);
            @include order(1);
        }
    }

    .card__title {
        color: color(shade-1);
        
        [data-icon]::before {
            display: none;
        }
        max-height: 12rem;
        overflow-y: hidden;
    }

    .card__object {
        @include mq($to: col1) {
            @include flex(1);
            @include order(2);
        }

        @include mq($from: col1) {
            overflow: hidden;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .card__footer {
        color: color(shade-3);
        font-family: $agate-sans;
        font-size: $meta-size-1;
        line-height: 1;
        margin-top: 1em;
        overflow: hidden;

        @include mq($to: col1) {
            @include flex(1);
            @include order(3);
        }

        @include mq($from: col1) {
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }


    &.has-image {
        .card__object {
            padding: 0;

            @include mq($to: col1) {
                @include flex(1);
                @include order(3);
            }

            .card__image {
                @include mq($from: col1) {
                    height: 100%;
                    width: auto;
                    margin-bottom: -1px;
                }
            }
        }

        .card__footer {
            bottom: 50%;

            @include mq($to: col1) {
                @include flex(1);
                @include order(2);
            }
        }
    }

    .card__title
    .card__titletext {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 12rem;
        overflow-y: hidden;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .card__title,
    .card__byline {
        font-family: $egyptian-display;
        font-weight: 200;
        font-size: 2.2rem;
        line-height: 2.6rem;
        text-rendering: optimizeLegibility;
    }

    .card__standfirst {
        color: color(shade-2);
        font-family: $egyptian-text;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-rendering: optimizeLegibility;
    }

    .touchpoint {
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: base-px(.5);
    }

    .card__image {
        width: 100%;
        display: block;
    }

    .card__cutout {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .card__meta {
        width: cols($base-1, 1);
        height: 24px;
        padding: base-px(0, 0, 0, .5);
        border-left: 1px solid color(shade-4);
        display: block;
        float: left;

        &:first-child {
            border-left: 0 none;
        }

        .icon {
            margin-right: 3px;
        }
    }

    .card__timestamp {
        padding: base-px(0, 5, 0, .5);
    }
}

// Container context
.container__body {
    @include mq($from: col1) {
        .card {
            float: left;
        }
    }

    @include mq(col2, col3) {
        .card:nth-of-type(4) {
            display: none;
        }
    }
}
