/*doc
---
title: Card (standard article)
name: card
category: Containers
---
Display a standard article card.

```html_example
<ul class="cards" id="related-content-body">
    <li class="card has-image card--news">
        <a class="card__link" href="x-gu://related_item/mobile-apps.guardianapis.com/items/us-news/2014/nov/16/barack-obama-basks-success-asia-pacific-sweep">
            <h3 class="card__title">
                President Barack Obama basks in success of Asia-Pacific sweep
            </h3>
            <div class="card__meta">
                <span class="card__timestamp">
                    <span data-icon="" aria-hidden="true"></span>
                    12w
                </span>
                <span class="card__comments">
                    <span data-icon="" aria-hidden="true"></span>
                    196
                </span>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/static/sys-images/Guardian/Pix/pictures/2014/11/16/1416150105650/cb470b62-604d-42b9-bdd8-d154a2af547c-2060x1236.jpeg?width=256&amp;height=-&amp;quality=60">
            </div>
        </a>
    </li>
    <li class="card has-image card--comment">
        <a class="card__link" href="x-gu://related_item/mobile-apps.guardianapis.com/items/commentisfree/2013/may/30/obama-wikileaks-journalism-attack">
            <h3 class="card__title">
                President Obama uses a sledgehammer against dissent
            </h3>
            <div class="card__meta">
                <span class="card__timestamp">
                    <span data-icon="" aria-hidden="true"></span>
                    1y
                </span>
                <span class="card__comments">
                    <span data-icon="" aria-hidden="true"></span>
                    60
                </span>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/static/sys-images/Guardian/Pix/pictures/2011/3/7/1299511660945/Activists-in-support-of-B-003.jpg?width=256&amp;height=-&amp;quality=60">
            </div>
        </a>
    </li>
</ul>
```
*/

.cards {
    overflow-y: scroll;
    padding: base-px(1);

    &__list {
        width: ($card-width * $number-related-cards) + (($number-related-cards - 1) * base-px($card-gutter));
         
        @include mq(col2, col3) {
            width: (($card-width * $card-upsize-col2) * $number-related-cards) + (($number-related-cards - 1) * (base-px($card-gutter) * $card-upsize-col2));
        }

        @include mq($from: col3) {
            width: (($card-width * $card-upsize-col3) * $number-related-cards) + (($number-related-cards - 1) * (base-px($card-gutter) * $card-upsize-col3));
        }
    }
}

.card {
    float: left; 
    width: $card-width;
    margin-right: base-px($card-gutter);
    position: relative;
    color: color(shade-1);
    background-color: #fff;
    border-top: 1px solid color(tone-news-accent);
    border-bottom: 1px solid color(shade-4);

    @include mq(col2, col3) {
        width: $card-width * $card-upsize-col2;
        margin-right: base-px($card-gutter) * $card-upsize-col2;
    }

    @include mq($from: col3) {
        width: $card-width * $card-upsize-col3;
        margin-right: base-px($card-gutter) * $card-upsize-col3;
    }

    &:last-child {
        margin-right: 0;
    }

    &__title {
        height: 110px;
        padding: base-px(0.5);
        color: color(shade-1);
        font: 200 1.6rem/2.0rem $egyptian-display;
        text-rendering: optimizeLegibility;
        @include text-ellipses(5);

        @include mq(col2, col3) {
            height: 110px * $card-upsize-col2;
            font-size: 1.6rem * $card-upsize-col2;
            line-height: 2.0rem * $card-upsize-col2;
        }

        @include mq($from: col3) {
            height: 110px * $card-upsize-col3;
            font-size: 1.6rem * $card-upsize-col3;
            line-height: 2.0rem * $card-upsize-col3;
        }
    }

    &__meta {
        color: color(shade-3);
        font: $meta-size-1/1 $agate-sans;
        overflow: hidden;
    }

    &__timestamp,
    &__comments {
        float: left;
        height: 30px;
        padding-left: base-px(.5); 
    }

    &__timestamp {
        width: 65px;
        border-right: 1px solid #dcdad5;
        margin-right: base-px(.5); 
    }

    &__object {
        padding: 0;
        height: $card-width * .6; // height should cater for standard landscape image ratio
        overflow: hidden;

        @include mq(col2, col3) {
            height: ($card-width * $card-upsize-col2) * .6; // height should cater for standard landscape image ratio
        }

        @include mq($from: col3) {
            height: ($card-width * $card-upsize-col3) * .6; // height should cater for standard landscape image ratio
        }
    }

    &__image {
        width: 100%;
        display: block;
    }

    &__standfirst {
        padding: base-px(0, .5);
        color: color(shade-2);
        font: 1.2rem/1.6em $egyptian-text;
        text-rendering: optimizeLegibility;
        @include text-ellipses(4);

        @include mq(col2, col3) {
            font-size: 1.2rem * $card-upsize-col2;
            line-height: 1.6rem * $card-upsize-col2;
        }

        @include mq($from: col3) {
            font-size: 1.2rem * $card-upsize-col3;
            line-height: 1.6rem * $card-upsize-col3;
        }
    }

    &__cutout {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .touchpoint {
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: base-px(.5);
    }

    // add quote icon to "comment" card titles
    &--comment {
        .card__title {
            &:before {
                display: inline-block;
                margin: base-px(-1, 1/3, 0, 0);
                content: "\e029";
                color: #999;
                font: 2.3rem $icon;
                speak: none;

                @include mq(col2, col3) {
                    font-size: 2.3rem * $card-upsize-col2;
                }

                @include mq($from: col3) {
                    font-size: 2.3rem * $card-upsize-col3;
                }
            }
        }
    }
}