/*doc
---
title: Card (media article)
name: card--media
category: Containers
---
Display a media article card. Can include a series title.

```html_example
<div class="container__body">
    <a class="card card--media has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title card__title--video"><span data-icon="&#xe029;" aria-hidden="true"></span>Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
                <span class="touchpoint touchpoint--primary">
                    <span class="touchpoint__button" data-icon="&#xe04b;" aria-hidden="true"></span>
                    <span class="touchpoint__label"><span class="screen-readable">Play Video. Duration: </span>2:19</span>
                </span>
            </div>
        </div>
    </a>

    <a class="card card--media has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title card__title--gallery"><span data-icon="&#xe029;" aria-hidden="true"></span>Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
                <span class="touchpoint touchpoint--primary">
                    <span class="touchpoint__button" data-icon="&#xe020;" aria-hidden="true"></span>
                </span>
            </div>
        </div>
    </a>

    <a class="card card--media has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title card__title--video"><span data-icon="&#xe029;" aria-hidden="true"></span><span class="card__series">Series title:</span> Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
                <span class="touchpoint touchpoint--primary">
                    <span class="touchpoint__button" data-icon="&#xe04b;" aria-hidden="true"></span>
                    <span class="touchpoint__label"><span class="screen-readable">Play Video. Duration: </span>2:19</span>
                </span>
            </div>
        </div>
    </a>

    <a class="card card--media has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title card__title--gallery"><span data-icon="&#xe029;" aria-hidden="true"></span><span class="card__series">Series title:</span> Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
                <span class="touchpoint touchpoint--primary">
                    <span class="touchpoint__button" data-icon="&#xe020;" aria-hidden="true"></span>
                </span>
            </div>
        </div>
    </a>
</div>
```
*/

.card--media {
    background-color: color(shade-1);
    border-top-color: color(tone-media);

    .card__title {
        color: #fff;

        .icon {
            color: color(tone-media);
            margin-right: base-px(.5);
        }
    }

    .card__title--video,
    .card__title--gallery {
        &::before {
            content: '\e043';
            color: color(tone-media);
            font-family: $icon;
            margin-right: base-px(.25);
            position: relative;
            bottom: -2px;
        }
    }

    .card__title--gallery {
        &::before {
            content: '\e044';
        }
    }

    .card__standfirst {
        color: #fff;
    }

    .card__series {
        color: color(tone-media);

        &::after {
            content: '\a';
            white-space: pre;
        }
    }

    .card__meta {
        border-color: fade-out(color(shade-4), .66);
    }

    .card__object {
        .touchpoint--primary,
        .touchpoint--primary:active {
            .touchpoint__button {
                background-color: color(tone-media);
                color: color(shade-1);
            }
        }

        .touchpoint__label {
            color: color(tone-media);
            font-weight: bold;
        }
    }
}
