/*doc
---
title: Card (media article)
name: card--media
category: Containers
---
Display a media article card.

```html_example
<div class="container__body">
    <a class="card card--media" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title">Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <p class="standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card card--media has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title">Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card card--media has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span class="icon">&#xe043;</span><span class="series">Series title:</span> Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
                <span class="touchpoint touchpoint--primary">
                    <span class="touchpoint__button" data-icon="&#xe04b;" aria-hidden="true"></span>
                    <span class="touchpoint__label"><span class="screen-readable">Play Video. Duration: </span>2:19</span>
                </span>
            </div>
        </div>
    </a>
</div>
```
*/

.card--media {
    background-color: color(shade-1);
    border-top-color: color(tone-media);

    .card__title {
        color: #fff;

        .icon {
            color: color(tone-media);
            margin-right: base-px(.5);
        }
    }

    .standfirst {
        color: #fff;
    }

    .series {
        color: color(tone-media);

        &::after {
            content: '\a';
            white-space: pre;
        }
    }

    .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-media);
            color: color(shade-1);
        }
    }

    .touchpoint__label {
        color: color(tone-media);
        font-weight: bold;
    }
}
