/*doc
---
title: Card (feature article)
name: card--feature
category: Containers
---
Display a feature article card.

```html_example
<div class="container__body">
    <a class="card card--feature1" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title">Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <p class="card__standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card card--feature2" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title">Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <p class="card__standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card card--feature3 has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title">Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>
</div>
```
*/

.card--feature1,
.card--feature2,
.card--feature3 {
    * {
        color: #fff;
    }

    .card__title,
    .card__standfirst {
        color: #fff;
    }

    .card__meta {
        border-color: fade-out(color(shade-4), .66);
    }
}

.card--feature1 {
    background-color: color(tone-feature1);
    border-top-color: color(tone-feature1-accent);
}

.card--feature2 {
    background-color: color(tone-feature2);
    border-top-color: color(tone-feature2-accent);
}

.card--feature3 {
    background-color: color(tone-feature3);
    border-top-color: color(tone-feature3-accent);
}
