/*doc
---
title: Card (liveblog)
name: card--live
category: Containers
---
Display a liveblog card.

```html_example
<div class="container__body">
    <a class="card card--live" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <p class="card__standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card card--live has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Tony Blair is a tragic narcissist with a messiah complex, says Robert Harris</h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>
</div>
```
*/

.card--live {
    background-color: color(tone-live);
    border-top-color: color(tone-live-accent);

    * {
        color: #fff;
    }

    .card__title,
    .card__standfirst {
        color: #fff;
    }

    .card__meta {
        border-color: fade-out(color(shade-4), .66);
    }
}
