/*doc
---
title: Card (comment article)
name: card--comment
category: Containers
---
Display a comment article card.

```html_example
<div class="container__body">
    <a class="card card--comment" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Sexual abuse is about power - and the powerful shouldn't be protected <span class="card__byline">Roy Greenslade</span></h3>
            </div>
            <div class="card__object">
                <p class="card__standfirst">Bestselling novelist and former friend criticises ex-PM for turning his back on British politics to 'hang out with rich people'</p>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>

    <a class="card card--comment has-image" href="#">
        <div class="card__container">
            <div class="card__header">
                <h3 class="card__title"><span data-icon="&#xe029;" aria-hidden="true"></span>Sexual abuse is about power - and the powerful shouldn't be protected <span class="card__byline">Roy Greenslade</span></h3>
            </div>
            <div class="card__object">
                <img class="card__image" src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/3/1401803979164/Tony-Blair-014.jpg?width=300&amp;height=180&amp;quality=60"/>
            </div>
            <div class="card__footer">
                <span class="card__meta card__timestamp"><span data-icon="&#xe056;" aria-hidden="true"></span>2h</span>
                <span class="card__meta card__comments"><span data-icon="&#xe03C;" aria-hidden="true"></span>94</span>
            </div>
        </div>
    </a>
</div>
```
*/

.card--comment {
    background-color: color(tone-comment-bg);
    border-top-color: color(tone-comment);

    &:hover {
        color: inherit;
    }
    
    &:active, &:focus {
        color: color(tone-comment) !important;
    }

    .card__title {
        [data-icon]::before {
            display: inline-block;
            color: color(shade-3);
            font-size: 150%;
            margin-right: base-px(.25);
        }

        .card__titletext {
            -webkit-line-clamp: 4;
        }
    }

    .card__byline {
        color: color(tone-comment);
        margin-top: base-px(.25);
        line-height: 2.7rem;
        display: block;
    }

    .standfirst {
        padding-right: $base-4*2;
        position: relative;
        z-index: 1;
    }

    .card__footer {
        bottom: 0;
    }
}
