$whiteTwo: #dcdcdc;
$warmGreyFour: #999999;
$warmGrey: #767676;
$blackTwo: #333333;
$blackTwoOpinionKeyline: rgba(51,51,51,.2);
$blackThree: #121212;
$backgroundBlack: #1a1a1a;
$ratingYellow: #f3c200;
$wrongQuizAnswer: #8b0000;
$correctQuizAnswer: #236925;
$guardianLabsLight: #69d1c8;
