&.garnett--type-guardianlabs.is_advertising {
    .article {
        .article__header {
            .article-kicker,
            .headline,
            .meta,
            .extras,
            .extras .sponsorship {
                background-color: $blackThree;
                color: $whiteTwo;
            }

            .standfirst,
            .standfirst__inner {
                background-color: $blackThree;
                color: $warmGreyFour;
            }

            a {
                color: $guardianLabsLight !important;
            }
        }

        .article__body {
            background-color: $blackThree;
            color: $whiteTwo;

            .prose a:not(.video-URL) {
                background-image: linear-gradient(rgba(220, 220, 220, 0.5) 0%, rgba(220, 220, 220, 0.5) 100%);
                color: $whiteTwo;
            }
        }
    }
}