.element-atom .quiz {
    .question__text {
        color: $whiteTwo;

        &::before {
            color: $warmGreyFour;
        }
    }

    .answer__text,
    .answer__message::before {
        color: $whiteTwo;
    }

    .question__wrapper {
        border-color: $blackTwo;
    }

    .answer__wrapper {
        color: $whiteTwo;
        background: $blackTwo;

        .answer__marker {
            border-color: $warmGreyFour;
        }
    }

    .question.answered .answer__wrapper {
        background: $blackTwo;
    }

    .question.is-wrong .wrong-answer .answer__wrapper,
    .question.is-wrong .wrong-answer .answer__message {
        background: $wrongQuizAnswer;
    }

    .question.is-correct .correct-answer .answer__wrapper,
    .question.is-correct .correct-answer .answer__message {
        background: $correctQuizAnswer;
    }

    .quiz-scores,
    .quiz-results {
        border-top: 2px solid $blackTwo;
    }

    .quiz-scores .quiz-scores__score {
        border-top: none;
        background: $whiteTwo;
        color: $blackThree;
    }

    .quiz-scores .quiz-scores__score::before {
        color: $blackThree;
    }
}