&.garnett--type-immersive {
    .article__header-info {
        background-color: $blackThree;

        .article__headline.headline.selectable {
            background-color: $blackThree;
        }
    }

    .standfirst,
    .article__header-info::before {
        background-color: $backgroundBlack;
    }

    .prose .section__rule {
        border-bottom: solid 2px $blackTwo;
    }
}