.figure--thumbnail .element-image-inner,
.figure--thumbnail-with-caption .element-image-inner,
.figure-wide .element-image-inner,
.element__inner,
.figure-wide .figure__inner {
    background: color(brightness-93);
}

&.offline .element-audio,
&.offline .element-embed,
&.offline .element-map,
&.offline .element-video {
    &::before {
        background-color: color(brightness-0);
    }
}

.main-media--hidden-caption .main-media__caption__icon {
    background-color: color(tone-highlight);
    color: color(brightness-7);
}

.main-media--hidden-caption .main-media__caption__text {
    color: color(brightness-100);
}

.keyline-4:before {
    background-image: repeating-linear-gradient(color(brightness-86), color(brightness-86) 1px, transparent 1px, transparent 3px);
}

.meta__published__comments {
    border-left-color: rgba(color(tone-sandy-light), .5);
}

.element-rich-link {
    border-top: solid 1px rgba(color(global-adv-bands), .4);
    border-bottom: solid 1px rgba(color(global-adv-bands), .4);

    a {
        color: color(neutral-1) !important;
    }

    a::before {
        color: color(neutral-1) !important;
    }
}

.tags {
    .tags__list-item {
        a {
            white-space: nowrap;
            padding: base-px(.5, 1.3);
            border-radius: 30px;
            text-overflow: ellipsis;
            max-width: 18.75rem;
            @include tag-button(color(brightness-7), color(brightness-96));

        }

        &.more-button a {
            background-color: transparent !important;
            @include tag-more-button(color(brightness-7), darken(color(brightness-96), 10%));
        }
    }
}

.advert-slot--mpu {
    color: color(brightness-46);
    background: color(brightness-93);
    border-top: 1px solid color(tone-sandy-light);
    border-bottom: 1px solid color(tone-sandy-light);


    .advert-slot__action {
        color: color(brightness-46) !important;
    }
}

@include mq($from: col4) {
    .article {
        background-color: color(brightness-96);
    }
}

.interactive,
figure[data-atom-type="interactive"] {
    padding: 0px;
}

.element-embed {
    @include mq($to: col2) {
        padding: 8px;
        margin-left: -12px;
        margin-right: -12px;
        width: calc(100% + 24px);
    }
}

.loading {
    &::before {
        color: color(brightness-0);
    }
}

.prose {
    @include text-underline($p-kicker, $p-kicker);
}

.prose blockquote,
.prose blockquote.quoted {
    color: color(brightness-46);

    &::before {
        color: color(brightness-60);
    }    
}