&.garnett--type-live,
&.garnett--type-article.tone--deadBlog,
&.garnett--type-article.tone--football {
    .article__body,
    .key-events,
    .article--liveblog {
        background-color: $blackThree;
    }

    &.is-live {
        .headline, .article-kicker {
            background-color: $dark-1;
        }

        .article-kicker {
            color: $dark-3;
        }

        .headline {
            color: color(brightness-93);
        }

        .article--liveblog {
            .standfirst,
            .standfirst__inner,
            .meta,
            .main-media {
                background-color: $dark-2;
                color: $dark-3;

                ul li {
                    a {
                        color: $dark-3;
                    }

                    &::before{
                        color: $dark-3;
                        background-color: $dark-3;
                        opacity: 0.8;
                    }
                }
            }

            .meta__published__date, .alerts {
                color: $dark-3;
            }
        }
    }

    &.is-live .key-events,
    .key-events {
        border-color: $blackTwo;

        .key-events__title {
            color: $p-inverted;
        }

        .key-event {
            &::before, &::after {
                background: $blackTwo !important;
            }
        }
    }

    .key-event__time,
    .key-events__toggle-icon::before,
    [class*='block--live-'] .block__time,
    [class*='block--live-'] .block__updated,
    [class*='block--live-'] .prose figcaption {
        color: $warmGreyFour;
    }

    [class*='block--live-'] .block__byline {
        border-left: solid 1px $blackTwo;
    }

    [class*='block--live-'] .block__avatar {
        background-color: $warmGreyFour;
    }

    .key-event__link h2 {
        color: $whiteTwo !important;
    }

    .key-events__toggle {
        border: solid 1px $warmGreyFour;
    }

    .block:not(.block--discussion-thread) {
        background-color: $blackThree;
        border: solid 1px $blackTwo;
        border-bottom: 2px solid $blackTwo;
        color: $whiteTwo;
    }

    .block--live-key-event, .block--live-summary {
        border-top: solid 1px $p-kicker;
    }

    .block--live-key-event, .block--live-summary {
        .block__title .highlight {
            background-color: $ratingYellow;
            color: $blackThree;
        }
    }

    .prose blockquote.quoted,
    .prose blockquote.quoted::before {
        color: $whiteTwo;
    }

    .tags {
        background: $blackThree;
    }

    @include mq($from: col4) {
        &.is-live .article__header {
            background-color: $blackThree;
        }

        .main-media {
            border-bottom: none;
        }
    }

    .d2-comment-embedded {
        border: solid 1px $blackTwo;
    }
}


&.garnett--type-live.is-live {
    .keyline-4:before {
        background-image: repeating-linear-gradient($dark-1, $dark-1 1px, transparent 1px, transparent 3px);
        opacity: 1;
    }

    .article--liveblog .meta__published__comments {
        border-left: solid 1px $dark-1;
    }
}