@import "darkModeShared";
@import "darkModeArticle";
@import "darkModeLiveblog";
@import "darkModeCricket";
@import "darkModeFootball";
@import "darkModeOpinion";
@import "darkModeMedia";
@import "darkModeImmersive";
@import "darkModeNumberedList";
@import "darkModeQuiz";
@import "darkModeSpecialReport";
@import "darkModeGuardianLabs";
@import "darkModeRelatedContent";
@import "darkModeComments";
@import "darkModeLivePromo";

@mixin pillar-colour-dark($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3) {
    @media (prefers-color-scheme: dark) {
        @include darkModeShared($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeArticle($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeLiveblog($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeCricket($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeFootball($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeOpinion($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeMedia($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeImmersive($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeNumberedList($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeQuiz($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModePersonalityQuiz($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeSpecialReport($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeGuardianLabs($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeRelatedContent($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeComments($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeLivePromo($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
    }

    // Fallback for Android
    &.dark-mode-on {
        @include darkModeShared($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeArticle($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeLiveblog($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeCricket($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeFootball($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeOpinion($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeMedia($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeImmersive($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeNumberedList($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeQuiz($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModePersonalityQuiz($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeSpecialReport($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeGuardianLabs($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
        @include darkModeLivePromo($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3);
    }
}
