.codeExample {
	@include margin(0, 0, 3, 0);
	border: 1px solid $shadow;
	border-radius: 4px;
}

.exampleOutput,
.codeBlock {
	@include padding(1);
	
	&:before {
		color: $meta;
		font-family: $agate-sans;
		@include meta(0.9);
		@include padding(0, 0, 1, 0);
		display: block;
		position: relative;
	}
}

.exampleOutput {
	&:before {
		content: "Example:";
	}
}

.codeBlock {
	background-color: fade-out($background, 0.5);
	border-top: 1px solid fade-out($shadow, 0.25);
	box-shadow: inset 0 2px 0 fade-out($shadow, 0.75);

	&:before {
		content: "Markup:";
	}
}