.styleguide__main {
	@include padding(4.75, 0, 1, 0);
	position: relative;
}

.styleguide__navigation {
	background-color: #ececec;
	width: 14em;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -14em;
	visibility: hidden;
	overflow-y: auto;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-right: 12px solid $background;

	.nav__item {
		font-family: $egyptian-display;
		font-weight: 600;
		border-top: 1px solid $news-accent;

		a {
			@include padding(0.25, 1, 2.33333, 0.25);
			display: block;
		}
	}
}

.styleguide__navigation-checkbox {
  display: none;
}

.styleguide__navigation-toggle {
	background-color: $background;
	border-bottom: 1px solid $news-accent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.icon {
		color: $white;
		text-align: center;
		background-color: $news;
		border-radius: 50%;
		padding: 1rem 0;
		margin: 0.75rem 0.5rem;
		width: 44px;
		height: 44px;
		display: block;
		cursor: pointer;
	}
	&:active {
		.icon {
			background-color: $news-accent;
		}
	}
}

.styleguide__main,
.styleguide__navigation,
.styleguide__navigation-toggle {
	-webkit-backface-visibility: hidden;
}
.styleguide__main,
.styleguide__navigation-toggle {
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}
#styleguide__navigation-checkbox:checked + .styleguide__navigation {
	visibility: visible;
}
#styleguide__navigation-checkbox:checked ~ .styleguide__main,
#styleguide__navigation-checkbox:checked ~ .styleguide__navigation,
#styleguide__navigation-checkbox:checked ~ .styleguide__navigation-toggle {
	-webkit-transform: translateX(14em);
	transform: translateX(14em);
}

.styleguide__article {
	background-color: $white;
	border-bottom: 2px solid $shadow;
	overflow: hidden;

	.tags {
		.inline-list__item {
			&:first-of-type {
				font-weight: normal;
			}
		}
	}
}

.styleguide__article__header {
	.headline {
		@include padding(0, 1, 2.5, 1);
	}
}

.styleguide__article__body {
	@include padding(1);

	> h1 {
		color: $headline;
		font-family: $egyptian-display;
		font-size: 1.125em;
		font-weight: 600;
		@include margin(0, 0, 0.25, 0);
	}

	> p {
		color: $headline;
		@include margin(0, 0, 1, 0);
	}

	.highlight pre {
		line-height: 1.2;
		white-space: pre-wrap;
	}

	.advert-slot {
		display: block !important; // Overrides default advert-slot visability
	}
}

.styleguide__contentinfo {
	color: $standfirst;
	font-family: $agate-sans;
	@include meta();
	@include padding(1, 1, 2, 1);
}