.garnett--type-article {

    .standfirst {
        color: inherit;
        font-family: $egyptian-text;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;

        ul li {
            padding: 3px 0px;
        }

        li:before {
            margin-right: 6px;
        }

    }

    &[data-content-type='football'] {
        .match-summary__meta {
            border-bottom-style: solid;
        }

        .tabs {
            margin: 0;
            padding: base-px(1);
        }

        .article.article--liveblog {
            margin-bottom: base-px(1);
        }

        .article__body.article__body--liveblog {
            background-color: transparent;

            .advert-slot--mpu {
                float: none;
                margin: 0 auto;
                position: static;
                width: 100%;
            }
        }

        .more--live-blogs, .more--live-blogs-blocks {
            border: 0;
        }
    }

    &[data-content-type='cricket'],
    &[data-content-type='football'] {
        @include mq($from: col4) {
            .keyline-4:before {
                margin: 0;
                width: auto;
            }

            .meta__misc {
                margin: base-px(0, 0, 0, 1);
                width: auto;
            }
        }
    }
}
