.garnett--type-guardianlabs {
    &.display-hint--immersive {
        .article__header {
            display: none;
        }

        .article--standard .article__body {
            padding: 0;
        }
    }

    &.is_advertising {
        .article-kicker {
            background-color: color(global-adv-bg);
        }

        @include mq($from: col4) {
            .article__header .article-kicker {
                background-color: color(global-adv-bg);
            }
        }
    }
}
