.garnett--type-guardianview {
    // 8 lines instead of 4 for opinion
    .meta {
        padding-top: 22px !important;

        &:before {
            content: '';
            height: 22px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: .2;
            background-image: repeating-linear-gradient(currentColor, currentColor 1px, transparent 1px, transparent 3px);
            @include mq($from: col4) {
                margin: 0;
            }
        }

        &__misc {
            padding: base-px(.5, .5, 1, 1);
        }

        &__published {
            margin-top: -1px;
            &__comments {
                position: static;
            }
        }
    }
}
