.garnett--type-immersive {
    border-top: 0;

    a {
        color: color(tone-feature1);

        &:active {
            color: color(tone-feature1-accent);
        }
    }

    // progress bar at top of article
    .progress {
        background-color: rgba(255, 255, 255, .8);
        height: 6px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 2;

        @include mq($from: col4) {
            overflow: hidden;
            width: 1200px;
        }

        &__bar {
            background-color: color(tone-feature1-accent);
            height: 6px;
            margin-top: 0px;
            width: 0;
        }

        &__chapter {
            background-color: color(tone-feature1-accent2);
            height: 6px;
            position: absolute;
            top: 0;
            width: 2px;
        }
    }

    .article {
        &__header {

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(color(brightness-100), .4);
                }
            }

            .sponsorship {
                background: color(brightness-100);
            }
        }

        &__header-bg {
            background-color: black;
            background-position: center center;
            background-size: cover;
            position: relative;
            min-height: 110px;

            .element-atom,
            .element-embed {
                height: 100vh;

                iframe {
                    height: 100% !important;
                    width: 100%;

                    video {
                        -webkit-transform: (-50%, -50%);
                    }
                }

                & + .article__header-info {
                    bottom: 0;
                    position: absolute;
                }

                &.height-adjusted {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: auto;
                }
            }

            .element-atom {
                overflow: hidden;
            }

            &[data-full-screen] {
                height: 100vh;

                .article__header-info {
                    bottom: 0;
                    position: absolute;
                }
            }
        }

        &__header-info {
            background-color: color(brightness-7);
            color: color(brightness-100);
            padding: base-px(.5, 1, 2, 1);
            margin: base-px(-6.5, 0, 0, 0);
            position: relative;
            z-index: 10;
            width: calc(100% - 32px);

            .article__series > a {
                padding: 8px 0;
                -webkit-transform: translateY(calc(-100% + 2px));
                transform: translateY(calc(-100% + 2px));
                margin-left: -12px;
                position: absolute;
                margin: 0 0 0 -12px;
            }

            .article__series > a > span {
                padding: 0px 10px;
                font-size: 16px;
                line-height: 32px;
                height: 32px;
                display: block;
            }

            @include mq($to: mobileMedium) {
                width: calc(100% - 24px);
            }

            @include mq($from: col2) {
                width: auto;
                padding-top: base-px(.5);
            }

            @include mq(col2, col3) {
                margin-right: cols($base-3, 2);
            }

            @include mq(col3, col4) {
                margin-right: cols($base-4, 6);
            }

            @include mq($from: col4) {
                margin-left: auto;
                margin-right: auto;
                padding: {
                    left: base-px(1);
                    right: 340px;
                }
                width: 1200px;
                transform: translateX(240px - base-px(1));
                position: relative;
                &:before {
                    content: '';
                    background-color: color(brightness-100);
                    position: absolute;
                    left: -(240px - base-px(1));
                    bottom: 0;
                    top: 78px;
                    width: 240px - base-px(1);
                }
            }
        }

        &__series {
            display: block;
        }

        &__headline.headline,
        &__series a {
            font-family: $egyptian-display;
            font-size: 3.5rem;
            line-height: 1.04;
            font-weight: 700;

            @include mq(col4) {
                max-width: 620px;
                margin: 0;
            }
        }



        &__headline.headline {
            color: color(brightness-100);
            padding: 0;
            z-index: 1;

            @include mq($from: col2) {
                margin-bottom: 24px;
            }

            @include mq($from: col4) {
                background-color: transparent;
            }
        }

        &__body {
            background: color(brightness-100);

            p {
                a {
                    color: color(tone-feature1);

                    &:active {
                        color: color(tone-feature1-accent);
                    }
                }
            }
        }

        &__meta {
            background: color(brightness-100);
            margin: 0 auto;
            max-width: 1200px;
            padding-top: 6px;

            // no keylines from tablet
            @include mq($from: col2) {
                padding-top: base-px(.5) !important;
                &:before {
                    display: none;
                }
            }
        }
    }

    .standfirst {
        color: color(brightness-100);
        background: none;
        font-family: $egyptian-display;
        font-weight: 300;
        background-color: color(brightness-100);
        color: color(brightness-7);
        padding: base-px(.5, 1, 1.5, 1);
        font-size: 2rem;
        line-height: 2.4rem;
        padding-right: 32px;
        @include mq($to: mobileMedium) {
            padding-right: 24px;
        }

        @include mq(col2, col3) {
            padding-right: cols($base-3, 2);
        }

        @include mq(col3, col4) {
            padding-right: cols($base-4, 6);
        }

        @include mq($from: col4) {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 240px;
            padding-right: 420px;
        }

        a {
            display: inline-block;

            &:active {
                border-color: color(tone-feature1-accent);
                color: color(tone-feature1-accent);
            }
        }

        &__text {
            margin: base-px(0, 0, 1, 0);
        }

    }

    .immersive__meta {
        color: color(brightness-46);
        font: 1.6rem/1.4rem $agate-sans;
        padding: base-px(0, 1, 2, 1);

        @include mq($from: col4) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 240px;
            width: 620px;
        }
    }

    .section__rule {
        border-bottom: 2px solid color(tone-sandy-light);
        height: 10px;
        margin: base-px(0, 0, .25, .1);
        width: 100px;
    }

    .review-rating {
        color: rgba(color(brightness-100), .4);
    }

    .review-rating--1 .icon:nth-child(-n+1),
    .review-rating--2 .icon:nth-child(-n+2),
    .review-rating--3 .icon:nth-child(-n+3),
    .review-rating--4 .icon:nth-child(-n+4),
    .review-rating--5 .icon:nth-child(-n+5) {
        color: color(brightness-100);
    }

    .prose {
        p,
        li {
            @include text-underline(color(tone-feature1), color(tone-feature1-accent));
        }

        h2:not(.section__rule):not(.title--image) {
            font-size: 2.8rem;
            line-height: 3.2rem;
            font-weight: 200;
        }

        table,
        .table {
            border-top-color: color(tone-feature1-accent);
        }

        .element-pullquote {
            blockquote {
                footer,
                &::after,
                &::before {
                    color: color(tone-feature1);
                }
            }
        }

        .title--image {
            background-color: rgba(0, 0, 0, .6);
            color: color(brightness-100);
            font-size: 2rem;
            font-weight: 200;
            line-height: 2.6rem;
            margin: {
                bottom: base-px(2);
                left: -12px;
                top: -65px;
            }
            padding: base-px(.25, 0, 2, 1);
            position: relative;
            width: 108%;
            z-index: 1;

            @include mq($from: col2) {
                padding: base-px(.25, 0, 2.8, 1);
                font-size: 3.2rem;
                margin-top: -74px;
                width: 136%;
                float: left;
            }

            @include mq($from: col4) {
                width: 1200px;
                margin-left: -240px;
                padding-left: 240px;
            }
        }

        .section__header {
            background-color: color(tone-feature1-accent) !important;
            color: color(brightness-100);
            height: 180px;
            margin: {
                bottom: 24px;
                left: -12px;
            }
            font-size: 34px;
            font-weight: 200;
            line-height: 30px;
            padding-left: 4%;
            width: 108%;
        }

        .section__rule {
            clear: left;

            + p {
                margin-top: 0;
            }
        }

        .quote--image {
            margin-top: -54px;

            blockquote {
                border-top: 1px solid color(tone-feature1-accent2) !important;
                border-bottom: 0 !important;
                background-color: rgba(0, 0, 0, .65);
                color: color(brightness-100) !important;
                padding: base-px(.5) base-px(.5) base-px(2);

                &::before {
                    color: color(tone-feature1-accent2) !important;
                }

                footer {
                    cite {
                        color: color(tone-feature1-accent2);
                    }
                }
            }
        }

        .quote--overlay {
            position: relative;

            &::before {
                background-color: rgba(0, 0, 0, .6);
                color: color(brightness-100);
                content: attr(data-content) 'î„';
                font-family: $icon;
                height: 30px;
                text-align: center;
                position: absolute;
                right: 0;
                width: 30px;
            }

            figcaption {
                background-color: rgba(0, 0, 0, .6);
                color: color(brightness-100);
                display: none;
                position: absolute;
                top: 0;
                width: 90%;

                &.display {
                    display: block;
                }
            }
        }

        .title--overlay {
            figcaption {
                display: none !important;
            }
        }

        .element-pullquote {
            margin-bottom: base-px(2);
            visibility: hidden;

            blockquote {
                border: {
                    bottom: 1px solid #e0e0e0;
                    top: 1px solid #e0e0e0;
                };
                color: color(tone-feature1);
                font: 200 2rem/2.4rem $egyptian-display;
                padding-top: 0px;

                @include mq($from: col2) {
                    font-size: 3.2rem;
                    line-height: 3.4rem;
                }

                p {
                    margin: 14px 0;
                }

                cite {
                    color: color(brightness-60);
                    font-size: 2rem;
                    line-height: 2.4rem;

                    @include mq($from: col2) {
                        font-size: 3.2rem;
                        line-height: 3.2rem;
                    }
                }

                &::before {
                    color: color(brightness-60);
                    float: left;
                    font-size: 2.8rem;
                    line-height: 1.6rem;
                    margin-right: 8px;
                    position: relative;

                    @include mq($from: col2) {
                        font-size: 4rem;
                        line-height: 1.3rem;
                    }
                }

                &::after {
                    content: '';
                }
            }

            @include mq($from: col2) {
                float: left;
                margin-right: base-px(1);
                max-width: 100%;
            }

            @include mq($from: col3) {
                max-width: 100%;
            }

            @include mq($from: col4) {
                margin: {
                    left: 0;
                    right: 0;
                };
            }
        }

        .element-image {
            &.element--immersive {
                @include mq($from: col4) {
                    clear: left;
                    margin-left: -240px;
                    width: 1200px;
                    float: none;

                    &:not(.quote--overlay) > figcaption {
                        border: 0;
                        float: left;
                        padding-right: 0;
                        width: 240px;
                    }

                    + .section__rule {
                        clear: none;
                    }
                }
            }

            &.element--supporting {
                width: auto;
                margin: 0;

                .figure__inner {
                    @include mq($from: col2) {
                        float: left;
                        margin: {
                            left: 0;
                            right: 20px;
                            top: 6px;
                        }
                        width: 274px;
                    }

                    @include mq($from: col3) {
                        width: 380px;
                    }

                    @include mq($from: col4) {
                        margin: {
                            bottom: 0;
                            left: -240px;
                        }
                    }
                }

                figcaption {
                    @include mq($from: col2) {
                        clear: both;
                        border: 0;
                        float: left;
                        margin-right: 20px;
                        padding: 6px 0;
                        width: 274px;
                    }

                    @include mq($from: col3) {
                        width: 380px;
                    }

                    @include mq($from: col4) {
                        clear: both;
                        float: left;
                        margin: {
                            left: -240px;
                            top: 3px;
                        }
                        width: 220px;
                    }
                }

                + .section__rule {
                    clear: none;
                }
            }
        }

        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            visibility: visible;
        }

        @-webkit-keyframes fadeInUp {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        .fadeInUp {
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
        }
    }
}
