@keyframes pulse {
    0% {
        opacity: 1;
    }
    10% {
        opacity: .25;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.garnett--type-live {
    &.is-live{
        .alerts {
            margin: base-px(.5, 1, .5, -.15);
            border-color: rgba(color(tone-sandy-light), .5);
        }

        .pulsing-dot {
            animation: pulse 1s infinite;
            color: color(brightness-100);
            &:before {
                border-radius: 62.5rem;
                display: inline-block;
                position: relative;
                background-color: currentColor;
                width: 0.75em;
                height: 0.75em;
                content: '';
                margin-right: 0.1875rem;
                vertical-align: initial;
            }
        }

        @media (prefers-reduced-motion) {
            .pulsing-dot {
                animation-name: none;
            }
        }

        .article__header {
            color: color(brightness-100);

            a {
                color: color(brightness-100);

                &:active {
                    opacity: rgba(color(brightness-100), .8);
                }
            }

            .bullet,
            ul > li {
                &::before {
                    background-color: rgba(color(brightness-100), .8);
                }
            }

            .article-kicker,
            .headline,
            .byline,
            .byline__author a,
            .section {
                color: color(brightness-100);
            }

            .standfirst {
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2rem;
                padding-bottom: base-px(2.5);
                font-family: $egyptian-text;

                ul li {
                    padding: 3px 0px;
                }

                li:before {
                    margin-right: 6px;
                }
                p {
                    margin-bottom: base-px(.5);
                }
            }

            .article-kicker,
            .headline,
            .standfirst {
                @include mq(col2, col3) {
                    padding-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    padding-left: cols($base-4, 5);
                }

            }

            .headline,
            .standfirst {
                @include mq($from: col4) {
                    padding-left: 0;
                    margin: 0 auto;
                    max-width: 1200px;
                }
            }

            .sponsorship {
                @include mq($from: col4) {
                    padding-left: 12px;
                    margin: 0 auto;
                    max-width: 1200px;
                }
            }

            .article-kicker,
            .headline {
                @include mq($from: col4) {
                    padding-left: 240px;
                    margin: 0 auto;
                    max-width: 1200px;
                }
            }

            .standfirst__inner,
            .meta__misc {
                @include mq(col2, col4) {
                    padding-left: 0;
                }
                @include mq(col2, col4) {
                    padding-left: 0;
                }
            }

            .meta .avatar--author {
                @include mq(col2, col4) {
                    position: absolute;
                    transform: translateX(-100%);
                    margin-left: base-px(-1);
                }
            }

            // Sponsorship alt text when sponsor logo unavailable
            .sponsorship__logo {
                color: color(brightness-100);
            }
        }

        // Template specific styles
        .article--liveblog {
            @include mq($from: col4) {
                .content__labels__container {
                    padding-left: 60px;
                }
            }

            .cricket & {
                border-top: 0;
            }

            .meta {
                margin: 0;

                @include mq(col2, col3) {
                    padding-left: cols($base-3, 4);
                }

                @include mq($from: col3) {
                    padding-left: cols($base-4, 5);
                }

                @include mq($from: col4) {
                    max-width: 100%;
                    padding-left: 0;
                    padding-top: 0;
                    width: 1200px;
                    margin: 0 auto;
                }

                &__published {
                    color: color(brightness-86);
                }
            }

            .meta__misc {
                @include mq($from: col4) {
                    padding-top: 6px;
                    margin: 0 auto 0 240px;
                    width: 620px;
                }
            }

            .meta__pubdate {
                color: rgba(color(brightness-100), .8);
            }
        }

        .cricket & {
            .alerts {
                margin: 0;
            }
        }

        .keyline,
        .keyline-4 {
            &::before {
                opacity: .5;
            }
        }

        .keyline {
            &::before {
                background-color: color(tone-sandy-light);
            }
        }

        .keyline-4 {
            &::before {
                background-image: repeating-linear-gradient(color(tone-sandy-light), color(tone-sandy-light) 1px, transparent 1px, transparent 3px);
            }
        }

        .more--live-blogs, .more--live-blogs-blocks {
            border: 0;
        }

        .tags__inline-list:not(:empty) {
            @include mq($from: col2) {
                padding: base-px(2, 1, 2, 0);
            }
        }
    }
}
