.garnett--type-matchreport {
    @include mq($from: col2) {
        border-top: 4px solid color(brightness-46);
    }

    .match-summary__meta {
        border-bottom-style: solid;
    }

    .tabs {
        margin: 0;
        padding: base-px(1);
    }
}
