.garnett--type-media[data-content-type='gallery'] {
    .article__header {
        &-bg {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .article-kicker {
            display: none;
        }
        .headline {
            font-size: 3.6rem;
            line-height: 4rem;
            padding: 0 $gs-unit 5*$gs-unit $gs-unit;
            font-weight: 600;
            @include mq(col4) {
                background-color: transparent;
                width: auto;
            }
        }
        .standfirst {
            padding: 0 $gs-unit;
            font-size: 1.6rem;
            line-height: 2rem;
            font-family: $egyptian-text;
            @include mq(col4) {
                padding-bottom: 0;
                margin-left: 0;
            }
        }
        .header-photo-credit {
            &:before {
                content: 'Header image:';
            }
            color: color(brightness-74);
            font-family: $agate-sans;
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin: $gs-unit $gs-unit 2*$gs-unit $gs-unit;
        }
    }

    .touch-gallery {
        &__images {
            display: block;
            position: relative;
            z-index: 2;
            margin: 0 (-$gs-unit);

            @include mq(col2) {
                margin: 0 $gs-unit;
            }

            @include mq(col3) {
                float: left;
                width: calc(70% - #{$gs-unit}*2);
                margin-bottom: 4*$gs-unit;

            }

            &__image {
                display: block;
                max-width: 100%;
                max-height: 100vh;
                width: auto;
                height: auto;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            &__high-res {
                display: none;
            }
            &.high-res-loaded {
                .touch-gallery__images__low-res {
                    display: none;
                }
                .touch-gallery__images__high-res {
                    display: block;
                }
            }


            &--pinch {
                z-index: 3;
            }

        }
        &__caption {
            padding: 0 $gs-unit $gs-unit*4 $gs-unit;
            color: color(brightness-100);

            @include mq(col3) {
                padding: 0 0 6*$gs-unit $gs-unit;
                float: left;
                width: 30%;
            }

            &__caption,
            &__credit {
                font-size: 1.6rem;
                line-height: 2rem;
            }
            &__caption {
                margin-top: $gs-unit/2;
                font-family: $egyptian-text;
                strong:first-child {
                    font-family: $egyptian-display;
                    font-weight: 600;
                }

                @include mq(col3) {
                    margin-top: 0;
                }
            }
            &__credit {
                color: color(brightness-74);
                font-family: $agate-sans;
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
        }
    }

    .meta__misc {
        padding: 0;
    }

    .meta__misc, .sponsorship, .tags {
        @include mq(col3) {
            width: 70%;
            max-width: 70%;
            margin: 8px;
        }
    }

    .tags {
        background-color: transparent;
        width: auto;
        .inline-list {
            padding: 2*$gs-unit 0;
            margin: 0 -5px;
            width: auto;
            &__item {
                &:before {
                    display: none;
                }
            }
        }
    }

    @include mq(col4) {
        .keyline:before {
            margin: 0;
            width: auto;
        }

        .meta, .sponsorship {
            background: black;
        }
    }

    @include mq($to: col4) {
        .meta, .tags {
            padding: 0 8px;
        }
    }
}