.garnett--type-media[data-content-type='gallery'] {

    .article__header {
        &-bg {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .article-kicker {
            display: none;
        }
        .headline {
            font-size: 3.6rem;
            line-height: 4rem;
            padding: 0 0 5*$gs-unit;
            font-weight: 600;
            @include mq(col4) {
                background-color: transparent;
                width: auto;
            }
        }
        .standfirst {
            font-size: 1.6rem;
            line-height: 2rem;
            font-family: $egyptian-text;
            @include mq(col4) {
                padding-bottom: 0;
                margin-left: 0;
            }
        }
        .header-photo-credit {
            &:before {
                content: 'Header image:';
            }
            color: color(brightness-74);
            font-family: $agate-sans;
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin: $gs-unit 0 2*$gs-unit;
        }
        .meta {
            padding: $gs-unit 0;
            @include mq(col4) {
                background-color: transparent;
            }
        }
        .meta__misc {
            padding: 0;
        }
    }

    .touch-gallery {
        &__images {
            display: block;
            position: relative;
            z-index: 2;
            margin: 0 (-$gs-unit);
            @include mq(col2) {
                margin: 0;
            }

            &__image {
                display: block;
                max-width: 100%;
                max-height: 100vh;
                width: auto;
                height: auto;
            }
            &__high-res {
                display: none;
            }
            &.high-res-loaded {
                .touch-gallery__images__low-res {
                    display: none;
                }
                .touch-gallery__images__high-res {
                    display: block;
                }
            }


            &--pinch {
                z-index: 3;
            }

        }
        &__caption {
            padding: 0 0 $gs-unit*4;
            color: color(brightness-100);

            &__heading,
            &__caption,
            &__credit {
                font-size: 1.6rem;
                line-height: 2rem;
            }
            &__heading {
                font-family: $egyptian-display;
                font-weight: 600;
                margin-top: 3px;
            }
            &__caption {
                font-family: $egyptian-text;
            }
            &__credit {
                color: color(brightness-74);
                font-family: $agate-sans;
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
        }
    }

    .tags {
        background-color: transparent;
        width: auto;
        .inline-list {
            padding: 0 0 5*$gs-unit;
            margin: 0 -5px;
            width: auto;
            &__item {
                &:before {
                    display: none;
                }
            }
        }
    }


    // For fashion galleries with light backgrounds
    &.garnett--pillar-lifestyle .gallery {
        background-color: color(brightness-93);
        .touch-gallery__caption {
            color: color(brightness-7);
            &__credit {
                color: color(brightness-20);
            }
        }
    }

}
