// In sync with web version in frontend:
// frontend/static/src/stylesheets/module/content-garnett/_article-numbered-list
.display-hint--numberedList {

    .article__body {
        .element-image.element--thumbnail {
            float: right;
            margin: $gs-unit 0 $gs-unit ($gs-unit * 2);
            img {
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }
}
