/*doc
---
title: Unstyled list
name: list
category: Components
---
Removes bullets, padding and margins from lists.

```html_example
<ul class="list">
	<li class="list__item"><a href="#">Guardian</a></li>
	<li class="list__item"><a href="#">Mobile</a></li>
	<li class="list__item"><a href="#">Applications</a></li>
</ul>
```
*/

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.list__item {
	
}