/*.tone--deadBlog {
    .section {
        color: color(tone-liveBlogSection); // Default
        font-family: $egyptian-display;
        font-weight: 600;
        @include headline(.5);
        float: left;
        padding-bottom: 0;

        &::before {
            margin-right: base-px(.66666);
            line-height: 92%; // Offset for different font
            vertical-align: bottom;
        }
    }

    .content__series-label {
        color: color(tone-liveBlogSeriesLabel);
        font-weight: normal;
        font-family: $egyptian-display;
        @include headline(.5);
        padding: 6px 12px 0 0;
        padding-bottom: 0;
        float: left;
    }

} */

.tone--deadBlog {
    .witness {
        margin-top: base-px(1);

        @include mq($from: col4) {
            margin-left: 240px;
        }
    }

    a.touchpoint:active {
        color: color(tone-deadblog);
    }

    #comments .touchpoint--primary {
        .touchpoint__button {
            background-color: color(tone-deadblog);
        }

        &:active .touchpoint__button {
            background-color: color(tone-deadblog);
        }
    }

    // Template specific styles
    .article--liveblog {
        border-top-color: color(tone-deadblog);

        .prose table,
        .table {
            border-top-color: color(tone-deadblog);
        }
    }

    .article__header {
        background-color: color(brightness-100);

        @include mq($from: col4) {
            background-color: color(brightness-93);

            .section,
            .headline,
            .standfirst__inner,
            .main-media {
                background-color: color(brightness-100);
            }
        }

        .byline__author,
        .byline__author a {
            color: color(brightness-7);
        }

        a {
            color: color(tone-deadblog);

            &:active {
                opacity: rgba(color(tone-deadblog), .8);
            }
        }

        .bullet,
        ul > li {
            &::before {
                background-color: color(brightness-46);
            }
        }

        .headline {
            color: color(brightness-7);
        }

        .content__series-label,
        .content__series-label a {
            color: color(brightness-46);
        }

        .section {
            @include headline(.5);
            color: color(tone-deadblog); // Default
            font-family: $egyptian-display;
            font-weight: 600;

            &::before {
                margin-right: base-px(.66666);
                line-height: 92%; // Offset for different font
                vertical-align: bottom;
            }
        }

        .section__live {
            display: block;
        }

        .standfirst {
            color: color(brightness-46);

            a {
                color: color(tone-deadblog);
            }
        }

        .sponsorship {
            background-color: color(brightness-100);

            &__about-uri {
                color: color(global-sponsored-about);
            }
        }
    }

    .tags {
        background-color: color(brightness-93);
        padding-left: 0;

        .inline-list__item {
            a {
                @include tag-button(color(brightness-7), color(brightness-93));
            }

            &.more-button a {
                @include tag-more-button(color(brightness-7), darken(color(brightness-93), 10%));
            }
        }
    }

    .block--live-summary {
        background-color: color(brightness-100);
        border-top: 1px solid color(brightness-60);

        .prose p,
        .prose li {
            @include text-underline(color(tone-news), color(tone-news-accent));
        }

        .block__time {
            font-weight: bold;
        }
    }
}
