.tone--special {
    @include pillar-colour(
        color(tone-special-dark),
        color(tone-special-dark),
        color(tone-special-light),
        color(tone-special-mid),
        color(news-liveblog-background)
    );

    // Light background in opinion articles
    &:not(.garnett--type-media) {

        .article__header .cutout__container,
        .article__body,
        .article__meta,
        .tags {
            background-color: color(tone-special-light);
        }

        @include mq($to: col4) {
            .article__header {
                background-color: color(tone-special-light);
            }
        }
        @include mq($from: col4) {
            .article__header {
                .article-kicker,
                .standfirst__inner,
                .meta,
                .main-media {
                    background-color: color(tone-special-light);
                }
            }
            &:not(.garnett--type-comment, .garnett--type-immersive) .article__header .headline {
                background-color: color(tone-special-light);
            }
        }

        .headline {
            color: color(tone-special-dark);
        }

        .article-kicker__highlight {
            background-color: color(tone-highlight);
            box-shadow: 0 0 0 2px color(tone-highlight);
            padding: 0 2px;
        }
    }
}
