.tone--special {
    .article__body {
        background-color: color(brightness-100);
    }

    .article__header {
        .article__header,
        .section,
        .article-kicker,
        .standfirst,
        .standfirst__inner, 
        .headline {
            background-color: color(tone-special);
        }

        @include mq($from: col4) {
            .main-media {
                background-color: color(tone-special);
            }

            .standfirst {
                background-color: color(brightness-93);
            }
        }
        
        .article-kicker a,
        .article-kicker div {
            color: color(tone-special-accent); // Content Label Section
        }
        
        .section__container,
        .content__series-label,
        .content__series-label a {
            color: color(brightness-100);  // Content Label Series
        }

        .comment-count a {
            color: color(tone-special-accent);
        }

        .headline {
            color: color(brightness-100);
        }

        .standfirst {
            color: color(brightness-100);
        }

        .selectable a {
            color: color(brightness-100) !important;
        }

        .meta {
            background-color: color(tone-special);
            border-bottom: 0;

            .meta__byline .byline,
            .meta__byline a, 
            .comment-count,
            .comment-count a {
                color: color(tone-special-accent);
            }

            .meta__published__date {
                color: color(brightness-100);
            }
        }

        .main-media__caption {
            color: color(brightness-100);
            background-color: color(tone-special);

            @include mq($from: col4) {
                background-color: color(tone-special);

                &__icon,
                &__text {
                    color: color(brightness-100);
                }
            }
        }
        
        .sponsorship {
            background-color: color(brightness-100);
        }
    }

    .alerts:active,
    .alerts.following {
        background-color: color(tone-special-accent);
        color: color(tone-special);
    }
    
    .alerts,
    .alerts.following:active {
        border-color: rgba(color(tone-special-accent), .5);
        color: color(tone-special-accent);
    }

    .element-pullquote blockquote {
        color: color(tone-special);
    }

    .avatar {
        background-color: color(tone-special-accent);
    }

    .prose .element-pullquote blockquote {
        &:before,
        &:after,
        footer {
            color: color(tone-special);
        }
    }

    .comment-count a {
        color: color(tone-special);
    }


    // Author names
    .byline,
    .byline__author,
    .byline__author a {
        color: color(tone-special-accent);
    }

    .keyline {
        &:before {
            opacity: .5;
        }
    };

    .keyline-4 {
        &:before {
            opacity: .5;
        }
    }

    // in-article
    .prose,
    .standfirst {
        // text links
        p, li {
            @include text-underline(color(tone-special), color(tone-special-accent));
        }
    }

    // Immersive overrides
    &.garnett--type-immersive {
        .article__series,
        .article__series > a,
        .byline__author > a {
            color: color(tone-special-accent);
        }

        .standfirst {
            // text links
            p, li {
                @include text-underline(color(tone-special-accent), lighten(color(tone-special-accent), .2));
            }
        }

        .section__rule {
            + p.has__dropcap {
                @include immersive-dropcap(color(tone-special));
            }
        }
    }

}
