#audio {
	.article {
		border-top-color: $headline;
	}
	.article__header {
		.inner-header {
			background: -webkit-canvas(squares) $news-accent;
			padding-bottom: 4.5em;
			position: relative;

			.article__section {
				display: none;
			}

			.article__headline {
				color: $white;
				@include padding(0.5, 1, 1, 1);
				span {
					color: $headline;
					display: block;
				}
			}

			.article__byline {
				color: fade-out($white, 0.1);
				border: 0 none;
				@include padding(0, 0, 0, 1);
				@include mq($to: col1) {
					display: none;
				}
			}
		}
		.article__byline--mobile {
			@include padding(0, 0, 1, 0);
			border-bottom: 1px dotted $shadow;
			display: block;
			@include mq($from: col1) {
				display: none;
			}
		}

		.article__standfirst {
			color: $headline;
			@include mq($to: col2) {
				font-size: 1.25em;
				line-height: 1.25em;
			}
		}

		.article__meta {
			margin: 0;
			border: 0 none;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			.article__pubdate {
				color: $white;
				padding-top: 0;
			}

			.article__comments {
				border-left-color: fade-out($news, 0.25);
				padding-top: 0px;
				@include mq($to: col1) {
					border-left-color: fade-out($white, 0.25);
					width: cols($base-1, 1);
				}
				@include mq(col1, col2) {
					border-left-color: fade-out($white, 0.25);
					width: cols($base-2, 2);
				}
				@include mq(col2, col3) {
					width: cols($base-3, 6);
				}
				@include mq($from: col3) {
					width: cols($base-4, 10);
				}
			}
		}
	}

	.article__body {
		@include padding(0, 1, 0, 1);
		@include mq(col2, col3) {
			padding-right: cols($base-3, 3);
		}
		@include mq($from: col3) {
			padding-right: cols($base-4, 4);
		}
	}

	.audio-player {
		background-color: $headline;
		@include padding(0.75);
		display: table;
		width: 100%;
		.audio-player__button {
			@include margin(0, 1, 0, 0);
		}
		.audio-player__button--loading {
			@include margin(0, 1, 0, 0);
			width: 44px;
			height: 44px;
			display: none;
			vertical-align: middle;
		}
		.audio-player__slider {
			display: table-cell;
			position: relative;
			-webkit-user-select: none;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-text-size-adjust: none;
			-webkit-touch-callout: none;
			outline: 0;
			height: 40px;
			width: 100%;
			.audio-player__slider__track {
				position: absolute;
				top: 22px;
				left: 0;
				right: 0;
				height: 2px;
				width: 100%;
				background-color: $meta;
				text-align: center;
			}
			.audio-player__slider__knob {
				position: absolute;
				margin-top: 14px;
				padding: 0;
				height: 16px;
				width: 16px;
				background-color: $news-accent;
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				cursor: pointer;
			}
			input {
				color: $white;
				@include meta();
				font-family: $agate-sans;
				font-weight: normal;
				background: transparent;
				position: absolute;
				border: 0;
				padding: 0;
				margin: 0;
			}
			input:nth-child(2) {
				right: 0;
				text-align: right;
			}
		}
	}
	
	.media-meta {
		.article__byline,
		.media-meta__misc__timestamp {
			display: none;
		}
		
		.media-meta__misc__tags {
			border-top-color: $shadow;
		}
	}
}