#comments.preview {
	background-color: $headline;

	.article {
		border: none;
	}

	.article__body--comments {
		background-color: $headline;
		color: white;
		border-top: none;
		.discussion {
			margin-top: 0;
			background-color: transparent;
			background-color: $headline;
		}
		.discussion__body {
			height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.discussion__recommend {
			display: none;
		}
		.discussion__username {
			color: $news-sec;
		}
	}
}