#comments {
	.article {
		background-color: transparent;
		border-top-color: $headline;
		border-bottom: none;
	}

	.article__header {
		@include mq($to: col1) {
			padding: 0 $base-1 / 1.5;
		}
	}

	.article__section {
		padding-left: 0;

		.comments-count {
			color: $meta;
		}
	}

	.article__headline {
		@include headline(0.75);
		@include margin(0,0,4,0);
	}

	.article__controls {
		overflow: auto;
		font-family: $agate-sans;
		font-weight: bold;
		@include meta();
		display: table;
		width: 100%;
		& > div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.article__controls__action {
		float: right;
		a {
			display: table-cell;
			vertical-align: middle;
			height: auto;
			padding-right: 6px;
			@include mq($to: col2) {
				display: none;
			}
		}
		.comments-closed-label {
			display: none;
			color: $standfirst;
		}
	}
}