#comments.preview {
	background-color: $headline;

	.article {
		border: none;
	}

	.article__body--comments {
		background-color: $headline;
		color: white;
		border-top: none;

		.discussion {
			margin-top: 0;
			border-top: none;
			background-color: $headline;
		}
		
		.discussion__header {
			padding: 0;
		}

		.discussion__body {
			height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.discussion__recommend {
			display: none;
		}

		.discussion__username {
			color: $news-accent;
		}
	}
	
	.comments--preview__graident {
		position: absolute;
		z-index: 2;
		top: 0;
		background-image: linear-gradient(to bottom, rgba($headline, 0) 70%, $headline 100%);
		width: 100%;
		height: 100%;
	}
}