#comments {
	.article {
		background-color: transparent;
		border-top-color: $headline;
		border-bottom: none;
	}

	.article__header {
		@include mq($to: col1) {
			padding: 0 $base-1 / 1.5;
		}
	}

	.article__section {
		padding-left: 0;

		.comments-count {
			color: $meta;
		}
	}

	.article__headline {
		@include headline(0.75);
		@include margin(0,0,4,0);
	}

	.article__controls {
		overflow: auto;
		font-family: $agate-sans;
		font-weight: bold;
		@include meta();
		display: table;
		width: 100%;
		& > div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.article__controls__action {
		float: right;
		a {
			display: table-cell;
			vertical-align: middle;
			height: auto;
			padding-right: 6px;
			@include mq($to: col2) {
				display: none;
			}
		}
		.comments-closed-label {
			display: none;
			color: $standfirst;
		}
	}

	.comments__view-more,
	.comments__empty,
	.comments__failed {
		font-family: $agate-sans;
		font-weight: bold;
		@include margin(0.75, 0, 0.75, 0);
		@include padding(0.75, 0, 0, 0);
	}
	.comments__view-more {
		border-top: 1px dotted $shadow;
	}
	.comments__empty,
	.comments__failed {
		display: none;
		color: $standfirst;
		@include meta();
		border-top: 1px solid $headline;
	}

	.comments__loading {
		text-align: center;
		@include padding(0.75);
		img {
			width: 44px;
			height: 44px;
		}
	}
}

// Failure States
.comments-0,
.comments-has-failed {
	.comments__view-more {
		display: none;
	}
}

.comments-0,
.comments-1,
.comments-has-failed {
	.article__controls__sorter a {
		color: $standfirst;
	}
}

.comments-closed {
	.article__controls__action {
		.comments-closed-label {
			display: block !important;
		}
		.icon-circle, a {
			display: none !important;
		}
	}
}

// Module Specific
#module-comments {
	.comments__view-more {
		font-family: $agate-sans;
		font-weight: bold;
		@include body();
		@include margin(0.75);
		@include mq($to: col1) {
			margin-top: 0;
		}
	}
}