#football {
	.prose table,
	.table {
		border-top-color: $news-accent;
	}
	
	.article {
		background-color: transparent;
	}

	.football-tabs-stats,
	.football-tabs-article {
		border-top: 2px solid $news-accent;
	}

	.football-tabs-article {
		.article {
			background-color: $white;
			border-bottom: none;
			margin-bottom: 0;
		}
		.article__section {
			display: none;
		}
		.article__headline {
			@include padding(0.5, 1, 0, 1);
		}
	}

	.football-tabs-liveblog {
		.article {
			padding-top: 0;
		}
		.block:first-of-type {
			margin-top: 0;
		}
	}

	.football-tabs-stats {
		font-family: $agate-sans;
		background-color: $white;

		.football__label {
			font-family: $egyptian-display;
			@include body();
		}
		.football-lineups {
			overflow-y: hidden;
			border-bottom: 1px dotted $shadow;
			.football-team {
				width: 50%;
				float: left;
				.football-player {
					@include meta();
					margin-bottom: 4px;
					display: table;
					width: 100%;
					.football-player-number,
					.football-player-name {
						display: table-cell;
						vertical-align: top;
						span {
							img {
								display: none;
							}
						}
					}
					.football-player-name-replacement {
						display: none;
					}
					.replacement {
						.football-player-name-replacement {
							display: inline;
						}
					}
					.yellow > img.yellow,
					.yellow-red > img.yellow-red,
					.red > img.red {
						display: inline-block;
						margin-bottom: -1px;
					}
					.football-player-number {
						color: $meta;
					}
					&:last-of-type {
						.football-player-name {
							.used {
								color: $meta;
								text-decoration: line-through;
							}
						}
					}
				}
			}
		}

		.football-stats {
			overflow-y: auto;
			border-bottom: 1px dotted $shadow;
			p {
				@include meta();
			}
			& > div {
				float: left;
				width: 50%;
			}
			.football-possession {
				.football-possession-wrapper {
					position: relative;
					padding-bottom: 100%;
					vertical-align: top;
					overflow: hidden;
					.football-possession-labels {
						@include meta();
						height: auto;
						div {
							position: absolute;
							z-index: 2;
							top: 0;
							bottom: 0;
							width: 26%;
							margin-top: auto;
							margin-bottom: auto;
							vertical-align: middle;
							display: table;
							span {
								display: block;
								font-family: $egyptian-display;
								font-weight: 600;
							}
						}
						.home-team {
							left: 0;
						}
						.away-team {
							right: 0;
						}
					}
					.football-chart {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						shape-rendering: optimizeSpeed;
						g .arc path {
							fill: $standfirst;
						}
						.arc-team {
							font-family: $agate-sans;
							@include meta();
							width: 75px;
							text-overflow: ellipsis;
							text-align: center;
							white-space: nowrap;
							overflow: hidden;
						}
						.arc-percent {
							font-family: $egyptian-display;
							font-weight: 600;
							@include standfirst();
							text-align: center;
						}
					}
					.arc-key {
						fill: $meta;
						font-family: $egyptian-display;
						font-weight: 600;
						font-size: 220%;
					}
				}
			}
			.football-stats-column {
				.football-shots-wrapper {
					overflow: hidden;
					& > div {
						background-size: 8px;
						width: 50%;
						float: left;
						p {
							color: white;
							span {
								display: block;
								font-family: $egyptian-display;
								font-weight: 600;
								@include standfirst();
							}
						}
						p:nth-child(2) {
							border: 2px solid white;
							border-bottom: none;
							text-indent: 0;
							margin-bottom: 0;
						}
					}
					.football-shots-home {
						p:nth-child(2) {
							float: right;
							border-right: none;
						}
					}
					.football-shots-away {
						p:nth-child(1) {
							color: transparent;
						}
						p:nth-child(2) {
							color: transparent;
							border-left: none;
						}
					}
				}
				.football-line {
					font-family: $egyptian-display;
					font-weight: 600;
					@include standfirst();
					text-align: right;
					padding: 4px;
					width: 100%;
					position: relative;

					.football-line-home {
						text-align: left;
						padding: 4px;
						width: 50%;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
		}

		.football-fixtures {
			.football-match {
				@include meta();
				border-top: 1px solid $background;
				@include padding(0.25, 0, 1, 0);
				
				&:first-of-type {
					border-top: 2px solid $news-accent;
				}
				& > div {
					display: inline-block;
					margin-right: -4px;
					overflow: hidden;
				}
				&.has-ended {
					.football-match-status {
						font-weight: bold;
					}
				}
				&.is-live {
					font-weight: bold;
					.football-match-status {
						color: $news-accent;
					}
				}
				.football-match-status {
					color: $meta;
				}
				.football-match-score {
					color: $standfirst;
					text-align: center;
					width: 20%;
				}
				.football-match-home,
				.football-match-away {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 40%;
				}
				.football-match-home {
					text-align: right;
				}
			}
		}
		.table--football {
			margin-top: 0;
		}
	}

	@include mq($to: col1) {
		.football-tabs-stats {
			h2 {
				padding-left: 0;
			}
			.football-lineups {
				margin: 0 $base-1 / 1.5 $base-1 / 1.5 $base-1 / 1.5;
				padding-bottom: $base-1 / 1.5;
				.football-team {
					.football-player {
						.football-player-number {
							width: 44px;
							padding-right: 12px;
						}
						.football-player-forename {
							display: none;
						}
						.replacement .football-player-name-replacement {
							display: block;
						}
					}
					.football-player:last-of-type {
						margin-top: $base-1 * 2;
					}
				}
			}
			.football-stats {
				margin: $base-1 / 1.5;

			.football-possession {
				padding: 0 36px;
				width: 100%;
				margin-top: -4px;
				p {
					margin-left: -36px;
					margin-bottom: -12px;
					}
					.football-possession-wrapper {
						margin-bottom: 12px;
						.football-possession-labels {
							span {
								margin-top: 4px;
								font-size: 3rem;
							}
							.home-team {
								margin-left: $base-1 * 1.5;
							}
							.away-team {
								margin-right: $base-1;
							}
						}
					}
				}
				.football-stats-column {
					width: 100%;
					padding: 0 44px;
					p {
						margin-left: -44px;
						margin-bottom: 4px;
					}
					& > div {
						margin-bottom: 12px;
					}
					.football-shots-wrapper {
						& > div {
							p {
								margin: 0;
								padding: $base-1 / 1.5 4px;
								span {
									margin-bottom: 2px;
								}
							}
							p:nth-child(2) {
								width: 80%;
								span {
									margin: 18px 0 2px 0;
								}
							}
						}
					}
				}
			}
			.football-fixtures {
				.football-match {
					.football-match-status {
						width: 44px;
						margin-left: -44px;
					}
				}
			}
			.football-today {
				.football-fixtures,
				.football-table {
					padding: $base-1 / 1.5;
				}
			}
		}
	}

	@include mq(col1, col2) {
		.football-tabs-stats {
			h2 {
				padding-left: $base-2 * 4;
			}
			.football-lineups {
				margin: 0 $base-2 / 1.5 $base-2 / 1.5 $base-2 / 1.5;
				padding-bottom: $base-2 / 1.5;
				.football-team {
					&:nth-of-type(2) {
						padding-left: $base-2 / 1.5;
					}
					.football-player {
						.football-player-number {
							width: $base-2 * 8;
						}
					}
					.football-player:last-of-type {
						margin-top: $base-2 * 4;
					}
				}
			}
			.football-stats {
				margin: $base-2 / 1.5;

				.football-possession {
					margin: -2px $base-2 * 0 8px $base-2 * 2;
					width: $base-2 * 20;
					p {
						padding-left: $base-2 * 5;
					}
					.football-possession-wrapper {
						.football-possession-labels {
							span {
								margin-top: 4px;
								font-size: 2.8rem;
							}
							.home-team {
								margin-left: $base-2 * 4;
								max-width: 45px;
							}
							.away-team {
								margin-right: $base-2 * 2;
							}
						}
					}
				}
				.football-stats-column {
					padding: 0 0 0 $base-2 * 6;
					& > p {
						margin-bottom: 6px;
					}
					& > div {
						margin-bottom: 12px;
					}
					.football-shots-wrapper {
						& > div {
							p {
								padding: $base-2 / 1.5 4px;
								span {
									margin: 2px 0 12px 0;
								}
							}
							p:nth-child(2) {
								width: 75%;
								span {
									margin: 14px 0 3px 0;
								}
							}
						}
					}
				}
			}
			.football-today {
				display: table;
				width: 100%;
				.football__label {
					padding-left: $base-2 * 8;
				}
				.football-fixtures,
				.football-table {
					padding: $base-2 / 1.5;
					display: inline-block;
					width: 50%;
					vertical-align: top;
				}
				.football-fixtures {
					.football-match {
						position: relative;
						.football-match-status {
							width: $base-2 * 8;
							float: left;
							position: absolute;
							left: 0;
						}
					}
				}
				.table--football {
					.football-stat--postition {
						width: $base-2 * 8;
					}
				}
			}
		}
	}

	@include mq(col2, col3) {
		.football-tabs-stats {
			h2 {
				padding-left: $base-3 * 6;
			}
			.football-lineups {
				margin: 0 $base-3 / 1.5 $base-3 / 1.5 $base-3 / 1.5;
				padding-bottom: $base-3 / 1.5;
				.football-team {
					&:nth-of-type(2) {
						padding-left: $base-3 / 1.5;
					}
					.football-player {
						.football-player-number {
							width: $base-3 * 12;
						}
					}
					.football-player:last-of-type {
						margin-top: $base-3 * 4;
					}
				}
			}
			.football-stats {
				margin: $base-3 / 1.5;

				.football-possession {
					margin: -2px $base-3 * 5 8px $base-3 * 5;
					width: $base-3 * 25;
					p {
						padding-left: $base-3 * 2.5;
					}
					.football-possession-wrapper {
						.football-possession-labels {
							span {
								margin-top: 4px;
								font-size: 3.2rem;
							}
							.home-team {
								margin-left: $base-3 * 4;
							}
							.away-team {
								margin-right: $base-3 * 3;
							}
						}
					}
				}
				.football-stats-column {
					padding: 0 $base-3 * 5.5 0 $base-3 * 7;
					& > p {
						margin-bottom: 6px;
					}
					& > div {
						margin-bottom: 12px;
					}
					.football-shots-wrapper {
						& > div {
							p {
								padding: $base-3 / 1.5 4px;
								span {
									margin: 2px 0 12px 0;
								}
							}
							p:nth-child(2) {
								width: 75%;
								span {
									margin: 18px 0 8px 0;
								}
							}
						}
					}
				}
			}
			.football-today {
				display: table;
				width: 100%;
				.football__label {
					padding-left: $base-3 * 12;
				}
				.football-fixtures,
				.football-table {
					vertical-align: top;
					padding: $base-3 / 1.5;
					width: 50%;
					display: inline-block;
				}
				
				.football-fixtures {
					.football-match {
						position: relative;
						.football-match-status {
							width: $base-3 * 12;
							float: left;
							position: absolute;
							left: 0;
							padding-left: $base-3;
						}
					}
				}
				.table--football {
					.football-stat--postition {
						width: $base-3 * 12;
					}
				}
			}
		}
	}

	@include mq($from: col3) {
		.football-tabs-stats {
			h2 {
				padding-left: $base-4 * 6;
			}
			.football-lineups {
				margin: 0 $base-4 / 1.5 $base-4 / 1.5 $base-4 / 1.5;
				padding-bottom: $base-4 / 1.5;
				.football-team {
					&:nth-of-type(2) {
						padding-left: $base-4 / 1.5;
					}
					.football-player {
						.football-player-number {
							width: $base-4 * 12;
						}
					}
					.football-player:last-of-type {
						margin-top: $base-4 * 4;
					}
				}
			}
			.football-stats {
				margin: $base-4 / 1.5;

				.football-possession {
					margin: -2px $base-4 * 6 8px $base-4 * 6;
					width: cols($base-4, 6);
					.football-possession-wrapper {
						.football-possession-labels {
							span {
								margin-top: 4px;
								font-size: 3.2rem;
							}
							.home-team {
								margin-left: $base-4 * 4;
							}
							.away-team {
								margin-right: $base-4 * 3;
							}
						}
					}
				}
				.football-stats-column {
					padding: 0 $base-4 * 5.5 0 $base-4 * 7;
					& > p {
						margin-bottom: 6px;
					}
					& > div {
						margin-bottom: 12px;
					}
					.football-shots-wrapper {
				 		& > div {
				 			p {
				 				padding: $base-4 / 1.5 4px;
				 				span {
				 					margin: 2px 0 12px 0;
				 				}
				 			}
				 			p:nth-child(2) {
				 				width: 75%;
				 				span {
					 				margin: 18px 0 8px 0;
				 				}
				 			}
				 		}
				 	}
				}
			}
			.football-today {
				display: table;
				width: 100%;
				.football__label {
					padding-left: $base-4 * 12;
				}
				.football-fixtures,
				.football-table {
					vertical-align: top;
					padding: $base-4 / 1.5;
					width: 50%;
					display: inline-block;
				}
				.football-fixtures {
					.football-match {
						position: relative;
						.football-match-status {
							width: $base-4 * 12;
							float: left;
							position: absolute;
							left: 0;
							padding-left: $base-4;
						}
					}
				}
				.table--football {
					.football-stat--postition {
						width: $base-4 * 12;
					}
				}
			}
		}
	}
}