#help {
	font-family: $agate-sans;
	font-size: $body-size-1;
	color: $headline;
	@include padding(1);
	.help-container {
		padding: 12px;
	}
	p {
		margin-bottom: 20px;
	}
	strong, h2 {
		font-weight: bold;
		margin-bottom: 0;
	}
	a {
		color: $news-pri;
	}
}