#liveblog {
	.article {
		background-color: $background;
		border-bottom: none;
		border-top-color: $alert;
	}

	.article__header {
		background-color: $white;
		border-bottom: 2px solid $shadow;

		.inner-header {
			padding: 0;
		}
	}

	.article__live-summary {
		@include padding(0.5, 1, 2, 1);
	}

	.article__section {
		position: relative;
		@include mq(col2, col3) {
			padding-left: cols($base-3, 4, 1);
		}
		@include mq($from: col3) {
			padding-left: cols($base-4, 5, 1);
		}
	}

	&.is-live .article__section {
		@include mq($to: col1) {
			padding-left: 4.5em;
		}
		@include mq(col1, col2) {
			padding-left: 4em;
		}
	}

	.article__section__live {
		color: $alert;
		font-family: $agate-sans;
		font-weight: bold;
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		@include headline(0.5);
		@include padding(0.5, 1, 0.5, 1);
		@include mq($from: col2) {
			font-size: $body-size-1;
		}
		&:before {
			content: "• ";
			display: inline-block;
			margin-right: 4px;
			-webkit-animation: blink 1.5s ease-in infinite;
		}
	}

	&.is-live .article__section__live {
		display: block;
	}

	.article__pubdate {
		width: auto;
	}

	.article__byline {
		margin-bottom: 0;
		border-bottom: 0 none;
		padding-bottom: 0;
	}
	.article__meta {
		border-bottom: none;
	}
	
	#advert {
		float: none;
		width: 100%;
		margin-left: 0;
		background-color: #e6e6e6;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		img {
			width: 100%;
			vertical-align: middle;
		}
	}
	
	.article__body--liveblog__pinned {
		.summary {
			.block-elements {
				height: 350px;
				@include mq($to: col1) {
					height: 150px;
				}
				
				p:last-child {
					margin-bottom: 0;
				}
				
				&.expanded {
					height: auto;
				}
				
				.live-summary-more {
					display: block;
					font-family: $agate-sans;
					font-weight: bold;
					display: none;
					width: 100%;
				}
			}
		}
	}

	aside.aside-witness {
		float: none;
		background-color: $white;
		border-top: none;
		border-bottom: 2px solid $shadow;
		@include margin(1);
		@include padding(1);
		width: auto;
		position: relative;
		overflow: hidden;

		@include mq($from: col1) {
			margin-left: 0;
			margin-right: 0;
		}

		.touchpoint__label {
			margin-bottom: 0;
			margin-right: 12px;
			@include mq($to: 719px) {
				height: 44px;
				width: 180px;
			}
			@include mq($from: 720px) {
				padding-top: 15px;
			}
			@include mq($from: col2) {
				position: absolute;
				top: 0;
				float: left;
			}
			@include mq(col2, col3) {
				padding-left: $base-3;
				left: cols($base-3, 4);
			}
			@include mq($from: col3) {
				padding-left: $base-4;
				left: cols($base-4, 5);
			}
		}

		.aside-witness__powered {
			float: right;
			margin-top: 4px;
		}
	}

	.article__meta {
		.article__alerts--liveblog {
			border-right: 1px dotted $shadow;
			left: 0;
		}
	}

	.live-summary-more {
		text-indent: 0;
		display: none;
	}
	.live-more {
		min-height: 44px;
		font-family: $agate-sans;
		font-weight: bold;
	}
	.live-more-loading {
		display: none;
		text-align: center;
		img {
			width: 44px;
			height: 44px;
		}
	}
	.live-updates {
		font-family: $agate-sans;
		font-weight: bold;
		color: $alert;
		background-color: $background;
		position: fixed;
		z-index: 99;
		border-bottom: 2px solid $alert;
		top: 0;
		overflow: auto;
		width: 100%;
		box-sizing: content-box;
		display: none;
		.live-updates-inner {
			display: table;
		}
		.live-updates-label {
			display: table-cell;
			vertical-align: middle;
		}
		.touchpoint__button {
			-webkit-transform: rotate(-90deg);
		}
	}

	@include mq($to: col1) {
		.article__header {
			.live-summary-body {
				max-height: 175px;
			}
			.article__alerts {
				margin-top: $base-1;
				display: block;
			}
			.article__meta {
				.article__alerts {
					display: none;
				}
				.inner-meta {
					width: cols($base-1, 3);
				}
			}
		}
	}

	@include mq(col1, col2) {
		.article__header {
			.live-summary-body {
				max-height: 175px;
			}
			.article__alerts {
				margin-top: $base-2;
				display: block;
			}
			.article__meta {
				.article__alerts {
					display: none;
				}
				.inner-meta {
					width: cols($base-2, 6, 1);
				}
			}
		}
	}

	@include mq(col2, col3) {
		.article__header {
			.inner-header {
				margin-left: cols($base-3, 4);
				.article__alerts {
					display: none;
				}
			}
			.live-summary-body {
				max-height: 240px;
			}
			.article__meta {
				.article__alerts {
					width: cols($base-3, 4);
					display: block;
				}
				.inner-meta {
					width: cols($base-3, 5, 1);
					margin-left: cols($base-3, 4);
				}
			}
		}
		.article__tags {
			margin-left: $base-3 * 24;
			padding-left: 0;
			padding-bottom: $base-3 * 4;
			width: auto;
			.list {
				width: 100%;
			}
		}
	}

	@include mq($from: col3) {
		.article__header {
			.inner-header {
				margin-left: cols($base-4, 5);
				.article__alerts {
					display: none;
				}
			}
			.live-summary-body {
				max-height: 240px;
			}
			.article__meta {
				.inner-meta {
					width: cols($base-4, 7, 1);
					margin-left: cols($base-4, 5);
				}
				.article__alerts {
					width: cols($base-4, 5);
					display: block;
				}
			}
		}
		.article__tags {
			margin-left: $base-4 * 30;
			padding-left: 0;
			padding-bottom: $base-4 * 4;
			width: auto;
			.list {
				width: 100%;
			}
		}
		.live-updates-inner {
			padding: $base-4 / 1.5;
			width: 100%;
		}
	}
}

.live-more {
	min-height: 44px;
	font-family: $agate-sans;
	font-weight: bold;
	color: $news-pri;
	@include body();
	@include margin(0, 0, 1, 0);
	@include padding(0, 1, 1, 1);
	@include mq(col2, col3) {
		padding-left: $base-3 * 24;
	}
	@include mq($from: col3) {
		padding-left: $base-4 * 30;
	}
	&:active {
		color: $news-sec;
	}
}
.live-more-loading {
	display: none;
	text-align: center;
	@include padding(1);
	@include margin(0, 0, 1, 0);
	img {
		width: 44px;
		height: 44px;
	}
}

#liveblog.android {
	.aside-witness {
		@include margin(1);
	}
}