#gallery,
#video {
	.article {
		background-color: $media-sec;
		border-top-color: $media-pri;
		.article__header h1 {
			color: $white;
			@include mq($to: col1) {
				margin-bottom: 24px;
			}
		}
		a {
			color: $media-pri;
		}
	}
	
	.gallery-thumbnails {
		@include padding(1);
		img {
			vertical-align: bottom;
		}
	}
	
	.media-meta {
		@include margin(1,1,0.5,1);
		@include mq($from: col2) {
			display: table;
			margin: 0;
		}
	}
	
	.media-meta__description {
		font-family: $egyptian-text;
		color: $white;
		@include margin(0,0,1,0);
		@include mq($from: col2) {
			padding: 12px 12px 24px 12px;
			display: table-cell;
		}
		// Compensation if it includes p tags
		p {
			margin-bottom: 18px;
		}
		p:last-child {
			margin-bottom: 0px;
		}
	}
	
	.media-meta__misc {
		@include meta();
		@include mq($to: col2) {
			margin-top: 12px;
		}
		@include mq($from: col2) {
			padding-top: 12px;
			display: table-cell;
			border-left: 1px dotted $standfirst;
		}
		@include rbase-3(4);
		@include rbase-4(4);
		.article__byline,
		.media-meta__misc__timestamp,
		.media-meta__misc__tags {
			padding-top: 4px;
			@include padding(0.25,0,1,0);
			margin-bottom: 0px;
			color: $white;
			border-top: 1px dotted $standfirst;
			&:empty {
				display: none;
			}
			@include mq($from: col2) {
				padding-left: 6px;
				padding-right: 6px;
			}
		}
		@include mq($from: col2) {
			& > *:first-child {
				border-top: none;
				padding-top: 0px;
			}
		}
		.article__byline a {
			font-weight: bold;
		}
		.media-meta__misc__timestamp {
			font-family: $agate-sans;
			color: $meta;
		}
		.media-meta__misc__tags {
			.list {
				width: auto;
			}
		}
	}

}