.news {
	a,
	.discussion__view-more {
		color: $news;
		&:active {
			color: $news-accent;
			.touchpoint__button--primary {
				background-color: $news-accent;
			}
		}
	}
	.touchpoint__button--primary {
		background-color: $news;
		&:active {
			background-color: $news-accent;
		}
	}
}

#standard-article {
	.article__body {
		@include padding(0, 1, 0, 1);
		@include mq(col2, col3) {
			padding-right: cols($base-3, 3);
		}
		@include mq($from: col3) {
			padding-right: cols($base-4, 4);
		}
		
		// Images, video and interactives within article body
		.figure-wide,
		.element-video,
		.element-interactive,
		.element-video-thumb {
			@include margin(0, -1, 1.5, -1);
			@include mq(0px, 9999px) {
				margin-top: -1px; //this horrible hack, requires margin() mixin refactor
			}
			@include mq($to: col2) {
				width: 110%;
			}
			@include mq($from: col2) {
				width: 134%;
			}
		}
	}
}