.comment {
	a,
	.discussion__view-more {
		color: $comment-pri;
		&:active {
			color: $comment-pri-accent;
			.touchpoint__button {
				background-color: $comment-pri-accent;
			}
		}
	}
	.touchpoint__button {
		background-color: $comment-pri;
		&:active {
			background-color: $comment-pri-accent;
		}
	}
}

#standard-article.comment {
	.article {
		border-top-color: $comment-pri;
		background-color: $comment-bg;

		.article__header {
			.inner-header {
				@include order(1);
				position: relative;
				overflow: auto;
				padding-bottom: 2em;

				.article__alerts {
					position: absolute;
					bottom: 0;
					display: block;
					@include margin(0, 0, 1, 0);
				}

				.article__headline {
					span {
						display: block;
						color: $comment-pri;
					}
				}
			}

			.article__standfirst {
				color: $comment-sec;
				@include order(5);
				@include margin(0.25, 0, 1, 0);
			}

			.article__meta {
				@include order(2);
				margin-top: 0;
			}

			.article__image {
				@include order(3);
			}

			.article__byline {
				display: none;
			}

			.article__alerts {
				display: block;
			}
		}
	}
}