#standard-article[class*="feature"] {
	.article {
		.article__header {
			@include margin(0, 0, 1, 0);
			padding-top: 32px;
			position: relative;

			.article__section {
				background-color: $background;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}

			.inner-header {
				padding-right: 0;
				-webkit-order: 2;
				order: 2;
				z-index: 2;

				.article__headline {
					color: #fff;
					@include margin(1, 0, 2, 0);
					@include mq($from: col2) {
						font-size: 4em; // 64px
						font-weight: 100;
						line-height: 0.875; // 56px
						padding: 0;
					}
					@include mq(col2, col3) {
						width: cols($base-3, 11);
					}
				}

				.article__alerts {
					display: none;
				}
			}

			.article__standfirst {
				color: rgba(255, 255, 255, 0.9);
				margin-bottom: 1em;
				padding-right: 0;
				-webkit-order: 3;
				order: 3;
				@include mq(col2, col3) {
					width: cols($base-3, 11);
				}

				a {
					color: #fff;
				}
			}

			.article__review-rating {
				-webkit-order: 4;
				order: 4;
				@include margin(0, 0, 1, 0);
			}
			.article__review-rating--1 .icon:nth-child(-n+1),
			.article__review-rating--2 .icon:nth-child(-n+2),
			.article__review-rating--3 .icon:nth-child(-n+3),
			.article__review-rating--4 .icon:nth-child(-n+4),
			.article__review-rating--5 .icon:nth-child(-n+5) {
			    color: $features-ter-accent;
			}

			.article__meta {
				color: rgba(255, 255, 255, 0.9);
				border: 0 none;
				-webkit-order: 6;
				order: 6;

				.article__pubdate {
					color: #fff;
				}

				.article__pubdate {
					border: 0 none;
					@include mq(col2, col3) {
						padding-left: $base-3 * 5;
					}
					@include mq($from: col3) {
						padding-left: $base-4 * 5;
					}
				}

				.article__comments {
					color: #fff;
					border-left: 1px solid $background;
				}
			}
		
			.article__image {
				-webkit-order: 1;
				order: 1;
				position: relative;
				z-index: 1;
				@include mq($from: col2) {
					margin-bottom: -62px;
				}
				&:after {
					@include mq($from: col2) {
						content: "";
						background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5) 100%);
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}
				}

				figcaption {
					color: rgba(255, 255, 255, 0.9);
					background-color: rgba(0, 0, 0, 0.25);
					border: 0 none;
					@include padding(0.5, 1, 0.5, 1);
					@include mq($from: col2) {
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}

			.article__byline {
				color: rgba(255, 255, 255, 0.9);
				border: 0 none;
				@include padding(0, 1, 2, 1);
				-webkit-order: 5;
				order: 5;
				a {
					color: #fff;
				}
			}

			.article__byline__image,
			.article__alerts {
				display: none;
			}

			.inner-header,
			.article__standfirst,
			.article__byline,
			.article__review-rating {
				@include mq(col2, col3) {
					padding-left: cols($base-3, 1);
					padding-right: cols($base-3, 1);
				}
				@include mq($from: col3) {
					padding-left: cols($base-4, 1);
					padding-right: cols($base-4, 1);
				}
			}
		}

		.article__body {
			> p:first-of-type:first-letter {
				font-family: $egyptian-display;
				font-weight: 100;
				font-style: normal;
				font-size: 3.3334em;
				line-height: 1;
				margin-bottom: -12px;
				padding-right: 0.125em; // 6px
				float: left;
			}
			@include mq(col2, col3) {
				padding-left: cols($base-3, 1);
				> p:first-of-type:first-letter {
					font-size: 5em;
				}
			}
			@include mq($from: col3) {
				padding-left: cols($base-4, 1);
				> p:first-of-type:first-letter {
					font-size: 5em;
				}
			}

			.figure-wide,
			.element-video,
			.element-interactive {
				@include mq($from: col2) {
					width: 145.4545%;
				}
				@include mq(col2, col3) {
					margin-left: -(cols($base-3, 1.4));
					margin-right: -(cols($base-3, 1.4));
					figcaption {
						padding-left: cols($base-3, 1);
					}
				}
				@include mq($from: col3) {
					margin-left: -(cols($base-4, 1.4));
					margin-right: -(cols($base-4, 1.4));
					figcaption {
						padding-left: cols($base-4, 1);
					}
				}
			}
		}

		.article__tags {
			@include mq(col2, col3) {
				padding-left: cols($base-3, 1);
			}
			@include mq($from: col3) {
				padding-left: cols($base-4, 1);
			}
		}
	}
}

.feature1 {
	a,
	.discussion__view-more {
		color: $features-pri;
		&:active {
			color: $features-pri-accent;
			.touchpoint__button {
				background-color: $features-pri-accent;
			}
		}
	}
	.touchpoint__button {
		background-color: $features-pri;
		&:active {
			background-color: $features-pri-accent;
		}
	}
	.article {
		border-top-color: $features-pri;
		.article__header {
			background-color: $features-pri;
		}
		.article__meta {
			background-color: $features-pri-accent;
		}
		.article__body > p:first-of-type:first-letter {
			color: $features-pri;
		}
	}
}

.feature2 {
	a,
	.discussion__view-more {
		color: $features-sec;
		&:active {
			color: $features-sec-accent;
			.touchpoint__button {
				background-color: $features-sec-accent;
			}
		}
	}
	.touchpoint__button {
		background-color: $features-sec;
		&:active {
			background-color: $features-sec-accent;
		}
	}
	.article {
		border-top-color: $features-sec;
		.article__header {
			background-color: $features-sec;
		}
		.article__meta {
			background-color: $features-sec-accent;
		}
		.article__body > p:first-of-type:first-letter {
			color: $features-sec;
		}
	}
}

.feature3 {
	a,
	.discussion__view-more {
		color: $features-ter;
		&:active {
			color: $features-ter-accent;
			.touchpoint__button {
				background-color: $features-ter-accent;
			}
		}
	}
	.touchpoint__button {
		background-color: $features-ter;
		&:active {
			background-color: $features-ter-accent;
		}
	}
	.article {
		border-top-color: $features-ter;
		.article__header {
			background-color: $features-ter;
		}
		.article__meta {
			background-color: $features-ter-accent;
		}
		.article__body > p:first-of-type:first-letter {
			color: $features-ter;
		}
	}
}