#standard-article.comment {
	.article {
		background-color: $comment-bg;
		border-top-color: $comment;

		.article__header {
			.inner-header {
				@include order(1);
				position: relative;
				overflow: auto;
				padding-bottom: 2em;
			}

			.article__section,
			.article__headline span {
				color: $comment;
				display: block;
			}

			.article__standfirst {
				color: $comment-accent-dark;
				@include order(4);
				@include mq($to: col2) {
					font-size: 1.25em;
					line-height: 1.25em;
				}
			}

			.article__alerts {
				position: absolute;
				bottom: 0;
				display: block;
			}

			.article__meta {
				@include order(2);
			}

			.article__byline {
				display: none;
			}

			.article__image {
				@include order(3);
			}
		}
	}
}

.comment {
	a {
		color: $comment;
		&:active {
			color: $comment-accent-light;
			.touchpoint__button--primary {
				background-color: $comment-accent-light;
			}
		}
	}
	.touchpoint__button--primary {
		background-color: $comment;
		&:active {
			background-color: $comment-accent-light;
		}
	}
	.prose p {
		@include text-underline($comment, $comment-bg, $comment-accent-light);
	}
	.prose table,
	.table {
		border-top-color: $comment;
	}
}