/*doc
---
title: Audio player
name: audio-player
category: Media
---
Play a piece of audio, i.e. a podcast.

```html_example
<div class="audio-player">
    <img class="audio-player__button--loading" src="../img/loading.gif" alt="Loading…"/>

    <a class="audio-player__button touchpoint touchpoint--primary" href="#audio.mp3">
        <span class="touchpoint__button" data-icon="&#xe04b;" aria-hidden="true"></span>
        <span class="touchpoint__label screen-readable">Play</span>
    </a>

    <div class="audio-player__slider">
        <input class="audio-player__slider__played" type="text" id="audio-scrubber" value="3:00"/>
        <input class="audio-player__slider__remaining" type="text" id="audio-scrubber-left" value="-12:00"/>
        <div class="audio-player__slider__track"></div>
        <div class="audio-player__slider__knob" role="slider" style="-webkit-transform: translate3d(0px, 0, 0);"></div>
    </div>
</div>
```
*/

.audio-player {
    background-color: color(shade-1);
    padding: base-px(1);
    padding-left: 68px;
    position: relative;
    height: 68px;
    width: 100%;
    z-index: 1;
}

@include mq($from: col4) {
    .audio-player__container {
        background-color: darken(color(shade-1), 5%);
    }

    .audio-player__wrapper {
        background-color: color(shade-1);
        margin: 0 auto;
        width: 1200px;
    }

    .audio-player {
        margin-left: 240px;
        width: 620px;
    }
}

.audio-player__button {
    position: absolute;
    top: base-px(1);
    left: base-px(1);

    &.touchpoint--primary .touchpoint__button {
        color: color(shade-1);
        background-color: color(tone-media);

        &:active {
            background-color: color(tone-media-accent);
        }
    }
}

.audio-player__button--loading {
    position: absolute;
    top: base-px(1);
    left: base-px(1);
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 1);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    border: 2px solid #fff;
    display: none;
}

.audio-player__slider {
    outline: 0;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

.audio-player__slider__played,
.audio-player__slider__remaining {
    @include meta;
    color: #fff;
    opacity: 1;
    font-family: $agate-sans;
    font-weight: normal;
    background: transparent;
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: -3px; // Offset for fonts
}

.audio-player__slider__remaining {
    text-align: right;
    right: 0;
}

.audio-player__slider__track {
    background-color: color(shade-3);
    height: 2px;
    width: 100%;
    position: absolute;
    top: calc(50% + 9px);
    right: 0;
    left: 0;
}

.audio-player__slider__knob {
    background-color: color(tone-media-accent);
    margin-top: 24px;
    border-radius: 50%;
    padding: 0;
    height: 16px;
    width: 16px;
    position: absolute;
}
