/*doc
---
title: Audio player
name: audio-player
category: Media
---
Play a piece of audio, i.e. a podcast.

```html_example
<div class="audio-player">
    <img class="audio-player__button--loading" src="../img/loading.gif">

    <a class="audio-player__button touchpoint touchpoint--primary" href="#audio.mp3">
        <span class="touchpoint__button" data-icon="&#xe04b;"></span>
        <span class="touchpoint__label screen-readable">Play</span>
    </a>

    <div class="audio-player__slider">
        <input class="audio-player__slider__played" type="text" id="audio-scrubber" value="3:00"/>
        <input class="audio-player__slider__remaining" type="text" id="audio-scrubber-left" value="-12:00"/>
        <div class="audio-player__slider__track"></div>
        <div class="audio-player__slider__knob" role="slider" style="-webkit-transform: translate3d(0px, 0, 0);"></div>
    </div>
</div>
```
*/

.audio-player {
    background-color: color(shade-1);
    padding: base-px(1);
    display: table;
    width: 100%;
}

.audio-player__button {
    margin: base-px(0, 1, 0, 0);

    &.touchpoint--primary .touchpoint__button {
        color: color(shade-1);
        background-color: color(tone-media);

        &:active {
            background-color: color(tone-media-accent);
        }
    }
}

.audio-player__button--loading {
    vertical-align: middle;
    margin: base-px(0, 1, 0, 0);
    width: 44px;
    height: 44px;
    display: none;
}

.audio-player__slider {
    outline: 0;
    display: table-cell;
    height: 40px;
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

.audio-player__slider__played,
.audio-player__slider__remaining {
    color: #fff;
    @include meta();
    font-family: $agate-sans;
    font-weight: normal;
    background: transparent;
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: -3px; // Offset for fonts
}

.audio-player__slider__remaining {
    text-align: right;
    right: 0;
}

.audio-player__slider__track {
    text-align: center;
    background-color: color(shade-3);
    height: 2px;
    width: 100%;
    position: absolute;
    top: 29px;
    right: 0;
    left: 0;
}

.audio-player__slider__knob {
    background-color: color(tone-media-accent);
    margin-top: 22px;
    border-radius: 50%;
    padding: 0;
    height: 16px;
    width: 16px;
    position: absolute;
}
