@mixin pillar-colour-dark($p-kicker, $p-inverted, $dark-1, $dark-2, $dark-3) {
    @media (prefers-color-scheme: dark) {
        $whiteTwo: #dcdcdc;
        $warmGreyFour: #999999;
        $warmGrey: #767676;
        $blackTwo: #333333;
        $blackThree: #121212;
        $backgroundBlack: #1a1a1a;
        $ratingYellow: #f3c200;

        // Shared
        .main-media--hidden-caption .main-media__caption__icon {
            background-color: rgba(255, 255, 255, .7);
        }

        .main-media--hidden-caption .main-media__caption__text {
            color: $warmGreyFour;
        }

        .keyline-4:before {
            background-image: repeating-linear-gradient($blackTwo, $blackTwo 1px, transparent 1px, transparent 3px);
        }

        .meta__published__comments {
            border-left: solid 1px $blackTwo;
        }

        .creative-container {
            .contributions-epic {
                background-color: $blackTwo;
                .contributions-epic-highlight {
                    color: color(brightness-7);
                }
            }
        }

        .atom--snippet {
            background: $blackTwo;
            border-image: repeating-linear-gradient(to bottom, $warmGrey, $warmGrey 1px, transparent 1px, transparent 4px) 13;
            .atom--snippet__label {
                color: $p-inverted;
            }
        }

        .review-rating span {
            background-color: $ratingYellow;
        }

        .element-rich-link {
            border-top: solid 1px $warmGreyFour;
            border-bottom: solid 1px $warmGreyFour;

            a {
                color: $whiteTwo !important;
            }

            a::before {
                color: $warmGreyFour;
            }
        }

        .tags {
            .tags__list-item {
                a {
                    color: $whiteTwo;
                    background-color: $blackTwo;
                }

                &.more-button a {
                    color: $whiteTwo;
                    border: 1px solid $blackTwo;
                }
            }
        }

        .advert-slot--mpu {
            border-top: solid 1px $warmGrey;
            border-bottom: solid 1px $warmGrey;
            background: $blackTwo;
            color: $whiteTwo;

            .advert-slot__action {
                color: $whiteTwo !important;
            }
        }

        @include mq($from: col4) {
            .article {
                background-color: $blackThree;
            }
        }

        &.garnett--type-analysis .headline {
            background-image: repeating-linear-gradient(to bottom, transparent, transparent calc(3.6rem - 1px), $whiteTwo);
        }

        // News articles
        &.garnett--type-article,
        &.garnett--type-matchreport,
        &.garnett--type-feature,
        &.garnett--type-immersive,
        &.garnett--type-review,
        &.garnett--type-interview,
        &.garnett--type-analysis,
        &.garnett--type-comment,
        &.garnett--type-guardianview {
            .article__header,
            .article-kicker,
            .main-media,
            .headline,
            .article__body,
            .tags,
            .standfirst__inner,
            .meta,
            .article__meta,
            .sponsorship,
            .keyline:before {
                background-color: $backgroundBlack;
            }

            .article-kicker,
            .meta .byline__author a,
            .standfirst .byline__author a,
            .standfirst .standfirst__inner a,
            .article__body .from-content-api.prose a,
            .comment-count a,
            .prose .element-pullquote blockquote,
            .article__header .bullet:before {
                color: $p-inverted;
            }

            .headline,
            &.garnett--type-feature .headline,
            .article__body,
            .tags {
                color: $whiteTwo;
            }

            .comment-count a {
                color: $p-kicker;
            }

            .sponsorship img {
                background-color: $whiteTwo;
                padding: 8px;
            }

            .element-interactive {
                background-color: white;
                padding: 8px;
            }

            .sponsorship__about-uri {
                color: $warmGreyFour;
                text-decoration: underline;
            }

            .standfirst,
            #published-date,
            figure figcaption,
            .byline,
            .alerts,
            .sponsorship__formatted-sponsor-name {
                color: $warmGreyFour;
            }

            .alerts span[data-icon]:before {
                color: $blackThree;
            }

            .article__header ul > li:before {
                color: $warmGreyFour;
                background-color: $warmGreyFour;
            }
        
            .element-rich-link a {
                color: $whiteTwo !important;
            }

            @include mq($to: col4) {
                .standfirst {
                    background-color: $backgroundBlack;
                }
            }

            @include mq($from: col4) {
                .article__header {
                    background-color: $blackThree;
                    .article-kicker,
                    .headline,
                    .standfirst__inner,
                    .meta {
                        background-color: $backgroundBlack;
                    }
                }
            }
        }

        // Liveblogs
        &.garnett--type-live,
        &.garnett--type-article.tone--deadBlog {
            .article__body,
            .key-events,
            .article--liveblog {
                background-color: $blackThree;
            }

            &.is-live {
                .headline, .article-kicker {
                    background-color: $dark-1;
                }

                .article-kicker {
                    color: $dark-3;
                }

                .headline {
                    color: color(brightness-93);
                }

                .article--liveblog {
                    .standfirst,
                    .standfirst__inner,
                    .meta,
                    .main-media {
                        background-color: $dark-2;
                        color: $dark-3;

                        ul li {
                            a {
                                color: $dark-3;
                            }

                            &::before{
                                color: $dark-3;
                                background-color: $dark-3;
                                opacity: 0.8;
                            }
                        }
                    }

                    .meta__published__date, .alerts {
                        color: $dark-3;
                    }
                }
            }

            &.is-live .key-events,
            .key-events {
                border-color: $blackTwo;
                border-top-color: $dark-2;

                .key-events__title {
                    color: $dark-3;
                }
            }

            .key-event__time,
            .key-events__toggle-icon::before,
            [class*='block--live-'] .block__time,
            [class*='block--live-'] .block__updated,
            [class*='block--live-'] .prose figcaption {
                color: $warmGreyFour;
            }

            [class*='block--live-'] .block__byline {
                border-left: solid 1px $warmGreyFour;
            }

            [class*='block--live-'] .block__avatar {
                background-color: $warmGreyFour;
            }

            .key-event__link h2 {
                color: $whiteTwo !important;
            }

            .key-events__toggle {
                border: solid 1px $warmGreyFour;
            }

            .block {
                background-color: $blackThree;
                border: solid 1px $blackTwo;
                border-bottom: 2px solid $blackTwo;
                color: $whiteTwo;
            }

            .block--live-key-event, .block--live-summary {
                border-top: solid 1px $p-kicker;
            }

            .block--live-key-event .block__title .highlight {
                background-color: $ratingYellow;
                color: $blackThree;
            }

            .prose blockquote.quoted,
            .prose blockquote.quoted::before {
                color: $whiteTwo;
            }

            .tags {
                background: $blackThree;
            }

            @include mq($from: col4) {
                &.is-live .article__header {
                    background-color: $blackThree;
                }

                .main-media {
                    border-bottom: none;
                }
            }
        }

        // Cricket
        .cricket {
            .cricket-match-summary-head,
            .cricket-match-summary-result,
            .cricket-match-summary-footer {
                background-color: $ratingYellow;
            }

            .standfirst:not([data-summary='']) p {
                color: $warmGreyFour;
            }

            .tone--liveBlog.is-live .article__header--cricket .meta,
            .tone--deadBlog .article__header--cricket .meta,
            .tabs {
                background-color: $backgroundBlack;
                [href='#cricket__tabpanel--liveblog'][aria-selected=true],
                [href='#cricket__tabpanel--stats'][aria-selected=true] {
                    color: $whiteTwo !important;
                    border-top-color: $whiteTwo !important;
                }

                .tab {
                    border-top: 4px solid $warmGreyFour;
                    color: $warmGreyFour;
                }
            }

            .key-events {
                border: none;
                border-top: 1px solid $blackTwo;
                border-bottom: 2px solid $blackTwo;

                .key-events__title {
                    color: $p-kicker;
                }
            }
        }

        // Opinion
        &.garnett--type-comment,
        &.garnett--type-guardianview {
            .article__header {
                .headline.selectable {
                    background-color: transparent;
                }
            }

            &:not(.garnett--type-media) {
                .cutout__container#cutout-container,
                .article__body,
                .tags {
                    background-color: $backgroundBlack;
                }

                .keyline:before {
                    background-color: $blackTwo;
                }

                @include mq($from: col4) {
                    .article__header {
                        .article-kicker,
                        .standfirst__inner,
                        .meta,
                        .main-media {
                            background-color: $backgroundBlack;
                        }
                    }
                }
            }
        }

        // Media
        .audio-player__button.touchpoint--primary .touchpoint__button,
        .audio-player__slider__knob {
            background-color: $ratingYellow;

            &:active {
                background-color: $ratingYellow;
            }
        }

        &.garnett--type-media {
            .article--audio,
            .article--visual {
                &.article {
                    background-color:#090909;
                }

                .headline,
                .audio-player__slider__played,
                .audio-player__slider__remaining,
                .standfirst,
                .prose {
                    color: $whiteTwo;
                }

                .article-kicker,
                .headline,
                .meta,
                .standfirst,
                .article__body,
                .tags {
                    background: $backgroundBlack;
                }
            }

            .audio-player__button--loading {
                .pulse {
                    &:before,
                    &:after,
                    & {
                        background-color: $ratingYellow;
                    }
                }
            }
        }

        &.garnett--type-media[data-content-type='audio'],
        &.garnett--type-media[data-content-type='video'] {
            .article__header .meta__byline .byline,
            .meta__published {
                color: $warmGreyFour;
            }
        }

        @include mq($from: col4) {
            .cutout .cutout__container {
                min-height: 0;
            }
        }
    }
}