// Variables and mixins
@import "scss/_variables";
@import "scss/_functions";
@import "scss/mixins/_mq";
@import "scss/mixins/_nga_cols";
@import "scss/mixins/_nga_padding";
@import "scss/_typography";
@import "scss/base/_reset";
@import "scss/base/_global";

#help {
	font-family: $AS32;
	font-size: $body-size-1;
	color: $headline;
	@include padding(1);
	.help-container {
		padding: 12px;
	}
	p {
		margin-bottom: 20px;
	}
	strong, h2 {
		font-weight: bold;
		margin-bottom: 0;
	}
	a {
		color: $news-pri;
	}
}