/*doc
---
title: Advert slot
name: advert-slot
category: Modules
---
Create a placeholder tp allow an advert to be placed with an article.

MPU

```html_example
<div class="advert-slot advert-slot--mpu">
    <div class="advert-slot__label">Advertisement</div>
    <div class="advert-slot__wrapper">
        <div class="advert-slot__wrapper__content">
            <!-- Advert injected here using JavaScript -->
        </div>
    </div>
</div>
```

*/

.advert-slot {
    color: color(shade-2);
    font-family: $agate-sans;
    @include meta();
    background: rgba(color(shade-3), .2);
    display: none;
    overflow: auto;

    div,
    img {
        vertical-align: middle;
    }

    .advert-slot__label {
        overflow: auto;
        position: relative;
    }

    .advert-slot__action {
        color: color(shade-2) !important;
        display: none;
        padding-right: 2.5rem;
        position: absolute;
        right: 0;

        body[data-ads-enable-hiding="true"] & {
            display: inline;
        }

        span[data-icon] {
            font-size: 1.3em;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .advert-slot__wrapper {
        background-color: color(shade-4);
        position: relative;
        overflow: hidden;
    }

    .advert-slot__wrapper__content {
        position: absolute;
        bottom: 0;
    }
}

.container__outbrain {
    .advert-slot__action {
        @include meta;
        color: color(shade-2);
        float: right;
        font-family: $agate-sans;
        margin: base-px(.5, 1);
        padding-right: 20px;
        position: relative;

        span[data-icon] {
            font-size: 1.3em;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

// MPU-size advert
.advert-slot--mpu {
    border-top: 1px solid color(shade-4);
    width: 300px;
    /*  Any res above 375w e.g. iPhone 6, 6 plus */
    @include customMQ (iP6) {
        padding-bottom: 15px;
        width: 100%;
    }

    .advert-slot__label {
        padding: base-px(.5, 0, 2, .5);
        
        .advert-slot__action {
            right: base-px(.5);
        }

        width: 300px;
        /*  Any res above 375w e.g. iPhone 6, 6 plus */
        @include customMQ (iP6) {
            padding-bottom: 11px;
            padding-left: 13px;

            .advert-slot__action {
                right: base-px(1);
            }
        }
    }

    .advert-slot__wrapper {
        padding-top: 250px;
        height: 250px;
        /*  Any res above 375w e.g. iPhone 6, 6 plus */
        @include customMQ (iP6) {
            width: 300px;
        }
    }
}

// These classes are set on the body and determine the placement of adverts
.advert-config--mobile {
    .advert-slot--mpu--mobile {

        margin: 0 auto;
        display: block;

        .advert-slot__label {
            margin: 0 auto;
        }

        .advert-slot__wrapper {
            margin: 0 auto;
        }
    }
    /*  Any res above 375w e.g. iPhone 6, 6 plus */
    @include customMQ (iP6) {
        .advert-slot--mpu--mobile .advert-slot__label {
            width: 100%;
        }
    }
}

.advert-config--tablet {
    .advert-slot--mpu--tablet {
        display: block;
    }
}

// This class hides the pre-inserted advert for subscribers
.advert-slot--false {
    display: none !important;
}
