/*doc
---
title: Alerts
name: alerts
category: Modules
---
Display an alerts toggle.

```html_example
<a class="alerts " href="x-gu://follow/tag-contributor///profile/nicholaswatt" data-follow-alert-id="tag-contributor///profile/nicholaswatt">
    <span class="alerts__state--unfollow">
        <span data-icon="" aria-hidden="true"></span>
        <span class="alerts__label">Follow Nicholas Watt</span>
    </span>
    <span class="alerts__state--follow">
        <span data-icon="" aria-hidden="true"></span>
        <span class="alerts__label">Following Nicholas Watt</span>
    </span>
</a>

<a class="alerts following" href="x-gu://follow/tag-contributor///profile/nicholaswatt" data-follow-alert-id="tag-contributor///profile/nicholaswatt">
    <span class="alerts__state--unfollow">
        <span data-icon="" aria-hidden="true"></span>
        <span class="alerts__label">Follow Nicholas Watt</span>
    </span>
    <span class="alerts__state--follow">
        <span data-icon="" aria-hidden="true"></span>
        <span class="alerts__label">Following Nicholas Watt</span>
    </span>
</a>
```
*/

.alerts {
    @include meta();
    font-family: $agate-sans;
    white-space: nowrap;
    padding: base-px(.3, 1, .7, 1);
    margin: base-px(.5, 0, 0, -.3);
    display: inline-block;
    border-radius: 30px;
    text-overflow: ellipsis;
    vertical-align: bottom;
    overflow: hidden;
    max-width: 100%;
    color: color(tone-news);
    border: 1px solid rgba(color(tone-news), .5);
    transition: background-color 0.3s;

    &:active,
    &.following {
        background-color: color(tone-news);
        color: color(shade-7);
    }

    span[data-icon] {
        display: inline-block;
        vertical-align: bottom;
        font-size: $body-size-2;
        position: relative;
        right: 3px;
        top: 1px;
    }

    &__label {
        font-weight: normal;
    }
    
    &__state--follow {
        display: none;
    }

    &.following {
        &:active {
            color: color(tone-news);
            background-color: color(shade-7);
            border: 1px solid rgba(color(tone-news), .5);
        }

        .alerts__state--follow {
            display: block;
        }

        .alerts__state--unfollow {
            display: none;
        }
    }
}