// /*doc
// ---
// title: Alerts
// name: alerts
// category: Modules
// ---
// Display an alerts toggle.
//
// ```html_example
// <a class="alerts " href="x-gu://follow/tag-contributor///profile/nicholaswatt" data-follow-alert-id="tag-contributor///profile/nicholaswatt">
//     <span class="alerts__state--unfollow-contributor">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Follow Nicholas Watt</span>
//     </span>
//     <span class="alerts__state--follow-contributor">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Following Nicholas Watt</span>
//     </span>
// </a>
//
// <a class="alerts following" href="x-gu://follow/tag-contributor///profile/nicholaswatt" data-follow-alert-id="tag-contributor///profile/nicholaswatt">
//     <span class="alerts__state--unfollow-contributor">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Follow Nicholas Watt</span>
//     </span>
//     <span class="alerts__state--follow-contributor">
//         <span data-icon="" aria-hidden="true"></span>
//         <span class="alerts__label">Following Nicholas Watt</span>
//     </span>
// </a>
// ```
// */

.alerts {
    @include meta(.875);
    font-family: $guardian-sans;
    white-space: nowrap;
    margin: base-px(0);
    display: inline-block;
    border-radius: 30px;
    max-width: 100%;
    color: color(brightness-7);
    transition: background-color .3s;
    transform: translateX(-1px);

    svg {
        position: absolute;
        top: 6px;
        left: 5px;
        height: 18px;
        width: 18px;
    }
    .alerts__icon {
        height: 24px;
	    width: 24px;
	    border-radius: 50%;
        display: inline-block;
    }
    .alerts__icon.following {
        background-color: currentColor;
        svg {
            fill: white;
        }
    }
    .alerts__icon.not-following {
        background-color: none;
        border: 1px solid currentColor;
        svg {
            fill: currentColor;
        }
    }
    &__label {
        font-weight: normal;
        margin-left: 4px;
        font-size: 15px;
        color: color(brightness-0);
    }

    .alerts__state--follow-contributor {
        display: none;
    }

    .alerts__state--unfollow-contributor {
        display: flex;
        height: 28px;
        align-items: center;
        position: relative;
    }

    &.following {
        .alerts__state--follow-contributor {
            display: flex;
            height: 28px;
            align-items: center;
            position: relative;
        }

        .alerts__state--unfollow-contributor {
            display: none;
        }
    }
}
