/*doc
---
title: Alerts
name: alerts
category: Modules
---
Display an alerts toggle.

```html_example
<a class="alerts">
    <span class="alerts__state--unfollow">
        <span data-icon="&#xe048;" aria-hidden="true"></span>
        <span class="alerts__label">Follow contributor</span>
    </span>
    <span class="alerts__state--follow">
        <span data-icon="&#xe049;" aria-hidden="true"></span>
        <span class="alerts__label">Following contributor</span>
    </span>
</a>

<a class="alerts following">
    <span class="alerts__state--unfollow">
        <span data-icon="&#xe048;" aria-hidden="true"></span>
        <span class="alerts__label">Follow contributor</span>
    </span>
    <span class="alerts__state--follow">
        <span data-icon="&#xe049;" aria-hidden="true"></span>
        <span class="alerts__label">Following contributor</span>
    </span>
</a>
```
*/

.alerts {
    color: color(tone-news);
    font-family: $agate-sans;
    display: inline-block;

    [data-icon]::before {
        margin-right: 4px;
        font-size: 85%;
    }

    .alerts__state--follow {
        display: none;

        [data-icon]::before {
            color: color(tone-news-accent);
        }
    }

    &.following {
        .alerts__state--follow {
            display: block;
        }

        .alerts__state--unfollow {
            display: none;
        }
    }
}

.alerts__label {
    font-weight: bold;
}

// new alerts

.new_alerts {
    font-family: $agate-sans;
    white-space: nowrap;
    padding: base-px(.3, 1, .7, 1);
    margin: base-px(.5, 0, 0,-.1);
    display: inline-block;
    border-radius: 30px;
    text-overflow: ellipsis;
    vertical-align: bottom;
    overflow: hidden;
    max-width: 100%;
    @include meta();

    color: color(tone-news);
    border: 1px solid color(tone-news);
    transition: background-color 0.3s;

    span[data-icon]{
        display: inline-block;
        vertical-align: bottom;
        font-size: $body-size-2;
        position: relative;
        right: 3px;
        top: 1px;
    }

    .alerts__state--follow {
        display: none;
    }

    .alerts__label{
        font-weight: normal;
    }

    &.following {
        &:active{
            color: color(tone-news);
            border: 1px solid color(tone-news);
        }

        .alerts__state--follow {
            display: block;
        }

        .alerts__state--unfollow {
            display: none;
        }
    }
}

a.new_alerts:not(.following):active, .new_alerts.following:not(:active){
    background-color: color(tone-news);
    color: color(shade-7);
}