/*doc
---
title: Bullet
name: bullet
category: Modules
---
Hides an inline bullet and replaces it with a more stylistic glyph.

```html_example
<span class="bullet">•</span> Squad prepare for Ecuador friendly on Wednesday
```
*/

.bullet {
    color: transparent;
    font-size: .1px; // Hides bullet character. .1 more consistent than 0 cross browser
    line-height: .1px; // Fix for line spacing issue (bullet was increasing spacing)
    @include faux-bullet();
}
