.button {
    border: 0;
    font-family: $agate-sans;
    -webkit-appearance: none;
}

.button,
.button--flip .is-on,
.button--flip .is-off {
    align-items: center;
    display: inline-flex;
}

.button--rounded {
    border-radius: 100em;
}

.button .icon {
    fill: currentColor;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
