/*doc
---
title: Byline
name: byline
category: Modules
---
Display an article's byline.

```html_example
<p class="byline"><span class="byline__author"><a href="#">Helena Smith</a></span> in Athens, <span class="byline__author"><a href="#">Lizzy Davies</a></span> in Rome and <span class="byline__author">Harriet Grant</span></p>
```
*/

.byline {
	color: $headline;
	font-family: $egyptian-text;

	.byline__author {
		font-weight: bold;
	}
}