.callout--container {
    display: block;
    position: relative;
}

.callout--snippet_heading {
    display: block;
    font-family: $egyptian-display;
    font-size: 20px;
    font-weight: 700;
    color: #0077b6;
}

.callout--snippet_title {
    display: block;
    font-family: $egyptian-display;
    font-size: 20px;
    font-weight: 500;
}

.callout__description {
    font-family: $egyptian-text;
    font-weight: 400;
    font-size: 17px;
}
.callout--details {
    margin: 16px 0 36px;
    background: #f6f6f6;
    color: black;
    padding: 0 5px 6px;
    border-image: repeating-linear-gradient(
        to bottom,
        #dcdcdc,
        #dcdcdc 1px,
        transparent 1px,
        transparent 4px
        )
        13;
        border-top: 13px solid black;
        position: relative;
    }

    .callout--snippet {
        &.campaign--success form {
            color: color(brightness-7);
            padding: 8px 0px 10px 10px;
            p {
                font-weight: 700;
                font-family: $guardian-sans;
            }
        }
    }

    .campaign__error {
        padding: 0 12px 24px 12px;
        margin-top: -35px;
        margin-bottom: 20px;
        color: color(news-feature-headline);

        p {
            font-family: $guardian-sans;
            padding-top: 0;
        }
    }

    p.campaign__info {
        color: color(global-adv-shade-1);
        font-family: $guardian-sans;
    }

    .callout--snippet .form_submit button {
        color: color(brightness-100);
        background-color: color(news-kicker);

        &:enabled {
            &:hover,
            :active {
                background-color: darken(color(news-kicker), 5%);
            }
        }
    }

/* SUMMARY */

.callout--snippet > summary {
    outline: none;
    padding: 0;
    list-style: none;

    &::-webkit-details-marker {
        display: none;
    }
}

/* FORM */

.callout--snippet form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    [type="radio"],
    [type="checkbox"] {
        margin-left: 0;
    }
}

.callout--snippet .form_input {
    &:not(:first-child) {
        margin: 0 0 20px;
    }
    &.form_input--radio .form_field,
    &.form_input--checkbox .form_field {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        label {
            -webkit-box-flex: initial;
            -ms-flex: initial;
            flex: initial;
        }
        input {
            -webkit-box-flex: initial;
            -ms-flex: initial;
            flex: initial;
            margin: 2px 4px 0 13px;
            min-width: 16px;
        }
    }

    textarea {
        max-width: 100%;
        min-height: 80px;
    }

    .form_option_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 10px;

        label {
            -webkit-box-flex: initial;
            -ms-flex: initial;
            flex: initial;
            margin: 2px 0 0 4px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            font-family: $guardian-sans;
        }
    }
}

.form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    label {
        font-weight: 700;
    }
}

.callout--snippet .form_field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    input {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
        padding: 10px 0 10px 4px;
    }

    input,
    select,
    textarea {
        border: 1px solid #707070;
        font-family: $guardian-sans;
        font-size: 14px;
        line-height: 20px;
        margin: 0 10px;
    }

    .form_field_label {
        margin: 1px 0 6px 3px;
        padding: 0 10px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        font-family: $guardian-sans;

        span {
            font-weight: 200;
            margin-right: 10px;
        }
    }
}
.form_footer {
    display: flex;
    justify-content: center;
}

.callout--snippet .form_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 12px;
    display: flex;
    justify-content: center;

    .form_submit {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        padding: 4px 0 40px 10px;
        .button {
            padding: 6px 16px;
            border: 0;
        }
    }
}

.form_field_description {
    color: #707070;
}

input[type="file"]::file-selector-button {
    margin-top: 10px;
    background-color: white;
    border: black 1px solid;
    font-family: $guardian-sans;
    font-weight: 700;
    color: black;
}

summary {
    list-style: none;
    margin: 0 0 16px;
}
summary::-webkit-details-marker {
    display: none;
}
summary:focus {
    outline: none;
}

.callout__toggle--isOpen,
.callout__toggle--isClosed {
    align-items: center;
}

.callout__toggle--isOpen,
details[open] > summary .callout__toggle--isClosed {
    display: none;
}

.callout__toggle--isClosed,
details[open] > summary .callout__toggle--isOpen {
    display: flex;
    align-items: start;
    padding-top: 4px;
}
.calllout--snippet_title {
    font-weight: "medium";
    margin: 0;
    line-height: 22px;
}
.callout__toggle {
    font-family: $guardian-sans;
    font-weight: 700;
    background: black;
    color: white;
    height: 33px;
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    padding: 0 18px;
    border-radius: 100em;
    cursor: pointer;
    border: 0;
    margin: 0;
}

.callout__toggle__svg {
    margin-top: 4px;
    svg {
        margin-right: 12px;
        fill: white;
    }
}


.callout__body {
    height: auto;
    margin-bottom: 36px;
}

.share__container {
    margin: 12px 0px;
    display: flex;
    flex-direction: row;
}
.share__icon {
    border: 1px #0077b6 solid;
    height: 32px;
    width: 32px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;

    svg {
        height: 16px;
        width: 16px;
        fill: #0077b6;
    }
}

.tab,
.message {
    padding: 0px 8px;
}

.tab__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 0px 8px;
    position: relative;
}

.tab__container::before {
    content: "";
    display: block;
    width: 14px;
    height: 1px;
    background-color: #999999;
    bottom: 0;
    position: absolute;
    left: -5px;
}
.tab__container::after {
    content: "";
    display: block;
    width: 14px;
    height: 1px;
    background-color: #999999;
    bottom: 0;
    position: absolute;
    right: -5px;
}

.tab__button {
    width: 100%;
    height: 65px;
    padding: 12px 0px;
    gap: 10px;
    background: #f6f6f6;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    font-family: $guardian-sans;
    font-weight: 700;
}

.tab__button--form {
    border-radius: 8px 0px 0px 0px;
    border-bottom-width: 0px;
}

.tab__button--message {
    border-radius: 0px 8px 0px 0px;
    border-bottom: 1px solid #999999;
    background-color: #DCDCDC;
}

.message {
    height: auto;
    display: flex;
}
.form_submit__button {
    all: unset;
    cursor: pointer;
    margin: 6px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    width: 100%;
    height: 44px;
    background: #052962;
    border: 1px solid #052962;
    border-radius: 30px;
    color: white;
    font-family: $guardian-sans;
    font-weight: 700;
    font-size: 17px;
    svg {
        margin-right: 8px;
    }
}

.message__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terms-and-conditions {
    margin-bottom: 16px;
}

.contact-URL {
        color: #0077b6;
        text-decoration: none;
        padding-bottom: .15em;

        // Underline via gradient background
        background-image: linear-gradient(rgba(#0077b6, .33) 0%, rgba(#0077b6, .33) 100%);
        background-repeat: repeat-x;
        background-size: 1px 1px;
        background-position: 0 bottom;

        // Tweak position + thickness for high res (1.75x and up) displays
        @media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
            background-image: linear-gradient(rgba(#0077b6, .33) 0%, rgba(#0077b6, .33) 100%);
            background-position: 0 93%;
        }


    a:active,
    a:hover {
        color: #052962;
        background-image: linear-gradient(to bottom, darken(#052962, 6%) 0%, darken(#052962, 6%) 100%);
    }

}

.form_option_row {
    margin-bottom: 6px;
    input {
        margin-right: 6px;
    }
    label {
        font-weight:500;
    }
}
