/*doc
---
title: Comments
name: comments
category: Modules
---
Comments Module

```html_example
<section class="comments comments--module comments-56">
    <div class="comments__wrapper">
        <div class="comments__header">
            <h2 class="comments__title">
                <a class="comments__link" href="x-gu://showcomments">
                    Comments <span class="comments__count">56</span>
                </a>
            </h2>
            <span class="touchpoint comments-closed-label" id="comments-module-closed-label">
                <span class="touchpoint__label">Comments are closed</span>
            </span>
             <a class="comments__link touchpoint touchpoint--primary" href="x-gu://leavecomment">
                <span class="touchpoint__label">Post a comment</span>
                <span class="touchpoint__button" data-icon="&#xe03d;" aria-hidden="true"></span>
            </a>
        </div>
        <div class="comments__container">
            <div class="comments__block comments__block--empty block">
                <div class="prose resizable">
                    <p>
                        Open for comments. <a href="x-gu://leavecomment">Be the first to join the debate</a>
                    </p>
                </div>
            </div>
            <div class="comments__block comments__block--failed block">
                <div class="prose resizable">
                    <p>
                        Comments are currently unavailable. Please try again later.
                    </p>
                </div>
            </div>
            <div class="comments__block comments__block--loading block loading" style="display:none;">
                <img src="../../ArticleTemplates/assets/img/loading.gif" alt="Loading…">
            </div>
            <div class="block block--discussion-thread block--discussion-thread--checked">
                SEE blocks/_comment
            </div>
        </div>
        <div class="comments__footer">
            <div class="container__action container__action--view-more" id="comments-module-view-more">
                <a class="touchpoint touchpoint--secondary" id="comments-module-view-more-link" href="x-gu://showcomments">
                <span class="touchpoint__label" id="comments-module-view-more-label">View more</span>
                <span class="touchpoint__button" id="comments-module-view-more-button" data-icon="" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</section>
```
*/

.comments {
    margin: 0;
    padding: base-px(0, 0, 2, 0);
    overflow: hidden;
    
    &--module {
        border-top: 2px solid color(shade-1);
    }

    &__wrapper {
        @include mq($from: col4) {
            margin: {
                left: auto;
                right: auto;
                top: base-px(2);
            }
            max-width: 1200px;

            .comments--page & {
                margin-top: 0;
            }
        }
    }
    
    &__header {
        position: relative;
        margin: base-px(1);
        min-height: 44px;

        @include mq($from: col2) {
            margin: base-px(0, 1, 1.5, 1);
        }

        .android & {
            @include mq(col2, col4) {
                margin-left: base-px(1);
            }
        }

        @include mq($from: col4) {
            .comments--module & {
                float: left;
                margin: 0 20px;
                width: 200px;
            }

            .comments--page & {
                margin-left: 240px;
                width: 858px; // This is the width of 4 related cards at this breakpoint
            }
        }
    }

    &__headline {
        @include headline(.75);
        margin-bottom: base-px(3);
    }

    &__title,
    &__label,
    &__post {
        @include mq($from: col4) {
            .comments--module & {
                display: block;
                width: 200px;
            }
        }
    }

    &__title {
        @include body-font(1.5, $egyptian-display, 600);

        @include mq($from: col2) {
            line-height: 1;
        }

        @include mq($from: col4) {
            font-size: 2.3rem;
            line-height: 2.3rem;
            margin-bottom: 15px;
        }
    }

    &__link,
    &__link:active {
        color: color(shade-1);
    }

    &__count {
        font-family: $egyptian-display;
        color: color(shade-3);

        .comments--page & {
            @include headline(.5);
            margin-bottom: base-px(1);
        }
    }

    &__closed {
        @include meta;
        font-family: $agate-sans;
        font-weight: bold;
        color: color(shade-2);
        display: none;

        .comments--closed & {
            display: block;
        }

        .comments--page & {
            text-align: right;
        }
    }

    &__post {
        position: absolute;
        right: 0;

        .comments--module & {
            top: 0;

            @include mq($from: col2) {
                margin-top: 6px;
            }

            @include mq($from: col4) {
                position: static;
                margin-top: 15px;
            }

            @include mq($to: col1) {
                .touchpoint__label {
                    display: none;
                }
            }
        }

        .comments--page & {
            bottom: 0;
        }

        .comments--closed & {
            display: none;
        }

        .touchpoint__label {
            padding-left: 0;
        }
    }

    &__container {
        overflow: hidden;
        padding: 0;
        margin-top: base-px(2);

        .comments--page & {
            margin-top: base-px(1);
        }

        @include mq($from: col4) {
            margin: {
                left: 240px;
                top: 20px;
            };
            width: 858px; // This is the width of 4 related cards at this breakpoint
        }
    }

    &__block {
        font-family: $agate-sans;

        @include mq($to: col3) {
            margin: base-px(1);
        }

        @include mq($from: col4) {
            margin-top: 0;
        }

        // Hide the empty / failed blocks by default
        &--empty,
        &--failed {
            display: none;
        }

        // If comment count is 0 then show the --empty block
        &--empty {
            .comments-0:not(.comments--closed) & {
                display: block;
            }
        }

        // If comment loading has failed then show the --failed block
        &--failed {
            .comments-has-failed & {
                display: block;
            }
        }
    }

    .block {
        margin: base-px(1);

        @include mq($from: col4) {
            margin: base-px(1, 0);
        }
    }

    &__footer {
        overflow: hidden;
        margin: base-px(1);

        @include mq($from: col4) {
            margin-left: 240px;
            width: 858px; // This is the width of 4 related cards at this breakpoint
        }
    }

    &__viewmore {
        float: right;

        .comments-0 &,
        .comments-1 &,
        .container--has-failed & {
            display: none;
        }
    }

    &__ordering {
        @include meta;
        font-family: $agate-sans;
        font-weight: 700;

        .comments--open & {
            line-height: 44px;
        }

        .comments--closed & {
            float: left;
        }
    }
}