/*doc
---
title: Error
name:  error
category: Modules
---
Display an error message when content is unavailable.

```html_example
<div class="error-message error-message--expired-content">
    <h1 class="headline error-message__title">Sorry – the page you are looking for has been removed.</h1>
</div>
```
*/

.error-message {
    background: #fff;
    padding: base-px(1);
    min-height: 100vh;

    .error-message__title {
        margin-bottom: base-px(2);
    }

    .error-message__text {
        margin: base-px(1, 0);
    }
}
