/*doc
---
title: Figure
name: figure
category: Modules
---
Display an embedded element. Element embeds are typically shown as figures, and can optionally include a supporting caption.

```html_example
<figure>
    <img src="http://images.mobile-apps.guardianapis.com/sys-images/Guardian/Pix/pictures/2014/6/11/1402512126497/Matt-Kenyon-on-Birmingham-014.jpg?width=900&amp;height=540&amp;quality=60"/>
    <figcaption>
        ‘The absurdity of the inspectors’ findings is clearest in the case of Gracelands, whose staff were taken to task for failing to ensure its 2- to 4-year-olds were protected against ‘extreme and radical behaviour'.' Illustration: Matt Kenyon
    </figcaption>
</figure>
```
*/

figure {
    img {
        display: block;
    }

    video {
        width: 100%;
    }

    figcaption {
        color: color(shade-2);
        font-family: $agate-sans;
        @include meta();
        border-bottom: 1px dotted rgba(color(shade-3), .4);
        padding: base-px(.5, 1, 2, 1);
    }
}

// Full width
.figure-wide {
    margin: base-px(1, 0);
    //for when these are displayed in the main media area (at the top we don't need these margins)
    .main-media & {
        margin: 0;
    }

    img {
        height: auto;
    }

    figcaption {
        @include mq(col2, col3) {
            padding-right: cols($base-3, 3);
        }

        @include mq($from: col3) {
            padding-right: cols($base-4, 4);
        }
    }
}

// Inline
.figure-inline {
    margin-right: 12px;
    float: left; 

    @include mq($from: col1) {
        margin: base-px(.5, 1, 0, 0);
        float: left;

        img {
            width: 100%;
            height: auto;
        }
    }

    figcaption {
        padding-left: 0;
        padding-right: 0;
    }
}

.figure__caption__icon {
    @extend %caption-icon;
}

.figure--thumbnail,
.figure--thumbnail-with-caption,
.figure-wide {
    img {
        width: 100%;
        height: auto;
    }

    figcaption {
        font-size: 1.4rem;
    }

}

.figure--thumbnail {
    float: left;
    max-width: 65px; //fixed width throughout
    margin: 6px 13px 0 0;

    .prose & {
        //extra specificity for overiding style to override styles in prose
        margin-top: 6px;

        @include mq($from: col4) {
            margin-left: -80px;
        }
    }
}

.figure--thumbnail-with-caption {
    display: block;
    float: left;
    margin: 4px 12px 0 0;
    max-width: 200px;
    width: 50%;

     .figure__inner {
        width: 100%;
        display: block;
    }

    .element-image__credit {
        display: block;
    }

    figcaption {
        padding: 0 0 4px;
        border-bottom: 1px dotted rgba(color(shade-3), .4);
    }

    @include mq($from: col1) {
        width: 33%;
    }

    @include mq($from: col2) {
        margin-right: 15px;
    }

    @include mq($from: col4) {
        margin: 0 0 12px -220px;
    }
}
