.inline-article-creative-container {
    color: inherit !important;
    margin: 0 auto;
    width: 100%;
    clear: both;
    
    @include mq($from: col1) {
        float: right;
        width: 300px;
        margin-top: base-px(1);
        margin-left: base-px(1.5);
        margin-bottom: base-px(1);
    }
}
