/*doc
---
title: Unstyled inline list
name: inline-list
category: Modules
---
Removes bullets, padding and margins from lists.

```html_example
<ul class="inline-list">
    <li class="inline-list__item">Guardian</li>
    <li class="inline-list__item">Mobile</li>
    <li class="inline-list__item">Applications</li>
</ul>
```
*/

.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list__item {
    display: inline-block;
    vertical-align: top;
}
