/*doc
---
title: Interactive
name: interactive
category: Modules
---
Displays a 'content unavailable' instead of an interactive if there is no connection

```html_example
	<div class="element element-interactive interactive interactive--offline"></div>
```
*/

body[data-fullscreen-interactive] {
	margin: 0;
}

.interactive--offline{
	background-color: color(shade-5);
	text-align: center;
	padding-top: 1px;
	font-family: $agate-sans;
	@include meta();
	color: color(shade-2);
	clear: both;
	margin: 0;

	body:not([data-fullscreen-interactive]) &{
		margin: 0 base-px(-1) 0 base-px(-1) !important; // to override _element.scss:74
	}

	&:before{
		content: "Sorry, this content is\Anot available while\Athe device is offline";
		white-space: pre;
		display: inline-block;
		vertical-align: middle;
		margin: 3.5em 0;
		padding-top: 2em;
		background: transparent url("../img/unsmiley.png") no-repeat center top;
		background-size: 2em;
	}
}