.FAB{
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	background-color: color(tone-live);
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 30000;
}

.key__events{
	height: 500px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: rgba(238, 238, 232, 0.95);
	z-index: 10000;
	display: none;
	background-image: url('');
	
	.key__events--title{
		h3{
			color: color(tone-live);
			margin-left: 55px;
		}
	}
	
	.key__events--line{
		height: 388px;
		width: 1px;
		position: relative;
		border-left:color(tone-live) 1px solid;
		margin-left: 45px;
		float: left;
		margin-top: 18px;
	}
	
	.key__events--list{
		float: left;
		width: 80%;
		font-family: 'Guardian Agate Sans 1 Web';
		font-size: 14px;
		line-height: 18px;
		margin-top: 12px;
		margin-left: 10px;
		
		li{
			margin-bottom: 12px;
			display: none;
		}
		
		.key__events--time{
		font-weight: bold;	
		}
		
	}
	
	
	
}

