/*doc
---
title: Low Friction Participation
name: participation-low-fric
category: Modules
---
Displays a low friction participation widget

```html_example
 
<div class="participation-low-fric">
	<h2 class="participation-low-fric__title">Do you agree? Rate this film now</h2>
	<p class="participation-low-fric__desc">Let us know what you think!</p>
	<div class="participation-low-friction__contents"></div>
	<p class="review-rating">
		<span data-icon="&#xe036;" aria-hidden="true"></span>
		<span data-icon="&#xe036;" aria-hidden="true"></span>
		<span data-icon="&#xe036;" aria-hidden="true"></span>
		<span data-icon="&#xe036;" aria-hidden="true"></span>
		<span data-icon="&#xe036;" aria-hidden="true"></span>
	</p>
	<button class="participation-low-fric__confirm hide">Confirm</button>
</div>

```
*/

.participation-low-fric {

	.review-rating {
        font-size: 5.2rem;
        line-height: 5.4rem;
        padding-top: base-px(.7);
		display: inline-block;
    }

    .review-rating--1 .icon:nth-child(-n+1),
    .review-rating--2 .icon:nth-child(-n+2),
    .review-rating--3 .icon:nth-child(-n+3),
    .review-rating--4 .icon:nth-child(-n+4),
    .review-rating--5 .icon:nth-child(-n+5) {
        color: #fff;
    }

    .participation-low-friction__contents {
    	text-align: center;
    }
}