.membership-creative-container {
	color: inherit !important;
	display: block;
    margin: 0 auto;
 	width: 100%;
 	padding-bottom: 100%;
	position: relative;

	@include mq($from: col1) {
		float: right;
		width: 300px;
	    padding-bottom: 300px;
	    margin-left: base-px(1.5);
		margin-bottom: base-px(1);
	}

	.membership-creative {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}