/*doc
---
title: Meta data
name: meta
category: Modules
---
Display an item of meta data, i.e. the date and time an article was published.

```html_example
<p class="meta">19:07 GMT+1 Monday, 02 June 2014</p>
```
*/

.meta {
	color: $meta;
	font-family: $agate-sans;
	@include meta();
}