.related-content {
    background-color: color(brightness-96);
    @include mq($from: col4) {
        margin: 0 auto;
        padding: {
            left: 240px;
            right: 340px;
        }
        width: 1200px;
    }
 }
 