// /*doc
// ---
// title: Resizable
// name: resizable
// category: Modules
// ---
// Makes a block of text resizable, based on user text size setting.
//
// ```html_example
// <div class="resizable">Italian authorities warn of crisis as data shows sharp increase in those making treacherous sea crossing to southern Europe.</div>
// ```
// */

.resizable {
    @for $i from 1 through 10 {
        .font-size-#{$i} & {
            font-size: 60% + ($i * 10%);
            line-height: 1.5;
        }
    }
}

.resizable-media {
    .garnett--type-media[data-content-type='gallery'] & {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    @for $i from 1 through 3 {
        .garnett--type-media.font-size-#{$i} & {
            font-size: 60% + ($i * 10%);
            line-height: 1.6rem + ($i * 0.1rem);
        }
    }

    @for $i from 5 through 10 {
        .garnett--type-media.font-size-#{$i} & {
            font-size: 60% + ($i * 10%);
            line-height: 1.6rem + ($i * 0.2rem);
        }
    }
}

.resizable-line-height {
    @for $i from 0 through 10 {
        .line-height-#{$i} & {
            line-height: 1.5 + ($i * .1);
        }
    }
}
