/*doc
---
title: Screen reader text
name: screen-reader-text
category: Modules
---
Hide text from screen readers.

```html_example
<span class="screen-reader-text">
	This text is only seen by screen readers.
</span>
```
*/

.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}