/*doc
---
title: Screen readable
name: screen-readable
category: Modules
---
Hide text, yet still make it available to screen readers.

```html_example
<span class="screen-readable">This text is only seen by screen readers.</span>
```
*/

%screen-readable {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

%screen-visable { // Reverses %screen-readable
    position: static;
    overflow: auto;
    clip: auto;
}

.screen-readable {
    @extend %screen-readable;
}
