/*doc
---
title: Screen readable
name: screen-readable
category: Modules
---
Hide text, yet still make it available to screen readers.

```html_example
<span class="screen-readable">This text is only seen by screen readers.</span>
```
*/

%screen-readable {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.screen-readable {
    @extend %screen-readable;
}
