/*doc
---
title: Section
name: section
category: Modules
---
Display the section for which an article falls under.

```html_example
<h3 class="section">Football</h3>
```
*/

.section {
	color: $news; // Default
	font-family: $egyptian-display;
	font-weight: 600;
	@include headline(0.5);
}