/*doc
---
title: Standfirst
name: standfirst
category: Modules
---
Display the standfirst of an article. Emboldened text is normalised.

```html_example
<div class="standfirst">
	<p>While riders will have some freedom to move, <strong>they won't</strong> have the ability to move without others watching and storing their data</p>
</div>
```
*/

.standfirst {
	color: $standfirst;
	font-family: $egyptian-display;
	font-weight: 300;
	@include standfirst();

	strong,
	b {
		font-weight: 400;
	}
}