// /*doc
// ---
// title: Tabs
// name: tabs
// category: Modules
// ---
// Navigate between different sections of a page.
//
// ```html_example
// <div role="tablist" class="tabs">
//     <ul class="inline-list">
//         <li role="presentation" class="inline-list__item">
//             <a role="tab" class="tab" id="tab--first" href="#" aria-controls="tabpanel--first" aria-selected="true">First</a>
//         </li><!--
//      --><li role="presentation" class="inline-list__item">
//             <a role="tab" class="tab" id="tab--second" href="#" aria-controls="tabpanel--second">Second</a>
//         </li><!--
//      --><li role="presentation" class="inline-list__item">
//             <a role="tab" class="tab" id="tab--third" href="#" aria-controls="tabpanel--third">Third</a>
//         </li>
//     </ul>
// </div>
// ```
// */

.tabs {
    color: color(brightness-46);
    font-family: $agate-sans;
    @include meta;
    margin: 0;
    padding: 12px;
    background: color(brightness-100);
    clear: left;

    .inline-list__item {
        width: 33.3%;
    }

    .tab {
        vertical-align: top;
        border-top: 2px solid color(tone-sandy-light);
        padding: base-px(.5, 1, 2, .25);
        display: block;

        &[aria-selected='true'] {
            color: color(tone-news);
            font-weight: bold;
            border-top: 4px solid color(tone-news);
            padding-top: base-px(.3333);
        }

        &.unavailable {
            transition: opacity .2s;
            -webkit-transition: opacity .2s;
            opacity: .2;
        }
    }

    .android & {
        margin: base-px(1);
    }
}
