/*doc
---
title: Tabs
name: tabs
category: Modules
---
Navigate between different sections of a page.

```html_example
<div role="tablist" class="tabs">
    <ul class="inline-list">
        <li role="presentation" class="inline-list__item">
            <a role="tab" class="tab" id="tab--first" href="#" aria-controls="tabpanel--first" aria-selected="true">First</a>
        </li><!--
     --><li role="presentation" class="inline-list__item">
            <a role="tab" class="tab" id="tab--second" href="#" aria-controls="tabpanel--second">Second</a>
        </li><!--
     --><li role="presentation" class="inline-list__item">
            <a role="tab" class="tab" id="tab--third" href="#" aria-controls="tabpanel--third">Third</a>
        </li>
    </ul>
</div>
```
*/

.tabs {
    color: color(shade-2);
    font-family: $agate-sans;
    @include meta;
    margin: base-px(1, 0);
    clear: left;

    @include mq($to: col1) {
        margin: base-px(1);
    }

    .inline-list__item {
        width: 33.3%;
    }

    .tab {
        vertical-align: top;
        border-top: 2px solid color(shade-4);
        padding: base-px(.5, 1, 2, .25);
        display: block;

        &[aria-selected='true'] {
            color: color(tone-news);
            font-weight: bold;
            border-top: 4px solid color(tone-news);
            padding-top: base-px(.3333);
        }
    }

    .android & {
        margin: base-px(1);
    }
}
