/*doc
---
title: Tags
name: tags
category: Modules
---
Display which keywords an article has been tagged with.

```html_example
<div class="tags">
    <ul class="inline-list">
        <li class="inline-list__item screen-readable">Tags:</li><!--
     --><li class="inline-list__item"><a href="#">Guardian</a><span class="tags__separator" aria-hidden="true">&#183;</span></li><!--
     --><li class="inline-list__item"><a href="#">Mobile</a><span class="tags__separator" aria-hidden="true">&#183;</span></li><!--
     --><li class="inline-list__item"><a href="#">Applications</a><span class="tags__separator" aria-hidden="true">&#183;</span></li>
    </ul>
</div>
```
*/

.tags {
    color: color(shade-3);
    font-family: $agate-sans;
    @include meta();
    border-top: 1px dotted color(shade-4);
    padding: base-px(.5, 1, 1, 1);
    width: 100%;
    clear: both;

    .hide-tags {
        display: none;
    }
    .show-tags {
        display: block;
    }

    .inline-list__item {
        background-color: #e0e0e0;
        padding: 4px 16px 6px 16px;
        border-radius: 30px;
        a {
            color: #333;
        }
        @include mq($to: col1) {
            /*margin-bottom: 4px;*/
            margin: 4px;
        }

        &:first-of-type {
            font-weight: bold;
        }

        &:last-child {
            .tags__separator {
                display: none;
                visibility: hidden;
            }
        }
    }
}

.tags__separator {
    font-weight: bold;
    margin: 0 4px;
}
