/*doc
---
title: Tags
name: tags
category: Modules
---
Display which keywords an article has been tagged with.

```html_example
<div class="tags">
    <ul class="inline-list">
        <li class="inline-list__item screen-readable">Tags:</li><!--
     --><li class="inline-list__item"><a href="#">Guardian</a><span class="tags__separator" aria-hidden="true">&#183;</span></li><!--
     --><li class="inline-list__item"><a href="#">Mobile</a><span class="tags__separator" aria-hidden="true">&#183;</span></li><!--
     --><li class="inline-list__item"><a href="#">Applications</a><span class="tags__separator" aria-hidden="true">&#183;</span></li>
    </ul>
</div>
```
*/

.tags {
    @include meta;
    background-color: color(shade-7);
    color: color(shade-3);
    font-family: $agate-sans;
    border-bottom: 2px solid color(shade-4);
    border-top: 1px dotted color(shade-4);
    padding: base-px(.4, 1, 1.7, .7);
    width: 100%;
    clear: both;

    @include mq($from: col4) {
        margin: 0 auto;
        width: 1200px;
        padding: {
            left: 0;
            right: 0;
        }
    }

    .hide-tags {
        display: none;
    }

    .show-tags {
        display: inline-block;
    }

    .inline-list {
        @include mq($from: col4) {
            margin-left: 232px; // 240 - 4 (item padding offset) - 4 (visually offset rounded items);
            width: 940px;
        }

        &__item {
            margin:1rem 0;
            a {
                white-space: nowrap;
                padding: base-px(.3, 1.3, .7, 1.3);
                border-radius: 30px;
                margin: 4px;
                text-overflow: ellipsis;
                max-width: 18.75rem;
                @include tag-button(color(shade-1), color(global-tags));
            }
            &.more-button a {
                background-color: transparent !important;
                @include tag-more-button(color(shade-1), darken(color(global-tags),10%));
            }

            &:first-of-type {
                font-weight: bold;
            }

            &:last-child {
                .tags__separator {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }

    .witness + & {
        margin-top: base-px(2);
    }
}

.tags__separator {
    font-weight: bold;
    margin: 0 4px;
}
