/*doc
---
title: Tell Me When
name: tellmewhen
category: Modules
---
Display an alerts toggle.

```html_example
<div class="tell-me-when-container" id="tell-me-when-container">
    <div class="tell-me-when-banner">__TELL_ME_WHEN_BANNER_TEXT__</div>
    <div class="tell-me-when-title">__TELL_ME_WHEN_TITLE_TEXT__</div>
    <div class="tell-me-when-body">__TELL_ME_WHEN_BODY_TEXT__</div>
    <div class="tell-me-when-button __TELL_ME_WHEN__ADDED__" data-follow-alert-id="__TELL_ME_WHEN_SERIES_ID__">
        <span class="tell-me-when-button--add">
            <span data-icon="&#xe090;" aria-hidden="true"></span>
            <span class="tell-me-when--label">__TELL_ME_WHEN_ADD_TEXT__</span>
        </span>
        <span class="tell-me-when-button--remove">
            <span data-icon="&#xe062;" aria-hidden="true"></span>
            <span class="tell-me-when--label">__TELL_ME_WHEN_REMOVE_TEXT__</span>
        </span>
    </div>
</div>
```
*/

.tell-me-when-container {
    border-top: 2px solid;
    padding: base-px(.5, 1, .5, 1);
    background: color(tone-news);
    border-color: color(tone-news-accent);

    .tell-me-when-banner,
    .tell-me-when-title,
    .tell-me-when-body,
    .tell-me-when-message {
        margin-bottom: base-px(.5);
    }

    .tell-me-when-banner,
    .tell-me-when-message {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-family: $agate-sans;
    }

    .tell-me-when-banner {
        color: color(tone-news-accent);
    }

    .tell-me-when-message {
        color: #ffffff;
    }

    .tell-me-when-title {
        font-weight: 600;
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-family: $egyptian-display;
        color: #ffffff;
    }

    .tell-me-when-body {
        color: #ffffff;
    }

    .tell-me-when-button {
        @include meta();
        font-family: $agate-sans;
        padding: base-px(.3, 1, .7, 1);
        margin: base-px(0, 0, 1, -.3);
        display: inline-block;
        border-radius: 30px;
        vertical-align: bottom;
        border: 1px solid;
        transition: background-color 0.3s;
        position: relative;
        color: #ffffff;
        border-color: #ffffff;

        span[data-icon] {
            font-size: $body-size-2;
            position: relative;
            right: 3px;
            top: 1px;
        }

        span.tell-me-when--label {
            vertical-align: text-bottom;
        }

        .tell-me-when__label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 26px;
            width: 100%;
            display: inline-block;
            line-height: 1.2;
        }

        .tell-me-when-button--remove {
            display: none;
        }

        &.following {
            background: color(tone-news-accent);
            
            .tell-me-when-button--remove {
                display: inline-block;
            }

            .tell-me-when-button--add {
                display: none;
            }
        }
    }
}
