/*doc
---
title: Touchpoint
name: touchpoint
category: Modules
---
Display a call to action. Available in primary and secondary styles, large (default) and small sizes.

Large (with label)

```html_example
<a class="touchpoint touchpoint--primary" href="#">
    <span class="touchpoint__label">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>

<a class="touchpoint touchpoint--secondary" href="#">
    <span class="touchpoint__label">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>
```

Large (without label)

```html_example
<a class="touchpoint touchpoint--primary" href="#">
    <span class="touchpoint__label screen-readable">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>

<a class="touchpoint touchpoint--secondary" href="#">
    <span class="touchpoint__label screen-readable">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>
```

Small (with label)

```html_example
<a class="touchpoint touchpoint--small touchpoint--primary" href="#">
    <span class="touchpoint__label">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>

<a class="touchpoint touchpoint--small touchpoint--secondary" href="#">
    <span class="touchpoint__label">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>
```

Small (without label)

```html_example
<a class="touchpoint touchpoint--small touchpoint--primary" href="#">
    <span class="touchpoint__label screen-readable">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>

<a class="touchpoint touchpoint--small touchpoint--secondary" href="#">
    <span class="touchpoint__label screen-readable">View more</span>
    <span class="touchpoint__button" data-icon="&#xe00b;" aria-hidden="true"></span>
</a>
```
*/

.touchpoint {
    display: inline-block;
    background-image: none !important;
    text-shadow: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.touchpoint__label {
    @include meta();
    font-family: $agate-sans;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    padding: 0 6px;
}

.touchpoint__button {
    text-align: center;
    font-size: 24px;
    line-height: 44px;
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
    height: 44px;
    width: 44px;

    &.play:before {
        display: block;
        margin-left: 4px;
        margin-top: -1px;
    }

    &.pause:before {
        display: block;
        margin-left: 0;
        margin-top: -2px;
    }
}

// Primary button
.touchpoint--primary {
    .touchpoint__button {
        color: color(shade-7);
        background-color: color(tone-news);
    }

    &:active .touchpoint__button {
        background-color: color(tone-news-accent);
    }
}

// Secondary button
.touchpoint--secondary {
    .touchpoint__button {
        color: color(shade-3);
        background-color: transparent;
        border: 1px solid color(shade-3);
    }

    &:active .touchpoint__button {
        color: color(shade-7);
        background-color: color(shade-3);
        border: 0;
    }
}

// Small button
.touchpoint--small {
    .touchpoint__button {
        font-size: 18px;
        line-height: 28px;
        height: 28px;
        width: 28px;
    }
}
