html.gallery-image-view,
html.gallery-image-view body {
    background: transparent;
    padding: 4px;
    color: white;
    font-family: $guardian-sans;

    .gallery-caption {
        color: color(brightness-86);
        font-size: 1.6rem;
        line-height: 2.0rem;

        a {
            color: color(brightness-86);
            border-bottom: 0.0825rem solid color(brightness-86);
        }
    }

    .gallery-credit {
        color: color(brightness-74);
        font-size: 1.4rem;
    }
}