#comments.preview {
	background-color: $headline;

	#container {
		border: none;
	}
	.comments-container {
		background-color: $headline;
		color: white;
		border-top: none;
		.comments-block {
			margin-top: 0;
			background-color: transparent;
			background-color: $headline;
		}
		.comments-body {
			height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.comments-recommends-container {
			display: none;
		}
		.comments-username {
			color: $news-sec;
		}
	}
}