.article--liveblog {
	background-color: $background;
	border-bottom: none;

	.article__header {
		color: $headline;
		border-bottom: 2px solid $shadow;
		background-color: $white;

		.alerts__label {
			display: inline-block;
		}
		.section {
			position: relative;
		}
	}

	.article__section__live {
		color: $white;
		font-family: $agate-sans;
		font-weight: bold;
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		@include headline(0.5);
		@include padding(0.5, 1, 0.5, 1);
		@include mq($from: col2) {
			font-size: $body-size-1;
		}
		&::before {
			content: "• ";
			display: inline-block;
			margin-right: 4px;
			-webkit-animation: blink 1.5s ease-in infinite;
		}
	}

	.article__meta {
		position: relative;

		.alerts {
			@include padding(0.5);
			position: absolute;
			left: 0;
			top: 0;
		}

		.article__meta__comments__label {
			display: none;
		}
	}

	.tags {
		border-top: 0;
	}

	#advert {
		float: none;
		width: 100%;
		margin-left: 0;
		background-color: #e6e6e6;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;

		img {
			width: 100%;
			vertical-align: middle;
		}
	}

	.article__body--liveblog__pinned {
		.element {
			@include margin(1, 0);
		}
	}

	.aside-witness {
		float: none;
		background-color: $white;
		border-top: 1px solid $meta;
		border-bottom: 2px solid $shadow;
		@include margin(1);
		@include padding(1);
		width: auto;
		position: relative;
		overflow: hidden;

		@include mq($from: col1) {
			margin-left: 0;
			margin-right: 0;
		}

		.touchpoint__label {
			@include margin(0.25, 0);
			padding-left: $base-1;
			width: 220px;

			@include mq($from: col2) {
				margin: 0;
				padding-left: $base-2;
				position: absolute;
			}
			@include mq(col2, col3) {
				padding-left: $base-3;
				left: cols($base-3, 4);
			}
			@include mq($from: col3) {
				padding-left: $base-4;
				left: cols($base-4, 5);
			}
		}
	}

	@include mq($to: col2) {
		.standfirst .alerts {
			display: block;
		}
		.article__meta .alerts {
			display: none;
		}
	}

	@include mq($from: col2) {
		.standfirst .alerts {
			display: none;
		}
		.article__meta .alerts {
			display: block;
		}

		.tags {
			.inline-list {
				width: 100%;
			}
		}
	}
}

.is-live {
	.article__section__live {
		display: block;
	}
	.article--liveblog {
		.article__header {
			.section {
				@include mq($to: col1) {
					padding-left: 4.5em;
				}
				@include mq(col1, col2) {
					padding-left: 4em;
				}
			}
		}
	}
}

.android {
	.article--liveblog {
		.aside-witness {
			@include margin(1);
		}

		.article__body--liveblog__pinned {
			figcaption {
				@include padding(0.5, 1, 2, 1 );
			}
		}
	}
}