.article--discussion-preview {
	background-color: $headline;
	border: none;

	.article__body {
		background-color: $headline;
		color: white;
		border-top: none;

		.comment {
			margin-top: 0;
			border-top: none;
			background-color: $headline;
		}

		.discussion__header {
			padding: 0;
		}

		.comment__body {
			height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.comment__recommend {
			display: none;
		}

		.comment__username {
			color: $news-accent;
		}
	}

	.article__fade { // TODO: Use ::after selector instead of empty <div>
		position: absolute;
		z-index: 2;
		top: 0;
		background-image: linear-gradient(to bottom, rgba($headline, 0) 70%, $headline 100%);
		width: 100%;
		height: 100%;
	}
}