.article--audio {
	.article__header {
		.cutout__container {
			padding-bottom: 4.5em;
			position: relative;

			.article__meta {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}

		.byline {
			@include mq($to: col1) {
				display: none;
			}
		}
	}

	.article__meta {
		margin-bottom: 0;
		border-bottom: 0;
	}

	.article__body {
		.standfirst {
			@include padding(0, 0, 1.5, 0);
		}
		
		.byline {
			@include margin(0, 0, 1, 0);
			border-bottom: 1px dotted $shadow;
			@include padding(0, 0, 1, 0);
			display: block;
			@include mq($from: col1) {
				display: none;
			}
		}
	}
}