.article--discussion-preview {
	background-color: $headline;
	border: none;

	.article__body {
		background-color: $headline;
		color: white;
		border-top: none;

		.comment {
			margin-top: 0;
			background-color: transparent;
			background-color: $headline;
		}

		.comment__body {
			height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.comment__recommend {
			display: none;
		}

		.comment__username {
			color: $news-accent;
		}
	}
}