.article--discussion {
	background-color: transparent;
	border-top-color: $headline;
	border-bottom: none;

	.article__header {
		background-color: transparent;
		@include mq($to: col1) {
			padding: 0 $base-1 / 1.5;
		}

		.section {
			padding-left: 0;
			color: $headline;
		}

		.headline {
			@include headline(0.75);
			@include margin(0,0,4,0);
			padding: 0;
		}
	}

	.container {
		margin: 0;
		border-top: 0;
	}

	.container__header {
		padding-bottom: 0;
	}
}

.android {
	.article--discussion {
		@include padding(0,1,0,1);
		box-sizing: border-box;
	}
}