.article--football {
	background-color: transparent;
	border-bottom: none;

	& > .article {
		background-color: transparent;
		border-bottom: none;
		margin-bottom: 0;
	}

	.article__header {
		.alerts__label {
			display: none;
		}
	}

	.football-tabs-article {
		.article {
			background-color: $white;
			border-top: 2px solid $news-accent;
		}
		.section {
			display: none;
		}
		.headline {
			@include padding(0.5, 1, 0, 1);
		}
	}

	.football-tabs-liveblog {
		.article__meta {
			border-top: 2px solid $live;
			margin-top: 0;
		}
	}

	.football-tabs-stats {
		font-family: $agate-sans;
		border-top: 2px solid $news-accent;
		background-color: $white;

		.football__label {
			font-family: $egyptian-display;
			@include body();
			@include mq(col1, col2) {
				padding-left: $base-2 * 4;
			}
			@include mq(col2, col3) {
				padding-left: $base-3 * 5.5;
			}
			@include mq($from: col3) {
				padding-left: $base-4 * 6;
			}
		}

		.football__sublabel {
			@include meta();
			margin-bottom: 4px;
		}

		.football-lineups {
			@include padding(1);
			overflow-y: hidden;

			.team-lineup {
				width: 50%;
				float: left;
				padding-right: 12px;
			}

			.team-lineup__player__number {
				@include mq($to: col1) {
					width: $base-1 * 6;
				}
				@include mq(col1, col2) {
					width: $base-2 * 8;
				}
				@include mq(col2, col3) {
					width: $base-3 * 11;
				}
				@include mq($from: col3) {
					width: $base-4 * 12;
				}
			}
		}

		.football-stats {
			border-top: 1px dotted $shadow;
			@include padding(1);
			overflow-y: auto;
			position: relative;

			.football-possession-column {
				float: left;
				width: 50%;
				@include mq($to: col1) {
					padding: 0 $base-1*3 $base-1*2;
					width: 100%;
					float: none;
				}
				@include mq(col1, col2) {
					padding: 0 $base-2*4 $base-2*2;
				}
				@include mq(col2, col3) {
					padding: 0 $base-3*5.5 $base-3*2;
				}
				@include mq($from: col3) {
					padding: 0 $base-4*6 $base-4*2;
				}

				.match-stats__possession {
					position: relative;
					padding-bottom: 100%;
					vertical-align: top;
					
					.pie-chart--posession {
						position: absolute;
						top: 0;
						left: 0;
						width: 108%;
						height: 108%;
						margin: -4%;
					}
				}
			}

			.football-stats-column {
				width: 50%;
				float: left;
				@include mq($to: col1) {
					padding: 0 $base-1*3 $base-1*2 $base-1*3;
					width: 100%;
					float: none;
				}
				@include mq(col1, col2) {
					padding: 0 0 $base-2*2 $base-2*4;
				}
				@include mq(col2, col3) {
					padding: 0 0 $base-3*2 $base-3*5.5;
				}
				@include mq($from: col3) {
					padding: 0 0 $base-4*2 $base-4*6;
				}
			}
		}

		.football-today {
			border-top: 1px dotted $shadow;
			@include padding(1);
			@include mq($from: col1) {
				display: table;
				width: 100%;
			}

			.football__label {
				@include mq(col1, col2) {
					padding-left: $base-2 * 8;
				}
				@include mq(col2, col3) {
					padding-left: $base-3 * 11;
				}
				@include mq($from: col3) {
					padding-left: $base-4 * 12;
				}
			}

			.football-fixtures {
				@include mq($from: col1) {
					padding-right: 12px;
				}
			}

			.football-fixtures,
			.football-table {
				@include mq($from: col1) {
					vertical-align: top;
					width: 50%;
					display: inline-block;
				}
			}

			.football-fixtures .football-match--status,
			.football-table .football-stat--postition {
				@include mq($to: col1) {
					width: $base-1*3;
				}
				@include mq(col1, col2) {
					width: $base-2*8;
				}
				@include mq(col2, col3) {
					width: $base-3*11;
				}
				@include mq($from: col3) {
					width: $base-4*12;
				}
			}
		}
	}
}