.template--discussion {
	.article {
		background-color: transparent;
		border-top-color: $headline;
		border-bottom: none;
	}

	.article__header {
		background-color: transparent;
		@include mq($to: col1) {
			padding: 0 $base-1 / 1.5;
		}
	}

	.section {
		padding-left: 0;
		color: $headline;

		.comments-count {
			color: $meta;
		}
	}

	.headline {
		@include headline(0.75);
		@include margin(0,0,4,0);
		padding: 0;
	}

	.article__controls {
		overflow: auto;
		font-family: $agate-sans;
		font-weight: bold;
		@include meta();
		display: table;
		width: 100%;
		& > div {
			display: table-cell;
			vertical-align: middle;
		}
	}
}