.template--liveblog {
	.article {
		background-color: $background;
		border-bottom: none;
	}

	.article__header {
		color: $headline;
		border-bottom: 2px solid $shadow;
		background-color: $white;

		.inner-header {
			padding-right: 0;
		}
	}

	.byline,
	.article__pubdate {
		@include mq($from: col2) {
			padding-left: 0;
		}
	}

	.article__live-summary {
		font-family: $egyptian-display;
		font-weight: 300;
		@include padding(0.5, 1, 1.5, 1);
	}

	.section {
		position: relative;
		@include mq(col2, col3) {
			padding-left: cols($base-3, 4, 1);
		}
		@include mq($from: col3) {
			padding-left: cols($base-4, 5, 1);
		}
	}

	&.is-live {
		.article {
			border-top-color: $live-accent;
		}
		
		a.touchpoint,
		.more--live-blogs,
		.tags a {
			color: $live;
			
			&:active {
				color: $live-accent;
			}
		}

		#comments .touchpoint--primary .touchpoint__button {
			background-color: $live;
		}
		
		#comments .touchpoint--primary:active .touchpoint__button {
			background-color: $live-accent;
		}

		.from-content-api table,
		.table {
			border-top-color: $live;
		}

		.article__header {
			background-color: $live;
			color: $white;
			
			a {
				color: $white;
				
				&:active {
					opacity: 0.8;
				}
			}
			
			.bullet,
			ul > li {
				&:before {
					color: rgba($white, 0.8);
				}
			}
		}

		.headline,
		.byline,
		.alerts .icon,
		.section {
			color: $white;
		}
		
		.article__live-summary {
			color: rgba(255, 255, 255, 0.8);
			a {
				color: $white;
			}
		}
		
		.article__meta {
			border-color: rgba($white, 0.2);
			background-color: $live-accent;
		}
		
		.article__pubdate {
			color: rgba($white, 0.8);
		}
		
		.article__comments {
			border-color: rgba($white, 0.2);
		}

		.section {
			@include mq($to: col1) {
				padding-left: 4.5em;
			}
			@include mq(col1, col2) {
				padding-left: 4em;
			}
		}
	}

	.article__section__live {
		color: $white;
		font-family: $agate-sans;
		font-weight: bold;
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		@include headline(0.5);
		@include padding(0.5, 1, 0.5, 1);
		@include mq($from: col2) {
			font-size: $body-size-1;
		}
		&:before {
			content: "• ";
			display: inline-block;
			margin-right: 4px;
			-webkit-animation: blink 1.5s ease-in infinite;
		}
	}

	&.is-live .article__section__live {
		display: block;
	}

	.article__meta {
		margin: 0;
		border-bottom: 0;

		.alerts {
			@include padding(0.5);
			position: absolute;
			left: 0;
		}
	}

	.article__comments__label {
		display: none;
	}

	.tags {
		border-top: 0;
	}

	#advert {
		float: none;
		width: 100%;
		margin-left: 0;
		background-color: #e6e6e6;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;

		img {
			width: 100%;
			vertical-align: middle;
		}
	}

	.article__body--liveblog__pinned {
		.element {
			@include margin(1, 0);
		}

		figcaption {
			@include padding(0.5, 0, 2, 0);
			border-bottom: none;
			
			@include mq($to: col1) {
				@include padding(0.5, 1, 2, 1);
			}
		}
	}

	.aside-witness {
		float: none;
		background-color: $white;
		border-top: 1px solid $meta;
		border-bottom: 2px solid $shadow;
		@include margin(1);
		@include padding(1);
		width: auto;
		position: relative;
		overflow: hidden;

		@include mq($from: col1) {
			margin-left: 0;
			margin-right: 0;
		}

		.touchpoint__label {
			@include margin(0.25, 0);
			padding-left: $base-1;
			width: 220px;

			@include mq($from: col2) {
				margin: 0;
				padding-left: $base-2;
				position: absolute;
			}
			@include mq(col2, col3) {
				padding-left: $base-3;
				left: cols($base-3, 4);
			}
			@include mq($from: col3) {
				padding-left: $base-4;
				left: cols($base-4, 5);
			}
		}
	}

	.live-updates {
		font-family: $agate-sans;
		font-weight: bold;
		color: $live;
		background-color: $background;
		position: fixed;
		z-index: 99;
		border-bottom: 2px solid $live;
		top: 0;
		overflow: auto;
		width: 100%;
		box-sizing: content-box;
		display: none;
		.live-updates-inner {
			display: table;
		}
		.live-updates-label {
			display: table-cell;
			vertical-align: middle;
		}
		.touchpoint__button {
			-webkit-transform: rotate(-90deg);
		}
	}

	@include mq($to: col2) {
		.article__header {
			.live-summary-body {
				max-height: 175px;
			}
			.inner-header {
				.alerts {
					display: block;
				}
			}
			.article__meta {
				.alerts {
					display: none;
				}
			}
		}
	}

	@include mq($from: col2) {
		.article__header {
			.inner-header {
				.alerts {
					display: none;
				}
			}
			.live-summary-body {
				max-height: 240px;
			}
			.article__meta {
				.alerts {
					display: block;
				}
			}
		}

		.article__tags {
			padding-left: 0;
			width: auto;

			.list {
				width: 100%;
			}
		}
	}

	@include mq(col2, col3) {
		.article__header {
			.inner-header {
				margin-left: cols($base-3, 4);
			}

			.article__meta {
				padding-left: cols($base-3, 4, 1);

				.alerts {
					width: cols($base-3, 4);
				}
			}
		}

		.article__tags {
			margin-left: $base-3 * 24;
			padding-bottom: $base-3 * 4;
		}
	}

	@include mq($from: col3) {
		.article__header {
			.inner-header {
				margin-left: cols($base-4, 5);
			}

			.article__meta {
				padding-left: cols($base-4, 5, 1);

				.alerts {
					width: cols($base-4, 5);
				}
			}
		}

		.article__tags {
			margin-left: $base-4 * 30;
			padding-bottom: $base-4 * 4;
		}

		.live-updates-inner {
			padding: $base-4 / 1.5;
			width: 100%;
		}
	}
}

.template--liveblog.android {
	.aside-witness {
		@include margin(1);
	}
	
	.article__body--liveblog__pinned {
		figcaption {
			@include padding(0.5, 1, 2, 1 );
		}
	}
}