.template--gallery,
.template--video {
	.article {
		background-color: $media-bg;
		border-top-color: $media;

		a {
			color: $media;
			&:active {
				color: $media-accent;
			}
		}
	}

	.article__header {
		.section {
			color: $media;
		}

		.headline {
			color: $white;
		}
	}

	.article__body {
		color: $white;
		@include text-underline($media, $media-bg, $media-accent);
	}
}

.media-meta {
	@include margin(1,1,0.5,1);
}

.media-meta__misc {
	@include meta();
	@include mq($to: col2) {
		margin-top: 12px;
	}
	.byline,
	.media-meta__misc__timestamp,
	.media-meta__misc__tags {
		padding-top: 4px;
		@include padding(0.25,0,1,0);
		margin-bottom: 0px;
		color: $white;
		border-top: 1px dotted $standfirst;
		&:empty {
			display: none;
		}
	}
	.avatar--author {
		display: none;
	}
	.media-meta__misc__tags {
		.list {
			width: auto;
		}
	}
}