.template--standard-article {
	.article__header {
		.alerts__label {
			display: none;
		}
	}

	.article__body {
		@include padding(0, 1);
		@include mq(col2, col3) {
			padding-right: cols($base-3, 3);
		}
		@include mq($from: col3) {
			padding-right: cols($base-4, 4);
		}

		// Images, video and interactives within article body
		.figure-wide,
		.element-video,
		.element-placeholder,
		.element-interactive {
			@include margin(1, -1, 1, -1);
			width: auto;
			@include mq($from: col2) {
				width: 135%;
			}
		}
		.element-video {
			@include mq($from: col2) {
				padding-bottom: 75.375%; // Compensation for width being 135%
			}
		}
	}
}