[class*="tone--feature"] {
	.article__header {
		a {
			color: $white;
			&:active {
				opacity: 0.8;
			}
		}

		.bullet,
		ul > li {
			&:before {
				color: rgba(255, 255, 255, 0.8);
			}
		}

		.section {
			color: $white;
		}

		.headline {
			color: $white;
			padding-right: 0;
			position: relative;
			z-index: 20;
			@include mq($from: col2) {
				font-size: 3.5556em; // 64px
				font-weight: 100;
				line-height: 0.9375; // 60px
			}
		}

		.standfirst {
			color: rgba(255, 255, 255, 0.8);

			strong {
				color: $white;
				font-weight: normal;
			}
		}

		.review-rating {
			color: rgba(255, 255, 255, 0.5);
		}
		.review-rating--1 .icon:nth-child(-n+1),
		.review-rating--2 .icon:nth-child(-n+2),
		.review-rating--3 .icon:nth-child(-n+3),
		.review-rating--4 .icon:nth-child(-n+4),
		.review-rating--5 .icon:nth-child(-n+5) {
			color: $white;
		}

		.byline {
			color: $white;
		}

		.alerts__label {
			display: none;
		}

		.article__meta {
			color: rgba(255, 255, 255, 0.8);
			border: 0;
			margin: 0;
		}

		.article__pubdate {
			color: rgba($white, 0.8);
		}

		.article__comments {
			border-color: rgba(255, 255, 255, 0.5);
		}

		.article__comments__label {
			@include mq(col2, col3) {
				display: none;
			}
		}

		.article__image {
			position: relative;
		}

		.article__image-caption {
			color: rgba(255, 255, 255, 0.9);
			border: 0 none;
			padding: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
		}

		.article__image-caption__icon {
			line-height: 44px;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);
			width: 44px;
			height: 44px;
			display: inline-block;
			position: absolute;
			bottom: 0;
			right: 0;
			&:active {
				background-color: rgba(0, 0, 0, 0.66);
			}
		}

		.article__image-caption__text {
			background-color: rgba(0, 0, 0, 0.4);
			@include padding(0.5, 1, 0.5, 1);
			display: none;
			max-height: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			bottom: 0;
			right: 45px;

			&.is-visible {
				display: block;
				min-height: 44px;
				max-height: 999px;
			}
		}
	}

	.article__body > p {
		@include dropcap();
	}
}

.tone--feature1 {
	a,
	.article__body > p:first-of-type:first-letter {
		color: $feature1;
	}
	a:active {
		color: $feature1-accent;
	}
	.article__header,
	.touchpoint--primary .touchpoint__button {
		background-color: $feature1;
	}
	.standfirst,
	.touchpoint--primary:active .touchpoint__button {
		background-color: $feature1-accent;
	}
	.from-content-api p {
		@include text-underline($feature1, $white, $feature1-accent);
	}
	.from-content-api table,
	.table,
	.article {
		border-top-color: $feature1-accent;
	}
}

.tone--feature2 {
	a,
	.article__body > p:first-of-type:first-letter {
		color: $feature2;
	}
	a:active {
		color: $feature2-accent;
	}
	.article__header,
	.touchpoint--primary .touchpoint__button {
		background-color: $feature2;
	}
	.standfirst,
	.touchpoint--primary:active .touchpoint__button {
		background-color: $feature2-accent;
	}
	.from-content-api p {
		@include text-underline($feature2, $white, $feature2-accent);
	}
	.from-content-api table,
	.table,
	.article {
		border-top-color: $feature2-accent;
	}
}

.tone--feature3 {
	a,
	.article__body > p:first-of-type:first-letter {
		color: $feature3;
	}
	a:active {
		color: $feature3-accent;
	}
	.article__header,
	.touchpoint--primary .touchpoint__button {
		background-color: $feature3;
	}
	.standfirst,
	.touchpoint--primary:active .touchpoint__button {
		background-color: $feature3-accent;
	}
	.from-content-api p {
		@include text-underline($feature3, $white, $feature3-accent);
	}
	.from-content-api table,
	.table,
	.article {
		border-top-color: $feature3-accent;
	}
}