.article__header {
	background-image: none; // Hide Cif elements from non-Cif pages
	@include flexbox;
	@include flex-direction(column);

	.inner-header,
	.standfirst,
	.article__meta,
	.article__image,
	.review-rating {
		@include flex(1);
	}

	.section {
		@include padding(0.5, 1);
	}

	.headline {
		@include padding(0, 1, 2.5, 1);
		
		.article__author {
			display: none; // TODO: Remove this when templates are split
		}
	}

	.standfirst {
		@include padding(0.5, 1, 1.5, 1);
	}

	.article__alerts {
		@include padding(0, 1, 1, 1);
		display: none; // Hidden by default
	}

	.review-rating {
		@include padding(0, 1, 1.5, 1);
		margin-top: -18px;
	}

	.article__meta {
		margin: -1px 0;
		border-top: 1px dotted $shadow;
		border-bottom: 1px dotted $shadow;
		width: 100%;
		display: table;
	}

	.article__comments {
		font-weight: bold;
		@include padding(0.5, 0.5, 1, 1);
		border-left: 1px dotted $shadow;
		display: table-cell;
	}

	.avatar--author {
		@include margin(0, 0.75, 1, 0);
		float: left;
	}

	.article__image-caption__icon {
		display: none;
	}
	
	.article__pubdate {
		@include padding(0, 1, 2, 1);
	}

	@include mq($to: col1) {
		.article__comments {
			width: cols($base-1, 1);
		}
		.article__comments__label {
			display: none;
		}
	}

	@include mq(col1, col2) {
		.article__comments {
			width: cols($base-2, 2);
		}
		.article__comments__label {
			display: none;
		}
	}

	@include mq(col2, col3) {
		.inner-header,
		.standfirst {
			padding-right: cols($base-3, 3, 1);
		}
		.article__comments {
			width: cols($base-3, 3);
		}
	}

	@include mq($from: col3) {
		.inner-header,
		.standfirst {
			padding-right: cols($base-4, 4, 1);
		}
		.article__comments {
			width: cols($base-4, 4);
		}
	}
}