.article__body {
	// Positon of adverts within article body
	.advert-slot--mpu {
		@include mq($from: 560px) {
			float: right;
			margin-left: 20px;
			margin-bottom: 12px;
		}
		@include mq(col2, col3) {
			margin-right: -(cols($base-3, 4))+$base-3;
		}
		@include mq($from: col3) {
			margin-right: -(cols($base-4, 5));
		}
	}

	.advert-slot--mpu--tablet {
		@include mq($to: 559px) {
			margin: 12px auto 0 auto;
		}
	}
}