/*doc
---
title: Headline
name: headline
category: Partials
---
Used to display the title of an article. A byline is included in the headline, but only displayed in comment articles

```html_example
<h1 class="article__headline selectable">Google's driverless cars are a boon for safety and climate, but not for privacy <span><a class="article__author" href="#">Dan Gillmor</a></span></h1>
```
*/

.article__headline {
	color: $headline;
	font-family: $egyptian-display;
	font-weight: 200;
	@include headline();
	@include padding(0, 1, 2.5, 1);

	span {
		display: none; // Hide Cif elements from non-Cif pages
	}
}