/*doc
---
title: Bullet
name: bullet
category: Partials
---
```html_example
<span class="bullet">•</span> Squad prepare for Ecuador friendly on Wednesday
```
*/

.bullet {
	color: transparent;
	vertical-align: baseline;
	margin-right: -0.25em;
	width: 1.111em;
	display: inline-block;
	overflow: hidden;
}

.bullet,
.prose ul > li,
.article__header ul > li {
	text-indent: 1.111em;
	position: relative;
	&:before {
		content: "\2022";
		color: $meta;
		font-family: $egyptian-display;
		font-weight: 300;
		display: inline-block;
		position: absolute;
		left: -1.111em;
	}
}