// Audio, maps, and generic embeds
.element-audio,
.element-embed,
.element-map {
	iframe {
		width: 100%;
	}
}


// Video
.element-video {
	background-color: #000;
	padding-bottom: 56.25%;
	width: 100%;
	position: relative;
	overflow: hidden;

	iframe, object, embed, video {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}


// Video placeholder
.element-placeholder {
	width: 100%;

	.element-placeholder__button {
		@include padding(0,0,1,1);
		position: absolute;
		bottom: 0;
		z-index: 2;

		.touchpoint__button {
			color: $headline;
			background-color: $media;
			&:active {
				color: $media;
				background-color: $headline;
			}
		}

		.touchpoint__label {
			color: $media;
			text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
		}
	}

	&:active {
		.touchpoint__button {
			color: $media;
			background-color: $headline;
		}
	}

	.element-placeholder__inner {
		padding-bottom: 56.25%; // Maintain 16:9 video ratio
	}
}


// Image/video placeholder ratio containers
.element-image__inner,
.element-placeholder__inner {
	background-color: $shadow;
	padding-bottom: 60%;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}