.block {
	border-top: 1px solid $meta;
	border-bottom: 2px solid $shadow;
	background-color: $white;
	overflow: hidden;
	@include padding(1, 0, 1, 0);
	@include margin(1, 0, 1, 0);
	@include mq($to: col1) {
		margin: $base-1;
		padding: $base-1 / 2;
	}

	.block-time {
		color: $standfirst;
		font-family: $agate-sans;
		@include padding(0, 1);
		@include mq($from: col2) {
			float: left;
			min-height: 1px; // While javascript populates fix
		}
		@include mq(col2, col3) {
			width: cols($base-3, 4);
		}
		@include mq($from: col3) {
			width: cols($base-4, 5);
		}
	}

	.block-elements {
		@include padding(0, 1, 0, 1);
		@include mq($from: col2) {
			float: left;

			.quoted,
			.twitter-tweet {
				position: relative;
				&:before {
					position: absolute;
					left: -5rem;
				}
			}
		}
		@include mq(col2, col3) {
			width: cols($base-3, 8, 1);
		}
		@include mq($from: col3) {
			width: cols($base-4, 11, 1);
		}

		> *:first-child,
		blockquote:first-of-type {
			padding-top: 0;
			margin-top: 0;
		}

		figure {
			@include mq($from: col2) {
				width: 100%;
			}

			figcaption {
				@include padding(0.5, 0, 1, 0);
			}

			&.figure-inline {
				float: none;
				clear: both;
			}
		}

		blockquote {
			@include margin(2, 0);
		}

		.block-updated {
			color: $meta;
			font-family: $agate-sans;
			font-size: $meta-size-1;
			line-height: $meta-lead-1;
			margin: 0;
			clear: left;
		}

		.live-summary-more {
			display: none;
		}
	}

	&.key-event {
		border-top: 2px solid $live-accent;
		h2 {
			color: $live;
		}
	}

	&.summary {
		background-color: transparent;
		border: 1px dotted $shadow;

		.block-time {
			font-weight: bold;
		}

		.live-summary-more {
			font-family: $agate-sans;
			font-weight: bold;
			width: 100%;
		}
	}
}

.android {
	.block {
		@include margin(1);
	}
}