/*doc
---
title: Byline
name: byline
category: Content
---
Display an article's byline.

```html_example
<p class="byline"><span class="byline__author"><a href="#">Helena Smith</a></span> in Athens, <span class="byline__author"><a href="#">Lizzy Davies</a></span> in Rome and <span class="byline__author">Harriet Grant</span></p>
```
*/

.byline {
    @include meta();
    color: color(shade-1);
    font-family: $egyptian-text;

    .byline__author {
        font-weight: bold; // Only embolden the author name when appears within byline
    }
}

.byline__authpr {
    white-space: nowrap;
}
