/*doc
---
title: Flyers
name: flyers
category: Content
---
Display Flyers (Rich Media content links) progressively enhance with JavaScript. 

Default styling no JavaScript enhancement:

```html_example
    <aside class="element element-rich-link element--supporting element-rich-link--not-upgraded" data-component="rich-link-1" data-link-name="rich-link-1 | 1">
        <p><span>Related:</span>
        <a class=" u-underline" data-component="in-body-link" data-link-name="in body link" href="http://www.theguardian.com/commentisfree/2014/dec/11/a-spoiled-brat-no-way-angelina-jolies-success-wasnt-handed-to-her">
        A 'spoiled brat?' No way. Angelina Jolie's success wasn't handed to her | Jessica Valenti</a></p>
    </aside>
```

*/

// Default styling no JavaScript enhancement - styled on original DOM structure from MAPI
//----------------------------------

%flyer-header {
    display: block;
    font-size: $fs-sub-link;
    font-family: $egyptian-display;
    color: color(neutral-2);
    padding: $gs-baseline/4 0;
    font-weight: 500;    
}

.element-rich-link, 
.element-membership {
    border-top: 1px dotted color(neutral-3);
    border-bottom: 1px dotted color(neutral-3);
    margin-bottom: $gs-baseline / 1.5;
    float: left;
    clear: left;
    width: 13.75rem;
    margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    @include mq(mobileLandscape) {
        width: $gs-span;
        margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    }
    @include mq(mobileLandscapeWide) {
        width: $gs-span-wide;
        margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    }

    p {
        margin: 12px 0px;
    }

    a {
        font-size: $fs-main-link;
        font-family: $egyptian-display;
        font-weight: 600;
        display: block;
        padding: 0;
        color: color(neutral-1) !important;
        border: 0;
        background-image: none !important;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
        
        &:hover {
            text-decoration: underline !important;
        }
    }

    @include mq($to: col4) {
        & + .figure--thumbnail,
        & + .figure--thumbnail-with-caption,
        & + .figure-wide,
        & + p:empty + .figure--thumbnail,
        & + p:empty + .figure--thumbnail-with-caption,
        & + p:empty + .figure-wide {
            clear: left;
        }
    }
}

.element-membership {
    span {
        @extend %flyer-header;
    }
}

.element-rich-link {
    @include mq($to: col1) {
        .font-size-6 &,
        .font-size-7 &,
        .font-size-8 &,
        .font-size-9 &,
        .font-size-10 & {
            width: 100%;
            margin-bottom: $gs-baseline * 1.25;
        }
    }

    @include mq($from: col4) {
        margin: 0 0 6px -220px;
        max-width: 200px;
    }

    span {
        display: none;
    }

    a:before {
        content: 'More on this topic';
        @extend %flyer-header;
    }    
}
