/*doc
---
title: Headline
name: headline
category: Content
---
Display an article's headline.

```html_example
<h1 class="headline">Google’s driverless cars are a boon for safety and climate, but not for privacy</h1>
```
*/

.headline {
    color: color(shade-1);
    font-family: $egyptian-display;
    font-weight: 200;
    @include headline();
}
