/*doc
---
title: Meta
name: meta
category: Content
---
Display an article's meta information.

```html_example
<div class="meta">
    <div class="meta__misc">
        <div class="meta__byline">
            <span class="byline">
                <a class="avatar avatar--author" href="x-gu://list/mobile-apps.guardianapis.com/lists/tag/profile/michaelbillington">
                    <img class="avatar__img" src="http://png-resizer.mobile-apps.guardianapis.com/static/sys-images/Guardian/Pix/pictures/2014/3/13/1394733744238/MichaelBillington.png?width=300">
                </a>
                <span class="byline__author">
                    <a href="x-gu://list/mobile-apps.guardianapis.com/lists/tag/profile/michaelbillington">Michael Billington</a>
                </span>
            </span>
            <a class="alerts " href="x-gu://follow/tag-contributor///profile/nicholaswatt" data-follow-alert-id="tag-contributor///profile/nicholaswatt">
                <span class="alerts__state--unfollow">
                    <span data-icon="" aria-hidden="true"></span>
                    <span class="alerts__label">Follow Nicholas Watt</span>
                </span>
                <span class="alerts__state--follow">
                    <span data-icon="" aria-hidden="true"></span>
                    <span class="alerts__label">Following Nicholas Watt</span>
                </span>
            </a>
        </div>
        <p class="meta__pubdate"><span class="screen-readable">Published: </span>23:00 GMT+1 Wednesday, 18 June 2014</p>
    </div>
    <div class="comment-count">
        <a href="#comments" data-scroll>
            <span data-icon="&#xe03c;" aria-hidden="true"></span> 2
            <span class="comment-count__label">Comments</span>
        </a>
    </div>
</div> 
```
*/

.meta {
    @include meta();
    margin: -1px 0;
    border-bottom: 1px dotted color(shade-4);
    width: 100%;
    display: table;

    .avatar--author {
        margin: base-px(0, .75, 1, 0);
        float: left;
    }
}

.meta__misc {
    padding: base-px(.6667, 1, 2, 1);
}

.meta__pubdate {
    color: color(shade-3);
    font-family: $agate-sans;
}