// /*doc
// ---
// title: Review rating
// name: review-rating
// category: Content
// ---
// Display the number of stars with which a review has been rated
//
// ```html_example
// <p class="review-rating review-rating--0">
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span class="screen-readable">Rated 0 out of 5 stars</span>
// </p>
//
// <p class="review-rating review-rating--1">
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span class="screen-readable">Rated 1 out of 5 stars</span>
// </p>
//
// <p class="review-rating review-rating--2">
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span class="screen-readable">Rated 2 out of 5 stars</span>
// </p>
//
// <p class="review-rating review-rating--3">
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span class="screen-readable">Rated 3 out of 5 stars</span>
// </p>
//
// <p class="review-rating review-rating--4">
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span class="screen-readable">Rated 4 out of 5 stars</span>
// </p>
//
// <p class="review-rating review-rating--5">
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span data-icon="&#xe036;" aria-hidden="true"></span>
//     <span class="screen-readable">Rated 5 out of 5 stars</span>
// </p>
// ```
// */

.review-rating {
    margin-top: base-px(0.5);
    @include mq($from: col1) {
        font-size: 3.0rem;
    }
    line-height: 0.7rem;
    display: block;
    margin-bottom: base-px(2);
    span {
        display: block;
        float: left;
        background-color: #FFE500;
        color: color(shade-1);
        padding: 0 0.2rem 0.2rem;
        font-size: inherit;
        &:before {
            // font-size: 0.9rem;
            content: '\2606';
            font-weight: 400;
        }
        &:nth-child(1) {
            margin-left: -0.5rem;
            padding-left: 0.5rem;
        }
        &:nth-child(5) {
            padding-right: 0.5rem;
        }
    }
}

.review-rating--1 [data-icon]:nth-child(-n+1),
.review-rating--2 [data-icon]:nth-child(-n+2),
.review-rating--3 [data-icon]:nth-child(-n+3),
.review-rating--4 [data-icon]:nth-child(-n+4),
.review-rating--5 [data-icon]:nth-child(-n+5) {
    // color: color(tone-review-accent);
    &:before {
        content: '\2605';
    }
}
