/*doc
---
title: Review rating
name: review-rating
category: Content
---
Display the number of stars with which a review has been rated

```html_example
<p class="review-rating review-rating--0">
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
</p>

<p class="review-rating review-rating--1">
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
</p>

<p class="review-rating review-rating--2">
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
</p>

<p class="review-rating review-rating--3">
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
</p>

<p class="review-rating review-rating--4">
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
</p>

<p class="review-rating review-rating--5">
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
	<span class="icon">&#xe036;</span>
</p>
```
*/

.review-rating {
	color: $meta;
}
.review-rating--1 .icon:nth-child(-n+1),
.review-rating--2 .icon:nth-child(-n+2),
.review-rating--3 .icon:nth-child(-n+3),
.review-rating--4 .icon:nth-child(-n+4),
.review-rating--5 .icon:nth-child(-n+5) {
	color: $news-accent;
}