/*doc
---
title: Review rating
name: review-rating
category: Content
---
Display the number of stars with which a review has been rated

```html_example
<p class="review-rating review-rating--0">
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span class="screen-readable">Rated 0 out of 5 stars</span>
</p>

<p class="review-rating review-rating--1">
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span class="screen-readable">Rated 1 out of 5 stars</span>
</p>

<p class="review-rating review-rating--2">
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span class="screen-readable">Rated 2 out of 5 stars</span>
</p>

<p class="review-rating review-rating--3">
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span class="screen-readable">Rated 3 out of 5 stars</span>
</p>

<p class="review-rating review-rating--4">
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span class="screen-readable">Rated 4 out of 5 stars</span>
</p>

<p class="review-rating review-rating--5">
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span data-icon="&#xe036;" aria-hidden="true"></span>
    <span class="screen-readable">Rated 5 out of 5 stars</span>
</p>
```
*/

.review-rating {
    color: color(shade-6);
    @include mq($from: col1) {
        font-size: 3.0rem;
    }
}

.review-rating--1 [data-icon]:nth-child(-n+1),
.review-rating--2 [data-icon]:nth-child(-n+2),
.review-rating--3 [data-icon]:nth-child(-n+3),
.review-rating--4 [data-icon]:nth-child(-n+4),
.review-rating--5 [data-icon]:nth-child(-n+5) {
    color: color(tone-review-accent);
}
