/*doc
---
title: Section
name: section
category: Content
---
Display the section for which an article falls under.

```html_example
<h3 class="section">Football <span class="section__meta">In Brief</span></h3>
```

With live indicator:

```html_example
<div class="section"><span class="section__live"><span class="section__live__pulse" aria-hidden="true">&#8226;</span> Live</span> Sport</div>
```
*/

.section {
    color: color(tone-news); // Default
    font-family: $egyptian-display;
    font-weight: 600;
    @include headline(.5);

    &::before {
        margin-right: base-px(.66666);
        line-height: 92%; // Offset for different font
        vertical-align: bottom;
    }
}

.section__meta {
    color: color(shade-3);
    font-weight: 600;
}

.section__live {
    font-family: $agate-sans;
    font-weight: bold;
    @include headline(.5);

    @include mq($from: col2) {
        font-size: $body-size-1;
    }
}

.section__live__pulse {
    -webkit-animation: blink 1.5s ease-in infinite;
}

/*p {
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

.content__labels {
    word-wrap: break-word;
}*/

/* Shared Live blog/Dead blog */

.section__container {
    position: relative;
    float: left;
    padding: 6px 12px 16px 12px;
    border-bottom: 1px #999 dashed;
    width:100%;
    margin-bottom:10px;
    .section {
        color: color(tone-news); // Default
        font-family: $egyptian-display;
        font-weight: 600;
        @include headline(.5);
        float: left;
        padding-bottom: 0;

    &::before {
        margin-right: base-px(.66666);
        line-height: 92%; // Offset for different font
        vertical-align: bottom;
        }
    }
    .content__labels {
        float: left;
        line-height: 1.6rem;
        @include headline(.5);
        padding: 2px 6px 6px 0; 
    }
    .content__series-label {
        font-weight: normal;
        font-family: $egyptian-display;
        @include headline(.5);
        padding-right: 12px;
    }
}

.article__header h1 {
    clear: both;
}

/* News */

.tone--news {

    .section {
        color: color(tone-news); // Default
    }
    .content__series-label {
        color: color(tone-newsSeriesLabel);
    }
}

/* Analysis */

.tone--liveBlog {

    .section {
        color: color(tone-liveBlogSection); // Default
    }
    .content__series-label {
        color: color(tone-liveBlogSeriesLabel);
    }
}

/* Live Blog */

.tone--liveBlog {
    .section__container {
        border-bottom: 1px #FFF dashed; 
    }
    .section {
        color: color(tone-liveBlogSection); // Default
    }
    .content__series-label {
        color: color(tone-liveBlogSeriesLabel);
    }
}

/* Dead Blog */

/*.tone--deadBlog {
    .section {
        color: color(tone-liveBlogSection); // Default
        font-family: $egyptian-display;
        font-weight: 600;
        @include headline(.5);
        float: left;
        padding-bottom: 0;

        &::before {
            margin-right: base-px(.66666);
            line-height: 92%; // Offset for different font
            vertical-align: bottom;
        }
    }

    .content__series-label {
        color: color(tone-liveBlogSeriesLabel);
        font-weight: normal;
        font-family: $egyptian-display;
        @include headline(.5);
        padding: 6px 12px 0 0;
        padding-bottom: 0;
        float: left;
    }

}*/

.tone--deadBlog {
    
    .section {
        color: color(tone-deadBlog); // Default
    }

    .content__series-label {
        color: color(tone-deadBlogSeriesLabel);
    }

}

/* Review */

.tone--review {
    
    .section {
        color: color(tone-reviewSection); // Default
    }

    .content__series-label {
        color: color(tone-reviewSeriesLabel);
    }

}
