/*doc
---
title: Section
name: section
category: Content
---
Display the section for which an article falls under.

```html_example
<h3 class="section">Football <span class="section__meta">In Brief</span></h3>
```
*/

.section {
	color: $news; // Default
	font-family: $egyptian-display;
	font-weight: 600;
	@include headline(0.5);
}

.section__meta {
	color: $meta;
	font-weight: 300;
}